[2020-09-15 15:52] cmelchior commented on #6992
@GaelCO Thank you for reporting back. Sounds like we still have a bug to find.

[2020-09-16 00:54] tiebenxin commented on #7099
Ok, Thank you very much!

[2020-09-16 10:44] cmelchior opened #7103 "Fix parallel build problems with Kotlin Extensions"
[code]
From https://ci.realm.io/blue/organizations/jenkins/realm%2Frealm-java/detail/PR-7079/12/pipeline/

I think the problem is that we re-enabled parallel Gradle builds, but it hasn't been 100% confirmed as the issue doesn't reproduce consistently.

[2020-09-16 11:46] cmelchior opened #7104 "Flaky test: RealmResultTaskImplTest_cancel()"
https://ci.realm.io/blue/organizations/jenkins/realm%2Frealm-java/detail/PR-7079/14/tests

https://github.com/realm/realm-java/blob/v10/realm/realm-library/src/androidTestObjectServer/kotlin/io/realm/internal/async/RealmResultTaskImplTest.kt#L140

[code]

[2020-09-16 12:25] ppamorim commented on #6889
@ganfra Be aware that already corrupted databases won't be restored. We had to create a special app to export critical data from our apps. Far from ideal and a bit humiliating. :( I would like to see the Realm team speaking more about it. @jedelbo Could you please refer to the PR? Was it in the core?

[2020-09-16 12:42] jedelbo commented on #6889
Be aware that the file is not corrupted.We just fail to read the file correctly. The issue was fixed in https://github.com/realm/realm-core/pull/3910.

[2020-09-16 12:59] ppamorim commented on #6889
@jedelbo I did export 3 databases + encryption keys and I could not open any of them on Realm Studio. All of them where around 700mb for an unknown reason. That's why I suspect that the file was corrupt.

[2020-09-16 13:26] ganfra commented on #6889
Same issue of 700mb size, but I did manage to see this issue before releasing the app, so no problem for me...

[2020-09-16 13:30] jedelbo commented on #6889
@ganfra so you see an unexpected increase in size? How big a difference is there compared to earlier?

[2020-09-16 14:51] ganfra commented on #6889
Generally the file is 150mb in this usecase. Multiple time after this crash it grows to 700mb as I said.

[2020-09-16 16:01] ppamorim commented on #6889
@jedelbo Could you please confirm if the latest version is capable of opening these large databases and if it's able to reduce it's size?

[2020-09-16 16:20] GaelCO commented on #6992
I have reproduct this issue in an "test" app.
Step to reproduct :
- create some data with realm 6.1.0
- update to realm 7.0.X where 0 <= X <= 2
- the issue happened when the data are deleted
- If I update to the last version of realm(7.0.5), the issue still exist
The data seem corrupted.

The original problem has been seems to be fixed in realm 7.0.3, because if I have make directly the realm upgr

[2020-09-16 17:09] #6731 closed

[2020-09-16 18:17] c8hallett commented on #6375
@kassim As I understand it, applying the realm plugin requires the android library ('com.android.library') or application ('com.android.application') plugin to be applied to the same module that you apply your realm plugin ('realm-android').

However in dynamic modules, the android/library plugin can't coexist with the dynamic feature plugin ('com.android.dynamic-feature').

The end result is that

[2020-09-16 18:55] cmelchior opened #7107 "Flaky build: extensions:publishObjectServerPublicationPublicationToMavenLocal"
Building PR's randomly result in:

https://ci.realm.io/blue/organizations/jenkins/realm%2Frealm-java/detail/PR-7105/1/pipeline

[code]

[2020-09-17 06:37] jedelbo commented on #6889
The Java team is working out getting the release out later today.

We are able to handle realms of any practical size. You can use CompactOnLaunch to reduce the size of a realm. However we are of course interested in keeping the size of the realm down, so we would be interested in investigating why you experience this growth in size. So would you be willing and able to share a 'before' and 'after'

[2020-09-17 08:03] cmelchior opened #7108 "Flaky test: uploadDownloadAllChangesWithFloatFails"
From https://ci.realm.io/blue/organizations/jenkins/realm%2Frealm-java/detail/PR-6756/186/tests

[code]

[code]

[2020-09-17 08:20] cmelchior commented on #7104
Also failed here: https://ci.realm.io/blue/organizations/jenkins/realm%2Frealm-java/detail/PR-6756/187/pipeline/

[2020-09-17 08:27] GaelCO commented on #6992
[RealmTest.zip](https://github.com/realm/realm-java/files/5237437/RealmTest.zip)
In the zip, you can found a sample project which lets reproduce this issue, if you follow the previous step.

[2020-09-17 08:34] ppamorim commented on #6889
I think @ganfra will be able to provide a database, I could not replicate the issue on my side and the data that I have cannot be shared.

[2020-09-17 10:49] cmelchior opened #7110 "Flaky test: errorHandler_useBackupSyncConfigurationForClientReset"
From: https://ci.realm.io/blue/organizations/jenkins/realm%2Frealm-java/detail/PR-6756/193/tests

[code]

[2020-09-17 12:19] finnschiermer commented on #6992
Is this consistent with the bug being fixed, but corruption introduced into the realm files (by pre 7.0.3 versions) still being present?

[2020-09-17 12:36] #7057 closed

[2020-09-17 17:09] zeeshanrasool91 opened #7113 "Related to v7.0.5 Assets file"
We only use Github issues for bugs or new feature ideas.
Please use one of the following options instead:,

Realm Assets issue: I have preloaded data in Assets folder android, when i updated the assets file the updated changes are not reflecting in the application? how to achieve this how can i force to reload data from assets
* [Stack Overflow](http://stackoverflow.com/questions/ask?tags=realm)
i

[2020-09-17 20:08] bmunkholm commented on #7113
@zeeshanrasool91 Please use the original template and fill that out. Thanks!

[2020-09-18 07:35] finnschiermer commented on #7083
We memory map the entire database. This means that we need to be able to allocate virtual address space for the entire file when we open it. So technically, you're not running out of RAM, it's the allocation of virtual address space that fails.

For realm-core versions before v10 we need to memory map the entire file as a *contiguous* range of virtual addresses when we open it. This is what fails

[2020-09-18 10:14] cmelchior commented on #6992
@GaelCO Thank you very much for the test project. I tried to reproduce using your project but so far it seems to work as expected. But I'll continue trying to see if I can trigger it.

Can you perhaps give an exact list of the steps you did? Also did you use a emulator or a real phone?

[2020-09-18 10:42] cmelchior commented on #7104
Also here: https://ci.realm.io/blue/organizations/jenkins/realm%2Frealm-java/detail/PR-7114/1/pipeline

[2020-09-18 10:47] ppamorim commented on #6889
@jedelbo Any update?

[2020-09-18 11:21] ppamorim commented on #6889
@cmelchior The version 7.0.2 didn't sort the issue. We are going to update it to version 7.0.5. The situation is bad.

[2020-09-18 11:22] cmelchior commented on #6889
We will be making a 7.0.6 release in the next few hours that should have a fix for this.

[2020-09-18 11:22] jedelbo commented on #6889
You should wait for v7.0.6. It should be just around the corner.

[2020-09-18 11:31] prettyClouds commented on #6889
Is there any kind of public pipeline we can monitor to get an idea of when things will release?

[2020-09-18 11:40] cmelchior commented on #6889
You can watch releases on Bintray here: https://bintray.com/realm/maven/realm-android-library

[2020-09-18 12:41] cmelchior commented on #7043
We released 7.0.6, with a new fix. It shouldn't be related to this, but would be nice to hear if you can still reproduce using this version.

[2020-09-18 12:43] cmelchior commented on #6992
Note that 7.0.6 was just released

[2020-09-18 12:44] cmelchior commented on #6889
7.0.6 was just released which should fix this. Please reopen the issue if you still see it after upgrading.

[2020-09-18 12:44] #6889 closed

[2020-09-18 13:09] GaelCO commented on #6992
Hi,
I use an emulator for my test (API Level 30)
My step (same that previous)
-> delete old existing app on device
-> change in gradle realm to 6.1.0
-> sync project and install on device
-> click on create button to create 1000 objects. You can try with more created data. When I have test, I had the impression that the volumetry had an influence.
-> change in gralde to 7.0.2
-> sync project and i

[2020-09-18 14:22] ppamorim commented on #6889
@cmelchior The version 7.0.6 is still not available, any timeframe or workaround for the moment?

[2020-09-18 14:56] MarcelBreska opened #7116 "Reset password always responds with invalid token data"
#### Goal
Reset Password with App.emailPassword.resetPasswordAsync(token, tokenId, newPassword)

#### Actual Results
Fails with the response "invalid token data". The HTTP Request show,
HTTP Request =
    POST \*\*\*\*/auth/providers/local-userpass/reset
    Accept: application/json
    Content-Type: application/json;charset=utf-8
    Accept: application/json
    Content-Type: application/json;cha

[2020-09-18 15:17] cmelchior commented on #6889
It should be available now.

[2020-09-18 16:01] VicMikhailau commented on #7043
@cmelchior unfortunately, in my case, the crash is still reproducible.

[2020-09-18 16:54] ganfra commented on #6889
Ok so now I can't reproduce, looking good! Thanks for this long-awaited fix!

[2020-09-18 23:50] zeeshanrasool91 commented on #7113
Okay can you tell me for example i have an Application with Database version 1 i bundled the data with the application and uploaded it to store and when i want to send an other update to the Application and i also want to update the data in assets folder which i will bundle with Application that when ever the user will update the application the data saved into realm database in his device will he

[2020-09-19 14:06] ppamorim commented on #6889
@ganfra Hi, were you able to open that 700mb realm file too?

[2020-09-20 17:40] zayfal commented on #7083
This clarify point 2. But also this means that the only "approach" to tackle issues would be to "force" compact "periodically, it would be very hard to achieve this for apps that heavy in data usage; like we need to wait for any data access on background thread to finish on a blocking HUD, then kind do my compact after closing any opened realm.

[2020-09-21 06:31] ganfra commented on #6889
Didn't try, but I got a SEGFAULT 11 and a corrupted file just after, so shout victory too quickly...

[2020-09-21 10:56] MarcelBreska opened #7117 "Login not working with email-credentials (token contains an invalid number of segments)"
#### Goal
Login user with with email and password ->
val credentials = Credentials.emailPassword(email, password)
app.loginAsync(credentials)

#### Actual Results
Failing with result: SERVICE_UNKNOWN(realm::app::ServiceError:-1): token contains an invalid number of segments, false

#### Steps & Code to Reproduce
Login with email and password is not working anymore in Beta 7. With Beta 6 the login

[2020-09-21 10:59] cmelchior commented on #7117
So if you downgrade to BETA.6 it works against the exact same endpoint?

[2020-09-21 11:02] MarcelBreska commented on #7117
Yes, switching back to BETA.6 "solved" the problem. I switched already 3x between the versions. Always with the same result:
BETA.6 -> no Problem
BETA.7 -> SERVICE_UNKNOWN(realm::app::ServiceError:-1): token contains an invalid number of segments, false

[2020-09-21 11:03] cmelchior commented on #7117
Hmm, interesting. What URL are you logging in against?

[2020-09-21 11:04] cmelchior commented on #7117
Note, this problem was reported Friday internally as well, and I can reproduce it.

[2020-09-21 11:08] jedelbo commented on #6992
Assigning to @cmelchior as he is the one trying to make progress at the moment. Assign back to core if a bug gets out in the open.

[2020-09-21 11:09] bmunkholm commented on #7083
@zayfal Could you also have options to model your data differently? Do you e.g. store any bigger binary data?
Could you split the data perhaps?

[2020-09-21 11:09] MarcelBreska commented on #7117
What URL do you mean? I'm using the Android-SDK and the URL is setup with -- def mongodbRealmUrl = "https://realm.mongodb.com" -- as described in the docs. I can send you my Project-Id in a private message if it helps.

[2020-09-21 11:10] cmelchior commented on #7117
No, that should be enough. Thanks 👍

[2020-09-21 11:52] jedelbo commented on #7043
We should be aware the the issue reported by @VicMikhailau is not the same as the original issue here. As I think we have fixed issues around "find_first", I take the liberty to close this issue. If you find that there is still an issue around "find_first", please reopen. For other problems - please create new issue.

[2020-09-21 11:52] #7043 closed

[2020-09-21 12:08] zayfal commented on #7083
We have related data in the database, thus this will be very hard. The thing the file is approximitaly 10-15MB compacted, mostly the data is string based, no "binary data" is included. The issue is that the same 15MB file will stretch to 600MB in rare case, when lot of 5MB insertion occur (as explained in 1. https://github.com/realm/realm-java/issues/7083#issuecomment-690975159)

I guess, this wil

[2020-09-21 12:43] cmelchior commented on #7083
If your Realm file can be reduced that much in size from compacting it sounds like you are holding on to Realm versions for way to long.

I would recommend reading: https://realm.io/docs/java/latest/#realm-instance-lifecycle and https://realm.io/docs/java/latest/#closing-realms

In Realm Java 7.0.6 there is also a new method on RealmConfiguration called `maxNumberOfActiveVersions`. Try enabling th

[2020-09-21 12:44] Raynor999 opened #7118 "Crash caused by JNI"
#### Goal
Not crash

 Look like crash happened at the jni ，It's a little hard to  debug for me。

#### Steps & Code to Reproduce
[code]

#### Version of Realm and tooling

Realm version(s): 7.0.6

Realm Sync feature enabled: No

Android Studio version: AS 4.0

Android Build Tools version: 29.0.0

Which Android version and device(s):  Android 10, Huawei Mate20 Pro

[2020-09-21 14:11] sdex commented on #7118
I have similar report from another device:
`Google Pixel 2 XL (taimen), 3840MB RAM, Android 10`

[code]

[2020-09-21 15:13] willnix86 opened #7119 "Google: Error exchanging access code with OAuth2 provider"
This is happening across Realm SDKs so just logging here to keep track. From what I gather online, there is a breaking change on Google's side that needs to be updated on the Realm side.

#### Goal
Logging into Realm via Google OAuth2

#### Actual Results
Login failed. Error message: {message: 'error exchanging access code with OAuth2 provider', code: 47}

Error message from MongoDB Realm logs.
![

[2020-09-21 15:58] ppamorim commented on #7118
@sdex Is this in the same version 7.0.6? When this is happening (when the app starts for example)?

[2020-09-21 16:01] sdex commented on #7118
It's in 7.0.5. The user says that the app crashes immediately after launch.

[2020-09-21 16:07] ppamorim commented on #7118
@cmelchior @jedelbo Could you please check this out?

[2020-09-21 16:20] ppamorim commented on #6889
@ganfra Very nice, imagine to live in a world where the database of your application gets corrupted due a bug.

[2020-09-21 19:03] ElyasMTarek commented on #1772
Highly needed!!

[2020-09-22 08:33] ganfra commented on #7118
Got the same issue after some usage. Then it crashes directly when getting a Realm instance.
At least since 7.0.6

[2020-09-22 08:43] edualonso commented on #7118
Unfolded stacktrace:
[code]

[2020-09-22 08:48] edualonso commented on #7118
@sdex could you provide us with the full stacktrace of the crash? The one you posted above (https://github.com/realm/realm-java/issues/7118#issuecomment-696140365) is incomplete. It should start with `*** *** *** *** *** *** *** *** *** *** *** *** *** *** *** ***`, then we could determine if it's the same crash or not.

[2020-09-22 08:52] sdex commented on #7118
@edualonso I've copied it from play console, there is almost no additional info.
This report from updated version of my app with realm 7.0.6.
[code]

[2020-09-22 08:54] jedelbo commented on #7118
@ganfra do you have access to the realm, where this crash happens? And would you be able and willing to share it privately by sending it to jorgen.edelbo@mongodb.net?

[2020-09-22 08:57] edualonso commented on #7118
Unfolded stacktrace from https://github.com/realm/realm-java/issues/7118#issuecomment-696592984 :
[code]

[2020-09-22 09:00] jedelbo commented on #7118
I guess you are not using encryption?

[2020-09-22 09:02] sdex commented on #7118
Nope. The config is quite trivial:
[code]

[2020-09-22 09:32] jedelbo commented on #7118
Thanks. My initial observation is that we have 2 distinct issues here. The last one fails immediately when trying to upgrade the file, whereas the other one fails when trying to run a query.

[2020-09-22 10:08] cmelchior commented on #7116
Hi @MarcelBreska Thank you. I can reproduce the problem, but there seems to be two issues here. The order of arguments are wrong as you pointed out, but even after fixing that I'm also getting "Invalid token data".

[2020-09-22 10:25] MarcelBreska commented on #7116
I had the same result by switching the arguments manually. The whole authentication seems a little bit off at the moment ;) Also the login with GoogleSignIn does not work properly. See issue #7119. Facebook-Signin is working though. Looking forward for BETA.8 ;)

Thanks for looking into the issue!

[2020-09-22 10:27] cmelchior commented on #7117
We found the root cause for this. By mistake, we are sending HTTP headers twice which apparently trips the server up.

[2020-09-22 10:34] cmelchior commented on #2976
In order to avoid breaking the API too much if we change defaults I would suggest the API should be:

[code]

[2020-09-22 10:48] ppamorim commented on #7118
@sdex Did you implement any database migration?

[2020-09-22 10:57] sdex commented on #7118
@ppamorim Yes. In this version of the app two migrations should be executed:
[code]

[2020-09-22 13:03] #6862 closed

[2020-09-22 13:03] #6920 closed

[2020-09-22 13:55] cmelchior commented on #7116
We discovered the root cause for this as well. We will ship a BETA.8 with fixes shortly (probably tomorrow)

[2020-09-22 14:19] cmelchior commented on #7119
@willnix86 Thank you for reporting this. Exactly what token are you passing into `Credentials.google("...")` ?

[2020-09-22 14:23] cmelchior commented on #7119
We might have a bug in our Javadoc, can you try to send the `authCode` instead of the access token?

[2020-09-22 14:25] willnix86 commented on #7119
[code]

This is the code snippet - not sure how to send the authCode instead (not sure it's a property I get back)

[2020-09-22 17:26] ppamorim commented on #7118
@jedelbo We just updated our application with  Realm 7.0.6 but we didn't migrate the database, I don't see any crash yet. Hoepfully I will not see anything. :)

[2020-09-23 06:49] cmelchior commented on #7119
After looking into this. Google apparently changed some things with regard to how we exchange the authentication code to a property access token. We are currently exploring options with them on how to fix this.

[2020-09-23 09:40] cmelchior commented on #7117
10.0.0-BETA.8 has been released with a fix.

[2020-09-23 09:40] #7117 closed

[2020-09-23 09:42] cmelchior commented on #7116
10.0.0-BETA.8 has been released with a fix.

[2020-09-23 09:42] #7116 closed

[2020-09-23 10:16] cmelchior commented on #7099
There is also: https://github.com/realm/realm-java/issues/2309

[2020-09-23 10:16] #7099 closed

[2020-09-23 10:53] RealmBot opened #7124 "Add public part of release notes to Github "Releases""
Either manually at release or automatically
Created with Jira Integration+ for brian.munkholm (brian.munkholm@mongodb.com)

[2020-09-23 11:22] cmelchior commented on #7102
Hi @mirceasotan Sorry for the late reply. An Incompatile lock file in this context means that you are trying to access a Realm file using different architectures, like e.g. 32-bit and 64-bit.

Obviously, that should be impossible if everything runs on a single device, so it is a bit perplexing you run into this.

One problem could be if you are somehow shipping the app with an existing Realm file

[2020-09-23 11:48] cmelchior commented on #7113
Right now we only use the `assetFile` if no current file exists on disk. So this is why just bumping the version doesn't work.

Currently, the only way to make it work would be to delete the old file first.

[2020-09-23 12:21] cmelchior commented on #2976
Note, the OP description isn't actually accurate anymore. There are no consistency issues either way. But writing data on the UI thread still needs to flush to disk which can either lead to dropped frames or ANR crashes.

This is especially a problem for Synced Realms where background writes might happen at any time and the changesets being integrated could be rather large.

Having these options t

[2020-09-23 13:17] jedelbo commented on #7118
I believe we have fixed the issue originally reported here - the one where `realm::LinkMap::set_cluster` is in the stack trace.

[2020-09-23 13:34] Priyanshi-Z commented on #6879
Is there any fix for this ?

[2020-09-23 13:42] cmelchior commented on #6879
error_code = 2 seems to be an buffer issue. I'm not 100% sure this is something we can do much about as it indicate we are running out of memory.

But for similar issues see https://github.com/realm/realm-java/issues/7101 and https://github.com/realm/realm-java/issues/7081#issuecomment-689500799

[2020-09-23 13:57] #7118 closed

[2020-09-23 14:56] cmelchior commented on #6681
AndroidX support was shipped as part of Android Adapters 4.0

[2020-09-23 14:56] #6681 closed

[2020-09-23 14:57] cmelchior commented on #6671
Outdated... closing

[2020-09-23 14:57] #6671 closed

[2020-09-23 15:03] cmelchior commented on #6655
Outdated. If this is still a problem, feel free to reopen the issue.

[2020-09-23 15:03] #6655 closed

[2020-09-23 15:58] RealmBot opened #7125 "Reroute executeTransactionAsync to use BaseRealm.WRITE_EXECUTOR"
We added a `WRITE_EXECUTOR` thread pool with one thread to distinguish between write pools and read pools. We should reroute `executeTransactionAsync` to use this new `WRITE_EXECUTOR`.

[2020-09-23 19:54] Priyanshi-Z commented on #6879
@cmelchior Thanks for responding but in my case,  error code 1
`

io.realm.exceptions.RealmError: Unrecoverable error. Failure when converting short string to UTF-16 error_code = 1; retcode = 0; StringData.size = 15; StringData.data = ȨРin /Users/cm/Realm/realm-java/realm/realm-library/src/main/cpp/io_realm_internal_UncheckedRow.cpp line 161       at io.realm.internal.UncheckedRow.nativeGetString(

[2020-09-23 20:53] Priyanshi-Z opened #7126 "io.realm.exceptions.RealmError: Unrecoverable error. Failure when converting short string to UTF-16 error_code = 1"
Want to debug this issue. But unable to reproduce it.

#### Stack trace
Fatal Exception: io.realm.exceptions.RealmError: Unrecoverable error. Failure when converting short string to UTF-16 error_code = 1; retcode = 0; StringData.size = 15; StringData.data = ȨРin /Users/cm/Realm/realm-java/realm/realm-library/src/main/cpp/io_realm_internal_UncheckedRow.cpp line 161
       at io.realm.internal.Unche

[2020-09-23 20:55] Priyanshi-Z commented on #6879
@cmelchior I have created a new issue for the same #7126

[2020-09-24 07:35] RajAggrawal0507 commented on #6632
The same issue happened with me on an iOS device in production and iOS simulator in debug mode.

1. I have an older version installed on the simulator
2. Install newer version (By running code in Xcode.)and on launch, it crashed.

Fatal error: 'try!' expression unexpectedly raised an error: Error Domain=io.realm Code=2 "Unable to open a realm at path '/Users/raj/Library/Developer/CoreSimulator/Dev

[2020-09-24 14:21] #5560 closed

[2020-09-24 15:17] sokarcreative commented on #6969
I have the exact same issue "A/libc: Fatal signal 11 (SIGSEGV), code 1 (SEGV_MAPERR)" when upgrading Realm from 5.14.0 to 7.0.5. Everything was fine until I see a crash at a specific step in a transaction. I will dig into it and I will come back here If I found something.

[2020-09-25 06:56] cmelchior commented on #6969
@sokarcreative That sounds great. If you have a way to reproduce this we would be very interested in seeing it.

[2020-09-25 07:02] sokarcreative commented on #6969
@cmelchior Tell me when you think you solved this issue and I will check that.

[2020-09-25 07:22] sokarcreative commented on #6969
I don't have really use stack trace, I hope this will help :
[code]

[2020-09-25 07:39] cmelchior commented on #6969
@sokarcreative Thank you. Can you post the model class you are doing the query on and the model class that is being referenced from the field you are checking. Also, are you using encryption?

[2020-09-25 07:43] cmelchior commented on #6969
[code]

[2020-09-25 07:45] cmelchior commented on #6969
After looking at the unrolled stacktrace, it looks to be a duplicate of https://github.com/realm/realm-java/issues/7118 of which a fix was merged here https://github.com/realm/realm-core/pull/3935. I'll attempt to get a 7.0.7 release out today which should hopefully fix this.

[2020-09-25 07:53] sokarcreative commented on #6969
Note: Kotlin was new at this time and extensions was so great x)
[code]

@cmelchior I will wait for the next release (7.0.7) if. you think it solves it

[2020-09-25 14:39] cmelchior commented on #6969
Realm Java 7.0.7 was released with a fix for this.

[2020-09-25 14:39] cmelchior commented on #7118
Realm Java 7.0.7 was released which should fix this.

[2020-09-25 15:06] sokarcreative commented on #6969
It has been fixed ! Tested right now. On 7.0.6 crash then on 7.0.7 no more crash. 👍

[2020-09-25 15:07] #6969 closed

[2020-09-25 19:50] VicMikhailau commented on #6969
@cmelchior Unfortunately, for my case, crash is still reproducible. I Will be waiting for the next release and make some fixes on my side.

[2020-09-26 15:04] pvsilvestrin commented on #6927
The error still persist in version 7.0.6:

Caused by io.realm.exceptions.RealmError: Unrecoverable error. Key not found in /Users/cm/Realm/realm-java/realm/realm-library/src/main/cpp/io_realm_internal_OsSharedRealm.cpp line 107
       at io.realm.internal.OsSharedRealm.nativeGetSharedRealm(OsSharedRealm.java)
       at io.realm.internal.OsSharedRealm.<init>(OsSharedRealm.java:175)
       at io.rea

[2020-09-27 16:42] cmelchior commented on #6927
@pvsilvestrin Thank you for reporting back. Is this something you can reproduce? It seems to happen when you open the Realm.

[2020-09-28 11:53] ppamorim commented on #6889
@ganfra Some users were able to restore the app. I got one case where the app wasn't able to load the database.

[2020-09-28 12:01] pvsilvestrin commented on #6927
The problem happens executing `Realm.migrateRealm`.
Actually I was not able to reproduce the error, but it seems to be happening in devices where the app is using realm plugin version 5.11.0 and updating to the new version of our app with realm plugin 7.0.6

[2020-09-28 12:07] ganfra commented on #6889
@ppamorim thanks for letting me know, but I just keep getting native crashes on some other parts

[2020-09-28 12:37] cmelchior commented on #2764
Outdated as the code in question has changed quite a lot.

[2020-09-28 12:37] #2764 closed

[2020-09-28 12:39] cmelchior commented on #3629
Closing due to being outdated.

[2020-09-28 12:40] #3629 closed

[2020-09-28 12:45] #4323 closed

[2020-09-28 13:02] cmelchior commented on #5097
In `v10` Realms are now stored as `<appId>/<globalUserId>/<partitionValue>.realm`. Closing as outdated.

[2020-09-28 13:03] #5097 closed

[2020-09-28 21:16] tmtrademarked opened #7128 "Robolectric tests are failing with Realm 7.0.7 on JDK 11"
#### Goal
We're trying to update our app to use JDK 11 in order to take advantage of new tooling. (Many libraries are starting to think about requiring this, and we don't want to end up stuck)

#### Actual Results
We're using a somewhat strange system in our tests to generate test data from JSON. We parse a resource as a JSON object and then use Moshi to transform the object into a Realm object. B

[2020-09-28 21:26] tmtrademarked commented on #7128
As an interesting note, I tweaked my approach to try creating an in-memory Realm to use that to parse out the JSON object instead of Moshi. But when I do that, I get the following error:

[code]

This makes me suspect that the root issue here *might* have something to do with exactly how the Realm libraries are loaded up in Robolectric. Maybe there's some bad interaction with JDK 11 classloading t

[2020-09-29 09:36] #6542 closed

[2020-09-29 12:49] cmelchior opened #7131 "Objects with lists of embedded objects append items to the original list instead of replacing them"
[code]

This does not work correctly for either `copyToRealmOrUpdate` and `insertOrUpdate`

[2020-09-29 13:57] satty82 commented on #5650
Awesome man . You saved my day.

Actually What I used was : gradlew.clean

Thankyou so much

[2020-09-29 20:17] zeeshanrasool91 commented on #7113
Got it is there any other method by which i can do that? any help would be appreceated

[2020-09-30 05:30] cmelchior commented on #7100
Just to note. We are looking into this, but have not found the root cause yet.

[2020-09-30 05:31] cmelchior commented on #6927
Just to note. We are still looking into this, but have not found the root cause yet.

[2020-09-30 05:37] cmelchior commented on #7128
The first error indicates that whatever created the JSON might have gotten something wrong. At least the serializer error seems quite clear to me. It would probably try to output the JSON to the terminal there to see if it is as expected.

For the 2nd error. You cannot really load the Realm library for real in Robolectric since it will attempt to load the native code for the platform you are runni

[2020-09-30 05:43] cmelchior commented on #7113
Yes, there is `Realm.deleteRealm(config)`.

[2020-09-30 05:50] cmelchior commented on #6733
So the Realm you are trying to open 1.8GB. I don't know if your Realm contains that much data, but usually when they get this big it normally points to problems controlling the Realm life cycle which can inflate the file size.

You can read more here:
https://realm.io/docs/java/latest/#faq-large-realm-file-size
https://realm.io/docs/java/latest/#realm-instance-lifecycle
https://realm.io/docs/java/

[2020-09-30 06:34] jedelbo commented on #6927
@pvsilvestrin Is there any migration code involved in this? Do you change the schema in some way?

[2020-09-30 16:54] tmtrademarked commented on #7128
Thanks for taking a look, @cmelchior ! For the second issue, that makes sense - I completely forgot that the Realm library doesn't actually load for real under Robolectric. I know that's something that's been discussed in other contexts.

For the primary issue, though, this doesn't appear to be an issue with generating the JSON itself, but only with parsing the JSON into a Realm object. When I out

[2020-09-30 20:30] prettyClouds commented on #1477
To sum up this thread:

1) You can't access an encrypted Realm from two different processes, so if you are doing that on purpose, one of the processes will crash.

2) It looks like when Android updates, the old APK can still be running when the new one starts up. If the new process tries to access an encrypted Realm while the old one still has an instance, the new one crashes.

What I can't seem t

[2020-10-01 06:33] cmelchior commented on #7103
https://ci.realm.io/blue/organizations/jenkins/realm%2Frealm-java/detail/PR-7134/1/pipeline/

[code]

Seems to happen somewhat frequently :(

[2020-10-01 06:54] cmelchior commented on #7103
Duplicate of https://github.com/realm/realm-java/issues/7107

[2020-10-01 06:54] #7103 closed

[2020-10-01 06:56] cmelchior commented on #7108
Duplicate of https://github.com/realm/realm-java/issues/7072

[2020-10-01 06:56] #7108 closed

[2020-10-01 08:54] edualonso opened #7136 "Flaky test: executeTransactionAwait_cancel"
From CI: https://ci.realm.io/blue/organizations/jenkins/realm%2Frealm-java/detail/PR-7134/2/pipeline#step-105-log-294

[code]

[2020-10-01 12:45] pvsilvestrin commented on #6927
This issue is causing a lot of trouble to me. Now it is happening in a different place, not related to migration. What is more strange is that it do not happen always, just in some cases that I cannot reproduce.

Caused by io.realm.exceptions.RealmFileException: Invalid top array size (ref: 150140088, size: 267269)
Exception backtrace:
<backtrace not supported on this platform> () in /Users/cm/Rea

[2020-10-01 12:49] pvsilvestrin commented on #6927
Yes, I added a new table in the schema. But the error happens even after the app data clean up, that is the realm database is created from scratch.

[2020-10-01 13:32] pvsilvestrin commented on #6927
Another stack trace here, this one is opening the DynamicRealm to get current realm schema version.

Non-fatal Exception: io.realm.exceptions.RealmFileException: Invalid top array size (ref: 81415496, size: 0)
Exception backtrace:
<backtrace not supported on this platform> () in /Users/cm/Realm/realm-java/realm/realm-library/src/main/cpp/io_realm_internal_OsSharedRealm.cpp line 107
       at io.re

[2020-10-01 13:36] cmelchior commented on #6927
@pvsilvestrin These last errors are not related to the error first reported. It could indicate the Realm file has been corrupted somehow. Do you have access to one of them?

Note, we just released 7.0.8, which more bug fixes for Key not found errors.

[2020-10-01 13:52] pvsilvestrin commented on #6927
Thanks, I will update to this new release.

One question, is there a problem if I use a kotlin class to extends RealmObject, even though I am using realm java library? Because this is the main difference of this new release, just one RealmObject is in kotlin and the other ones are in Java.

[2020-10-01 14:02] cmelchior opened #7138 "Lists of Embedded Objects and insertOrUpdate does not work correctly"
When calling `realm.insertOrUpdate(object)` with an unmanged object but the managed. It will not update correctly. Instead the list will be completely cleared.

[code]

Note: This bug has never been reported.

[2020-10-02 11:32] #7136 closed

[2020-10-02 12:51] #7104 closed

[2020-10-02 13:30] Zhuinden commented on #2764
Not to mention, this was only possible if the schema was altered from a different process of an open realm, or something.

[2020-10-02 13:52] #2976 closed

[2020-10-02 14:25] RealmBot opened #7141 "Update examples to not run transactions on UI thread"
Calling `executeTransaction` from the UI will cause apps to crash. We need to update our examples to reflect that.

[2020-10-03 22:05] zeeshanrasool91 commented on #7113
Thanks for the help can you share any sample to do that. What if i want to copy some tables data from previous configuration to new configuration how can i do that. Any sample code or guideline will be highly appreciated

[2020-10-04 17:54] nirinchev opened #7143 "API docs for user.linkCredentials are unclear"
The API docs for linkCredentials suggest that you can link credentials by simply creating a new email/password credentials, but it seems like you first need to register the email/password before linking the credentials to a user.

https://github.com/realm/realm-java/blob/9dcb17d5ea16ce787e759348e93d1b207d6d6eb9/realm/realm-library/src/objectServer/java/io/realm/mongodb/User.java#L278-L283

[2020-10-05 09:44] AlexeiVoice commented on #2459
Hi @beeender! Same as couple of guys mentioned above, I'm experiencing what seems to be the same issue on version `5.14.0` when calling `Realm.getDefaultInstance()`. Unfortunately weren't able reproduce the issue locally and only get it in Crashlytics reports from time to time. Do you have any thoughts on why can this be still happening and/or any workarounds/checks I can perform on the applicatio

[2020-10-05 10:00] cmelchior commented on #2459
@AlexeiVoice This should only happen if you try to open a Realm file that was copied to a different architecture with all our lock files in place

In general, this should not be possible on Android devices. It happens when you try to open a Realm file that was already opened on a different ABI architecture, e.g. 32 bit vs. 64 bit. This should never happen with normal use.

My best guess is:
1) Som

[2020-10-05 10:09] edualonso commented on #6879
Closing due to inactivity.

[2020-10-05 10:09] #6879 closed

[2020-10-05 10:12] mirceasotan commented on #2459
@cmelchior This issue should be reopened. Our crash rate is constant with this stack trace over last few versions of Realm. Our app is managed by Google Play, so I don't understand how we could mistakenly ship lock files with our app.

[2020-10-05 10:12] #7107 closed

[2020-10-05 10:16] cmelchior commented on #2459
@mirceasotan Instead of reopening this issue, it would probably be better to create a new issue. Since this one has a lot of discussions probably not relevant to your issue (and the original error pertains a really old version of Realm).

We are specifically interested in getting any details of:
1) What Android devices / versions does this happen on
2) Does it happen after upgrading or "in general

[2020-10-05 10:39] AlexeiVoice opened #7144 "RealmFileException: Realm file is currently open in another process which cannot share access with this process."
#### Goal
Get default realm instance

#### Actual Results
Application crashes
[code]

#### Steps & Code to Reproduce
Unfortunately not able to reproduce the crash locally, but get recurring crash-reports on Crashlytics.
Crash occurs in different places in the code while calling `Realm.getDefaultInstance()`
- Realm Encryption is not enabled
- Realm version hasn't been updated after releasing the ap

[2020-10-05 10:41] AlexeiVoice commented on #2459
@cmelchior Thanks for the response. As you suggested I've created a new issue: https://github.com/realm/realm-java/issues/7144. @mirceasotan please add any additional information to the new ticket if you can.

[2020-10-05 10:57] edualonso commented on #7102
Hello @mirceasotan. After reviewing this case, the most likely explanation is that the user has the "backup app data" setting enabled. This will back up all Realm-related files and these will be restored on new phones. If, for example, the source phone is a 32-bit phone and the user restores a backup on a 64-bit phone, the lock files will not match the architecture and this problem could manifest

[2020-10-05 11:01] edualonso commented on #2459
@AlexeiVoice please have a look at https://github.com/realm/realm-java/issues/7102#issuecomment-703557824 as it could explain why you experience this.

[2020-10-05 11:13] AlexeiVoice commented on #2459
@edualonso Thanks, that sounds like one of the most logical explanation! I've checked our manifest and it looks like we have `android:allowBackup = false` in our app, so unfortunately this one can be excluded from the possible reasons in our case.

[2020-10-05 11:18] edualonso commented on #2459
@AlexeiVoice that's unfortunate :( Is it possible that perhaps the setting was enabled at some point and then it got turned off?

[2020-10-05 11:50] sdex opened #7145 "Realm 7.0.8 native crash - EncryptedFileMapping::get_local_index_of_address"
#### Goal
To use realm.

#### Actual Results
Crashes.

#### Steps & Code to Reproduce
These reports are taken from the developer console. I have neither access to the devices nor the database.
It seems like the app crashes immediately after launch when tries to open the realm.
This is my config:
[code]

#### Version of Realm and tooling

Realm version(s): 7.0.8

Realm Sync feature enabled: No

And

[2020-10-05 11:56] edualonso commented on #7145
First stack trace:
[code]

[2020-10-05 11:57] edualonso commented on #7145
Second stack trace:
[code]

[2020-10-05 12:01] AlexeiVoice commented on #2459
@edualonso Yeah :( no, unfortunately it's been this way for quite some time

[2020-10-05 12:42] edualonso commented on #7145
@jedelbo can you have a look at this? It seems to be the same problem @sdex already reported in https://github.com/realm/realm-java/issues/7118#issuecomment-696592984 and it is still causing issues.

[2020-10-05 12:51] edualonso commented on #7034
Closing due to inactivity. Please reopen if the issue is still present.

[2020-10-05 12:51] #7034 closed

[2020-10-05 12:59] edualonso commented on #6992
Hi @GaelCO. Has this issue been fixed?

[2020-10-05 13:02] GaelCO commented on #6992
Hi, This issue still exist with 7.0.8.
The data seem partially corrupt. I can get the object, but can't delete it.

[2020-10-05 13:05] edualonso commented on #6992
@finnschiermer and @jedelbo I think this answers the question asked in https://github.com/realm/realm-java/issues/6992#issuecomment-694192923 :

The data seem partially corrupt. I can get the object, but can't delete it.

[2020-10-05 13:11] edualonso commented on #6927
Hi @pvsilvestrin.

It is definitely not a problem.

Could you let us know if the original issue is still present after you update to 7.0.8?

[2020-10-05 13:13] edualonso commented on #6925
Hi @mattfiocca. Is this still an issue in version 7.0.8?

[2020-10-05 13:38] mattfiocca commented on #6925
hi @edualonso. It will take some time to stand up some real-world tests, as this was only happening for us in the field. I had to quickly push out a solution to our users that excluded Realm at the time; you can move around me if needed.

[2020-10-05 13:44] edualonso commented on #6925
Alright. I will close the issue. Please let us know if the problem emerges again.

[2020-10-05 15:15] m-usmankhan opened #7147 "OpenSSL update required"
I was trying to upload my APK to a platform but they ask for latest OpenSSL (1.1.1g). So I'm stuck now. My code depends heavily on ur library and we need to get the APK there.
I hope it is not much, but can u please update the OpenSSL and release 🙂. Everybody will soon be needing this anyway, I guess .

[2020-10-05 15:35] RealmBot opened #7148 "Realm file is currently open in another process which cannot share access with this process"
Hello Realm Team,

I have been struggling to fix an issue described by the stack trace below. I am using realm io.realm:realm-gradle-plugin:6.1.0

Can you provide more information on what might be the cause of it? We are opening realms from both main thread and looper threads for live queries.

Err: io.realm.exceptions.RealmFileException: Realm file is currently open in another process which canno

[2020-10-05 19:25] pvsilvestrin commented on #6927
Not, the error persists.

Non-fatal Exception: io.realm.exceptions.RealmError: Unrecoverable error. Key not found in /Users/cm/Realm/realm-java-release/realm/realm-library/src/main/cpp/io_realm_internal_OsSharedRealm.cpp line 107
       at io.realm.internal.OsSharedRealm.nativeGetSharedRealm(OsSharedRealm.java)
       at io.realm.internal.OsSharedRealm.<init>(OsSharedRealm.java:175)
       at io.r

[2020-10-06 07:59] chinthaka01 commented on #3636
try: https://support.apple.com/guide/mac-help/enter-proxy-server-settings-on-mac-mchlp2591/mac this works for me.

[2020-10-06 08:10] edualonso commented on #7148
Duplicate of #7102. Closing.

[2020-10-06 08:10] #7148 closed

[2020-10-06 10:18] edualonso commented on #7144
Hi @AlexeiVoice. It is going to be nearly impossible for us to figure out what the matter with this problem is given that you ruled out automatic backups in https://github.com/realm/realm-java/issues/7102#issuecomment-703557824. Another explanation could be those users have installed a third-party backup application that copies things across devices. If that is the case, it could also cause this c

[2020-10-06 10:22] edualonso commented on #7102
This crash could also be caused by third-party backup applications that share app data across devices, as mentioned in https://github.com/realm/realm-java/issues/7144#issuecomment-704174133. Please let us know whether or not you can pinpoint which is the cause for the crash. Having a use that allows us to reproduce this issue would be of great help.

[2020-10-06 11:01] AlexeiVoice commented on #7144
Hi @edualonso. I see, yeah, I understand. We've added some additional logs to Crashlytics reports all over the app. According to those it looks like the issue occurs while the app is in use by a user. I haven't used any third-party backup applications, so I'm not sure if ti's possible for them to perform any kind of synchronization where other application's files are changed (sort of like cloud-st

[2020-10-06 11:14] cmelchior commented on #7144
The problem is that it might not be your app at all, e.g. if the device is rooted and running a custom from or they are using some other 3rd party tool not part of your app.

One indication of this could be if you see what operating system they run. If many of them are using custom roms, that could point in that direction.

[2020-10-06 11:50] AlexeiVoice commented on #7144
Thanks for the quick response. If we can trust Firebase Crashlytics, none of the devices were rooted. I'll also add some OS-version logs to try and detect custom roms, just to be sure.

[2020-10-06 13:00] #7131 closed

[2020-10-06 14:56] rorbech commented on #7144
@AlexeiVoice Maybe consider to track the installer through [`getInstallerPackageName`](https://developer.android.com/reference/android/content/pm/PackageManager#getInstallerPackageName(java.lang.String)) to see if the app is restored in unexpected ways.

[2020-10-06 15:26] edualonso commented on #6995
Closing due to inactivity. We believe all issues have been fixed. If it isn't the case for the one first reported, please reopen this ticket. For all others (@ninaniiranen,  @mattfiocca, @diogochbittencourt, @MGaetan89, @MeinLieberScholli) please create new issues and we will track them separately as it appears to us they are not caused by the same native crash. We risk making a huge snowball if w

[2020-10-06 15:26] #6995 closed

[2020-10-07 11:03] sipersso commented on #7141
@edualonso since when does call executeTransaction on the UI thread cause apps to crash? The documentation here https://realm.io/docs/java/latest#transaction-blocks lists that you "might" want to execute transactions on a background thread, but not that they will crash the app if you run them on the UIThread.  Is this something that has been changed?

[2020-10-07 13:13] edualonso commented on #7141
Hi @sipersso. Your app will not crash if you run `executeTransaction` from the UI thread as long as you are running Realm prior to v10. For the upcoming v10 release we are introducing two new settings in `RealmConfiguration.Builder`, namely `allowWritesOnUiThread` and `allowQueriesOnUiThread`, which will allow users to control whether it is allowed to run transactions and/or queries from the UI th

[2020-10-07 13:17] edualonso commented on #7141
You can refer to https://github.com/realm/realm-java/blob/v10/CHANGELOG.md for more information on these changes.

[2020-10-07 13:21] sipersso commented on #7141
@edualonso Thank you for the clarification... and the heads up that this will be changed as it will mean a lot of work on my end.

[2020-10-07 15:46] cmelchior commented on #7141
@sipersso Note you can just add this to your configuration:

[code]

And it will work like it always has. So you can decide when/if you want to opt into the new behavior.

[2020-10-07 16:53] sipersso commented on #7141
Thanks @cmelchior! This will definitely make it easier to adapt to the new API:s step by step.

[2020-10-08 07:20] edualonso commented on #7110
Flakyness maybe related to https://github.com/realm/realm-java/issues/5416 ?

[2020-10-08 07:21] edualonso commented on #7086
This test is only present in the master branch but it has been removed in the v10 release, so should not be a concern once v10 is merged into master.

[2020-10-08 08:03] edualonso commented on #7065
This test is a part of PathLevelPermissionsTests.java, which was removed from the v10 branch, so should not be a concern once v10 is merged into master.

[2020-10-09 07:09] edualonso opened #7151 "Flaky test: jniRoundTripForDefaultCodecRegistry"
Seen in https://ci.realm.io/blue/organizations/jenkins/realm%2Frealm-java/detail/PR-7150/2/tests

[code]

[2020-10-11 07:19] gioramixin commented on #6632
also happens to me

crash_info_entry_0
Fatal error: 'try!' expression unexpectedly raised an error: Error Domain=io.realm Code=2 "Unable to open a realm at path '': Invalid top array size (ref: 93672, size: 0) Exception backtrace: 0 Realm 0x0000000103bb0604 _ZNK5realm9SlabAlloc6verifyEv + 140 1 Realm 0x0000000103bd4ed8 _ZN5realm5Group18validate_top_arrayERKNS_5ArrayERKNS_9SlabAllocE + 1188 2 Realm

[2020-10-12 10:25] Zhuinden commented on #6632
Please specify Realm-Java version when making these reports

[2020-10-12 16:29] iwo commented on #6773
@cmelchior which symbols should I upload to Play Store `base` or `objectSaver`?
I'm using Realm Gradle plugin: `'io.realm:realm-gradle-plugin:7.0.8'`.

[2020-10-12 17:39] EdwardvanRaak opened #7153 "Symbolication for native crash reports"
This might have to be moved to realm-core, but I was just wondering about this.

In the [latest Android Developers blog ](https://android-developers.googleblog.com/2020/10/android-studio-41.html?utm_source=feedburner&utm_medium=feed&utm_campaign=Feed%3A+blogspot%2FhsDu+%28Android+Developers+Blog%29) there is a part about **Symbolication for native crash reports**.

Here is the direct quote:

### S

[2020-10-12 18:28] EdwardvanRaak commented on #7153
Oh apperently there was already an issue for this (sort off)? #6773

I guess I'll just close this.

[2020-10-12 18:28] #7153 closed

[2020-10-12 19:15] cmelchior commented on #6773
@iwo `objectServer` is if you are using sync enabled through the realm closure in Gradle:

[code]

If you don't have that you just need the `base` variant.

[2020-10-13 12:39] iwo commented on #6925
Hi @edualonso ,

we're also getting reports of similar issue for 7.0.8.
So far we only noticed an increased crash rate in Play Console but we weren't able to reproduce it or link this issue to some users actions.

[code]

[2020-10-14 06:59] hardysim commented on #6773
I just found a hint in the release notes for Android Studio 4.1 about "Symbolication for native crash reports". Just add the following line to the app's `build.gradle` (having the NDK installed) and it will generate debug symbols into the app bundle. When using this, the PlayStore not longer shows the warning.

`android.buildTypes.release.ndk.debugSymbolLevel = 'SYMBOL_TABLE'`

References:
- https

[2020-10-14 07:29] hardysim commented on #6773
So my adding the symbol level (see https://github.com/realm/realm-java/issues/6773#issuecomment-708202945) just helps with the PlayStore but not with crashlytics.

Crashlytics seem to need a manual upload of native symbols. But the [documentation at realm](https://realm.io/docs/java/latest/#ndk-debugging) is outdated. The [current crashlytics documentation](https://firebase.google.com/docs/crashly

[2020-10-14 09:28] strooooke commented on #6871
Rxjava 2 support ends on February 28, 2021. This is becoming more pressing.

[2020-10-14 11:57] cmelchior commented on #6871
An option is also https://github.com/akarnokd/RxJavaBridge#RxJavaBridge

[2020-10-15 00:04] sudhanshugaur4 opened #7155 "Is Time complexity of findFirst() after sort in Realm is O(n), If the field is not indexed?"
In Realm is the Time complexity of findFirst() after sort always O(n) ? If the field is not indexed, Because if it is optimizing it's query then it should be O(n) ?

[2020-10-15 10:59] clementetb commented on #5551
@GARGUI3 The exception you are experiencing is caused because Realm wasn't properly initialized.

Are you calling `Realm.init(context)` and `Realm. setDefaultConfiguration` before calling this method?

[2020-10-15 14:52] IgorGanapolsky opened #7157 "Migration example crashes"
#### Goal
Run the **realmmigrationexample**

#### Actual Results
Crash:
2020-10-15 10:48:55.152 9576-9576/examples.realm.io.migration E/AndroidRuntime: FATAL EXCEPTION: main
    Process: examples.realm.io.migration, PID: 9576
    java.lang.RuntimeException: Unable to start activity ComponentInfo{examples.realm.io.migration/io.realm.examples.realmmigrationexample.MigrationExampleActivity}: io.realm

[2020-10-15 15:04] clementetb commented on #5767
Closing due inactivity. Please comment in case you get more information and the issue still persists

[2020-10-15 15:04] #5767 closed

[2020-10-15 15:11] clementetb commented on #5652
Closing due inactivity. Please comment in case you get more information and the issue still persists

[2020-10-15 15:11] #5652 closed

[2020-10-15 15:13] clementetb commented on #5656
Closing due to missing information. Please comment in case you get more information and the issue still persists

[2020-10-15 15:13] #5656 closed

[2020-10-15 15:14] clementetb commented on #5748
Closing due inactivity. Please comment in case you get more information and the issue still persists

[2020-10-15 15:14] #5748 closed

[2020-10-15 15:18] clementetb commented on #5790
Closing due to inactivity. Please comment in case you get more information and the issue still persists

[2020-10-15 15:25] clementetb commented on #631
Closing due inactivity. Please comment in case you get more information and the issue still persists

[2020-10-15 15:25] #631 closed

[2020-10-15 16:16] clementetb commented on #7082
Closing due inactivity. Please comment in case you get more information and the issue still persists.

[2020-10-15 18:35] Zhuinden commented on #5790
But it's not closed tho :smirk:

[2020-10-15 18:49] #5790 closed

[2020-10-15 18:49] #7082 closed

[2020-10-16 00:08] tmtrademarked commented on #7128
I ended up solving this if anyone finds this thread. The problem was that I had a JSON adapter for Moshi declared slightly incorrectly. I had previously used `RealmListConverter<T extends RealmModel> extends JsonAdapter<RealmList<T>>`, which worked fine on JDK 8. But String *isn't* a RealmModel, and JDK 11 seemed to enforce this differently. The fix was simple - just use `RealmListConverter<T> ext

[2020-10-16 00:08] #7128 closed

[2020-10-16 09:29] ganfra commented on #7145
Any news on that? got the same issue

[2020-10-16 11:42] clementetb commented on #7145
@ganfra Could you share more details about the issue you experienced? It would really help us to find the cause.

Do you have any stack trace? What Realm and tooling versions did you use? Can you reproduce the issue?

[2020-10-19 05:16] weizhonglai opened #7158 "Crash when registering change listeners with Realm 7.0.8"
#### Goal
Bug fixed

#### Actual Results
Logcat: Fatal signal 11 (SIGSEGV), code 1 (SEGV_MAPERR), fault addr 0x0 in tid 12354

#### Steps & Code to Reproduce
I getting 2 crash in realm v7.0.8, but it's working on realm v3.5.0

1. It will crash when addChangeListener is added.
   private OrderedRealmCollectionChangeListener<RealmResults<ModelC>> orderRealmChangeListener = (orders, changeSet) -> {

[2020-10-19 07:32] Raynor999 commented on #7158
Java_io_realm_internal_OsSharedRealm_nativeCancelTransaction

OS Version: Android 10 (QP1A.190711.020.F9160ZCU1ATI4)
Report Version: 104

Exception Type: Unknown (SIGSEGV)

Application Specific Information:
Segfault

Thread 0 Crashed:
0   librealm-jni.so                 0xb14cc366          <unknown> + 2974597990
1   librealm-jni.so                 0xb14cc323          <unknown> + 2974597923
2   lib

[2020-10-19 10:33] clementetb commented on #5175
Hi. Version 7 and upward of Realm had a significant updated underlying database engine that improves stability and performance. We recommend updating to version 10. Closing this issue as outdated please reopen if you experience it again.

[2020-10-19 11:44] vangivang commented on #7158
We are seeing something similar (if not the same) but I only have Crashlytics info that doesn't reveal a lot. Perhaps you can get the functions names out of the pcs:

Android 11 (Pixel 3a).
Application was in the background (there is a Foreground service running).

Crashed: Thread :  SIGABRT  0x0000281700004362
#00 pc 0x72ac4e8e4c libc.so
#01 pc 0x72ac4e8e1c libc.so
#02 pc 0x6f99e6e25c librealm-jn

[2020-10-19 11:49] cmelchior commented on #7158
@Raynor999 @vangivang Do you have the full stack traces for this crashes?

[2020-10-19 11:55] vangivang commented on #7158
No.. I'm sorry. The only indication I have is what I see in the Crashlytics report which was copied here.
I am trying to reproduce it but so far it did not succeed.

[2020-10-19 13:15] Zhuinden commented on #5175
Version 10?

[2020-10-19 14:37] #5175 closed

[2020-10-19 17:28] Zhuinden commented on #1477
I hear what can help is checking in a BaseActivity if `applicationContext` is your custom application class, if it is not, then just don't initialize anything.

[2020-10-20 02:43] Raynor999 commented on #7158
sorry，I found this crash in the Crashlytics report。

[2020-10-20 09:47] clementetb commented on #5391
We have run the benchmark on the latest releases with a Xiaomi 9T Pro. We can see a considerable reduction for the first initialization call:

[code]

Closing this issue, please reopen if you experience lag again on the first initialization.

[2020-10-20 09:47] #5391 closed

[2020-10-20 09:54] clementetb commented on #5810
Realm-Java 6 and upwards fixes this issue. If you are using a lower realm version and experience this issue please upgrade your realm.

Closing this issue as it is fixed. Please reopen the issue if you experience this crash on Realm v6 or higher.

[2020-10-20 09:54] #5810 closed

[2020-10-20 09:54] clementetb commented on #5629
Hi. Version 7 and upward of Realm had a significant updated underlying database engine that improves stability and performance. We recommend updating to version 10. Closing this issue as outdated please reopen if you experience it again.

[2020-10-20 09:54] #5629 closed

[2020-10-20 09:55] clementetb commented on #5803
Hi. Version 7 and upward of Realm had a significant updated underlying database engine that improves stability and performance. We recommend updating to version 10. Closing this issue as outdated please reopen if you experience it again.

[2020-10-20 09:55] #5803 closed

[2020-10-20 10:57] RealmBot opened #7161 "Investigate support for Store"
We should investigate interoperability with Store ( [https://github.com/dropbox/Store](https://github.com/dropbox/Store) )

From an initial look, it doesn't look super hard to integrate with Realm.

The current suggestion is to explore this by combining our coroutine example with the newsreader example and replace the newsreader repository with Store. This will provide a more fully-fledged example

[2020-10-21 08:11] MustahsanJunaid opened #7162 "Cannot find symbol @TargetApi(Build.VERSION_CODES.HONEYCOMB) in generated class"
#### Goal
I want to convert an android project from java to kotlin.

#### Actual Results
While I configure kotlin in project, and build project, it starts showing compile time error
**error: cannot find symbol @TargetApi(Build.VERSION_CODES.HONEYCOMB) in generated class by realm.**

#### Steps & Code to Reproduce
Simply configure kotlin compiler in android project.

#### Version of Realm and tooli

[2020-10-21 08:13] cmelchior commented on #7162
`@TargetApi` is an annotation provided by Android. So most likely you don't have the `android.jar` on your classpath for some reason.

[2020-10-21 08:16] MustahsanJunaid commented on #7162
But why HONEYCOMB?
I mean, realm's minimum sdk support is android API 16 and my project supports API 19. I am little curious about HONEYCOMB?
Also, If I compile project without kotlin, ie; with java it works fine. any lead on this would be a great favor.

[2020-10-21 08:32] cmelchior commented on #7162
It looks like you are using Realm 6.0.2. In that version the minSdk was 9, but we had a few Json methods that used API's only available from 11, which had the `@TargetApi` annotation.

In Realm Java 7.0.0, we bumped the minSdk to 16.

10.0.0 was just released a few days ago, so I would recommend updating to that. The difference from 7 to 10 is mostly to indicate that our Sync backend changed signi

[2020-10-21 08:57] MustahsanJunaid commented on #7162
updated to 10.0.0 , still facing the error
ProductRealmProxy.java:213: error: cannot find symbol @TargetApi(Build.VERSION_CODES.HONEYCOMB)

[2020-10-21 17:01] datikaa opened #7163 "Inconvenient Kotlin extension functions for Kotlin Flows"
#### Extensions for Kotlin Flow is inconvenient to use in some cases
Most of my Realm queries already return Kotlin Flows with custom code and while I was trying to migrate my codebase to V10 Realm extensions, I've noticed some quirks.

#### findAllAsync() with first() is problematic:
I like to have my Realm queries async so I mostly use `.findAllAsync()`. On the other hand, I have many usecases w

[2020-10-22 04:02] Raynor999 commented on #7158
OS Version: Android 10 (HRY-AL00Ta 10.0.0.168(C00E70R4P7))
Report Version: 104

Exception Type: Unknown (SIGSEGV)

Application Specific Information:
Segfault

Thread 0 Crashed:
0   librealm-jni.so                 0xb468d366          <unknown> + 3026768742
1   librealm-jni.so                 0xb468d323          <unknown> + 3026768675
2   librealm-jni.so                 0xb45f69db          <unknown>

[2020-10-22 08:27] cmelchior commented on #7110
Also seen here: https://ci.realm.io/blue/organizations/jenkins/realm%2Frealm-java/detail/PR-7160/2/pipeline

[2020-10-22 09:08] clementetb commented on #7098
Thanks for reporting the issue and sharing the project to reproduce it. We have reported it to the realm core team who will look for a fix.

[#4010](https://github.com/realm/realm-core/issues/4010)

[2020-10-23 05:51] cmelchior commented on #7163
Hi @datikaa . Thank you for the feedback. I'll try to respond to each individually.

**findAllAsync() with first() is problematic:**
This behavior is identical to the behavior we have for RxJava Flowables, and I believe we have it, so components listening to a flow don't have to wait too long for an initial element which can cause a few issues for UI components that then have to deal with "un-init

[2020-10-23 05:53] cmelchior opened #7164 "Support customizing Coroutine Flows"
We should see if there is a way to introduce customization of the Flows we create. Maybe similar to our current `RxObservableFactory`. See https://github.com/realm/realm-java/issues/7163 for context.

[2020-10-23 05:54] cmelchior opened #7165 "Add support for Flows with no results when using findFirst"
Handling nullability of findFirst() is inconvenient
Problem is that the return of .findFirst() is nullable, and it makes your code ugly. I have something like this in my code now:

[code]

I think it would be nice to have the extension function like this:

[code]

and in case of this is null, return with flowOf(null)

For context see https://github.com/realm/realm-java/issues/7163

[2020-10-23 06:04] cmelchior commented on #7162
@MustahsanJunaid We probably need a small reproduction project to see exactly what is going on.

[2020-10-25 20:25] mkarcher98 opened #7166 "populate realm with assetFile"
#### Goal
I wanna give an exist assist file to RealmConfiguration class and set it as defaut and get it when I call getDefaultInstance method of Realm class

#### Actual Results
at the line of getting Instance the exception throws:
2020-10-25 23:27:05.421 24074-24074/? E/REALM_JNI: jni: ThrowingException 5, No such object in /tmp/realm-java/realm/realm-library/src/main/cpp/io_realm_internal_OsShar

[2020-10-26 07:53] datikaa commented on #7163
Hi @cmelchior!

Thanks for your reply!

About **findAllAsync() with first() is problematic:**
I think that the documentation of findAllAsync() just needs to include this behaviour, and simply `.dropWhile { !it.isLoaded }` can be used to filter out any offers that are not loaded.\
In this case the docs should look like this:
[code]

I've also noticed one more questionable thing in the docs. I think

[2020-10-26 10:01] vaibhav2800 opened #7167 "Realm Exception while inserting data"
I am using realm-android for my project and using 5.10.0 as project is OLD.

Whenever data tried to insert in Realm , it got following error.

**Found error inside the execution block of add data , io.realm.exceptions.RealmException: '' doesn't exist in current schema.**
	at io.realm.internal.b.a(ColumnIndices.java:112)
	at io.realm.aq.e(RealmSchema.java:241)
	at io.realm.ar.a(SchemaConnector.java

[2020-10-26 10:35] rorbech commented on #7166
How did you generate the `databases.realm`? Is the file valid and able to open with Realm Studio?

[2020-10-26 12:32] rorbech opened #7168 "Fix documentation of coroutines flow extension"
Following the example documentation of  https://github.com/realm/realm-java/blob/973d43725d3bc2a8bd053892ddab0ff2856daa12/realm/kotlin-extensions/src/main/kotlin/io/realm/kotlin/RealmResultsExtensions.kt#L42 can lead to a thread violation issue if the flow is collected on a thread different from creating the result.

The documentation should be updated to a safe pattern, and/or we should prevent t

[2020-10-26 12:55] edualonso commented on #7168
As discussed internally with @rorbech a safe usage pattern could be:
[code]

The first `toFlow` confines its own execution to a looper thread wheres the second offloads it to a background thread in case of an expensive operation. This could, however, collide with `allowQueriesOnUiThread` when set to `false`, in which case users would have to create a "loopered" coroutine context themselves. This s

[2020-10-26 13:29] rorbech commented on #7168
The problem is the implicit requirement spread across multiple calls. In the above the actual query's `find` would also have to be executed in the same context.

We could bind it together by constructing a dispatcher associated with the required looper for `find...()` by https://github.com/Kotlin/kotlinx.coroutines/blob/master/ui/kotlinx-coroutines-android/src/HandlerDispatcher.kt#L69. But, it is

[2020-10-26 13:32] mkarcher98 commented on #7166
its a ready database which has given to me to work with, and its located in assets folder and yes it's valid for realm studio

[2020-10-26 13:45] rorbech commented on #7166
It could be a matter of a schema mismatch that we do not catch correctly and trigger a migration exception, but it is hard to judge without more information.

Are you able to compose a minimal reproducing example and maybe also share the `databases.realm` file with us. You can email it to claus.rorbech@mongodb.com.

[2020-10-26 14:16] rorbech commented on #6925
@iwo Have you been able to gather more information about what is causing this? Further, is this a temporal issues or is it recurring once it is first experienced?

[2020-10-26 14:50] rorbech commented on #7158
@weizhonglai Are you able to provide a minimal example project that shows the crashes? It is a bit unclear how you model looks and what you are trying to achieve from the initial description.

[2020-10-26 14:57] rorbech commented on #7158
@vangivang @Raynor999 You issues does not look related to the original issue of registering change listeners, so consider adding a separate issue with description of what you are trying to achieve and any indicators of around what fails. The stack traces are required to be in a format somewhat like described in https://developer.android.com/ndk/guides/ndk-stack for us to be able to unroll.

[2020-10-26 15:09] rorbech commented on #7167
It is really hard to say anything around this from the current details. We would need some more details around how the model looks and what operations are leading to this to be able to reproduce. Are you able to get a hold of a realm exhibiting this behavior? If so are you able to open it with Realm Studio?

[2020-10-26 15:32] rorbech commented on #7163
@datikaa Thanks again for your input. I have created an issue to fix the documentation, while trying to consider what would be the best way to unentangle the underlying looper/corountine context dependencies a bit in the same go: #7168

[2020-10-26 15:59] rorbech opened #7169 "Update migration example realms to Core 6 supported formats"
As of Core 6:
[code]
We should update the realm files in our migration example to a format supported by the current core version.

[2020-10-26 16:02] rorbech commented on #7157
Created issue #7169 to upgrade the migration example's Realms to Core 6 compatible format.

[2020-10-26 16:23] rorbech commented on #7162
@MustahsanJunaid The symbols should definitely be available from the Android build pipeline. Have you tried doing a clean build?

[2020-10-26 16:24] datikaa commented on #7163
I have created some small extensions around `toFlow()` that makes my call sites easy. Here's my [gist](https://gist.github.com/datikaa/3b98aea99a8870f2b5bdf5b9a611bd1b). My call site now looks like this, and I'm happy with it for now:
[code]

I have abandoned `findFirstAsync()` because I can't check for `isLoaded`.

[2020-10-26 16:46] rorbech commented on #7113
@zeeshanrasool91 You can achieve by a manual migration by opening two separate realms;
- One with you existing data
- A new realm with an explicit `name("version2.realm")` and the updated `assertFile("asset2.realm)`

After the migration you will need to ensure that you use the realm with explicit name (`name("version2.realm")`) onwards.

[2020-10-26 16:48] rorbech commented on #7144
@AlexeiVoice Any luck reproducing this or identifying the root of it?

[2020-10-26 16:50] rorbech commented on #7102
@mirceasotan Any luck reproducing or identifying the root cause of this?

[2020-10-26 16:56] AlexeiVoice commented on #7144
Hi @rorbech. We've been able to push new version with additional logs just recently, so don't have any updates at this point  unfortunately.

[2020-10-26 17:04] mirceasotan commented on #7102
@rorbech No, I was not able to reproduce this locally. In the end, we decided to drop realm and use something else.

[2020-10-26 17:15] mirceasotan commented on #7102
<img width="634" alt="Screenshot 2020-10-26 at 19 11 16" src="https://user-images.githubusercontent.com/17314290/97204803-3af10b00-17bf-11eb-8fda-226ad8203ff4.png">
 We have aprox 100+ occurrences per day.

We do not have encryption enabled. We do have backup enabled, but the scenario above of a user restoring data between 32 and 64 bit devices seems unlikely, given this crash rate. We use realm o

[2020-10-26 19:35] IgorGanapolsky commented on #7169
How to resolve this crash?

    java.lang.RuntimeException: Unable to start activity ComponentInfo{examples.realm.io.migration/io.realm.examples.realmmigrationexample.MigrationExampleActivity}: io.realm.exceptions.RealmFileException: Opening Realm files of format version 2 is not supported by this version of Realm (Database has an unsupported version and cannot be upgraded
    Exception backtrace:

[2020-10-26 23:04] deibidsonmesquita commented on #7141
Although the code below works. It is important to update the documentation. realm before mongodb looked more interesting for beginners

//  .allowWritesOnUiThread(true)

[2020-10-27 08:14] rorbech commented on #7169
@IgorGanapolsky We need to update the realms stored in the example to a newer format that is supported by the current core implementation.

[2020-10-27 08:48] rorbech opened #7170 "Update documentation of new UI thread checks in 10.0.0"
The new checks for whether queries and transactions are executed on the UI thread is not documented in
https://realm.io/docs/java/latest#queries and https://realm.io/docs/java/latest#writes

[2020-10-27 08:48] rorbech commented on #7141
I created #7170 to update the documentation.

[2020-10-27 09:29] rorbech commented on #7155
@sudhanshugaur4 It is not optimized for that. You would have to add an index to achieve that.

[2020-10-27 11:41] VicMikhailau opened #7171 "Crash after change Realm version from 6.1.0 to 7.x.x-10.x.x"
#### Goal
Fix Crash. I wrote before in other issues but created instead separate.

#### Actual Results
Received Crash after change Realm version from **6.1.0** to **7.x.x-10.x.x**

`Fatal signal 11 (SIGSEGV), code 1 (SEGV_MAPERR), fault addr 0x0 in tid 30229 (.package), pid 30150
Build fingerprint: 'Xiaomi/laurel_sprout/laurel_sprout:10/:user/release-keys'
Revision: '0'
ABI: 'arm64'
Timestamp: 202

[2020-10-27 14:28] rorbech commented on #7171
Unfortunately I am not able to unroll the stack traces. Are you able to get hold of some traces in a format somewhat like
https://developer.android.com/ndk/guides/ndk-stack and report them with the exact version of the Realm sdk.

[2020-10-27 15:16] IgorGanapolsky commented on #7169
@rorbech Is there an easy updater or migration tool for that?  I have the same requirement in my project.

[2020-10-27 16:04] rorbech commented on #7169
You can open the realm and save it with an old version of Realm Studio that supports reading the old format but saves it in a newer format, e.g. https://studio-releases.realm.io/v3.8.3

[2020-10-27 16:12] rorbech commented on #7171
Can you either grab the traces without piping them through `ndk-stack` or add the unstripped libs for the specific version, variant and architecture to you command line (https://static.realm.io/downloads/java/realm-java-jni-libs-unstripped-$VERSION.zip) and grab the unrolled trace with out symbols.

Are you using encryption? And/or are you certain that you do not use sync
[code]
The `X509_get0_sub

[2020-10-27 16:12] IgorGanapolsky commented on #7169
**When I go to save the DB, how do I specify the newer format here?**

<img width="1792" alt="Screen Shot 2020-10-27 at 12 12 13 PM" src="https://user-images.githubusercontent.com/201209/97329687-b26d7b80-184d-11eb-9865-e3bc08fc33dc.png">

[2020-10-27 16:17] rorbech commented on #7169
You cannot select it manually. It use the most recent format for the bundled core implementation, but we only dropped support for very old format, so saving it with Realm Studio v. 3.8.3 (last version supporting the very initial format) should make it good to go.

[2020-10-27 16:31] VicMikhailau commented on #7171
@rorbech Thanks, I will try to use unstripped libs for the specific version.

_Are you using encryption? And/or are you certain that you do not use sync_

Just simple Realm setup
[code]
without encryption. And simple _use Realm.getDefaultInstance()_.

[2020-10-27 17:31] VicMikhailau commented on #7171
@rorbech There is a more clearly stack trace after using unstripped libs for the 10.0.0 Realm version.

[code]

[code]
Thanks.

[2020-10-28 12:55] vaibhav2800 commented on #7167
This issue was found in production so not able to check it on realm studio (chances are that realm may be corrupted).
As of now provided quick fix by removing DB files , but i am looking for root cause so that it can be avoided in future .

Table Structure :
class A extends RealmObject{
String id;
List<B> list;

}

class B extends RealmObject{
}

Realm query ::
realm.where(A.class).equalTo("id", i

[2020-10-28 14:26] edualonso opened #7173 "Devise a way to allow calls to Realm.refresh from any thread"
`executeTransactionAwait` might crash if called using a coroutine dispatcher backed by a thread pool with more than one thread. This is due to the function resuming on a different thread after calling `withContext`, which means the call to `refresh` will crash due to a thread violation - see https://twitter.com/VasiliyZukanov/status/1321433470124568576 for more information.

A cheap way to solve t

[2020-10-28 21:22] sudhanshugaur4 commented on #7155
@rorbech So even if I am querying for findFirst() the query is not running in O(n), Can you guys please add this, as it is very basic functionality to implement, I would have never thought functionality like this is still missing from the realm, Also I don't think it is a very much time-consuming thing to implement.

[2020-10-28 21:28] sudhanshugaur4 commented on #7155
@rorbech and what is the time complexity for `max()` If the field is not indexed? Is it still not of O(n)?

[2020-10-28 22:05] nirinchev commented on #7155
Are you experiencing issues due to the asymptotic performance of `findFirst` on a sorted collection - what are the query times you're seeing? And if so, why is adding an index not an option? While I don't question the performance gain of reducing a O(nlogn) operation to O(n), it hasn't been a big enough problem for users and there have been more meaningful areas we can focus on. The good news is t

[2020-10-28 23:06] sudhanshugaur4 commented on #7155
@nirinchev I am not adding index as it is not a good option to index every field and currently I am already indexing fields which I am performing most of my query on, I need to find the maximum on a field that's why I thought why waste index on a field which I am only querying at only one place. Also can you please tell me `is the time complexity for max() If the field is not indexed? Is it still

[2020-10-29 08:25] iwo commented on #6925
@rorbech unfortunately so far we're not able to figure out what's causing this issue.

High level informations that we have:
- For most users it happens only once: Total occurrences - 1.29K, Impacted users - 1.27K
- It's affecting mostly users running Android 10 and 9. We got couple reports for Android 11 and 8.1 but none for older Android versions.

[2020-10-29 08:38] iwo commented on #7057
@cmelchior we're getting similar crash on 7.0.8. So far we received multiple reports but all from one user.

[code]

[2020-10-29 09:28] jedelbo commented on #7155
If you run max() on a query then the performance is O(n). But this was not how you put the question in the first place. If you run a query and then subsequently sort the result, the the performance is O(n m log m), where n is the table size and m is the match count.

[2020-10-29 09:42] rorbech commented on #7171
The issue might be related to some objects getting out of scope, but I cannot immediately reproduce from the details you have provided. The issue might be in the details of the query, etc, though. Are you able to narrow the scope by variating the query, ensuring that realms are closed when leaving your view, etc.

[2020-10-29 09:58] VicMikhailau commented on #7171
@rorbech All instances of Realm closes after leaving the screen. But the top screen Instance always exists (MainActivity).

The Query looks like:

[code]

[2020-10-29 11:45] jedelbo commented on #7171
This has been fixed by https://github.com/realm/realm-core/pull/4007. Not released yet.

[2020-10-29 12:25] VicMikhailau commented on #7171
@rorbech @jedelbo Many thanks.
Checked. Cause - Case.INSENSITIVE.

I will be waiting for future releases with a fix.

[2020-10-29 13:56] sudhanshugaur4 commented on #7155
@jedelbo So according to you the query `realm.where(MyClass.class).sort("time").findFirst()` performance is O(n*m*log(m)) and as m=1(match count) so performance is O(n*1*log(1)) = O(n), am I correct ?

[2020-10-30 08:16] sdex opened #7174 "Realm (7.0.8) crashes when iterates through RealmResults (Key not found)"
#### Goal
Keep a collection as a class field in looper thread and iterate through it periodically.

#### Actual Results
Crash.

#### Steps & Code to Reproduce
1. Keep `RealmResults<Item> items` as a field in the android Service class.
2. Iterate through the collection using for:
`for (Item item : items)`
3. The app crashes for some users.
My best guess is that the collection was being modified at

[2020-10-30 09:18] rorbech commented on #7174
The unrolled stack trace is (assuming it is `arm64_v8a` based on the strack trace):
[code]

- Can you confirm that you are using encryption?
- Can you reproduce it locally?
- Is it a temporal issue or does it persist once experienced?
- Maybe give some details about the actual query?

[2020-10-30 09:32] sdex commented on #7174
- Can you confirm that you are using encryption?
I do not.

- Can you reproduce it locally?
No.

- Is it a temporal issue or does it persist once experienced?
This one seems persisted, but rarely reproducible.

- Maybe give some details about the actual query?
[code]

Also, some additional info may be found in issue #7145, which I've reported some time ago from **the same app build**.

[2020-10-30 10:40] sarlia197 commented on #6570
Sorry to reopen the topic. We are having the same issue with an Android TV 10 device (I cannot disclose the name). The app is also a preinstalled one with system privileges.

We are on al old version of Realm but I have tried with 5.15.0 and the issue is still present. Is there any other fix I could try?

Regards

[2020-10-30 12:27] rorbech commented on #7174
The stack trace indeed have similarities with #7145, but from the use case it seems a bit different. I am not immediately able to reproduce by iterating the result in a background thread on changes (both insert and deletion) with:
[code]

[2020-10-30 12:31] rorbech commented on #7174
Any chance of getting hold of the realm files exhibiting this behavior?

[2020-10-30 13:20] pvsilvestrin opened #7175 "Realm (10.0.0) crash after Unrecoverable error. mmap() failed: Out of memory size:"
#### Goal
A weird crash is happening after I updated the app with Realm 10.0.0.

#### Actual Results
I don't know why, but firebase crashlytics is not detecting this crash so I do not have a good stack trace. This is the only trace I have from the crash that is from google play console vitals:

`backtrace:
  #00  pc 000000000001a41a  /system/lib/libc.so (abort+63)
  #00  pc 000000000020acf7  /data

[2020-10-30 13:46] jd565 opened #7176 "Unhelpful exception when calling toFlow on an invalid RealmResults"
#### Goal
Exception or error should not be thrown, or have information about what has gone wrong

#### Actual Results
Exception from CallbackFlowBuilder:
    java.lang.IllegalStateException: 'awaitClose { yourCallbackOrListener.cancel() }' should be used in the end of callbackFlow block.
    Otherwise, a callback/listener may leak in case of external cancellation.
    See callbackFlow API document

[2020-10-30 13:52] jd565 commented on #7176
In my case the realm is being closed before the flow callback is started so the results are invalid

[2020-10-30 14:45] rorbech commented on #7176
Yes, seems like there is an internal `callbackFlow`-check that we haven't been hitting in our test. We actually don't leak any callback as they are not subscripted on this case, but we should of course emit a more appropriate error. We will take it into consideration along with #7164 and #7165. Thanks!

[2020-10-31 10:29] rubnov commented on #6733
Our app runs for extended periods in the background, and keeps a single realm instance (that of the main thread) alive all the time. Is this the cause of the bloating up of the database? If so - it is a serious design flaw in Realm library.

Why is keeping a Realm instance in memory causing the Realm database file to grow indefinitely and disproportionally? Is this caused by the "versioning" of Re

[2020-10-31 12:15] edualonso opened #7177 "Synced Realms - queries from UI thread are not allowed by default."
`SyncConfiguration.Builder.isAllowQueriesOnUiThread` does not default to true, which means running synced realm queries from the main thread will throw an exception.

[2020-10-31 16:03] nhachicha opened #7179 "Support JDK9"
Currently compiling with JDK9 on macOS fails

[code]

[code]

Specifying JDK8 explicitly alleviate the issue
[code]

Document or support this behaviour

[2020-11-02 13:12] sdex commented on #7174
@rorbech I may have jumped to conclusions and the crash is not so persisted as I thought.
Anyway, I don't have the database file.

One more report from `Huawei P30 Pro, Android 10 (SDK 29)`:

[code]

[2020-11-02 14:40] zeeshanrasool91 commented on #7113
Perfectly worked

[2020-11-02 14:40] #7113 closed

[2020-11-03 09:00] jedelbo commented on #7155
Sorry - I was mistaken about the way Java maps the queries onto the Core functionality. Unfortunately your query ends up sorting all elements in the table - so O(n log n). If you goal is just to find the object with the lowest timestamp, then there should be a `RealmQuery.minimumDate()` with O(n) performance.

[2020-11-03 13:09] sudhanshugaur4 commented on #7155
@jedelbo Yes I know and thanks for telling, actually I want other fields too at minimumDate that's why I cannot only use `RealmQuery.minimumDate() `.

[2020-11-03 14:03] cmelchior commented on #7163
@datikaa Thank you for the feedback.  I have created some issues based on it: #7164 and #7165 and hopefully you also got answers to your question. So I'll close this issue now. Feel free to reopen if you still think there are outstanding issues

[2020-11-03 14:03] #7163 closed

[2020-11-04 08:05] rorbech commented on #7168
I guess it would be significantly easier to make the threading/dispatcher right if we postponed doing the actual query/result until collecting the flow by offering a method that takes the query like
[code]
Which could be called like this
[code]

[2020-11-04 09:45] jedelbo commented on #7174
Seems to be another instance of memory mapping problem. Assigning to @finnschiermer

[2020-11-04 09:54] jedelbo commented on #7145
Seems to be another instance of memory mapping problem. Assigning to @finnschiermer

[2020-11-04 10:23] jedelbo commented on #6992
@GaelCO would you be able to share a realm file that exhibits this behavior? You can send it privately to jorgen.edelbo@mongodb.com.

[2020-11-04 10:35] #7177 closed

[2020-11-04 10:45] sarlia197 commented on #6670
Is there any solution for this error?
We are also facing this error in a new Android TV 10 device. For us the error is systematic. We were using Realm in older devices (Android TV N) without problem.

First we had an old Realm version but we have tried also with 5.15.0 and 7.0.8 and the error is still present.
io.realm.exceptions.RealmError: Unrecoverable error. Permission denied in /Users/cm/Real

[2020-11-05 06:07] iamgouravturka opened #7184 "apply plugin: 'realm-android' throw error: location: class ResultAdapterC:\project\DCUBE\git backup\task-manager-android\app\build\tmp\kapt3\stubs\debug\com\itm\da\taskmanager\adapters\ResultAdapter.java:29: error: cannot find symbol java.util.ArrayLi"
#### Goal
When apply realm throw debug folder error

#### Actual Results
C:\project\DCUBE\git backup\task-manager-android\app\build\tmp\kapt3\stubs\debug\com\itm\da\taskmanager\activities\HomeActivity.java:185: error: cannot find symbol
    java.util.ArrayList<AccountBaseResponse> users) {
                        ^
  symbol:   class AccountBaseResponse
  location: class HomeActivityC:\project\DCUB

[2020-11-05 07:29] cmelchior commented on #7184
It looks like a broken build cache or something similar. Your logs indicate that fundamental things like `ArrayList` isn't found, which is shipped as part of Android itself.

Your gradle setup looks fine from what I can tell. I would try with cleaning out all caches and do a full rebuild.

[2020-11-05 09:40] sync-by-unito[bot] opened #7185 "support openID credential for google authentication"

[2020-11-05 09:52] Mr-Ramzan opened #7186 "Objects can only be removed from inside a write transaction"
#### To remove an object from Realm
I want to remove An Object from the Realm using Kotlin.

#### Actual Results[Exception occurs]
       `E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.atomicskills.chatteach, PID: 3976
    java.lang.IllegalStateException: Objects can only be removed from inside a write transaction.
        at io.realm.RealmList.remove(RealmList.java:370)
        at com.

[2020-11-05 09:55] Mr-Ramzan commented on #7186
Further Clearance below is init code:
         `Realm.init(this)

            Realm.setDefaultConfiguration(RealmConfiguration.Builder()

                .deleteRealmIfMigrationNeeded()

                .build())`

[2020-11-05 10:22] cmelchior commented on #7186
Are you sure that is the correct code?

The error happens here:
[code]
Are you 100% you are not trying to delete things outside a write transaction there?

This code here is largely correct, although I would do this instead:

[code]

[2020-11-05 10:42] Mr-Ramzan commented on #7186
Thank you for the quickest response. I just find out that even if data is in an Arraylist that you got from Realm cannot be removed or altered outside the Transaction block.

              var realm = Realm.getDefaultInstance()
                realm.executeTransactionAsync {
                    item.users!!.remove(RoutingAppController.instance!!.currentUser?._key!!)
                }``

The above

[2020-11-05 10:57] cmelchior commented on #7186
Yes, all modifications to Realm data has to happen inside a write transaction in order to fulfill our ACID guarantees. Maybe this will help to understand it better?https://realm.io/docs/kotlin/latest/#writes

[2020-11-05 10:57] #7186 closed

[2020-11-05 12:47] cmelchior commented on #6733
It should be fine to keep Realms open on threads with Loopers, like the main thread. Those are automatically kept up to date. You can read more about that here: https://academy.realm.io/posts/threading-deep-dive/

So if you are experiencing bloat it must happen for some other reason.

Note, there are number of methods that can be used to debug things like this.

https://realm.io/docs/java/10.0.0/a

[2020-11-05 12:58] #7070 closed

[2020-11-05 16:46] GaelCO commented on #6992
Hi,

I send a file with this behavior. This file contains fake data.
I generate with the test project I share previously.
Besides, I am surprised that you do not reproduce the problem with it.

[realm.zip](https://github.com/realm/realm-java/files/5495706/realm.zip)

[2020-11-06 01:26] pvsilvestrin commented on #7175
After a lot of exploration I finally found the root cause of this error.

The first access in the app a good amount of data is downloaded and a bunch of writing realm transactions are performed. In devices with low ram memory, after some writing transactions, more than 300, realm throws this exception:

`
Caused by: io.realm.exceptions.RealmError: Unrecoverable error. mmap() failed: Out of memory

[2020-11-06 01:52] pvsilvestrin commented on #7175
Now I am working to avoid this mmap failed error and realized that the **number of active versions** are increasing every time a new `beginTransaction()` is called.
Based on this statement from realm documentation:

I suppose the number of active versions are increasing because of some query listeners active in another thread. Is it right? In other words, if I have one change listener active `Real

[2020-11-06 03:41] hoanganhtuan95ptit opened #7187 "Listen for change of data in background with realm (Realm + Flow + Clean Architecture + Background)"
#### Problem

I am working with **Realm** in **Clean Architecture**, I have a problem with listening for change of data in DB because my DB is handled in the **background thread**.

If I use the listener in the background an error is fired asking the listener to be handled in the looper.

#### Solution

Thankfully I have found a solution with **Flow**

Code Base

[code]

Code in Database

[code]

[2020-11-06 04:20] iamgouravturka commented on #7184
I tried clean build, rebuild project, Invalidate Cache restart multiple of times also build this project on other machine but the problem is same looks like something wrong with annotationProcessor

[2020-11-06 07:32] cmelchior commented on #7184
Can you provide an example project that reproduces this?

[2020-11-06 07:40] iamgouravturka commented on #7184
yeah sure... Can u send me your email so i can send you invite

[2020-11-06 07:44] cmelchior commented on #7184
christian.melchior@mongodb.com

[2020-11-06 07:46] rubnov commented on #6733
OMG, I've just found out that Realm does not support **cascading deletes**. This means that when a `RealmObject` is deleted, all the objects related to it (e.g. within `RealmList` propereties) are NOT deleted ?!?!?

[2020-11-06 07:56] iamgouravturka commented on #7184
invite sent

[2020-11-06 07:57] cmelchior commented on #7187
I'm not sure if there is a question here, but yes, listening to changes require Looper because we need a point in time where we can advance the Realm without doing so in the middle of users running code.

This is most commonly the Main thread, but any Looper will do. `Dispatcher.Main` runs on the UI thread, which is why it works there.

Maybe this article can provide more light on it: https://acad

[2020-11-06 08:24] cmelchior commented on #7144
@AlexeiVoice Is there any new information you can share?

[2020-11-06 08:32] cmelchior commented on #7155
@sudhanshugaur4 I assume the above answered your question, so closing this issue. If not, feel free to reopen.

[2020-11-06 08:32] #7155 closed

[2020-11-06 08:35] cmelchior commented on #7158
This sounds like the same bug that was fixed here: https://github.com/realm/realm-core/blob/master/CHANGELOG.md#fixed-1

We will be making a 10.0.1 release shortly that should fix this.

[2020-11-06 10:12] GaelCO commented on #6992
Out of curiosity, I tried a "deleteAll". I have got an error too. It's not exactly the same (see the track).
After that, each deleteAll conclude to this error, but my other delete passed.
But, if I add new objects and clean it, I get the first error again. It looks like an index problem.
io.realm.exceptions.RealmError: Unrecoverable error. Key not found in /Users/cm/Realm/realm-java-release/realm/

[2020-11-06 10:23] AlexeiVoice commented on #7144
@cmelchior We've received 6 crash reports from 4 users for the last 2 weeks. Not the whole bunch of course, but still unfortunate. Those 2 users that had 2 crashes each, had them within a second interval. Not sure what what to make of it though. According to logs, devices aren't rooted and use stock firmware.
Unfortunately we weren't able to add a check to determine package install source out of t

[2020-11-06 11:21] cmelchior commented on #7158
Realm Java 10.0.1 has been released which I believe should fix this. If not, please reopen the issue.

[2020-11-06 11:21] #7158 closed

[2020-11-06 11:38] #7162 closed

[2020-11-06 11:39] cmelchior commented on #7162
Closing due to inactivity. Feel free to reopen if this is still an issue.

[2020-11-06 11:47] #7166 closed

[2020-11-06 11:55] cmelchior commented on #7167
@vaibhav2800 Can you provide more information about how often this error has happened and on which devices?

[2020-11-06 12:42] cmelchior commented on #7184
I found the problem. You have a number of files in `com.itm.da.taskmanager.rest.model` that are missing a correct package import statement. E.g add this to `AttachmentDTOS`

[code]

and similarly, for the error types, it cannot find.

This should fix the compiler errors.

[2020-11-06 12:43] #7184 closed

[2020-11-06 12:50] #6945 closed

[2020-11-06 12:51] #7065 closed

[2020-11-06 13:04] VicMikhailau commented on #7171
@rorbech @cmelchior @jedelbo On new Realm version **10.0.1** crash don't reproduce now.
Many thanks!

[2020-11-06 13:04] #7171 closed

[2020-11-06 13:23] #7126 closed

[2020-11-06 15:30] ianpward commented on #6733
@rubnov 10.0 version of the SDKs contains an implementation of cascading deletes if you use embedded objects -
https://developer.mongodb.com/article/realm-database-cascading-deletes#cascading-deletes

[2020-11-06 16:03] #7157 closed

[2020-11-06 16:04] #7169 closed

[2020-11-06 21:24] rubnov commented on #6733
@ianpward I'm on Android. Are EmbeddedObjects also available in realm-plugin 10.0.0 for Java?

[2020-11-06 21:27] ianpward commented on #6733
Yes

[2020-11-09 08:31] jedelbo commented on #6992
I now have a good lead on this.

[2020-11-09 08:48] edualonso commented on #7151
This was caused due to unnecessarily using conversion to float with 10 decimals unnecessarily. It got fixed for the release of v10. Closing ticket.

[2020-11-09 08:48] #7151 closed

[2020-11-09 10:42] vaibhav2800 commented on #7167
@cmelchior I have observed this issue 3 times in 3 months . ( As I have that much data only )
OS :: Android 8.1

I have not seen this after reporting it, but would be better if can get root cause .

[2020-11-09 12:19] #6836 closed

[2020-11-09 18:28] BoD opened #7188 "Listener not called after delete, since 7.0.0"
#### Goal
I have a query on all objects of a specific entity, and a listener on it.

I'm deleting and inserting (in the same transaction) one object, on 6.1.0 my listener gets called, but not on 7.0.0. If I don't delete (just update), it works.

#### Actual Results
Listener not called

#### Steps & Code to Reproduce

Listener:
[code]

Delete/update:
[code]

My listener is kept in a reference (so k

[2020-11-09 20:50] fredpedersen opened #7189 "Cannot add primary key of ObjectId type in migration"
#### Goal
Migration to a primary key which is an ObjectId

#### Actual Results
schema.addPrimaryKey("_id");

Where _id is an ObjectId results in:

Illegal Argument: This field cannot be indexed - Only String/byte/short/int/long/boolean/Date fields are supported.

#### Version of Realm and tooling

Realm version(s): 10.0.1

Realm Sync feature enabled: Yes

[2020-11-10 01:23] 814k31 opened #7190 "Hyperlink broken in documentation"
https://realm.io/docs/kotlin/latest/#json

Hyperlink on the text `Realm.createObjectFromJson` brings you to a 404 page.

![Screen Shot 2020-11-10 at 9 23 18 am](https://user-images.githubusercontent.com/9160551/98615791-5ff48a80-2336-11eb-8c1a-b9051a3fcd68.png)

[2020-11-10 01:26] 814k31 commented on #7190
Also the other broken link demonstrated in the picture above for `Realm.createAllFromJson`

[2020-11-10 02:09] 814k31 commented on #7190
May as well just list all documentation errors here that I find...

https://realm.io/docs/kotlin/latest/#overriding-property-names

![Screen Shot 2020-11-10 at 10 07 59 am](https://user-images.githubusercontent.com/9160551/98618657-9df4ad00-233c-11eb-872b-ffc61b68a015.png)

I'm assuming the example here should be:

[code]

[2020-11-10 09:43] edualonso commented on #7188
Hi @BoD. We believe this issue is caused by the way change listener notifications are triggered. If the notification token on a particular object is removed and replaced by another object (even in the same transaction, which is your case here), then the notification won't fire for the new object. I cannot give you an estimate on when it will be fixed, but I can see it's planned for Q4.

[2020-11-10 09:46] BoD commented on #7188
Thanks a lot for your reply.

This is troubling - on this particular case removing the deletion is acceptable (we have only one user object) but I'm afraid this will cause some unforeseen regressions in other places.

[2020-11-10 11:34] edualonso commented on #7188
Hi @BoD. If you really need to be notified about the two individual operations, you could split the transaction in two, one for the delete part and another for the insert part. I know it's far from optimal but at least it wouldn't break things elsewhere and it would fix your business logic problem until we have a fix for it.

[2020-11-10 13:29] edualonso commented on #7083
Closing due to inactivity. If the issue still persists please reopen.

[2020-11-10 13:29] #7083 closed

[2020-11-11 09:32] edualonso commented on #7189
Hi @fredpedersen. Thanks for the bug report. We have got a fix for this crash and will be shipped in v10.0.2.

[2020-11-11 17:19] CrandellWS commented on #6727
I updated from `6.x.x` to `10.0.1`

Everything seems to be working fine and that error went away

[2020-11-11 22:42] cherimo opened #7196 "Kotlin RecyclerView Sections with Realm"
As the title indicates, I am currently working on a RecycleView with a Alphabet letter and a seperate RecycleView with dates. I had some ideas but unfortunately not really bright ones.

Realm objects are immutable so I dont know if its performance wise to clone the objects and modify them, as I like the listener function with animation of the Realm adapter. That means that every update the data ne

[2020-11-12 09:36] edualonso opened #7197 "Fix emitCreateOrUpdateUsingJsonObject: proxies for classes with an ObjectId PK are wrongly processed in the annotation processor"
The current logic in `RealmProxyClassGenerator.emitCreateOrUpdateUsingJsonObject` typecasts a string hex key directly to `ObjectId`, which does not work. Instead, we should create a new `ObjectId` instance.

[2020-11-12 12:40] edualonso commented on #7189
We have merged the fix. It will be available for 10.0.2.

Closing ticket, please reopen if the issue is still present.

[2020-11-12 12:40] #7189 closed

[2020-11-12 17:53] edualonso opened #7200 "Flaky test: PushTest.registerDevice_twice"
Seen in https://ci.realm.io/blue/organizations/jenkins/realm%2Frealm-java/detail/PR-7198/4/tests

[2020-11-13 00:33] pvsilvestrin commented on #7175
some help here?

[2020-11-14 21:32] volo-droid commented on #1477
We're observing exactly the same in our project. Most of the issues are coming from Samsung S10+, on that device we had a spike of 286 crashes affecting 4 users within 4 days. For example, there're more than 70 crashes with the same opened pid 20925:

Time| PIDs
---|---
12 Nov 2020, 17:27:00|opened by pid: 20925. Current pid is 14901.
12 Nov 2020, 16:26:45|opened by pid: 20925. Current pid is 6094

[2020-11-15 00:39] Zhuinden commented on #1477
@volo-droid what is your Realm version, and what Realm version created the Realm file?

[2020-11-15 18:09] kevinjam commented on #4430
@gaara87 did you fix the issue ?
@beeender the issue is still repeating on the last version :6.0.2

[2020-11-16 00:28] volo-droid commented on #1477
@Zhuinden The current version is 7.0.2, but I'm not sure what version was used to create a Realm file. The whole Realm thing is encapsulated in an in-house SDK we use, I'd have to check with its maintainers. In the git blame I can see the following Realm versions 5.4.1 -> 6.1.0 -> 7.0.2

[2020-11-16 08:13] sync-by-unito[bot] opened #7201 "Disallow "deleteRealmIfMigrationNeeded" on synced realms"
Similar to https://github.com/realm/realm-js/pull/3245 and https://github.com/realm/realm-cocoa/pull/6931.

[2020-11-16 08:57] #7197 closed

[2020-11-16 09:43] philippeauriach opened #7202 "Updating realm causes Primary Key property class has duplicate values after migration"
## Goals
Update Realm version without making my app crash on update.

## Expected Results
No crash

## Actual Results
Realm cannot open (happened to 90% of users who made the update). The error is :
[code]

I should mention that I am not touching those classes, the primary keys are here for a long time (a few years) and working as expected.

By the way, it happens on iOS too (see https://github.co

[2020-11-16 10:48] clementetb commented on #7196
Sorry, but we are missing what exactly you like to achieve.

Is it to have a contact list sorted by contact name, show them grouped by the first contact name letter, and each group to have a header that shows that first letter?

[2020-11-16 11:06] clementetb commented on #7202
A part of the Realm library version upgrade, did you happen to do any schema change too? If so could you share the migration logic?

[2020-11-16 11:07] philippeauriach commented on #7202
I added two fields :
[code]

[2020-11-16 11:54] clementetb commented on #6733
@rubnov Were you able to fix the issue?

[2020-11-16 13:31] rubnov commented on #6733
It was the cascading delete issue indeed. The database was filling up with thousands of "zombie" objects - whose owner objects have been deleted with `deleteFromRealm()`.

I had to refactor all RealmObject subclasses and add a custom delete method `cascadeDelete()`, which deleted all embedded RealmObjects and RealmList relationships before call `this.deleteFromRealm()`.

So sad this feature was ov

[2020-11-16 13:39] sync-by-unito[bot] opened #7203 "Switch to using monorepo binary artifacts on CI"
The Java SDK builds realm-core as a source dependency via a submodule. For the sake of optimizing CI, it should switch to using the realm-core release artifacts. However, realm-core doesn't publish a non-sync build of the Object Store library, while the Java SDK needs both a sync and a non-sync variant, which is only obtainable by building realm-core from source.

We should improve the Java SDK's

[2020-11-16 13:40] arshak-kahnputers commented on #7100
I'm also facing similar issue on Samsung Galaxy Note 10+ with Android 10. Have faced this issue on some other devices as well.

The exception occurred on io.realm:realm-gradle-plugin:10.0.0. This has been happening on previous version of realm as well.

The app crashes without showing any warning or the line number pointing to the project files. I'm only getting the error message on Firebase Crash

[2020-11-16 14:26] ianpward commented on #6733
@rubnov Thanks for your feedback on this free and open-source database.

I'm not sure I understand your comment. Are you saying that with Embedded Objects, deleting parent objects is not cascading deletes?

[2020-11-16 17:22] KennyGoers opened #7204 "Unable to resolve dependencies not related to Realm when updating from 5.14.0 to any version higher"
#### Goal
To build Android project

#### Actual Results
Build Issue resolving third party libraries when using Realm version 5.15.0 or higher

#### Steps & Code to Reproduce
When removing or changing the realm version number for the plug-in (and thus the realm version itself) from any version below 5.15.0 to 5.15.0 or higher, including 10.0.1 I can no longer resolve a number of dependancies that r

[2020-11-16 21:56] gvmarozzi opened #7205 "OutOfMemoryError to get Big String"
I am getting OutOfMemoryError to access one attribute that contains a big string.

[code]

My ItemCardapio class.

[code]

Version realm = io.realm:realm-gradle-plugin:5.0.0
Version Android: 5.1

[2020-11-17 03:44] ianpward commented on #1205
Hey All, Product for Realm here, we are interested in doing some user research on full-text search for the Realm SDK. If you could help us answer some questions then we can look to add this to the product roadmap. If you could please email me at ian.ward@mongodb.com we can set up a time to quickly chat - this would be greatly appreciated.

[2020-11-17 07:25] clementetb commented on #7204
Hi Kenny, what are the dependencies that cannot be resolved? Could you please share some details of your Gradle config?

[2020-11-17 07:42] clementetb commented on #7205
You got that error because the app runs out of java heap memory, you got 0.29MB free by the time you fetch the string (0.5MB).

You might be catching instances of these big strings that are filling the heap, or it might be that you have a memory leak. Try using CanaryLeak and/or the Android Studio memory profiling tools to spot any of those.

[2020-11-17 11:38] #7164 closed

[2020-11-17 11:38] #7165 closed

[2020-11-17 12:19] clementetb commented on #6490
Closing this issue as query-based realms are no longer supported and due to inactivity.

[2020-11-17 12:19] #6490 closed

[2020-11-17 12:32] clementetb commented on #7144
@AlexeiVoice

Would it be possible to take a look at the manifest file?
Would it be possible to have access to the affected lock files? In case of a crash, could you fetch the file via crashlytics?
Could you share all the crash logs you got for this issue? We want to check what shared info version values you get.
Are there any particularities on your code that we should be aware of? Like, multi-pr

[2020-11-17 12:39] rubnov commented on #6733
@ianpward I have not integrated Realm v.10. It mandated too many changes to my code. Instead, I continue to use version 7 for now and added my own `cascadeDelete()` methods to RealmObject subclasses.

[2020-11-17 15:26] ianpward commented on #6733
I see - well I guess that's a decision that you only you, as the product manager of your app, can make. If you ever want us to handle cascading deletes for you - you can upgrade to v10

[2020-11-17 17:11] clementetb commented on #7202
How come you use a `<` char in the migration, aren't you following the [recommended pattern](https://realm.io/docs/java/latest/api/io/realm/RealmMigration.html)?

[2020-11-17 20:32] NeuronKarrde commented on #6503
Have the same issue on Huawei P20 lite(android 9). all other devices work fine.
Also If try create db without EncryptionKey, have issue Invalid mnemonic. top_ref[0]

[2020-11-18 00:32] rlatapy-luna opened #7209 "[Doc] executeTransactionAwait"
#### Goal
I'm facing some JNI errors like this one = `JNI DETECTED ERROR IN APPLICATION: JNI NewLocalRef called with pending exception kotlinx.coroutines.JobCancellationException: StandaloneCoroutine was cancelled'`
I suppose this is due to coroutine canceled while Realm is running a transaction. I just saw that there is an extension fun `executeTransactionAwait` to run transaction in a suspendabl

[2020-11-18 00:40] cherimo commented on #7196
@clementetb  My apologies if it was not clear what I meant. But your example is indeed correct.
I have a immutable list of realm objects sorted by name in ascending order.
I also use a Realm adapter so that adjustments/update are immediately visible.

Is there a way to achieve this?  Group them by the first contact letter and to have a header that shows the first letter?

Thank you in advance

[2020-11-18 00:48] #7209 closed

[2020-11-18 08:28] edualonso commented on #7209
@rlatapy-luna that's right. The transaction itself will not be cancelled when the job or scope are cancelled because the `executeTransactionAwait` suspend function calls `executeTransaction` internally, which does not support cancellation. However, if the job or scope are cancelled and your transaction is executing a code block like the one from the documentation, then you can make your transactio

[2020-11-18 08:48] philippeauriach commented on #7202
I didn't know about the recommended pattern, just kept adding migrations the following way :
[code]
Which, if I'm not mistaking or missing something, will perform the same thing as in the recommended pattern, just without having an incremented variable in each block?

Anyway, the primary key field was never modified wince the creation of the class (which was here at the beginning, before any migra

[2020-11-18 09:24] clementetb commented on #7196
You should avoid traversing all the items initially to calculate the headers. It is not efficient to hit all elements in your DB.

My recommendation is to create these headers on the fly. You like to insert one each time the current item has a different starting character than the previous one.

You could achieve this by either:
- using two ViewHolders, were you would need to keep track of the ind

[2020-11-18 09:35] rlatapy-luna commented on #7209
Yes I did it thanks. My issue was in my helper function which now use `executeTransactionAwait` + `isActive` (see below). I was trying to use `yield()` to make the transaction cooperative.
Btw, does the code below looks safe to you? I use it for every writes (I disabled `allowWritesOnUiThread` & `allowQueriesOnUiThread`). Of course if the transaction block contains a loop or many modification I wi

[2020-11-18 10:20] afaucogney commented on #6992
Same bug here. Is the realm-core fix already affect a Java release ? If not, what/when will be this released out (Sorry I do not have deep knowledge of or release process) ?

Thanks

[2020-11-18 11:31] edualonso commented on #7209
I think it is safe, yes. As long as you don't change context within `block` and use your Realm instance in this hypothetically new context everything should be fine - remember you still cannot pass Realm instances between different threads.

[2020-11-18 15:59] afaucogney commented on #6773
Is there any related issue with this : https://stackoverflow.com/a/55969995/2733216 ? They post upload of symbol will come back with NDK 22 when publishing an app in bundle format.
I saw that realm java is built with NDK 21.

[2020-11-18 16:09] afaucogney commented on #6773
I tried to achieve uploading symbol anyhow based on the @cmelchior script link. Here is the gradle code:

[code]

[2020-11-18 16:45] edualonso opened #7211 "Ensure flows are cooperative and stop emitting object updates once cancelled"
As reported in https://github.com/realm/realm-java/pull/7210 it is possible that a flow job is cancelled and the listener keeps emitting object updates. This could result in an `AbortFlowException`. To fix this we have to make the flow emissions cooperative.

[2020-11-19 18:10] cherimo commented on #7196
@clementetb  thank you for you answer, I looked up your 2 answers and the second one is the way I wanna go.
Is there any recent information about addItemDecoration, I find a lot of old deprecated functionalities and DeviderDecorations.

This is what I am trying to achieve.
[code]

And the Class is something like this
[code]

Thank you in advance

[2020-11-19 19:40] kzotin opened #7213 "Kapt build error after update from realm 7.0.8 to 10.1.0"
#### Goal
Hi,
I'd like to report an issue we're facing after updating realm-java to 10.0.1

#### Actual Results
Build fails for multi-module setup: realm models from **base** module can't be seen in **intermediate**-layer module during  **kapt** phase:
[code]

Our real setup is quite complex (60+ interdependent modules), but I succeeded to reproduce the issue in the simple project.

#### Steps & C

[2020-11-19 23:36] edualonso commented on #7200
Also here: https://ci.realm.io/blue/organizations/jenkins/realm%2Frealm-java/detail/PR-7212/2/tests

[2020-11-20 08:15] edualonso commented on #7200
And here: https://ci.realm.io/blue/organizations/jenkins/realm%2Frealm-java/detail/PR-7212/3/tests

[2020-11-20 08:24] edualonso commented on #7200
There seems to be an issue on the server-side of things: https://github.com/realm/realm-object-store/blob/master/tests/sync/app.cpp#L1734

[2020-11-20 10:13] astigsen opened #7214 "Make it possible to pass objects to async transactions"
Currently when you do an async transaction, you have to write a lot of boilerplate code to re-fetch the objects you want to use within the transaction. Since the transaction happens on a background thread, we cannot access the original thread-confined object, and even if we are dealing with frozen objects, we still have to get a live mutable version before we can update it.

 A common example:

[c

[2020-11-20 10:32] cmelchior commented on #7214
Agree, this would be pretty useful. I have been thinking about something in similar lines.

[2020-11-20 13:09] sync-by-unito[bot] opened #7215 "Implement Migration Backup"
API TBD
For Non-sync Realms only

[2020-11-20 14:30] Jeff11 opened #7216 "Add @Nullable annotation to input parameter in RealmObject.isValid(obj)"
Calling `RealmObject.isValid(item)` from Kotlin can give a nullability mismatch warning, if the item is nullable. Although the function can consume null.

[2020-11-23 05:31] tejas-n opened #7217 "App crashes with "JNI ERROR (app bug): local reference table overflow (max=512)""
Hello, we noticed our app crashing with **"JNI ERROR (app bug): local reference table overflow (max=512)"**. This doesn't happen frequently though and unfortunately, we don't know how to reproduce that yet. Can you tell us what might be happening, please?

#### Version of Realm and tooling

Realm version(s): 10.0.1

Realm Sync feature enabled: Yes

Android Studio version: 4.1.1

Android Build Tool

[2020-11-23 12:42] cmelchior commented on #7201
This is already not a valid option for Java.

[2020-11-23 12:42] #7201 closed

[2020-11-23 13:10] #7211 closed

[2020-11-24 01:41] nhachicha commented on #7217
Hi @tejas-n Thanks for the report.

I think this kind of exception happens when the JNI table is filled with local [references](https://developer.android.com/training/articles/perf-jni.html#local_and_global_references). Since the stack trace is showing a crash within `send_request_to_server` we probably need to actively close the `jstring` allocated  in the `CallObjectMethod` call https://github.c

[2020-11-24 11:48] sync-by-unito[bot] opened #7218 "Migrate to Github Actions"
Start the migration to Github Actions.

Also see https://github.com/fealebenpae/realm-core/pull/1/files

[2020-11-24 22:37] nhachicha commented on #7213
Hi @kzotin Thanks for the repro project. Just double checking do you still experience this issue with the `10.1.0` release?

[2020-11-25 04:46] tejas-n commented on #7217
@nhachicha Cool, good to know that a similar issue has been fixed before. Thanks.

[2020-11-25 08:19] kzotin commented on #7213
Thanks, haven't noticed the update.

Issue is still reproduced with 10.1.0, updated project and build log:
https://github.com/kzotin/RealmBug/blob/main/assemble-10.1.0.log

Please also note that after failed build kapt locks build directory and `clean` can't be done second time (reproduced consistently).
If you run build second time you see following:
https://github.com/kzotin/RealmBug/blob/main/a

[2020-11-25 08:58] afaucogney commented on #6992
Any schedule for the next release ? At least an estimation would be nice.

[2020-11-25 15:54] andriy-svirskyy commented on #6925
### Realm 7.0.8

2020-11-25 13:25:08.593 19703-19755/? A/libc: Fatal signal 6 (SIGABRT), code -6 in tid 19755 (app)
2020-11-25 13:25:08.724 20898-20898/? A/DEBUG: *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** ***
2020-11-25 13:25:08.724 20898-20898/? A/DEBUG: Build fingerprint: 'HUAWEI/WAS-LX1/HWWAS-H:8.0.0/HUAWEIWAS-LX1/394(C432):user/release-keys'
2020-11-25 13:25:08.724 20898-2089

[2020-11-30 08:16] rorbech commented on #7187
Closing with no further action. Already supplied some documentation of behavior/requirements. Feel free to open if the issue persists or further clarification is needed.

[2020-11-30 08:16] #7187 closed

[2020-11-30 13:36] rorbech commented on #7205
Closing this as it most likely is related to memory usage patterns of the app itself and not related to Realm. Feel free to reopen if you gain more insight on the topic and and can provide at bit more information about the use case that points towards an issue related to Realm.

[2020-11-30 13:36] #7205 closed

[2020-11-30 13:41] nhachicha commented on #7213
Hi @kzotin I just released `10.1.1` this should fix the issue, could you give it a try, please?

[2020-11-30 13:43] rorbech commented on #7204
Closing due to lack of feedback. Maybe try to track the dependencies with `./gradlew dependencies` to see if any transitive dependencies triggers unforeseen constraints in the version of the unresolvable dependencies.

Feel free to reopen with the appropriate information, ex. the above trace, if the issue persists.

[2020-11-30 13:43] #7204 closed

[2020-11-30 13:51] rorbech commented on #7196
@cherimo We try to keep GitHub issues only for bugs or feature requests. This sounds more like a question around how to use RecyclerView than actual Realm issue/behavior. Maybe try posting your questions on Stack Overflow.

[2020-11-30 13:51] #7196 closed

[2020-11-30 14:02] #6733 closed

[2020-11-30 14:14] arshak-kahnputers opened #7221 "Fatal Exception: io.realm.exceptions.RealmError: Unrecoverable error. transaction_ended Exception backtrace: <backtrace not supported on this platform> in /tmp/realm-java/realm/realm-library/src/main/cpp/io_realm_internal_OsResults.cpp line 492"
#### Goal
Android app with latest realm (10.0.1) & even older version crashes with the error mentioned in the stack trace provided by Firebase Crashlytics. I thought the latest version might have fixed this issue. Also, the crash doesn't point to any of the files related to the project and I'm unable to reproduce this issue.

#### Actual Results
Stack trace provided by Firebase Crashlytics:

Fatal

[2020-11-30 14:18] rorbech commented on #6992
@afaucogney Sorry for not updating the issue. The fix is included from 10.1.0 from November 23th. Any feedback on the fix is most appreciated.

[2020-11-30 16:30] afaucogney commented on #6992
Thanks @rorbech. I had no plan to just upgrade to 10 just because of the issue ?
Is there any plan to also fix in 7.x ?
BTW, is there any issue when upgrading to 10x, I always experience some difficulties when upgrading Realm version, tbh !

[2020-12-01 07:01] andersfredlund commented on #6378
Most likely same error here, Huawei HUAWEI P smart+ 2019 Android 10 (SDK 29). Repeated crashes from one user.

io.realm.exceptions.RealmError:
  at io.realm.internal.OsSharedRealm.nativeGetSharedRealm (OsSharedRealm.java)
  at io.realm.internal.OsSharedRealm.<init> (OsSharedRealm.java:171)
  at io.realm.internal.OsSharedRealm.getInstance (OsSharedRealm.java:241)
  at io.realm.internal.OsSharedReal

[2020-12-01 07:10] andersfredlund opened #7223 "Unrecoverable error. Permission denied on Huawei still happens"
https://github.com/realm/realm-core/issues/3204 should be fixed but using 7.0.8 I still see this issue in Crash logs in Google Console
Huawei HUAWEI P smart+ 2019   Android 10 (SDK 29)

io.realm.exceptions.RealmError:
  at io.realm.internal.OsSharedRealm.nativeGetSharedRealm (OsSharedRealm.java)
  at io.realm.internal.OsSharedRealm.<init> (OsSharedRealm.java:171)
  at io.realm.internal.OsSharedRea

[2020-12-01 07:48] kzotin commented on #7213
Hi @nhachicha,
It fixed the current sample project but doesn't fix our production app.

Succeeded to isolate the case - it happens when you add **RealmList**<YourModel>.
Sample project was updated.

[2020-12-01 12:40] rorbech commented on #7221
Thanks for the report. I don't have an immediate explanation for this, so I will have to investigate a bit to answer it properly.

[2020-12-01 17:24] rorbech commented on #7175
@pvsilvestrin Listeners will automatically be advanced to the latest version if you are listening on a thread with a looper and not blocking the thread. So the most important thing is to ensure that you end transactions and close realms after accessing them.

In 10.0.0 we introduced the `maxNumberOfActiveVersions` configuration option that will trigger assertions if the selected number of version

[2020-12-02 08:53] vaibhav2800 opened #7224 "Realm Instances memory leak check"
I am using Realm DB (Both local and ROS ) in my project . Now I am facing issue of High Database file size. it seems issue of memory leaks in project since Project is old and having large use of Realm , it is difficult to check every realm instance individually .
I have checked instances for Local Realm **Global Realm Count - 3 , Local Realm Count - 192**  by using Realm.getGlobalInstanceCount &&

[2020-12-02 09:04] rorbech commented on #7223
Can you provide a bit more information:
- Is it a fresh install with 7.0.8 or are you upgrading from previous versions? and if so, which versions are you upgrading from?
- Are you only seeing it on this device?
- Is it persistent or only single reports?
- Are you using encryption?
- Where do you store the Realms?

[2020-12-02 09:29] rorbech commented on #7224
The root cause of unexpected huge Realm size is usually that the Realm files are not closed after accessing them. This can cause a need to keep a lot of versions. Maybe read through https://realm.io/docs/java/latest/#faq-large-realm-file-size

Given you high instance count, you also might want to read through https://realm.io/docs/java/latest/#realm-instance-lifecycle and https://realm.io/docs/jav

[2020-12-02 09:37] andersfredlund commented on #7223
I'm not sure if it is a clean installation or not because I just got this crash from Google Play from one of our users. Although this is on our open beta so I think it is likely the user has used our app before and doing an upgrade from maybe 7.0.4 or 6.1.0 or older. This is currently only seen on this device and it is persistent, I have 20 crashes from this user.  We use encryption and Realm is s

[2020-12-02 09:47] cmelchior commented on #7223
It is is an old installation and they are hit by the old bug, upgrading unfortunately doesn't fix it as the filepermissions would still be wrong. We tried to describe here some workarounds you can consider: https://realm.io/docs/java/latest/#huawei-permission-denied. Unfortunately, all of them require a little bit of manual work.

[2020-12-02 09:54] andersfredlund commented on #7223
We switched to 6.0 a year ago so if they haven't used our app for so long then they are not a user we will put too much effort on. Thanks for the quick and prompt reply!

[2020-12-02 09:56] qmetzler-luna opened #7226 "Lateinit fields need migration when upgrading kotlin gradle plugin to version 1.4.20"
#### Goal
Ugrade kotlin-gradle-plugin from version 1.4.10 to 1.4.20

#### Actual Results
Realm migration is needed for lateinit fields as they become optional

#### Steps & Code to Reproduce
Have a realm object in your db with a lateinit
[code]
Switch kotlin-gradle-plugin version from 1.4.10 to 1.4.20. Realm needs a migration as Property 'MyObject.test' has been made optional.
#### Version of Real

[2020-12-02 10:20] cmelchior commented on #7226
If I remember correctly, this is a change in the underlying bytecode emitted by Kotlin. Until we can figure out a fix on our end, it should be possible to work around it by manually adding the `@Required` annotation.

[2020-12-02 10:34] qmetzler-luna commented on #7226
Thanks for the info! That's what we're doing in the meantime 😉

[2020-12-02 14:21] rorbech opened #7228 "In and oneOf for binary fields"
Seems like `RealmQuery.in` and the extension method `RealmQuery.oneOf` is not implemented for binary fields (`byte[]/ByteArray`).

As far as I can see we could just add methods similar to the other types
[code]
And the extension method
[code]

[2020-12-02 15:59] nhachicha commented on #7213
Hi @kzotin can you try the new Snapshot release `10.1.2-SNAPSHOT` if it works I'll do a release shortly with the fix
Don't forget to add the OJO repo bellow
[code]
https://github.com/realm/realm-java#using-snapshots

[2020-12-02 16:19] kzotin commented on #7213
@nhachicha works well, thank you!
`BUILD SUCCESSFUL`

[2020-12-02 18:01] nhachicha commented on #7213
@kzotin `10.1.2` is released.

[2020-12-02 18:01] #7213 closed

[2020-12-03 06:45] vaibhav2800 commented on #7224
I am already using compactOnLaunch() which is not showing any effect even though it is written in application's onCreate()(I suppose no instance is open at that level).
Will Compacting Realm work even if 1 realm instance is open ?
Any Suggestions ?

[2020-12-03 09:14] rorbech commented on #7224
Compacting will not work if any instance is open and will also not work if there is not enough free storage space to make a copy of the file. You can check the return value of explicit calls to [`compactRealm`](https://realm.io/docs/java/10.0.1/api/io/realm/Realm.html#compactRealm-io.realm.RealmConfiguration-) to see if it succeeded.

If always using `compactOnLaunch()` on the configuration it sho

[2020-12-03 09:39] vaibhav2800 commented on #7224
I have used [DefaultCompactOnLaunchCallback()](https://realm.io/docs/java/latest/api/io/realm/DefaultCompactOnLaunchCallback.html) whose limit is 50MB which is ok with me , so the cause of failure of this method would be low space in device right ?

So there are 2 scenario in which [compactOnLaunch()](https://realm.io/docs/java/latest/api/io/realm/RealmConfiguration.Builder.html#compactOnLaunch--)

[2020-12-03 09:53] rorbech commented on #7224
Right. But the default callback is also not triggering unless _"more than 50% can be reclaimed"_.

[2020-12-03 10:22] rorbech commented on #7167
I cannot find a valid path for emitting the error you have observed given the model and query you have provided. Please push any new observations or ideally the Realm-file exhibiting this our way.

[2020-12-03 11:40] rorbech commented on #7202
@jedelbo Any thoughts on this? Could this be a result of any underlying upgrade in core? Also reported in https://github.com/realm/realm-cocoa/issues/6941

[2020-12-03 12:05] Jeff11 commented on #6992
I can't find it in the changelog of 10.1.0, @rorbech, @clementetb.

Has someone already updated to 10.1.x and noticed an improvement?

[2020-12-03 12:41] rorbech commented on #6992
@Jeff11 Sorry. The core fixes seems to have slipped from the change log. The fix (https://github.com/realm/realm-core/pull/4051) was included by the upgrade to Core 10.1.3.

[2020-12-03 13:28] jpedretti-ciandt opened #7229 "Android App crashes on start up (Java_io_realm_internal_OsSharedRealm_nativeGetSharedRealm+132)"
#### Goal
The app starts up correctly.

#### Actual Results
The app crashes as soon as it is launched

*** *** *** *** *** *** *** *** *** *** *** *** *** *** *** ***
pid: 0, tid: 0 >>> com.abi.bees.us <<<

backtrace:
  #00  pc 000000000007f348  /apex/com.android.runtime/lib64/bionic/libc.so (__memcpy+312)
  #00  pc 000000000012df98  /data/app/com.abi.bees.us-qWInO7aKrB-9eVHuDm_Abg==/lib/arm64/lib

[2020-12-03 18:12] rorbech commented on #7229
@jpedretti-ciandt I am not able to unroll the stack traces to see the symbols from our code. Do you have more context around it to meet something unrollable as described in https://developer.android.com/ndk/guides/ndk-stack

[2020-12-04 08:30] shajiangteng opened #7231 "io.realm.exceptions.RealmError: Unrecoverable error. mmap() failed (size: 1048576, offset: 0:"
realm version 6.1.0
io.realm.exceptions.RealmError: Unrecoverable error. mmap() failed (size: 1048576, offset: 0: Operation not permitted in /Users/cm/Realm/realm-java-release/realm/realm-library/src/main/cpp/io_realm_internal_OsSharedRealm.cpp line 144
	at io.realm.internal.OsSharedRealm.nativeCommitTransaction(Native Method)
	at io.realm.internal.OsSharedRealm.commitTransaction(OsSharedRealm.jav

[2020-12-04 08:43] rorbech commented on #7231
@shajiangteng Please fill out the details asked in our template when filing an issue. This helps us understand and reply to your request.

Besides describing some more details about when and how often this happens, please also provide information about:
- The devices where this is experienced
- Where you store the Realms
- Whether you are using encryption

You can find the template for filing issu

[2020-12-04 09:48] vaibhav2800 commented on #7167
As i do not have new data and not encountered this error for some time. closing it.

[2020-12-04 09:48] #7167 closed

[2020-12-04 10:46] jedelbo commented on #6992
Assume this has been solved

[2020-12-04 12:16] lukluca commented on #967
+1

[2020-12-04 13:10] Diederikjh opened #7233 "Crash on `not` before empty expression group"
#### Goal
I had a bug in my realm query that generated an empty `beginGroup` and `endGroup` pair.

#### Actual Results
[code]

#### Steps & Code to Reproduce
This code snippet seems to reproduce it reliably.

[code]

Note empty group, and `not` seems to trigger this.  Realm config is all default with `inMemory` set in this case, but happens for on disk realm as well.

#### Version of Realm and too

[2020-12-04 14:22] rorbech commented on #7233
Thanks for the report. I have added tests for it to merge once we have a fix.

[2020-12-04 16:03] fadzlitown commented on #6418
Any update? Happening similar issue.

com.getkeepsafe.relinker.MissingLibraryException: librealm-jni.dylib

[2020-12-07 02:49] SteveKamau72 commented on #3925
You could try:

`Collections.reverse(myRealmModelRealmResults);`

[2020-12-07 09:24] #7086 closed

[2020-12-07 11:11] jedelbo commented on #7202
This is strange. First of all I cannot figure out why the uniqueness is even checked while there is no change in primary key column. There are clearly some parts of the picture missing. @philippeauriach could you by any chance share a sample file produced by the version that worked (v7.0.0?). Looking at the schema in more detail might give us a hint what might go wrong. You can send the file to jo

[2020-12-07 11:15] philippeauriach commented on #7202
What do you mean by a sample file? A sample realm file? I'm not sure I can get one as I did not manage to reproduce on my end.

(for info, since then I added a new migration which just wipe the database, which forces users to login and then data came back with my synchronisation service).

[2020-12-07 12:29] jedelbo commented on #7202
Yes, a sample realm file. It does not need to be one that actually reproduces the error. It would be optimal to get the file as produced by v7.0.0 and also after upgrading to v7.0.8.

[2020-12-07 12:47] jpedretti-ciandt commented on #7229
Hi. I tried many different things but I also couldn't get anything different. The thing is that We aren't able to reproduce it, the only log we have are from the google play console. We're thinking about updating to the last Gradle version that can generate a zip with NDK with debug symbols to try to get a better view of the problem.

[2020-12-08 06:41] vaibhav2800 commented on #7224
It still does not work. Condition for compactOnLaunch() is **more that 10% can be reclaimed** && all instances are close.
Still it shows Global count 1 and Local count : 70 .
How can I debug this as all the local instances are close in code but still local count is so high ?

[2020-12-08 09:29] rorbech commented on #7200
Also observed on https://ci.realm.io/blue/organizations/jenkins/realm%2Frealm-java/detail/PR-7232/8/pipeline

[2020-12-08 10:11] rorbech opened #7236 "Flaky test: RealmObjectSchemaTests.getFieldIndex"
https://ci.realm.io/blue/organizations/jenkins/realm%2Frealm-java/detail/PR-7232/6/tests

Test app is crashing, but do not assume that there is any way of fetching the tombstone from the emulator running in the docker image 😞

[2020-12-08 12:43] #7217 closed

[2020-12-08 14:24] DevHachi opened #7237 "Clash on Update when Migration is needed"
#### Goal
Run Migration

#### Actual Results
Fatal Exception: java.lang.RuntimeException: Unable to resume activity {de.telekom.intern.infomapp/de.quimron.yoomind.connect.MainActivity}: io.realm.exceptions.RealmMigrationNeededException: Migration is required due to the following errors:
- Property 'dbAppProfile.subscribedTemplates' has been made optional.
- Property 'dbCollection.articleIds' has b

[2020-12-08 15:13] cmelchior opened #7238 "Reenable tests for MongoCollection.findOneAndUpdate"
* findOneAndUpdate_noUpdates
* findOneAndReplace_noUpdates
* findOneAndUpdate_emptyCollection
* findOneAndReplace_noUpsert

All seem to fail due to a bug on the server. This was discovered when bumping to the `2020-12-08` server image.

The above tests have been disabled until this has been fixed. So this issue is mostly to remember to re-enable them.

[2020-12-09 08:38] cmelchior opened #7239 "MongoClientTest.watchError no longer times out"
https://github.com/realm/realm-java/pull/7225/files#diff-1da29b2bd378c63c1aadb00ca95051a3c0aeee22ed5ed7cb2750c81e7ae4deb0L1351 no longer times out after 60 seconds.

We need to figure out another way to test error events from watch.

[2020-12-09 08:44] gopi-krishna-1086 opened #7240 "Exception backtrace : backtrace not supported on this platform"
Facing with this Issue since two days. This error uppears when it creating the background thread. Any Soluion provided will be appreciated.

E/REALM_JNI: jni: ThrowingException 8, Column name too long
    Exception backtrace:
    <backtrace not supported on this platform>, .
    Exception has been thrown: Column name too long
    Exception backtrace:
    <backtrace not supported on this platform>

[2020-12-09 09:22] cmelchior commented on #7185
Fixed by https://github.com/realm/realm-java/pull/7225

[2020-12-09 09:22] #7185 closed

[2020-12-09 09:25] #7080 closed

[2020-12-09 10:23] DevHachi commented on #7237
I have found the problem why I had differernt errors on debug and release. Sorry was not your problem.
For all others who may have run into a similar problem.
The problem was that my latest QA Version was before the rollout of my last Prod Release.
Old QA Version: `var subscribedTemplates: RealmList<Int> = RealmList()`
Old Prod Version: `@Required var subscribedTemplates: RealmList<Int> = RealmLis

[2020-12-09 10:23] #7237 closed

[2020-12-09 13:03] jpedretti-ciandt commented on #7229
I just noticed the ' wrapping the logs, probably because of a failed formatting. I don't know if it can cause any issues, but I removed them.

[2020-12-09 18:08] joseffilzmaier opened #7242 "java.lang.IllegalStateException: Only valid, managed RealmLists can be frozen"
#### Goal
I was using Kotlin Flow with the default InternalFlowFactory(returnFrozenObjects = true). I have a coroutine launched by the viewLifeCycleScope of a fragment. Inside that lifecycle i have a realm query and create a flow from it that updates the UI. I would suspect i can safely delete the object where the flow is attached to.

#### Actual Results
Upon deletion the app crashes. There is no

[2020-12-09 18:11] cmelchior commented on #7242
@joseffilzmaier It is a bit unclear exactly what you are doing inside the flow. Can you post the relevant code?

E.g this

Seems to indicate you are doing more than just listening to them?

[2020-12-09 18:17] joseffilzmaier commented on #7242
I do some more things, but the Flow Transformations seem unrelated to the crash. I also get the crash using the following minimal example:

`device.properties` is a managed RealmList<>().

[code]
Upon deletion of the device object (which has a properties RealmList member) i do get the crash.

[2020-12-09 18:22] cmelchior commented on #7242
Hmm, thank you. Yeah, that looks like a bug on our end. I suspect the last event in the change listener is an invalid list (since the parent was deleted), and that cannot be frozen for obvious reasons.

I'm a bit uncertain what the expected behavior downstream should be. We could turn it into a `null` value, but that would affect the signature of the entire stream and might be annoying, or we coul

[2020-12-09 18:42] joseffilzmaier commented on #7242
In this case i would just expect it not to crash, as the whole activity is finished after device deletion - so the swallow and terminate option would fit in this example.
I currently don't know of other situations where the null value could be useful and yes I would agree that the change of the signature would be annoying.

[2020-12-10 09:25] sdex commented on #7174
Hello.
Does `10.2.0` release include a fix for this issue?

[2020-12-10 11:56] sync-by-unito[bot] opened #7244 "Set - 23: Test sync works against Cloud"

[2020-12-10 12:13] sync-by-unito[bot] opened #7245 "Mixed: Test sync works against Cloud"

[2020-12-10 12:15] sync-by-unito[bot] opened #7246 "Mixed: Test sync works against Cloud"

[2020-12-10 12:16] sync-by-unito[bot] opened #7247 "Dictionary: Test sync works against Cloud"

[2020-12-10 12:21] cmelchior commented on #5727
Realm Kotlin is indeed on our roadmap and we have been working on it for a while. It is going to be a Kotlin SDK targeting Kotlin Multiplatform and Android. It can be found in the new Realm Kotlin repo we just open-sourced: https://github.com/realm/realm-kotlin

The project is still in very early stages, so nothing has been finalized yet. But we encourage any feedback you might have regarding the

[2020-12-10 12:21] #5727 closed

[2020-12-11 09:33] saecmca commented on #2162
Hi, anyone help me to store the json file to model class using Realm, this is the module project. I have created simple Application its working fine but if using module project it wont work
//Model class
open class Sample(
        var test1: String,
        var test2: String,
        var test3: String
): RealmObject()

//sample json
val json = """
            {
            "test":"test",

[2020-12-14 08:15] edualonso commented on #7240
Hi @gopi-krishna-1086
The error you are posting suggests you are using a name that is too long for the respective column: `java.lang.IllegalStateException: Column name too long`. Valid column names can contain up to 63 characters.

[2020-12-14 08:15] #7240 closed

[2020-12-14 13:14] Masaki-U commented on #6418
My Issue Resolved!

In my case, The cause is a library conflict.

https://github.com/google/conscrypt

<img width="1032" alt="スクリーンショット 2020-12-14 22 05 12" src="https://user-images.githubusercontent.com/42033804/102084716-ea11a080-3e58-11eb-9975-c9ac0c5abefb.png">

[2020-12-14 13:41] edualonso commented on #7224
The global count represents
[code]
So having it at 1 is a good sign.

The local count represents
[code]
Having the local count at 70 is a smell that points to not having closed those instances correctly when they are no longer needed.

There is no silver bullet to debug a scenario in which one has so many open instances. As @rorbech pointed out above, you should handle the opening/closing of insta

[2020-12-14 16:22] GaelCO commented on #6992
That's not fixed the data corruption. With version 10.2.0, a crash occurs as soon as I touch the database.
2020-12-14 17:22:01.365 5818-7380/com.gco.realmtest E/REALM_JNI: jni: ThrowingException 5, No such object in /tmp/realm-java/realm/realm-library/src/main/cpp/io_realm_internal_OsSharedRealm.cpp line 106, .
2020-12-14 17:22:01.365 5818-7380/com.gco.realmtest E/REALM_JNI: Exception has been thr

[2020-12-15 09:08] edualonso commented on #6992
@GaelCO sorry to hear about this. When you say `a crash occurs as soon as I touch the database` is it when you obtain a Realm instance or when you run a query or a transaction? I will pass the info to the core team as soon as I hear from you.

[2020-12-15 09:11] edualonso commented on #7229
Hi @jpedretti-ciandt. Have you managed to obtain a native crash log that follows the standard mentioned above?

[2020-12-15 11:09] edualonso commented on #6992
According to the Core team the original problem reported in this ticket should be fixed in https://github.com/realm/realm-core/pull/4051 and was included in the latest Realm 10.1.3 release.

However, once a Realm becomes corrupt, which could happen when upgrading from 6.x.x to 10.0.x (before the fix for the original "key not found" issue was released), it will continue to be so and, unfortunately,

[2020-12-15 11:46] finnschiermer commented on #7174
@sdex. Unfortunately not. We've not been able to reproduce this bug internally yet. We're working on increasing testing as well as improving error detection and reporting, but so far without hitting it.

[2020-12-15 13:50] cmelchior commented on #7175
Closing due to inactivity, but running out of memory is usually happening due to the Realm instances not being closed correctly. Like @rorbech mentioned, we have a number of debug options for this.

- `Realm.getLocalInstanceCount(..)`
- `Realm.getGlobalInstanceCount(...)`
- `RealmConfiguration.maxNumberOfActiveVersions`

Also, there are some documentation around how to manage the Realm lifecycle:

[2020-12-15 13:52] #7175 closed

[2020-12-15 20:13] javierpe commented on #6927
Any update on this?

[2020-12-16 09:46] edualonso commented on #6927
There have been a number of fixes from Core regarding these "key not found" issues. Please try again with version 10.2.0 and let us know if the issue still persists.

[2020-12-16 11:22] #7224 closed

[2020-12-16 12:03] vangivang opened #7248 "Native crash in librealm-jni.so (SIGSEV 6)"
#### Goal
App will not crash

#### Actual Results
App crashes with SIGSEV 6

#### Steps & Code to Reproduce
No steps. While app is idle, at some point crash occurs. Could be related to background work (off the main thread) that occurs during the app's life time.

#### Version of Realm and tooling

Realm version(s): 10.0.1

Realm Sync feature enabled: no

Android Studio version: 4.1.1

Android Buil

[2020-12-16 12:17] jpedretti-ciandt commented on #7229
HI, unfortunately, I haven't. I tried many things without success.

[2020-12-16 12:23] edualonso commented on #7248
Unfolded stacktrace:
[code]

[2020-12-16 15:32] 2u opened #7250 "E/REALM: uncaught exception in notifier thread: N5realm15InvalidTableRefE: transaction_ended"
#### Goal
We can't understand and locate problem
at all

#### Actual Results
E/REALM: uncaught exception in notifier thread: N5realm15InvalidTableRefE: transaction_ended
    Exception backtrace:
    <backtrace not supported on this platform>

    --------- beginning of crash
A/libc: /usr/local/google/buildbot/src/android/ndk-release-r21/external/libcxx/../../external/libcxxabi/src/abort_message.cp

[2020-12-16 16:18] vangivang commented on #7248
I adding another stack trace when launching the app:

2020-12-16 18:16:27.390 26800-26800/? A/DEBUG: signal 6 (SIGABRT), code -6 (SI_TKILL), fault addr --------
2020-12-16 18:16:27.394 26800-26800/? A/DEBUG: Abort message: '/usr/local/google/buildbot/src/android/ndk-release-r21/external/libcxx/../../external/libcxxabi/src/abort_message.cpp:72: abort_message: assertion "terminating with uncaught ex

[2020-12-17 01:00] tgoyne commented on #7250
I coincidentally just hit this while working on something unrelated and I think I see what's going wrong.

[2020-12-17 13:09] edualonso commented on #7248
Hi @vangivang could you provide us a full log for the trace above? Native crashes should start with
[code]
for us to be able to make heads or tails out of them.

[2020-12-17 13:11] edualonso commented on #7248
Regarding the original crash (https://github.com/realm/realm-java/issues/7248#issue-768786151): could "something" be tampering with the `realm.management` directory? For example, by cleaning it up too early, before app shutdown is complete? Is your application doing anything like that? It seems as if the file is being deleted before Realm has the chance to do housekeeping.

[2020-12-17 13:20] edualonso commented on #7226
Seems everyone was happy with the resolution :-)
Closing ticket.

[2020-12-17 13:20] #7226 closed

[2020-12-17 15:14] vangivang commented on #7248
I believe that was the entire stack trace that was printed to Logcat. I will attempt to reproduce this crash. Perhaps I missed something.

[2020-12-17 15:41] vangivang commented on #7248
Umm no, we do not interfere with such decisions. We do not clear or manage the applications internal file directory. We do write to it on occasion for certain app features. But nothing that is related to Realm. Not sure if it qualifies but, we do compact all realms when they are built (when the application first starts for instance). We use a foreground service to keep the process alive in the bac

[2020-12-17 16:16] GaelCO commented on #6992
It's when a run a query. (in my test project, add or delete items)

[2020-12-18 00:24] tgoyne commented on #7250
Probably will be fixed by https://github.com/realm/realm-core/pull/4234.

[2020-12-18 01:24] Zhuinden commented on #2162
You need to use `@RealmModule` for library stuff

[2020-12-18 04:23] ozv101 commented on #7166
@cmelchior @mkarcher98 im getting that exact same exception, but only on emulator. works on both a phone and tablet. im using a pre-filled Realm db as well. initializing like so:

[code]

[2020-12-18 07:19] saecmca commented on #6418
I am also having same issue.
If added below filters I have another 3rd party sdk that one is affected. How to solve this please help.
ndk {
            abiFilters 'armeabi','arm64-v8a', 'armeabi-v7a'
        }

classpath 'io.realm:realm-gradle-plugin:10.0.1'

 Caused by: com.getkeepsafe.relinker.MissingLibraryException: Could not find 'librealm-jni.so'. Looked for: [arm64-v8a, armeabi-v7a, armeabi

[2020-12-18 10:47] edualonso opened #7253 "Flaky test: SyncSessionTests.registerConnectionListener"
Seen in https://ci.realm.io/blue/organizations/jenkins/realm%2Frealm-java/detail/PR-7252/1/tests

[2020-12-18 12:05] edualonso commented on #7216
A fix for this has been included for the upcoming release.

[2020-12-18 12:05] #7216 closed

[2020-12-18 13:19] edualonso commented on #7221
Maybe related to https://github.com/realm/realm-java/issues/7250.

[2020-12-19 20:31] tsuharesu commented on #7119
Was this fixed? I think I'm still having this issue with `io.realm:realm-gradle-plugin:10.2.0` on Android.

[2020-12-19 21:17] philippeauriach commented on #7202
Sorry for the delay, I'll try to get two files asap

[2020-12-20 09:31] vangivang commented on #7248
I got some more stack traces. I was mostly looking in Firebase crashlytics which did not provide any useful information. At all.
And then, I tried google play console. A LOT more information. The thing is, these all occur in Realm 7.0.8. But we still see it on our test devices from time to time, after we upgraded to 10.0.1:

*** *** *** *** *** *** *** *** *** *** *** *** *** *** *** ***
**Android

[2020-12-21 17:09] clementetb commented on #7223
Closing as it has been resolved. Please reopen if the issue persists.

[2020-12-21 17:09] #7223 closed

[2020-12-21 17:11] clementetb commented on #7144
Closing due inactivity. Please feel free to reopen if the issue persists.

[2020-12-21 17:11] #7144 closed

[2020-12-21 17:35] clementetb commented on #7229
@jpedretti-ciandt Without these logs, it is really hard to figure out what is really happening. Here are a bunch of questions that might help to figure out whats going on.

- Could you share how do you initialize the Realm? Is encryption enabled?
- Do you know what is the state of the app before the crash? Do you have access to the app logs before the crash?
- When does the crash happen? during in

[2020-12-22 14:08] jpedretti-ciandt commented on #7229
This is the code where we initialize Realm, the crash happens in the "Realm.getDefaultInstance();" line.
The encryption isn't enabled.

<img width="1304" alt="Screen Shot 2020-12-22 at 10 24 01 1" src="https://user-images.githubusercontent.com/56452294/102893153-d5786e00-443f-11eb-9c3b-9d2628d688ad.png">

we don't have the logs before the crash.

The crash happens during the initialization, in our

[2020-12-22 16:07] clementetb commented on #7248
I cannot unroll the logs you shared, do you have then in the shape of the first stacktrace you shared? See [NDK stack](https://developer.android.com/ndk/guides/ndk-stack)

[2020-12-22 16:26] clementetb commented on #6638
Closing due inactivity. Feel free to reopen if the issue persists.

[2020-12-22 16:26] #6638 closed

[2020-12-24 10:03] TheImShrey commented on #1202
As of now, Dec 2020, there is not proper solution of this issue. We have many workarounds though.

Here is the one I have been using, and one with less limitations in my opinion.

 1. Make your Realm Model Object classes conform to codable
[code]
 2. Create this helper class

[code]

 3. Call this method whenever you need **detached / true deep copy** of your Realm Object, like this:

[code]

As y

[2020-12-26 17:37] AbelToy commented on #7173
Currently facing this bug. Are there any recommended workarounds before this is fixed?

[2020-12-26 23:18] NelzkieCoder opened #7255 "Memory kept growing in size in version 10.0.1?"
I have been using realm for a while now. I am on the process on updating my app. I was using **4.3.1** and updated to 10. For some reason, my app suddenly lags a lot. I check the profiler and the memory kept increasing just for idling. I thought a leak but I am not getting any notification from leakcanary. Then until I found out that the only circumstance that my app will lag is if my activity is

[2020-12-27 09:11] vangivang commented on #7248
I'm sorry, I reformatted my last post with all the stacks. Does this help? When I try the ndk-stack command on one such as these using my own jni lib .so files, I do get results.

[2020-12-29 03:28] Lemac opened #7256 "realm coredump in Android 5.1 device"
#### Goal
run

#### Actual Results crash

1 #00 pc 00000000000629b4 /system/lib64/libc.so (tgkill+8) [arm64-v8a::f6977bddbb731c9dcfe52d5c0219a1e6]
2 #01 pc 000000000001fe9c /system/lib64/libc.so (pthread_kill+160) [arm64-v8a::f6977bddbb731c9dcfe52d5c0219a1e6]
3 #02 pc 00000000000213e8 /system/lib64/libc.so (raise+28) [arm64-v8a::f6977bddbb731c9dcfe52d5c0219a1e6]
4 #03 pc 000000000001acfc /system/l

[2020-12-29 03:36] Lemac opened #7257 "Unrecoverable error"
#### Goal
realm db file can access normally

#### Actual Results
Always generate these bug.

# main(1)

io.realm.exceptions.RealmError

Unrecoverable error. mmap() failed (size: 1184, offset: 0: Permission denied in /tmp/realm-java/realm/realm-library/src/main/cpp/io_realm_internal_OsSharedRealm.cpp line 106
1 io.realm.internal.OsSharedRealm.nativeGetSharedRealm(Native Method)
2 io.realm.internal.

[2020-12-29 06:19] SerhioSavi opened #7258 "Wrong transactional state, using dynamic realm"
I faced with problem in firebase crashlytics, and I can't repeat it. I am using dynamic realm before provideRealm for dagger, because I need to migrate users to another database realm, which doesn't change. How can I solve this problem? Realm version 10.2.0. I also use function toFlow() and coroutines in project.

error:

[code]

[code]

my code:
app class:

[code]

RealmModule:

[code]

[2020-12-30 15:05] Nightchar opened #7259 "Support for com.android.dynamic-feature"
I recently migrated my app from normal single module app to multiple module. I've also added dynamic feature module but i'm not able use realm in that module. While querying any table getting some error like "Object is not part of the schema for this Realm".
for reference -
I've applied (apply plugin: 'realm-android') in base module not in dynamic module

Can anyone help me out.

[2020-12-31 05:27] SerhioSavi commented on #7229
Did you overcome this problem? I have the same error, but I have users with android not only 9 and 10, and not only Galaxies devices. I also have 5% of users with this problem.

[2021-01-02 03:50] gaurav-likeminds opened #7260 "Realm migration background/loader support"
If the app has a heavy db migration requirement, the app get stuck due to the write transactions on ui thread.

Is there any solution to do the db migration on background thread or to get ui context to show loader?

[2021-01-04 07:49] cmelchior commented on #7260
Yes, you can use `Realm.getInstanceAsync()`, alternatively there is a static method called `Realm.migrateRealm()` you can trigger manually before opening the Realm as well.

If you want to support showing a loader, using `Realm.getInstanceAsync()` is probably the easiest as you can show the loader when calling the method and hide it again when the onSuccess callback is triggered.

[2021-01-04 08:56] cmelchior commented on #7259
You might want to take a look at https://realm.io/docs/java/latest/#schemas

[2021-01-04 09:22] edualonso commented on #7173
The problem manifests itself most often when using dispatchers backed by multithreaded pools, e.g. `Dispatchers.Default` or `Dispatchers.IO`.

A temporary solution could be to force your coroutine to run on a single-threaded dispatcher instead, e.g.:

[code]

You might want to get your `realmConfig` from an existing Realm you may have from your coroutine call, if available.

[2021-01-04 13:32] SubhasmithThapa77 commented on #6670
Hi i am still facing the same error on API 29. please suggest something.

[2021-01-04 14:12] clementetb commented on #7229
Here are the unrolled stacktraces on Realm 7.0.1:

[code]

[code]

[code]

[2021-01-04 14:45] clementetb commented on #7248
We were able to unroll the 2 last logs from your list: (based on realm 10.0.1)

[code]
[code]

[2021-01-04 15:06] clementetb commented on #7256
Unrolled stack

[code]

[2021-01-04 15:16] #7002 closed

[2021-01-04 15:18] cmelchior commented on #6708
This is assumed to have been fixed with 10.1.1 . If this is still happening, please reopen this issue.

[2021-01-04 15:19] #6708 closed

[2021-01-04 15:37] cmelchior commented on #6550
I'll assume the comment from Zhuinden described the underlying problem. So I'll close this issue. If it is still relevant we probably need something that reproduces it in order to investigate.

[2021-01-04 15:37] #6550 closed

[2021-01-04 15:50] #6365 closed

[2021-01-04 15:56] cmelchior commented on #6133
This could point to the fact that the minimum version of the build gradle tools we support is higher than we think. We should investigate this and document it.

[2021-01-04 23:42] NelzkieCoder opened #7261 "Error: SERVICE_UNKNOWN(realm::app::ServiceError:-1): authentication via 'local-userpass' is unsupported during register?"
Just following the tutorial on realm android here https://docs.mongodb.com/realm/tutorial/android-kotlin. I created the backend and imported the one provided. Tried creating a user but met with this error

[code]

Found on some issue created here that it was a bug although has been fixed. I am using the version where the fix has been implemented but still having this issue. Any help? Thanks

[2021-01-05 08:18] #6003 closed

[2021-01-05 08:20] #5938 closed

[2021-01-05 08:21] #5818 closed

[2021-01-05 08:32] #5681 closed

[2021-01-05 09:00] #5607 closed

[2021-01-05 09:10] #5554 closed

[2021-01-05 09:16] cmelchior commented on #5507
This should have been fixed by https://github.com/realm/realm-java/pull/5574. Closing.

[2021-01-05 09:16] #5507 closed

[2021-01-05 09:50] #5302 closed

[2021-01-05 10:27] #4672 closed

[2021-01-05 10:31] #4544 closed

[2021-01-05 10:39] #3700 closed

[2021-01-05 11:59] #2382 closed

[2021-01-06 13:59] #7161 closed

[2021-01-07 04:20] tejas-n opened #7262 "App crashes with "JNI ERROR (app bug): local reference table overflow (max=512)""
We noticed that our app crashes sometimes with "JNI ERROR (app bug): local reference table overflow (max=512)". Can you tell us what might be happening, please? We had reported a similar error at #7217 but it was fixed and we haven't experienced that error after the new update. This one looks similar to that but the source of this one seems different though.

Version of Realm and tooling

Realm ve

[2021-01-07 04:21] tejas-n commented on #7262
Posting more logs in case you find it useful. We found this before the logs that I posted previously

[code]

[2021-01-07 14:56] clementetb commented on #7261
Have you enabled the email/password provider and deployed the changes?

[2021-01-07 15:02] clementetb commented on #7255
We would need more information to be able to diagnose the cause. Do you reckon what piece of code is causing this behavior?

[2021-01-07 15:09] clementetb commented on #7257
Could you share more details on how you get this error? Is it possible that the Realm is in external storage and the user doesn't have write permissions for it?

[2021-01-07 15:13] clementetb commented on #7256
@Lemac Could you please share more information about the context of this stack trace? Can you reproduce this issue?

[2021-01-08 14:53] cmelchior commented on #7221
There is a chance this might be fixed by Realm Java ` 10.3.0`. Which will be released shortly. At least this was in the changelog: https://github.com/realm/realm-core/blob/master/CHANGELOG.md#1033-release-notes

[code]

[2021-01-08 14:54] cmelchior commented on #7250
There is a chance this might be fixed by Realm Java ` 10.3.0`. Which will be released shortly. At least this was in the changelog: https://github.com/realm/realm-core/blob/master/CHANGELOG.md#1033-release-notes

[code]

[2021-01-08 15:20] arshak-kahnputers commented on #7221
I hope the above version fixes the issue, as I'm on the verge of moving away from Realm due to this issue.

[2021-01-08 16:30] #7098 closed

[2021-01-08 22:39] cmelchior opened #7264 "Move release check to front of Jenkins pipeline"
When releasing to Bintray we have a script that verifies that the version.txt and changelog are correct. This check runs after building and running all tests. This adds a lot of overhead if there is a mistake here. We should move this check to the front of the pipeline.

[2021-01-09 06:12] NelzkieCoder commented on #7261
Yeah I did. I enabled them. Still having this issue.

[2021-01-09 06:13] NelzkieCoder commented on #7255
Forgot to close this. Its all good. Turns out the issue was the coroutine doing something weird

[2021-01-09 06:13] #7255 closed

[2021-01-09 06:14] NelzkieCoder commented on #7255
No related to realm at all. Seems like my code is doing something that is causing the usage of memory to spike.

[2021-01-09 06:36] NelzkieCoder commented on #7261
Ah. Right. I'd have to deploy. My Bad. Thank you. Will close this ticket

[2021-01-09 18:57] cmelchior commented on #7147
Fixed in 10.3.0

[2021-01-09 18:57] #7147 closed

[2021-01-10 05:37] gaurav-likeminds commented on #7260
Thank you. I will try the async one.

[2021-01-10 11:52] Lemac commented on #7256
I found this bug in bug collection platform, it reproduced many times(20 times above).

More crash info, I don't know these were the same bug. So wish these stack will be helpful. Hope for your answer.

`

1 io.realm.internal.OsSharedRealm.nativeGetSharedRealm(Native Method)
--
2 io.realm.internal.OsSharedRealm.<init>(OsSharedRealm.java:173)
3 io.realm.internal.OsSharedRealm.getInstance(OsSharedRe

[2021-01-10 11:54] Lemac commented on #7257
No, db file's path is data/data/com.xx/files/xxx.realm
Sometimes this file is damaged, I don't know how to reproduce. This bug reproduced random.

[2021-01-12 08:14] #6613 closed

[2021-01-12 08:20] cmelchior commented on #7264
Fixed in #7266

[2021-01-12 08:20] #7264 closed

[2021-01-12 08:40] #7242 closed

[2021-01-12 10:40] HXGRoot opened #7267 "io_realm_internal_OsSharedRealm.cpp line 106"
#### 106
Realm.getdefaultInstance() loses permission after configuring android: sharedUserID ="android.uid.system

[2021-01-12 11:09] #7203 closed

[2021-01-12 12:20] nhachicha commented on #7258
Hi @SerhioSavi since this happens randomly the only thing I suspect is that dagger is trying to inject another instance of Realm (by calling `provideRealm`) while the initial `migrateUsers` has not yet completed ... have you tried using `@Singleton` with the `provideRealm`? Another possibility is that `needToMigrateUsersToNewDb` is returning a cached value (`false`) even though the migration has c

[2021-01-12 12:59] SerhioSavi commented on #7258
I reproduced this problem, it happed when invokes` migrateUsers()` and in this time realm faced with a changed scheme, and dynamic realm had a flag `deleteRealmIfMigrationNeeded()`.
After that dagger tried to invoke `provideRealm()` to get Realm instance and after that I had this crash.. I suppose that sometimes instance can't be gotten because realm deleting is still in process. I decided to `clo

[2021-01-12 14:56] nhachicha commented on #7258
Hi @SerhioSavi yes deleting will not succeed if you have an open dynamic or regular Realm still open. Closing it as you did should be good.

[2021-01-12 14:56] #7258 closed

[2021-01-12 15:10] nhachicha commented on #7262
Hi @tejas-n we fixed this in https://github.com/realm/realm-java/pull/7232 and was released in `10.2.0` are you sure the APK reporting this is using this version? Could you share the complete crash log? there's no particular Realm reference (like `librealm-jni.so`) within the stack trace ...

[2021-01-12 20:40] iwo commented on #6925
@andriy-svirskyy do you have a log messages preceding the crash?
It looks like there should be a `uncaught exception in notifier thread:` error log message with details about a cause of this issue. (https://github.com/realm/realm-object-store/blob/master/src/impl/epoll/external_commit_helper.cpp#L201)

If I'm looking at the right piece of code, the problem is caused by `epoll_wait()` returning une

[2021-01-14 02:17] tejas-n commented on #7262
Thanks for the reply, @nhachicha. Those are the complete logs that we had. Unfortunately, we are missing the version info but we *think* it was 10.2.0 since it had been deployed for a while.
But I'll keep an eye out to see if we encounter that again.

What do you think about the `503: 0x3328fc00 io.realm.internal.network.OkHttpNetworkTransport$Response` reference? Is that relevant?

[2021-01-14 07:31] HXGRoot commented on #7267
Error is as follows

**2021-01-14 15:21:45.813 9531-9531/? E/zygote: setrlimit(RLIMIT_CORE) failed for pid 9531: Operation not permitted
2021-01-14 15:21:46.864 9531-9531/com.beidou.bdtxwatch E/REALM_JNI: jni: ThrowingException 5, Permission denied in /tmp/realm-java/realm/realm-library/src/main/cpp/io_realm_internal_OsSharedRealm.cpp line 106, .
2021-01-14 15:21:46.864 9531-9531/com.beidou.bdtxwa

[2021-01-14 11:04] nhachicha commented on #7253
The CI job referenced is no longer available for investigation, please attach Jenkins logs and outputs to the issue to avoid losing the job.
btw is this still happening @edualonso ?

[2021-01-14 11:12] nhachicha commented on #7267
Hi @HXGRoot are you working on a custom ROM? this looks similar to https://github.com/realm/realm-java/issues/3644  have you tried adding these SELinux rules https://github.com/realm/realm.io/pull/4541/files ?

[2021-01-14 12:10] edualonso commented on #7253
Unfortunately I don't remember whether it was a crash or a failing test. It was a one-off unrelated to the work I was doing when I spotted it for sure and I haven't seen it happen again.

[2021-01-14 13:10] edualonso opened #7269 "RealmList class fields with default values containing objects with a PK might crash after the first insertion"
If we have a model class with a class field like this one:
[code]
Will crash due to using `copyToRealm` (and not `copyToRealmOrUpdate`) in the proxy's property setter for `underConstruction` after the first insertion due to a PK constraint violation.

[2021-01-15 02:47] HXGRoot commented on #7267
Unable to access https://github.com/realm/realm.io/pull/4541/files

[code]

[2021-01-15 02:53] zeeshanrasool91 opened #7270 "Realm List Query"
We only use Github issues for bugs or new feature ideas.
Please use one of the following options instead:

* [Stack Overflow](http://stackoverflow.com/questions/ask?tags=realm)
is good to get specific help about how to do use Realm.

* [Realm Forums](https://forum.realm.io/) is great for general Realm questions
that are now allowed on StackOverflow like best practices etc.

* [Realm Support](https

[2021-01-15 03:51] HXGRoot commented on #7267
Before sending this error, I added android: sharedUserID ="android.uid.system" to AndroidManifest.xml.
Before that it was in normal use。

[2021-01-15 11:12] nhachicha commented on #7267
@HXGRoot  sorry I meant this link https://realm.io/docs/java/latest/#how-to-use-realm-in-system-apps-on-custom-roms

[2021-01-15 11:18] nhachicha commented on #7253
No worries, please feel free to reopen if this happens again 👍

[2021-01-16 03:54] gaurav-likeminds opened #7274 "copyToRealmOrUpdate over insertOrUpdate"
In my activity, there are 2 open realm instances which observes data changes through Realm's inbuilt flowable. On the background network call is done which receives list of data, and I insert it to DB using insertOrUpdate().

If I use insertOrUpdate(), the data changes don't propagate through realm's db, but If I use copyToRealmOrUpdate(), the data is saved and it gets propagates through all the r

[2021-01-16 17:16] nhachicha commented on #7238
@cmelchior This fails with a different exception using `MONGODB_REALM_SERVER=2021-01-13`.
[code]
you might want to revisit tests disabled because of this.

[2021-01-16 17:27] nhachicha commented on #7239
This is still observed using `MONGODB_REALM_SERVER=2021-01-13` on [master](https://github.com/realm/realm-java/tree/6964515880df9864f97c9ade01e289cc6360a535)

[2021-01-16 22:45] nhachicha commented on #7270
Hi @zeeshanrasool91 can you share your model? I couldn't reproduce your issue with the following code:

[code]

[2021-01-16 22:57] zeeshanrasool91 commented on #7270
Is this possible to filter sessions in that provided item list? Means in items i just want selected sessions only. Like item has session 1, 2, 3 ,4 in it and i just want item 1 with session 2 ,3 only

[2021-01-16 22:57] zeeshanrasool91 commented on #7270
That's not an issue it was a question for help everything is working fine.

[2021-01-16 23:01] zeeshanrasool91 commented on #7270
@nhachicha  the issue was fixed I was doing some thing wrong! After a try i was able to fetch records properly

[2021-01-16 23:05] zeeshanrasool91 commented on #7270
For example i have item 1 with session 1 ,2 3 ,4 5 6
Then item 2 with session 1,2,3,4,5 i want get items with filtered sessions only
Item1 with 1,2،3 and item 2 with 1,2,3 session only is that possible ???
Help required

[2021-01-18 11:04] philippeauriach commented on #7202
Hi @jedelbo , I finally had time to sen you the files by email, I'm really sorry for the time it took.

Hope it helps!

[2021-01-20 08:57] fenjuly commented on #6001
Hi trr-amsiq,
I have faced the same error. Have you found the reason? Any solutions?

[2021-01-20 09:43] trr-amsiq commented on #6001
My solution was to cleanup my realm file by:

1. Making sure that all objects have a primary key.
2. Delete subObjects that are no longer linked to any other object
3. Compact realm at launch

[2021-01-20 09:47] fenjuly commented on #6001
Thanks for your reply, I will try above solutions.

[2021-01-21 09:00] cmelchior commented on #7274
Hmm, that sounds very strange. Do you have some code that show this behavior?

Also, have you tried to query the data right after it has been inserted inside the write transaction? Just to verify if the data was written or not.

[2021-01-21 09:04] edualonso commented on #7253
Seen again in https://ci.realm.io/blue/organizations/jenkins/realm%2Frealm-java/detail/PR-7273/2/pipeline

[2021-01-21 17:38] vernazza commented on #761
And here we are, at 2 years and a half since "I can promise that it won't take another year." (https://github.com/realm/realm-java/issues/761#issuecomment-405701707)
1 year and a half since "it will (still) take us months (though not years) to do it" (https://github.com/realm/realm-java/issues/761#issuecomment-499296327)

sigh :(

[2021-01-21 19:16] fealebenpae commented on #7229
@clementetb is there a way to capture the `stdout` and `stderr` logs around the crash? realm-core should print out some information about a failed assertion in the second crash (where the stack terminates at `please_report_this_error_to_help_at_realm_dot_io`).

[2021-01-21 19:24] cmelchior commented on #7229
They should be captured and sent to LogCat. @jpedretti-ciandt Do you have the full stack traces for these crashes?

[2021-01-21 20:30] jpedretti-ciandt commented on #7229
Unfortunately no, we couldn't replicate it.
it only happens in production and the log I have is the one from the google play console.

[2021-01-25 09:56] #7261 closed

[2021-01-25 13:30] rorbech commented on #7256
This seems to be a dulicate of #6925.

The last stack traces does not seem related. Can you, ideally in a new issue, provide more information about the last error, since you mention that it is seen 20+ times:
- What devices are this seen on?
- Can you supply the code for configuration of the realm?
- Can you get a copy of the Realm from one of the devices where this happens?

[2021-01-25 13:56] rorbech commented on #7257
@Lemac You state that it _"always generates these bugs"_, but you also mention it is _"reproduced at random"_. Can you maybe elaborate a bit more on what you are overall doing in your app.
- What devices are this happening on?
- What is the realm configuration?
- How are the overall usage of realm in the app?

Ideally you could supply a minimal project exhibiting this

[2021-01-25 13:59] rorbech commented on #7221
@arshak-kahnputers Have you been able to test this with 10.3.0 (https://github.com/realm/realm-java/blob/master/CHANGELOG.md)?

[2021-01-25 14:03] arshak-kahnputers commented on #7221
@rorbech I have updated the library, so far haven't noticed any crash. Will update if I were to see any on Crashlytics.

[2021-01-25 14:14] rorbech commented on #7262
@tejas-n It seems a bit suspicious with
[code]
Are you doing any particular stuff related to networking (configuration/proxy/redirecting)? Maybe try to enable some additional logging with `RealmLog.setLevel(LogLevel.ALL)` to shed light on if there are any unforeseen network requests. Or maybe try to outline the overall realm usage of the app.

Could you also share a bit about the specs of the devi

[2021-01-25 14:22] rorbech commented on #7221
@arshak-kahnputers Thanks for the feedback. I will close the issue for now. Please feel free to reopen/repost if you have new observations.

[2021-01-25 14:27] rorbech commented on #7259
Closing due to inactivity. Feel free to reopen with some more elaboration on your setup/challenges if you still have issues using realm in your multi-module project.

[2021-01-25 14:27] #7259 closed

[2021-01-25 14:30] rorbech commented on #7260
Closing as advice seems address the question. Feel free to reopen if further input is needed.

[2021-01-25 14:30] #7260 closed

[2021-01-25 15:55] ianpward commented on #761
hey all, product from Realm here, I am in the middle of writing the production description for this feature right now. As you might have guessed since almost no other databases exposes polymorphic inheritance, but rather leaves it up to the developer to build themselves, this is an incredibly difficult feature to build - but rest assured we are planning to build it. As mentioned in some of the com

[2021-01-26 09:44] rorbech commented on #7270
@zeeshanrasool91 There are currently no way to filter objects based on values in primitive lists, so you will have to filter them programmatically.

We are working on integrating Core's query parser to support more advanced use cases through text based queries in #6116.

[2021-01-26 10:05] rorbech commented on #7250
@2u Closing as considered fixed in 10.3.0. Please reopen if you are still seeing this with 10.3.0.

[2021-01-26 10:05] #7250 closed

[2021-01-26 10:18] zeeshanrasool91 commented on #7270
Thanks for response.

[2021-01-26 10:22] rorbech commented on #7270
Closing as considering answered. Feel free to reopen if there are more to the topic.

[2021-01-26 10:22] #7270 closed

[2021-01-26 12:33] jedelbo commented on #7202
@philippeauriach Unfortunately I was not able to come up with a possible cause based on the files received. I think I would need a file that actually produces the error, but I can feel that that could be difficult as you are not able to reproduce the error.

[2021-01-26 12:55] philippeauriach commented on #7202
@jedelbo indeed I have no way to reproduce, therefore I'm not able to get a file. We might want to close this issue as I found a dirty workaround, and I'll open it if it comes back next time I upgrade my realm version.

Thanks anyway !

[2021-01-26 14:14] arshak-kahnputers commented on #7221
@rorbech The issue still persists on 10.3.0 which happened on LGE Stylo 6 running Android 10 which doesn't point to any Project files. The exception title text seemed to have changed but the line number and the remaining lines looks similar. Please check the attached screenshot.

Here's the stack trace:
Fatal Exception: java.lang.IllegalStateException: Access to invalidated Results objects in /tmp

[2021-01-26 14:51] AlexShafir opened #7278 "Add support for Gradle plugins DSL"
#### Describe your problem or use case
Add support for [Gradle plugins DSL](https://docs.gradle.org/current/userguide/plugins.html#sec:plugins_block)

#### Describe the solution you'd like
[code]
instead of `apply plugin`.

[2021-01-26 17:20] javs12 commented on #5551
Hi @clementetb  I am calling `Realm.init(context)` and `Realm. setDefaultConfiguration` before `Realm.getDefaultInstance` but the crash keeps happening, is there any solution?

[2021-01-27 12:17] rorbech commented on #7278
Thanks for the input.

Just for reference; the `realm-kotlin` equivalent issue is in https://github.com/realm/realm-kotlin/issues/26.

[2021-01-27 12:35] rorbech commented on #7188
This seems to be a duplicate of #7098 which should be fixed in 10.3.0.

[2021-01-27 12:35] #7188 closed

[2021-01-27 12:49] rorbech commented on #7119
@tsuharesu This was indeed fixed in 10.2.0, but you have to explicitly indicate that you are using an `ID_TOKEN` with
https://docs.mongodb.com/realm-sdks/java/10.2.0/io/realm/mongodb/Credentials.html#google-java.lang.String-io.realm.mongodb.auth.GoogleAuthType-
[code]
Otherwise it will default to interpret the argument as an `AUTH_CODE`.

Let us know if you still have issues.

[2021-01-27 12:49] #7119 closed

[2021-01-27 13:51] rorbech commented on #5551
@javs12 Can you provide the stack trace and some code to reproduce this?

[2021-01-27 14:02] rorbech commented on #5825
Closing as duplicate #5578, which has been fixed a while ago (https://github.com/realm/realm-java/issues/5578#issuecomment-552416649).

Please update if you have newer observations of this.

[2021-01-27 14:02] #5825 closed

[2021-01-28 10:04] #6649 closed

[2021-01-28 14:45] #7202 closed

[2021-01-31 08:06] PranxXxD commented on #7228
Hi, I would like to work on this issue, so can you help me get started?

[2021-02-01 07:33] saecmca commented on #5892
I am using this query to insert and delete, insert and delete working fine but, I cant add again the same number it says "already existed"
Note: I don't want to insertOrUpdate method, once I insert the json,do update json inside so I just delete the json and again reinsert the same primarykey.
below the code to use insert and delete.
realm.executeTransactionAsync({
                    it.insert(js

[2021-02-01 08:37] edualonso commented on #7267
Closing due to inactivity. Let us know if the link in the previous comment didn't work it out.

[2021-02-01 08:37] #7267 closed

[2021-02-01 12:57] cmelchior opened #7286 "Remove @Beta annotations from Sync API's"

[2021-02-01 18:09] dsemelianov opened #7288 "Realm stops working in debug mode when externalNativeBuild is modified."
#### Goal
Add a different native library (not Realm) to my Android project, without breaking Realm when in debug mode.

#### Actual Results
I have an Android app which uses Realm, and works fine. But when I add a native library to the app (not Realm), then things stop working. It seems that changing my `build.gradle` to specify an `externalNativeBuild` which references CMake causes Realm to break

[2021-02-02 00:52] Zhuinden commented on #5892
Delete first and then do it async, probably 🤔

[2021-02-02 12:31] #7269 closed

[2021-02-02 15:46] cmelchior opened #7289 "Add support for logging out but uploading data first"
**Use case:** User wants to log out, but needs to make sure that all local data is uploaded first.

This can right now be accomplished by wrapping `SyncSession.uploadAllLocalChanges()` and `User.logout()`, but users would need to handle exceptions correctly, and is just annoying boilerplate to write.

Instead, it would make a lot of sense if we provided an override for logout with:

[code]

Then w

[2021-02-03 05:09] ishaileshmishra commented on #6557
- Do the only thing, update your realm classpath

`classpath 'io.realm:realm-gradle-plugin:6.1.0'`

[2021-02-03 07:16] DAKSHSEMWAL opened #7291 "Realm is not storing sequence properly."
#### Goal

#### Actual Results
I am storing data from my API to the database
Realm is Converting my JSON  which is `"ahi": [
                {
                    "image": "thumbsupgreen",
                    "addedAt": 1612317276,
                    "color": "green",
                    "addedBy": "worker",
                    "mainText": "Your vitals give you full permission!",

[2021-02-03 08:10] edualonso commented on #7291
Hi @DAKSHSEMWAL
We've had some issues with escaping strings in the past. I would recommend you upgrade your Realm dependency to use the latest version, if possible, as it should work just fine.

[2021-02-03 08:10] #7291 closed

[2021-02-03 13:08] akshay-kapase commented on #7291
Tried using the latest plugin but still facing this issue

[2021-02-03 13:18] edualonso commented on #7291
I've tried creating a Realm object with just one string field using this payload:
[code]
And the `´` character is parsed correctly. I don't see how else this could fail.

Could it be you're unknowingly doing something between the reception of the response and creating the object with `createObjectFromJson`?

[2021-02-03 13:57] akshay-kapase commented on #7291
yes we are doing createObjectFromJson but we are not parsing that part of json

[2021-02-03 14:11] akshay-kapase commented on #7291
@edualonso ok I think this might be the issue that we are storing

[2021-02-03 14:14] edualonso commented on #7291
@akshay-kapase If by that you mean you are not post-processing the response you are getting from the API in any way, then I am at a loss. I have run a test myself against the latest 10.3.0 release (on top of all the other JSON-related tests we have) and the string you provided us with doesn't become what it is being shown in the first comment.

Would it be possible for you to debug the code that c

[2021-02-04 09:22] rlatapy-luna opened #7294 "toFlow operator creates many instance"
#### Goal
We recently migrate all of our homemade Realm-listener-to-flow extension to the built-in `toFLow` extension. It works well but...

#### Actual Results
...when we want to delete the Realm db (logout usecase), some instance are still opened and we cannot delete the file. By monitoring the amount of instance during the app life, I saw that since we started using the `toFlow` extension the n

[2021-02-04 09:34] cmelchior commented on #7294
Yes, the frozen objects will keep the Realm open until you close the Flow. So it seems that the Flows are still running when you try to delete the Realm?

If you use the Android lifecycle scopes, that should close them automatically when you exit the Activity, but something like `GlobalScope` is a bit harder to control. In those cases, you would need to monitor the Job being returned and wait for

[2021-02-04 10:53] venator85 opened #7295 "JCenter to be dismissed - migrate to Maven Central"
Jcenter is scheduled to be dismissed on May 1st, 2021, and no more submissions will be accepted starting from February 28th.
Realm should be migrated to Maven Central as soon as possible.
https://jfrog.com/blog/into-the-sunset-bintray-jcenter-gocenter-and-chartcenter/

[2021-02-04 11:20] cmelchior commented on #7295
Hi @venator85

Yes, thank you for this issue. We are currently evaluating our options, but yes moving to Maven Central is probably the most likely outcome.

[2021-02-04 13:21] rlatapy-luna commented on #7294
Usually we use the `asLivadata` ext fun and we observe it using the `viewLifecycleOwner`. But sometimes we use the `viewModelScope` to collect the flow, it's probably the reason why we have to wait some time before every instance are closed... I will try to always use the UI scope.
Anyway, would it be a great idea to specify a realm instance when using the `toFlow` extension? In our case we keep a

[2021-02-04 19:18] vipozdn commented on #6461
According to [documentation](https://docs.mongodb.com/realm-legacy/docs/java/latest/index.html#migrations) if you want to add a new RealmObject class to schema you have to implement migration which requires two changes to your RealmConfiguration: setting a new schema version, and writing code to perform migration:

`// Example migration adding a new class
public class MyMigration implements RealmM

[2021-02-05 11:14] sanogueralorenzo opened #7299 "Incompatibility issue with Gradle configuration cache"
The configuration cache is a feature that significantly improves build performance by caching the result of the configuration phase and reusing this for subsequent builds.

Implementing support for the configuration cache in this plugin would improve users experience by dramatically reducing build times.

See https://docs.gradle.org/current/userguide/configuration_cache.html

The configuration cac

[2021-02-05 16:40] cherimo opened #7300 "Update multiple objects"
The following Android Kotlin code doesn't work properly. When I have 2 of more ID's it always returns 1 realm object instead of multiple objects.

This is the code.
[code]

Is it possible to make a mutable object list and then copyToRealmOrUpdate at once?

I've been struggling with this for almost all day and I'm not getting any closer.

Thank you in advance.

[2021-02-05 18:22] #7300 closed

[2021-02-06 18:47] mmarich commented on #6893
While I don't believe that this is related to scoped storage, I am experiencing the same issue as originally reported in this ticket under Android 11 on a recent update to a number of customer-owned Samsung devices.

Where it gets interesting is that the error does not occur when accessing the built-in external storage, but only the removable external storage (SD card). In both cases, the Realm da

[2021-02-07 22:26] vernazza opened #7301 "RealmFileException: Unable to open a realm at path"
#### Goal
Open a realm database

#### Actual Results
In a few devices, Realm cannot initialize the file and it throws an exception:

[code]

#### Steps & Code to Reproduce
I cannot replicate the problem. I have the crash reports from open test users.
This is how I initialize the DB in the app

[code]

Then, later, when I do
`Realm.getDefaultInstance()`
in a few cases, it crashes.

#### Version of

[2021-02-08 13:47] heitorhackcanabal commented on #6632
Any update? I had the same issue too on Realm v7.0.1.

[2021-02-08 15:19] #7215 closed

[2021-02-08 19:29] andriy-svirskyy commented on #6925
@iwo afraid preceding messages don't survive in the logcat

[2021-02-08 19:35] andriy-svirskyy commented on #6925
**Realm 10.1.0**

[code]

[2021-02-08 23:14] Zhuinden commented on #6632
But did it stick around with 10.3.0?

[2021-02-09 13:55] clementetb commented on #7274
Closing due to inactivity. If this is still an issue, feel free to reopen the issue.

[2021-02-09 13:55] #7274 closed

[2021-02-09 17:43] clementetb commented on #7288
Have you tried debugging the app without the realm library?

[2021-02-09 23:06] ironage commented on #3351
This should be possible because we have `Query::get_description()` which provides a query description text which is also valid syntax to run through the query parser.

[2021-02-10 00:10] tejas-n commented on #7262
Thanks for the response and sorry for the late reply. I am no longer working on that project but if it helps, I can give you some more details.
Our apps were running on a custom Android tablet which ran Android 7.1.2.

Our devices were being used by people in a retirement village which had it's own private network which connected to the Internet so I'm not sure how their network was configured. I'

[2021-02-10 12:46] cmelchior commented on #3351
We added support for `RealmQuery.getDescription()` a while back, so this should be supported now.

[2021-02-10 12:46] #3351 closed

[2021-02-12 09:28] clementetb commented on #7301
Thanks for reporting the issue, we are currently investigating it.

Are the affected users not able to use the app, or are these random crashes?

[2021-02-12 09:39] clementetb commented on #7299
Thanks for the heads up on configuration cache, we are going to evaluate supporting it.

[2021-02-12 09:55] vernazza commented on #7301
They can't use the app, because those who are having this problem are having it every time the app tries to open the DB.
I also tried to wrap the opening in a try/catch block, and try again, but the result is the same.

The Init block is in the Application OnCreate function.

[2021-02-12 15:06] OneManMobile opened #7309 "Apk with Realm 10.3.1 cannot be installed: "Library 'librealm-jni.so' is not page-aligned - will not be able to open it directly from apk.""
#### Goal
An apk file with Realm as a dependency should be installed with no problems. When assembled, it cannot be installed.

#### Actual Results
Apk fails to install with this logcat trace:
E/NativeLibraryHelper: Library 'librealm-jni.so' is not page-aligned - will not be able to open it directly from apk.
E/PackageInstallerSession: Commit of session 1754533894 failed: Failed to extract native

[2021-02-12 15:41] OneManMobile commented on #7309
Found the solution myself here: https://stackoverflow.com/questions/55173004/targeting-sdk-android-q-results-in-failed-to-finalize-session-install-failed-i

[2021-02-12 15:42] OneManMobile commented on #7309
Maybe recommend or warn about this partiqularity in the docs? :)

[2021-02-12 15:56] OneManMobile commented on #7309
Sorry, I posted it was solved, it wasn't :(

[2021-02-15 08:58] OneManMobile commented on #7309
The issue was solved by using this question on stack overflow: https://stackoverflow.com/questions/55173004/targeting-sdk-android-q-results-in-failed-to-finalize-session-install-failed-i

It might make sense to add this quirk to your documentation if you find it's easily reproducable with Android Q as a target?

[2021-02-15 15:36] cmelchior commented on #6092
https://github.com/realm/realm-java/pull/6116 merged support for String-based query predicates, which should support this. This will be part of 10.4.0.

[2021-02-15 15:36] #6092 closed

[2021-02-15 15:36] cmelchior commented on #5730
https://github.com/realm/realm-java/pull/6116 merged support for String-based query predicates. This will be part of 10.4.0.

[2021-02-15 15:36] #5730 closed

[2021-02-15 15:36] cmelchior commented on #1615
https://github.com/realm/realm-java/pull/6116 merged support for String-based query predicates, which should support this. This will be part of 10.4.0.

[2021-02-15 15:36] #1615 closed

[2021-02-15 15:37] cmelchior commented on #1598
https://github.com/realm/realm-java/pull/6116 merged support for String-based query predicates, which should support this. This will be part of 10.4.0.

[2021-02-15 15:37] #1598 closed

[2021-02-15 15:37] cmelchior commented on #1573
https://github.com/realm/realm-java/pull/6116 merged support for String-based query predicates. This will be part of 10.4.0.

[2021-02-15 15:37] #1573 closed

[2021-02-16 00:38] moezbhatti commented on #7295
Are you planning on moving over all versions of the library, or only more recent versions?

[2021-02-16 07:45] cmelchior commented on #7295
If possible we will be looking into moving all versions over.

[2021-02-16 07:59] mannodermaus opened #7310 "Support Kotlin Symbol Processing (KSP)"
#### Describe your problem or use case

[Kotlin Symbol Processing (KSP)](https://github.com/google/ksp) is a joint effort by Google & JetBrains and seeks to provide an API for building compiler plugins. Compared to KAPT, annotation processors that use KSP can run up to 2x faster.

#### Describe the solution you'd like

Introduce a sibling artifact to the `realm-annotations-processor` which leverag

[2021-02-16 11:59] edualonso opened #7311 "RealmList and RealmDictionary - should not allow nullable properties"
[code]
This is because Core's semantics will never allow storing a null list, same for dictionaries.

[2021-02-16 13:46] edualonso opened #7312 "RealmList and RealmDictionary - add support for Byte[] (non-primitive) with null bytes"

[2021-02-16 16:04] moezbhatti commented on #7295
That's good to hear! I'm still on version 5.8 due to some issues with migrating to more recent versions

[2021-02-16 17:47] Riflin opened #7314 "Unrecoverable error. No such object after updating Realm from v7 to v10.X.X"
Goal
Update the realm plugin to version 10.X.X

Actual Results
The app crashes when accessing the realm database for the first time after updating the realm version.

The error thrown is the following:

io.realm.exceptions.RealmError: Unrecoverable error. No such object in /tmp/realm-java/realm/realm-library/src/main/cpp/io_realm_internal_OsSharedRealm.cpp line 107
        at io.realm.internal.OsS

[2021-02-18 07:47] sync-by-unito[bot] opened #7316 "Check performance impact of reduced Core binary size"

[2021-02-18 11:56] prasad-dot-ws commented on #3761
I'm shipping my app with 2 million records in it. And the ream file is 603MB. And I get the exception `Unrecoverable error. mmap() failed: Out of memory size: 603979776` at that time the free RAM was 505.14 MB. So does that means realm copies the entire ream DB to RAM when operating?

[2021-02-19 17:32] heitorhackcanabal commented on #6632
Is this crash fixed on 10.3.0 version?

[2021-02-21 10:09] behdad222 commented on #6632
I have similar issues with V10.3.0
OS version: Android 10
Device: SM-A107F

[code]

[2021-02-22 00:52] jainygaurav opened #7317 "Can not resolve symbol transformer in import io.realm.transformer.RealmTransformer"
You helped me in 2018 with: https://github.com/realm/realm-java/issues/6090

Can you please help me with this issue:

https://stackoverflow.com/questions/66308760/can-not-resolve-symbol-transformer-in-import-io-realm-transformer-realmtransform

[2021-02-22 01:43] #7317 closed

[2021-02-22 01:44] jainygaurav commented on #7317
Gradle still shows it unresolved but it syncs successfully after I cleaned the project and removed and re-added dependencies one at a time.

[2021-02-22 08:42] jedelbo commented on #7314
Unfortunately there is too little information for us to figure out what causes this problem. It could be a query that returns an object key that subsequently cannot be used to find the actual object. In order to proceed here, we would need the actual realm file that causes this problem to occur. Would that be possible?

[2021-02-22 12:21] rorbech commented on #7301
@vernazza Does the issue happen on fresh installs/reinstalls or are they ending up there after a while?

If on fresh installs would you be able to list the exact devices it is happening on?
Or if after a while would you be able to get hold of a realm file exhibiting this behavior?

[2021-02-22 12:33] rorbech commented on #7309
@OneManMobile Thanks for the reference. We will monitor and find appropriate place to document the quirk if it pops up again in the future.

[2021-02-22 12:33] #7309 closed

[2021-02-22 12:42] rorbech commented on #7310
@mannodermaus Thanks for the input. We are aware that KSP has been promoted to alpha, but have not yet evaluated/looked into replacing the current Realm annotation processor for Kotlin with it.

[2021-02-22 12:47] rorbech commented on #7231
Closing due to inactivity. Please post further details as requested above if you need further assistance.

[2021-02-22 12:47] #7231 closed

[2021-02-22 12:55] rorbech commented on #7256
Closing as a duplicate of #6925. Please post additional findings around the original issue there.

For the later, immediately unrelated, stack traces, please create a new issue for with some details around devices, realm configuration and potentially a Realm file causing the crash.

[2021-02-22 12:55] #7256 closed

[2021-02-22 13:28] rorbech commented on #7262
@tejas-n Thanks for the additional input.

Usually you only see these errors on low-memory devices. Further, it looks to be related to the network usage, but with the very short lease time and potential other network configuration unknowns and without a chance to get more insight/reproduce I don't think we can get to the bottom of this.

I will leave it hanging for now, but please please feel free

[2021-02-22 16:17] ArneKoeckeritz commented on #7295
Hi guys,
What's the current status ?
There are just 5 work days left before sunsetting !

[2021-02-22 16:33] erikhuizinga commented on #7295
@ArneKoeckeritz
The deadline is May 1st, not March 1st. So still a bit more (but not too much) time left!

[2021-02-23 08:58] cmelchior opened #7320 "Refactor RealmFieldType"
Currently, the `RealmFieldType` class is an enum that enumerates all possible supported field types. This makes it easy to iterate and access the types but isn't really scalable. https://github.com/realm/realm-java/blob/master/realm/realm-library/src/main/java/io/realm/RealmFieldType.java

Especially with the introduction of new collection types, the number of combinations explodes and as soon as

[2021-02-23 09:08] 01AlexandruTanase commented on #7295
"To clarify, the JCenter repository will keep serving packages for 12 months until February 1st 2022. Only the JCenter REST API and UI will be sunsetted on May 1st 2021."

Does this mean that we will be able to continue using the latest realm version in our projects till 2022 but after May 1st no more library updates will be available through JCenter?

[2021-02-23 09:14] cmelchior commented on #7295
Our understanding is that from March 31st, we will no longer be able to push releases to JCenter, but all versions will still be available until 2022.

Note, we are in the process of migrating to MavenCentral. This will include all previous releases, but we are focusing on new releases first.

[2021-02-23 10:02] Riflin commented on #7314
Hi.

Here it is. I hope you can find the reason why this is happening. If you need anything else, please tell me :)

[DBRealm.zip](https://github.com/realm/realm-java/files/6028106/DBRealm.zip)

[2021-02-23 11:29] vernazza commented on #7301
Actually they are not fresh installs, but before that version, realm was not used, so it's the first time that those users use realm.

The problem seems to be on the creation of the DB file.

The devices that had the problems are Samsung Galaxy A51, Samsung Galaxy S9, Huaweu JNY-LX1. All 3 are Android 10

[2021-02-23 12:38] rorbech commented on #7301
Are you by any chance able to get a realm file from a device where this happens are able to share it or open it on a local device? And do you know whether it reoccurs if the app is uninstalled and installed again?

[2021-02-24 10:24] hardysim opened #7321 "Async callbacks not invoked on android 12 emulator"
#### Goal
View data in the example projects (I've tested `architectureComponentsExample` and `coroutinesExample`).

#### Actual Results
On a android 12 emulator, no data is shown. It works fine on a Pixel 3 with Android 12 DP1 though. I have the same problem with my actual app but it seems like a general problem when the examples are not working either.

#### Steps & Code to Reproduce
Checkout thi

[2021-02-24 10:43] bmunkholm opened #7322 "ignore - test"

[2021-02-24 10:45] bmunkholm commented on #7322
hi

[2021-02-24 10:45] #7322 closed

[2021-02-24 12:33] jedelbo commented on #7314
I was able to upgrade the realm file without any problems in Linux environment. @cmelchior can you see any reason as to why this would fail on some devices? Would we have the possibility to try to open the file in some Android context?
Assigning back to realm-java.

[2021-02-24 13:01] rorbech commented on #7314
I will try to see if I can grab the schema definition through studio and open the realm on Android

[2021-02-24 14:09] rorbech commented on #7314
I managed to reproduce the stack trace when I use the above realm as the initial realm using `assetFile` on a 32-bit emulator. I have asked @jedelbo to rerun his upgrade on a 32-bit platform, to see if we can get closer to the root cause.

[2021-02-24 15:38] sergeyotro commented on #5713
Hi, any updates on this?

[2021-02-25 07:38] rorbech commented on #7321
Thanks for the report. I managed to reproduce it locally, but will have to investigate to find a root cause.

[2021-02-25 12:21] rorbech commented on #7321
Seems to be caused by the async operations not working properly. Will investigate further.

[2021-02-25 17:20] nhachicha opened #7324 "Enable All Core assertions in Release build"
As part of enhancing Core crashes investigation and avoid segmentation fault, it is reasonable to enable all Core assertions which will fail fast and usually capture a better stack trace than the current reports.

It will be interesting to measure the performance hit against an established baseline, to see if there are any major performance regression.