[2017-04-20 10:00] nhachicha commented on #4511
@lbensaad [Developer Edition](https://realm.io/pricing/) is free though, I think it covers your use case.

[2017-04-20 10:12] consp1racy commented on #3920
@kneth What about this?

### gradle.properties

    org.gradle.parallel=true

App module A depends on Library module B. Both have Realm classes, both apply the Realm plugin.

Realm 3.0.0, Kotlin 1.1.1 with kapt2/3, `kotlin.incremental=false`.

[2017-04-20 10:25] Zhuinden commented on #4524
`mmap() failed` is generally caused by unclosed Realm instances on background threads.

Bad file header can be caused by compacting in multiple processes.

[2017-04-20 10:43] gpulido commented on #4504
@dalinaum You are right, I miss that one! I'm already using try{} in the whole app, and in the cases where I store the reference (fragments and activities) y clear them on the close.
Thank you for pointing it out.
Unfortunatelly I agree with you about doesn't seem related to the issue, although I will change the code and test just in case.

[2017-04-20 10:46] realm-ci opened #4526 "Fix merge from 592204 to master"

[2017-04-20 10:49] Zhuinden commented on #4520
Realm-Android-Adapters 2.0.0 and Realm Java 3.x supports fine-grained notifications and receiving "change sets" for RealmResults with which `RealmRecyclerViewAdapter` handles `notifyItemRangeInserted()` and co.  automatically.

[2017-04-20 11:30] erudonja1 commented on #3808
No, it still not working...

I tried everything for testing Realm with unit testing and now I'm even thinking about remove Realm from project **at all** because there is no way that I could test my functionalities or services with unit tests and there already was few more issues. I don't understand how/why other people and you guys from Realm didn't take care about this.

I 've lost like 3 weeks s

[2017-04-20 11:39] zaki50 commented on #4484
@BoD Realm Java 3.1.3 which contains this fix has been released.

[2017-04-20 11:57] Zhuinden commented on #3808
This is an error in Robolectric 's classloading.

[2017-04-20 11:59] erudonja1 commented on #3808
Ok, If I can't test this with Robolectric, what should I do then? I should test it with what? (Mockito, JUnit...)

Is there any complete solution for unit testing?

[2017-04-20 12:04] cmelchior commented on #3808
@erudonja1 Please keep a civil tone (https://realm.io/conduct/ ). We all know it is frustrating if things do not work, but yelling will not get you anywhere.

Did you see our unit testing example which uses Robolectric: https://github.com/realm/realm-java/blob/master/examples/unitTestExample/src/test/java/io/realm/examples/unittesting/ExampleRealmTest.java

Note that in recent releases all our pub

[2017-04-20 12:13] Zhuinden commented on #3808
@cmelchior i think that works because it uses `testCompile "org.robolectric:robolectric:3.0"`, and robolectric 3.1+ broke something with their classloading that it seems they still haven't seem to have properly fixed when used in conjunction with Powermock.

Personally I could never get Robolectric to work in any slightly more complex setting, with or without Realm. -_-

Anyways, if Realm's static

[2017-04-20 12:14] erudonja1 commented on #3808
Don't worry, I'm not yelling at anyone, read my comment again, there is no "!!!" anywhere. The accent is in that I don't really understand how I could test my functionalities at all now. This should be **your** problem No.1 if you plan to use/recommend this ORM somewhere for professional usage. It's not like I have one solution for testing and I didn't make it. The frustration begins when you try

[2017-04-20 12:17] erudonja1 commented on #3808
@Zhuinden are you saying that this solution worked before for some versions?

If it is, could you tell me which and for what version should I use then. please.

[2017-04-20 14:12] ericmaxwell2003 commented on #4517
Let me know if I can answer any questions in terms of reproducing it.  It's very consistent.  I've tried a ton of different work arounds but nothing I've tried gets the questions to load on the first launch of a fresh install and login.  I even tried getting an instance of realm and fetching data on the SplashActivity, but that doesn't help any.

I was able to reduce the impact by moving the Realm

[2017-04-20 14:12] #3476 closed

[2017-04-20 14:20] ojarabo commented on #4516
Thanks @dalinaum.
We are studying the info you sent. We will reopen the issue in case we have further doubts on the matter to not keep you waiting.

Thanks again, truly appreciate it.

[2017-04-20 15:42] lbensaad commented on #4511
@dalinaum I think the function toByteArray is already implemented in the internals of Realm, I just wanted them to expose it in the API.
Thanks brother @nhachicha, but for me it will be expansive in production. I have a website that has 10k visitors per day, and I am converting it to app because 70% of the visitors are using mobile (Android), and it may grow bigger. So I prefer to invest some extr

[2017-04-20 15:43] cmelchior commented on #4511
Realm doesn't represent single objects as byte arrays internally, so what you are asking is not possible, nor will it be. Also keep in mind that JSON gzips really well, so the difference between byte arrays and json is probably not as large as you think.

[2017-04-20 15:46] cmelchior commented on #4511
I'm closing this issue as a Won't Fix. You can definitely convert Realm Objects to some other representation on the wire: bytes, json, whatever, but that is all outside the scope of Realm. Just converting objects to JSON is the responsibility of e.g GSON instead of Realm.

[2017-04-20 15:46] #4511 closed

[2017-04-20 15:55] lbensaad commented on #4511
Thanks @cmelchior, understood

[2017-04-20 16:01] Zhuinden commented on #4511
And if they were raw byte[], then interpreting them according to a given schema would also come with problems of migration, what fields a given class has, etc. so that'd be very risky.

[2017-04-20 16:04] Zhuinden commented on #3476
Woo! :D

[2017-04-20 16:05] Zhuinden commented on #4517
This is very strange. :|

Man I really need to get an AWS instance with a ROS somewhere

[2017-04-20 16:06] Zhuinden commented on #3808
@erudonja1 as I said, Robolectric 3.1 broke PowerMock integration. But Robolectric 3.0 is rather old...

[2017-04-20 16:35] virengujariya commented on #4518
@beeender No, I haven't used encryption key

[2017-04-20 19:00] bmeike opened #4529 "Enable `isNotNull()` query for nested link fields"
With the commit of https://github.com/realm/realm-cocoa/pull/4743 , there is now support for `isNotNull()` query for nested link fields.

Expose new functionality and enable this test:
https://github.com/realm/realm-java/blob/master/realm/realm-library/src/androidTest/java/io/realm/RealmQueryTests.java#L2340

[2017-04-20 19:43] RobinCaroff opened #4530 "Diacritic-insensitive search"
Hi,

I saw that [Realm cocoa v2.5.0](https://github.com/realm/realm-cocoa/releases/tag/v2.5.0) added support for diacritic-insensitive search.

Are you planning to make this available in a future release of Realm Android?

I know that a normalised column could be added to implement this feature (see this [Realm Android issue](https://github.com/realm/realm-java/issues/1418) and [stackoverflow issu

[2017-04-20 20:38] erudonja1 commented on #3808
@Zhuinden I'm not so optimistic with that version neither but I'll try tomorrow again.
I hope you were right about this... Thanks

[2017-04-20 21:04] Muddz commented on #4503
@beeender  yes i do

[2017-04-20 21:21] Zhuinden commented on #4503
@Muddz you might want to disable that.

[2017-04-20 21:38] istx25 commented on #4530
We'll talk this over and see what kind of priority that we can give it. Thank you for showing your interest in having it added to the Java binding.

[2017-04-21 01:16] jollyjoker992 commented on #4524
@Zhuinden : I do not use compact method, so why do it happen?

[2017-04-21 01:59] beeender commented on #4503
@Muddz The `RealmRecycleView.getItemId()` doesn't return stable id:

     * same after notifyDataSetChanged() or {@link #updateData(OrderedRealmCollection)} has been called.

If you want it to return a stable ID you have to overwrite it and make it return a stable id.

[2017-04-21 02:33] KaeMs commented on #4520
@Zhuinden Well that's interesting, yesterday I've managed to change stuff inside my adapter but haven't tried it yet. Will ask in SO for any trouble. So basically it handles it automatically? So I don't have to do `realmResults.addOnChangeListener()` (Forgot the method name, but I think this is it) ?

[2017-04-21 03:10] beeender commented on #4518
I saw the exception happened in the `Activity.onDestory()`,

1. Why do you get a Realm instance in the `onDestory()` call?
2. Does the exception only happen when `getInstance()` is called in `onDestory()`?
3. What are those Sumsung devices model?
4. Can you reproduce this issue on your side?

[2017-04-21 07:16] cmelchior commented on #4530
Yes, this is something we want to add, but we don't have a timeline yet.

The API is probably going to be slightly challenging.

Right now we have
[code]

That leaves use with a few options

1) Add `Diacritic` enum

``
realm.where(Person.class).equalTo("name", "John");
realm.where(Person.class).equalTo("name", "John", Case.INSENSITIVE, Diacritic.SENSITIVE);

// Should we also add only a diacritic

[2017-04-21 07:17] Zhuinden commented on #4520
yup

[2017-04-21 07:56] cmelchior commented on #1147
Bumping priority on this. It is a requirement for e.g. exposing Realm Mobile Platform permissions from users.

[2017-04-21 08:06] cmelchior commented on #1147
API:

[code]

One observation is that it should be impossible to start a transaction against a read-only Realm. This also means that the schema cannot be written to the file, so any configuration using this option should either a) depend on `assetFile()` to provide it or b) use `waitForServerChanges()` #4270.

Note that we cannot prevent one process from creating a readonly Realm while another pro

[2017-04-21 08:09] beeender commented on #4530
What about this:

[code]

[2017-04-21 08:22] joeywp opened #4531 "Support @LinkingObjects relations in in createAllFromJson/createOrUpdateAllFromJson"
Currently the new @LinkingObjects aren't supported in the createAllFromJson and createOrUpdateAllFromJson methods. For example, look at these models:

[code]

[code]

Provide this JSON of a ModelA instance to the Realm instance using createObjectFromJson or createOrUpdateAllFromJson:
[code]

What happens is, it creates a ModelA instance with the id correctly set to 1, but the model_b list of the M

[2017-04-21 08:29] Zhuinden commented on #4531
ModelA contains a ModelB, so if your ModelA had a field of ModelB, and ModelB would have a backlink to ModelA, then it should work.

[2017-04-21 08:57] joeywp commented on #4531
The thing is that ModelA can contains multiple of ModelB. In the example it only contains 1 ModelB instance, but maybe I should have made it more clear that it can also contain more than 1 ModelB instance.

 I also tried what you suggested, but that would mean that ModelA would have to have a RealmList<ModelB> and ModelB would have to have a RealmResults<ModelA> with the LinkedObjects("modelB") an

[2017-04-21 08:59] Zhuinden commented on #4531
`modelB` in this case is a field of `modelA` in that JSON example.

The real hack is that the API sends down an inverse relationship. 👅

[2017-04-21 09:05] mkovalyk commented on #3700
@mlostekk Yes, it works. But it sounds rather like workaround than fix of the issue.

[2017-04-21 09:13] Zhuinden commented on #3700
according to code it **should** work if you give a name in the format of `whatever.realm`, but it seems to me that you can configure this with a `databaseNamePattern` using `RealmInspectorModulesProvider.ProviderBuilder`

[2017-04-21 09:23] mlostekk commented on #3700
@mkovalyk yep, of course. This is only a workaround. I am having the same issue and found this as the only solution for now

[2017-04-21 09:25] mkovalyk commented on #3700
@Zhuinden It **should** but **doesn't**. I have set `databaseNamePattern`. On previous version it worked. Actually it detects this database, but cannot find any tables.

[2017-04-21 09:34] cmelchior commented on #4530
I guess it could work, and even though it is API breaking, most will probably not have to do any changes. I would be a bit concerned about how complicated it becomes to combine options (even more than both options I outlined).

[2017-04-21 10:59] Zhuinden commented on #4530
@cmelchior how about:

[code]

[2017-04-21 11:03] cmelchior commented on #4530
@Zhuinden Have you tried using that?

[code]
Looks extremely long and complicated to me :)

[2017-04-21 11:03] Zhuinden commented on #4530
.....ah, then I think you should just add `Diacritic` enum

[2017-04-21 12:20] erudonja1 commented on #3808
@Zhuinden Nope... It still not working with 3.0 version.

Error message:
com.thoughtworks.xstream.converters.ConversionException:
---- Debugging information ----
cause-exception     : java.lang.IllegalStateException
cause-message       : Failed to transform class with name io.realm.Realm. Reason: rx.Observable
class               : org.junit.internal.runners.statements.InvokeMethod
required-type

[2017-04-21 12:22] beeender commented on #3808
@erudonja1  try to create a dummy class `rx.Observable`. See https://realm.io/docs/java/latest/#jackson-databind

[2017-04-21 12:28] erudonja1 commented on #3808
@beeender but where to put that package and class?
Should I create it into my testProject, androidTestProject or just into my project?

If I just create new package with class as it is mentioned it throws this error message:

java.lang.NoClassDefFoundError: org/mockito/cglib/proxy/Enhancer

	at org.powermock.api.extension.proxyframework.ProxyFrameworkImpl.isProxy(ProxyFrameworkImpl.java:52)
	at or

[2017-04-21 12:35] beeender commented on #3808
@erudonja1 The exception message shows another problem which I have no idea about ... sounds like something wrong between powermock and robolectric.

[2017-04-21 13:39] Zhuinden commented on #3808
@erudonja1 once you fixed issue by creating `rx.Observable` class, now this problem is a version mismatch between Mockito 2.x and Powermock 1.6.5! see https://groups.google.com/forum/#!topic/powermock/cE4T40Xa_wc

Powermock only has experimental support of Mockito 2.x, see https://github.com/powermock/powermock/wiki/Mockito-2-(Maven)

The Powermock 2.0 release is scheduled for **June 2017**.

Anot

[2017-04-21 13:40] ericmaxwell2003 commented on #4517
Suddenly, I cannot reproduce.  It's very odd.  But I guess this issue is "unreproducible" at the moment.  :-/ .   Thanks to @beeender for helping me take a look today!

[2017-04-21 15:16] erudonja1 commented on #3808
@Zhuinden @cmelchior @beeender Thank you guys!

**SOLUTION**
Finally this is solution that works partially:

gradle:
dependencies {
    compile fileTree(dir: 'libs', include: ['*.jar'])

    // DAGGER
    compile "com.google.dagger:dagger:2.9"
    apt "com.google.dagger:dagger-compiler:2.9"
    testApt 'com.google.dagger:dagger-compiler:2.9'
    androidTestApt 'com.google.dagger:dagger-compiler:2.

[2017-04-21 21:00] rajuashok commented on #4493
FYI, simply calling `Context.getFilesDir()` before `Realm.getInstance()` also seems to fix the issue. Does the Realm native code call `Context.getFilesDir()`? Or does it assume the path is there and try to make a directory within it?

[2017-04-21 21:05] cmelchior commented on #4493
We do call that method: https://github.com/realm/realm-java/blob/master/realm/realm-library/src/main/java/io/realm/RealmConfiguration.java#L412

I guess we can add more error checking there, so we can fail sooner, but I'm a bit out of ideas on fixing it.

[2017-04-21 21:40] rajuashok commented on #4493
Yeah I agree, it would be nice if your code had some extra checking, but yes this doesn't make sense according to the Android APIs.

Especially since it's happening on several devices (Pixel, Nexus 5, emulators, etc). We'll just have to fix this with the workaround mentioned.

[2017-04-21 22:06] cmelchior commented on #4530
Blocking this pr: https://github.com/realm/realm-core/issues/1082

[2017-04-22 00:19] geolyth opened #4532 "Same query, different results"
#### Goal

I would like to obtain same results from same query but I don't understand because not happen.

#### Expected Results

Same RealmResults

#### Actual Results

RealmResults in code sample 1 has some values, RealmResults in code sample 2 has 0 results.

#### Steps & Code to Reproduce

I execute code sample 1 at startup of my fragment and I obtain some results.
When I fill an EditText and

[2017-04-22 00:34] Zhuinden commented on #4532
can you guarantee that `v.getText().toString().trim()` == `""` and also `loadDataUi()` is not bugged?

It makes me wonder why you are displaying an ArrayList instead of a `RealmResults` directly using a `RealmRecyclerViewAdapter`, for example.

[2017-04-22 01:34] geolyth commented on #4532
I tried also to comment ".contains..." and "loadDataUi" but the result is the same, so Code Sample 1 has N results and Code Sample 2 has 0 results and I don't understand why.

[2017-04-22 01:52] Zhuinden commented on #1744
@cmelchior  I'm actually somewhat surprised that this is on idea-backlog, considering there used to be an api like that before 2014.09.28.

[code]

It was removed entirely when Realm became `io.realm`. I'm guessing there was something clunky about it; most likely the `PeopleTable` class, and handling subtables.

Apparently history **can** be super-duper interesting though! :smile:

[2017-04-22 02:00] Zhuinden commented on #4532
Well the only difference is `v.getText().toString().trim()` so that is where I'd focus my attention.

[2017-04-22 07:24] geolyth commented on #4532
I thought the problem was equalTo followed by containes clause but after I commented the last one, I discovered this not the issue.

I hope someone could explain me why this happen and how I can fix this strange situation.

[2017-04-22 09:31] jarklee commented on #4532
why just you try to query first block code twice to determine whether v.getText().toString().trim() != "" cause strange behavior or by realm framework itself

[2017-04-22 09:45] Zhuinden commented on #4532
Technically you are in a transaction in both cases, so it's not possible that you'd see "outdated data". Both results have to return the same elements for the same conditions.

[2017-04-22 10:13] geolyth commented on #4532
@jarklee The problem is not "contains" I think because when I commented "contains" clause the problem remain.

[2017-04-22 10:17] geolyth commented on #4532
@Zhuinden The same thought...my workaround is:

[code]

I discovered If I use a value instead of ""

[code]

I obtain a right result...so I don't understand :)

[2017-04-22 10:21] Zhuinden commented on #4532
`""` is not `null`, if you want to look for `getParent() == null` then you should use `isNull()` operator

[2017-04-22 10:35] geolyth commented on #4532
@Zhuinden I am so noob with Realm...sorry :(

[2017-04-22 10:35] #4532 closed

[2017-04-22 10:48] geolyth opened #4533 "createOrUpdateAllFromJson, removing object that not exist anymore in Json"
#### Goal

Update Realm Database with "createOrUpdateAllFromJson" without lost reference to other objects but removing object that not exist anymore in Json

#### Expected Results

Realm Database with only RealmObjects contained in Json (so RealmObjects no longer exist not should be in Database).

#### Actual Results

Realm Database with RealmObjects contained in Json and also RealmObjects no long

[2017-04-22 11:05] Muddz commented on #4503
@Zhuinden  @beeender  removing that makes things worse! My recycerlerview lags a lot and wont even scroll anymore

[2017-04-22 11:34] Muddz commented on #4503
@Zhuinden  @beeender I have found the problem:

setting autoUpdate in the super constructor to true as:   ` super(null, true); `
will cause my app to` java.lang.IllegalStateException: Cannot call this method while RecyclerView is computing a layout or scrolling`

Realm Adapter version:  'io.realm:android-adapters:2.0.0'
RealmDatabse version: "io.realm:realm-gradle-plugin:3.1.3"

[2017-04-22 11:56] Zhuinden commented on #4503
No, you haven't found the problem, if you disable auto-updates then your Adapter will get out of sync when you insert or remove elements from the Realm that are shown in the RecyclerView.

I've read the stack trace again, and now I understand what's wrong.

-------------

When you call

[code]

Then this triggers your `@OnCheckedChanged(R.id.checkbox)` check change listener on your view holder

[c

[2017-04-22 12:02] Zhuinden commented on #4514
You need to open a Realm instance on the background thread, and query `preVendaList` from that Realm instance. Then, you should close the Realm instance when the thread ends (use `try(Realm realm = Realm.getDefaultInstance()) { ... }`

[2017-04-22 12:17] Muddz commented on #4503
@Zhuinden Thanks it worked!!

Now I check my value as following:

     public void setCheckedItem(Realm realm, final int checkFlag) {
        realm.executeTransaction(new Realm.Transaction() {
            @Override
            public void execute(Realm realm) {
                if (checkFlag == 1 && isBought !=1) {
                    setIsBought(1);
                }

            }
        });

[2017-04-22 14:22] Zhuinden commented on #4503
Yup, although you still start a transaction even though you don't need to actually do a write.

Alas, it'll work :smile:

[2017-04-22 16:23] Zhuinden commented on #4106
You can use [refresh()](https://github.com/realm/realm-java/pull/4515) method available since Realm 3.2+

[2017-04-22 17:32] Muddz commented on #4503
@Zhuinden Allrighty! I will remember that for all my writing operations!

I really appreciate your commitment for helping people here! You deserve a medal!

[2017-04-22 22:11] cmelchior opened #4534 "Better Databinding Support"
Playing around with databinding in a side project made me think about this a bit more. Sorry for the wall of text :)

Databinding is a fairly complex topic especially on when you want to support field change notifications. Right now it requires quite a lot of boilerplate: https://github.com/Zhuinden/realm-databind-experiment/blob/master/app/src/main/java/com/zhuinden/realmdatabind/realm/objects/Po

[2017-04-22 22:20] Zhuinden commented on #4534
on top of 1), what I initially wanted to reduce boilerplate was to do this:

    public class RealmBaseObservable extends RealmObject implements Observable {
        // stuff from `BaseObservable` goes here, all fields are transient or marked with `@Ignore`
    }

    public class Post extends RealmBaseObservable {
        // ...
    }

that way `implements RealmModel` is not needed, but there are

[2017-04-23 00:27] emanzanoaxa opened #4535 "Cannot close realm instance while subscribed (RxJava)"
#### Goal

#### Expected Results

#### Actual Results

#### Steps & Code to Reproduce

The log shows there is one realm instance open.

#### Code Sample

[code]

#### Version of Realm and tooling
Realm version(s): 3.1.3

Realm sync feature enabled: no

Android Studio version: 2.3.1

Which Android version and device: API 25, on emulator and Nexus 5.

[2017-04-23 00:38] Zhuinden commented on #4535
RealmChangeListeners associated with a closed Realm are no longer called, therefore Rx won't send you events down the chain.

However, the `RealmObservableFactory` **does** acquire a new Realm thread-local instance based on the provided Realm's configuration, which is closed when `unsubscribe()` is called, see [here](https://github.com/realm/realm-java/blob/master/realm/realm-library/src/main/java

[2017-04-23 01:17] Zhuinden commented on #4080
So this is for handling use-case described in https://realm.io/docs/realm-object-server/#client-recovery-from-a-backup right? (basing that on sync-session)

But what do I as developer need to do exactly when I receive one of these errors?

[2017-04-23 01:27] Zhuinden commented on #4059
The principle behind this doesn't look too difficult though, it seems this is for passing **1** object between two threads, so that you don't need to get the ID and requery the object on the other thread anymore.

I'm probably missing the complexity at initial glance, though. This will be useful!

[2017-04-23 07:35] cmelchior commented on #4534
Yup that is actually what 2) describes.

[2017-04-23 17:55] #4503 closed

[2017-04-23 18:53] emanzanoaxa commented on #4535
Thanks @Zhuinden for the quick reply. I'll try creating a custom observable factory.
I'll close the issue, but I think this behaviour must be on the documentation, using Rx in realm is a bit tricky.

[2017-04-23 18:53] #4535 closed

[2017-04-23 19:36] RuslanPrimak opened #4537 "LinkingObjects does not work"
#### Goal

Test LinkingObjects annotation

#### Expected Results

Execute simple Android app with example specified with documentation

#### Actual Results

FATAL EXCEPTION: Caused by: java.lang.IllegalArgumentException: Invalid query: field 'owners' does not exist in table 'Dog'.

#### Steps & Code to Reproduce

Implementing simple application with Person and Dog objects

#### Code Sample

[code]

[2017-04-23 20:17] cmelchior commented on #4537
Queries are not supported in the initial version as noted in the changelog: https://github.com/realm/realm-java/blob/master/CHANGELOG.md#enhancements-2

They should be part of the next release. You can follow progress here: #4519

[2017-04-23 20:17] #4537 closed

[2017-04-23 22:21] Zhuinden commented on #4503
Glad I could help :smile:

[2017-04-24 04:29] beeender commented on #4379
@kakateeya @SamTTaylor I am closing this issue now. If you still need help on this, please let us know.

[2017-04-24 04:29] #4379 closed

[2017-04-24 04:37] beeender commented on #4401
@warchildmd Hope `writeCopyTo` solved your issue. Let us know if you still need help on this issue.

[2017-04-24 04:37] #4401 closed

[2017-04-24 04:41] beeender commented on #4439
close due to no response.

[2017-04-24 04:41] #4439 closed

[2017-04-24 04:41] beeender commented on #4481
close due to no response.

[2017-04-24 04:41] #4481 closed

[2017-04-24 06:45] Zhuinden commented on #4401
Maybe the schema could be logged a bit better when such an exception  is thrown

[2017-04-24 07:31] RajeshkumarA-Contus opened #4539 "Some query not working in 3.1.3."
For example,
1. Refresh the database,
2. Checking database has content.
etc.

[2017-04-24 07:38] Zhuinden commented on #4539
You really need to post more code, for example what thread is this on, etc

[2017-04-24 07:41] RajeshkumarA-Contus commented on #4539
Hi Zhuinden,

I have not implemented RxJava. I need to confirm all the functionality will work in 3.1.3 version.  Is any dependency is available.

[2017-04-24 07:43] Zhuinden commented on #4539
You're in luck, it will be re-added in Realm 3.2.0.

[2017-04-24 07:45] RajeshkumarA-Contus commented on #4539
K fine. I am in working on the project. Will the Realm 3.2.0 will release early.

[2017-04-24 07:51] RajeshkumarA-Contus commented on #4539
Hi,

I have another doubt,
How can i use BaseObservable and RealmObject in same class.. for DataBinding.

[2017-04-24 07:51] Zhuinden commented on #4539
Technically I would need to know your current Realm version, considering refresh was removed in 0.89.0, and that was about 1.5 years ago.

But Realm 3.1+ is closest to 0.88.3 in behavior, so that's great.

[2017-04-24 07:57] Zhuinden commented on #4534
Except personally I was thinking that if the parent classes have no inherited fields, then this class would work even without it being explicitly provided by Realm - the support for extending abstract classes with no fields that extend from RealmObject  :)

[2017-04-24 08:24] Zhuinden commented on #2492
So I actually managed to get this error myself in a production app:

[code]

But I'm pretty sure this is from an old version of the app and from an outdated version of Realm where the application class initiates some downloads, the notification is clicked and that process also starts downloads and the two processes butcher the Realm file to pieces, so there isn't much to think about there.

[2017-04-24 08:32] cmelchior commented on #4534
The annotation processor can detect that. At that point we are losing the help from the type system though and might as well just allow all abstract classes with fields. We would still not support polymorphism (i.e. multiple types in the same collection), but it the feature would be the same as what Cocoa does right now.

[2017-04-24 09:09] benj56 opened #4540 "Segmentation fault in UncheckedRow_nativeIsNull+56 when operating on invalid/deleted object"
I kind-of randomly experience native crashes during different scenarios in my app. There is a scenario where I can reproduce the crash almost immediately.

#### Version of Realm and tooling
Realm version(s): 3.1.3

Realm sync feature enabled: no

Android Studio version: 2.3.1

Which Android version and device: S6 6.0.1, x86 emulator 7.1.1

Realm encryption is **not** enabled.

#### Crash

The scen

[2017-04-24 09:11] Zhuinden commented on #4540
There should definitely be a Java exception.

[2017-04-24 09:30] kneth commented on #4452
@mhdtouban Thanks for the feedback. We need to investigate a bit further.

[2017-04-24 09:39] kneth commented on #4524
@jollyjoker992 Does your app have multiple processes? Does it happen the first time your app is launched? Did the device run out of disk space?

[2017-04-24 09:43] kneth commented on #4493
@rajuashok Did you have a chance to implement the workaround?

@Zhuinden Which Samsung devices?

[2017-04-24 09:55] kneth commented on #4533
It is true that `createOrUpdateAllFromJson()` will *not* delete objects (I believe that the name indicates that - judge from a CRUD interpretation). We designed the JSON methods from the point of view that apps will incrementally update data. If your app receive all objects every time, it might be easier to delete all objects.

[2017-04-24 10:13] adwaitv commented on #4237
For our users, the issue seems to be occurring on all Android versions rather uniformly whenever it does.
I can't find a way to reproduce this myself and I don't have access to the realm file either. All I have to show is that Stacktrace which comes from crashlytics. It has affected 13 users in the last 90 days.

[2017-04-24 10:34] kneth commented on #4540
@benj56 We try to avoid native crashing like the one you have experienced. If possible, a Java exception with good explanation is to prefer.

[2017-04-24 10:35] saeedrooyekhat opened #4541 "java.lang.NoSuchMethodError , java.lang.StackOverflowError after update to 3.1.3"
My project was updated from Realm 2.3.1 to Realm Version 3.1.3,

in the following code
[code]

I got the following error
[code]

also i have another problem. when i get instance from realm encounter to this error

[code]
Both of these errors occurred after Realm updated

#### Version of Realm and tooling
Realm version(s): 3.1.3

Realm sync feature enabled:no

Android Studio version: 2.2.1

Which A

[2017-04-24 10:41] kneth commented on #4541
@saeedrooyekhat Are you using the Realm adapters? If so, you need to upgrade that library too.

[2017-04-24 10:43] kneth commented on #4539
Please add the information as the issue template outlined.

[2017-04-24 10:43] Zhuinden commented on #4541
NoSuchMethodError comes from that the `RealmBasedRecyclerViewAdapter` you're using is outdated for Realm 3.0.0 and uses package internal methods that no longer exist.

You should switch to the new `RealmRecyclerViewAdapter` provided by `realm-android-adapters` which also provides animations for your elements.

----

The second one is probably caused in a RealmChangeListener calling `executeTransac

[2017-04-24 10:45] Zhuinden commented on #4541
@kneth he is using the Thorben Primke `realm-recyclerview` library

[2017-04-24 10:47] Zhuinden commented on #4539
For the time being, you can  do `public class MyObject extends RealmObject implements Observable`

[2017-04-24 10:47] kneth commented on #4541
And @thorbenprimke hasn't updated it for a while.

[2017-04-24 10:48] Zhuinden commented on #4533
Deletion of objects will invalidate links to existing classes, personally I did this kind of merging logic manually instead of the json api

[2017-04-24 10:49] Zhuinden commented on #4541
Yes, RealmRecyclerViewAdapter is better choice. Especially now that it provides animations, and no need to hack it out based on primary key and manual diffing.

[2017-04-24 10:50] ablack13 commented on #4237
@kneth  Got the same issue on LG device (not rooted). Crash report from Fabric Crashlitycs

Basic info & Stacktrace:
1) DB on external storage
2) DB file has custom name (see in logs)
3) Without migration process
4) This crash was called once only

 Date: 2017-04-23T17:52:12Z
 OS Version: 5.0.2
 Device: LG-D724
 RAM Free: 34.3%
 Disk Free: 13.7%

Fatal Exception: java.lang.RuntimeException: Unable

[2017-04-24 10:52] kneth commented on #4533
Yes, it is very hard (if not impossible) to come up with a general solution. Doing a manual deletion is required as you understand the logic.

[2017-04-24 10:53] RajeshkumarA-Contus commented on #4539
Hi,

Can we use this for above scenario
public class Person extends BaseObservable implements RealmModel{}
or
public class Person extends RealmBaseObservable {}

Is this proper way.. or want to use
public class MyObject extends RealmObject implements Observable

[2017-04-24 10:53] cmelchior commented on #4539
@RajeshkumarA-Contus See #4534 . For now you need to do:

[code]

[2017-04-24 10:54] kneth commented on #4517
@ericmaxwell2003 I'll move it to P2. You have the power to escalate ;-)

[2017-04-24 10:55] RajeshkumarA-Contus commented on #4539
K fine.. Thanks for your kind information.

[2017-04-24 11:01] saeedrooyekhat commented on #4541
@Zhuinden i have this code
[code]
and after call onGetRoomHistory this code will be executed

[code]

in this codes i don't use from RealmChangeListener , but i got this error!

[2017-04-24 11:34] saeedrooyekhat commented on #4541
for
[code]
 will be used from realm-android-adapters .

but for
[code]
 i don't have any solution!

[2017-04-24 11:38] benj56 commented on #4540
I noticed that it works with a String primaryKey (Java exception similar to "the object is no longer valid to operate on") but with Integer it crashes.

[code]

[2017-04-24 11:41] cmelchior opened #4542 "Support Stable ID's"
We need to support the Stable ID feature for synced Realms: https://github.com/realm/realm-object-store/pull/434

A (not final) list includes:
- [x] Remove usage of instructions no longer supported (This especially impact creating objects with  primary keys)
- [x] Create a migration scheme for older Realms, since we need to add the ID column to older tables
- [x] Change all code paths that create

[2017-04-24 11:42] beeender commented on #4540
We missed validation check here https://github.com/realm/realm-java/blob/master/realm/realm-library/src/main/cpp/io_realm_internal_UncheckedRow.cpp#L390

[2017-04-24 11:50] Zhuinden commented on #4541
I am not sure about the cause of this stack overflow error, especially considering nothing in regards to the `RealmCache` has been changed, but you can try reversing the order of `close` and the `callback` methods

[code]

and

[code]

[2017-04-24 11:58] RameshReddyKolla opened #4543 "Unable to perform filter on realm results using SearchView and RealmRecyclerViewAdapter"
#### Goal
How to perform Filterable on realm results.

#### Expected Results

Need to get filtered text from the realm results.

#### Actual Results
Throwing error saying that realm results can only be used on the thread on which they are created.

#### Version of Realm and tooling
Realm version(s): 3.1.0

Realm sync feature enabled: no

Android Studio version: 2.3

Which Android version and devic

[2017-04-24 12:14] saeedrooyekhat commented on #4541
my older code was
[code]
and just to test this mode was changed to

[code]

[2017-04-24 12:20] Zhuinden commented on #4543
http://stackoverflow.com/a/40632613/2413303

[2017-04-24 13:17] RameshReddyKolla commented on #4543
Yeah. I implemented this http://stackoverflow.com/a/40632613/2413303 process, this is completely fine.In this process, we write the query and get the filter results.But in my case, filtering has to be done on realm results which are already queried.

[2017-04-24 14:05] #4141 closed

[2017-04-24 14:06] #3743 closed

[2017-04-24 14:11] nhachicha commented on #4376
fixed in https://github.com/realm/realm-java/pull/4482

[2017-04-24 14:11] #4376 closed

[2017-04-24 14:15] Zhuinden commented on #4543
`getData().where()./*do condition stuff here*/.findAll()`

[2017-04-24 14:24] adwaitv commented on #4237
@ablack13 it seems that your problem is different. It doesn't say "Bad realm header". Check storage permissions maybe?

[2017-04-24 14:46] ablack13 commented on #4237
@adwaitv  You're right. Write permissions denied. But after reboot all ok
Thanks. My issue solved

[2017-04-24 15:19] RameshReddyKolla commented on #4543
Thank You, Zhuinden.It is working, Great!

[2017-04-24 16:02] Zhuinden commented on #4493
I think it might have been the tablet, or it was the ace 3. I'm not sure...

[2017-04-25 02:34] jpmcosta opened #4544 "Bidirectional links Caused slowness when parsing collection changeset"
#### Goal

I think I've found a bug that makes Realm freeze while trying to execute transactions to update data.

#### Results

My schema worked fine in Realm 2.3.0, but it doesn't seem to work well in Realm 3.1.3.

#### Steps & Code to Reproduce

I've created a simple app to reproduce the bug: https://github.com/jpmcosta/RealmTestProject/tree/47b091215e2517ae337b88f6a5aeb597edf6542d:
- run the ap

[2017-04-25 02:44] beeender commented on #4544
I can reproduce this, checking now.

[2017-04-25 03:09] KaeMs commented on #4520
Sorry for long reply, it still doesn't work.. The same error still gets thrown

[code]

I changed a bit of the code of my constructor to :
[code]

So that I can still do `mDataset.someMethod()`..

Is there anything else I should've done which I miss? It works basically like RecyclerViewAdapter, right?

[2017-04-25 03:37] ebbnormal opened #4545 "proxyState is completed false on synchronous query"
We found a potential realm bug running Samsung Edge S7 using realm-java 2.2.1 and doing a synchronous realm query.
We have a `Dog` class which has the following definition:

[code]

We have an `Activity` which sees if an object is in `Realm()` and if not, updates the realm data with a new server call to retrieve said object.

When we have the following code in the `onCreate()` of our activity.

[c

[2017-04-25 03:37] jollyjoker992 commented on #4524
@kneth : No, my app is single process. It does not happen in the first time launching app, It happens in many time when launching app. I have attached code above and it is located in Application class.
Device. From Fabric report, all devices has enough free disk space.

[2017-04-25 03:41] rajuashok commented on #4493
Hi @kneth , so I tried the workaround and I'm seeing some very weird behavior.

I've tried two things:

1. Add a call to `getFilesDir()` in the `DataStore` initialization code. The `DataStore` is a singleton class that deals with Realm.
This workaround fixes the issue.

2. Add a call to `getFilesDir()` to the top of `Application.onCreate()`. This workaround does NOT fix the issue. When I call `get

[2017-04-25 03:42] beeender commented on #4493
@rajuashok When does the `getFilesDir` in `DataStore` get called in your `1` workaround?

[2017-04-25 05:04] RameshReddyKolla opened #4546 "How to modify realm results by adding or removing obj android"
#### Goal

How to add and remove realm objects to realm results.

#### Expected Results

realm object has to be added to realm results.

#### Actual Results

unable to add and remove realm object from Realm results.
#### Code Sample
RealmResults<A> realmResults = mRealm.where(A.class).findAll();

A obj = new A(); ##### Here A extends realm object
obj.setValue(1212);
realmResults.add(obj); // which

[2017-04-25 05:06] #4543 closed

[2017-04-25 07:05] Zhuinden commented on #4546
[code]

[2017-04-25 07:07] Zhuinden commented on #4545
so Dog has a default no-arg constructor that sets up default values?

Where do you call`realm.createObject()`?

[2017-04-25 07:09] Zhuinden commented on #4520
So `ChatRoomAsUserAdapter` is `RealmRecyclerViewAdapter`, right?

Do you unnecessarily call `notifyItemXXX` methods?

[2017-04-25 07:17] Zhuinden commented on #4541
This error might be device specific, what device is this stack overflow errorr happening on?

[2017-04-25 07:23] beeender commented on #4541
what is the full stacktrace for the stack overflow issue?

[2017-04-25 07:42] Zhuinden commented on #4544
after adding a bunch of logs

[code]

it appears that the transaction ends properly in the sense that it reaches `END OF LOOP`, but the app never reaches `PRE EXECUTE TRANSACTION`.

[2017-04-25 07:43] RameshReddyKolla commented on #4546
Yes, correct, I think this will update or insert the realm obj into the database.But I just need to add to RealmResults, not to DB.

[2017-04-25 07:45] kneth commented on #4546
@RameshReddyKolla It is not possible to add to `RealmResults` and they are live objects so when you modify/add/delete from your Realm, `RealmResults` objects are automatically updated.

[2017-04-25 07:55] kneth commented on #4524
@jollyjoker992 Is there a pattern in which devices you see the crashes? How easy is it to reproduce (i.e., how often does it happen)?

[2017-04-25 08:00] kneth commented on #4493
@Zhuinden You might have guessed, I suffer from a Samsung allergic reaction ;-)

[2017-04-25 08:02] kneth commented on #4539
I close the issue as @RajeshkumarA-Contus has a workaround until #4534 is implemented.

[2017-04-25 08:02] #4539 closed

[2017-04-25 08:05] Zhuinden commented on #4544
After commenting out lines, I see that call to `tempFilter.reset();` triggers the ANR.

[2017-04-25 08:08] beeender commented on #4544
yeah... something is wrong when parsing the nested linked field change transaction log in the object store...

[2017-04-25 08:09] Zhuinden commented on #4544
Leaving in either `tempFilter.reset();` which calls `apps.clear()`, or leaving in `tempFilter.apps.add(app);`  will trigger the ANR.

[2017-04-25 08:16] Zhuinden commented on #4546
When you insert in Realm, you insert in RealmResults.

[2017-04-25 08:17] KaeMs commented on #4520
Nope, I don't call it anymore, and btw for extra info, this might help..
When user first enters the activity, an API call is made, and the result is handled like this :

[code]

[2017-04-25 08:17] Zhuinden commented on #4493
Everybody does. Especially @beeender after having to fix a broken `memcpy` call

[2017-04-25 08:21] Zhuinden commented on #4544
I'm a bit sad because I think I ran into this before by creating `initialData` that added items to RealmList and the app never really started, but I didn't figure out why or what changed. :(

[2017-04-25 09:09] Zhuinden commented on #4544
@beeender all I can see is btw is that the schema looks like this:

[code]

[2017-04-25 10:27] cmelchior commented on #4466
`schemaVersion` must be bumped for a device to upgrade the schema locally, as in, when you open the Realm we compare the schemas and if a migration is needed, the schemaVersion must be incremented. This is so you don't accidentally make a change to schema that makes it into the wild, because once such a change has been synced to other devices, it is pretty hard to get rid of.

I'll update the docs

[2017-04-25 10:29] kneth commented on #3920
Maybe @zaki50 can try to various combinations of those flags?

[2017-04-25 10:48] kneth commented on #1744
@Zhuinden The clunky part was that generating classes like `PeopleTable` happened outside Android Studio, and the user was not able to have completion, etc. Somewhat like GreenDAO 2. We decided to use the annotation processor instead ;-)

[2017-04-25 10:52] kneth commented on #4401
@Zhuinden You mean the entire schema?

[2017-04-25 10:55] cmelchior commented on #1744
We could theoretically create user visible classes like the RealmFieldHelper project does, and @buchandersenn actually already started doing here: https://github.com/buchandersenn/android-realm-builders

I'm not entirely sure this is something we would want as part of the main Realm project though, mostly because the method count would kinda explode, also we would still need the current support fo

[2017-04-25 10:58] Zhuinden commented on #1744
Yeah, method count would explode, also QueryDSL also only supports paths only 4 levels deep by default (kinda like links, really), and there's an additional annotation that you can use to "initialize a path" if you need something deeper.

There is a reason why the "dynamic query api" is what stayed instead of the "typed" one, I guess. In fact, back then I'm not sure there even was multidexing!

[2017-04-25 11:01] cmelchior commented on #1744
We all love type safety, and I could see us baking validation into an Android Studio plugin (or Lint), possibly even auto-completion. Now to find those cycles somewhere 😄

[2017-04-25 11:31] Zhuinden commented on #4401
Hmm... then the message would be a bit long... but it'd definitely help to understand the fields and types and where the mismatch is.

[2017-04-25 11:50] vamshikhoslalabs commented on #4452
@kneth Hi kneth i'm working on a Android SDK i'm using realm as a db library. Now i'm trying to share my SDK as a aar file to the developers, even they are using realm as a db library. While initializing my library by developers it give my instance as the default instance to the developers  when they call Realm.getDefaultInstance. Can you please give some example in my current scenario. Thank you.

[2017-04-25 12:24] zaki50 commented on #4546
You need to create your own List class which merges `RealmResults` and own elements.

[2017-04-25 13:02] buchandersenn commented on #1744
Just to chime in here, the snippet provided by @Zhuinden seems to indicate that Realm used to generate an inner class per field, where that inner class then provided all the methods for between(), contains() and other relevant queries for that field. If you do that then yes, the method count would quickly explode. I agree that's bad!

In my library (https://github.com/buchandersenn/android-realm-b

[2017-04-25 13:41] RameshReddyKolla commented on #4546
Yes, am doing the following way.
RealmResults<A> results = mRealm.where(A.class).findAll();
List<A> list ==> contains both realm results and  class A objs like **list.add(new A());**
But when i use this list in Filterable class which is in Adapter class throwing exception realm objects can only be accessed the theread on which they were created.

[2017-04-25 13:51] Zhuinden commented on #4546
http://stackoverflow.com/a/40632613/2413303

[2017-04-25 14:12] realm-ci opened #4550 "Fix merge from fe9048 to master"

[2017-04-25 14:13] kneth commented on #4540
I have added a check.

@benj56 Thanks for reporting!

[2017-04-25 14:13] #4540 closed

[2017-04-25 15:53] semenoh opened #4552 "delete/recreate realm if migration failed"
It's easy to delete realm when migration needed in config. But I'd like to do a migration and delete realm only if migration failed.
I've tried to wrap migration code in try/catch block but `realm.deleteAll()` does not do the trick.

Please provide some documentation on this.

And BTW. Do the migration is performed in transaction ? Sometimes it looks like failed migration broke the data so fixed m

[2017-04-25 16:04] cmelchior commented on #4552
Something like this in a wrapper method should work:

[code]

In the future, this kind of questions are better asked on Stack Overflow where more people will be able to answer it.

[2017-04-25 17:30] rajuashok commented on #4493
Hey @beeender this is a general order of operations:

[code]

If I do the following it does NOT work:

[code]

[2017-04-25 17:54] DavidBarreraChindo opened #4553 "Security flag fstack-protector"
** Expected Results**

** Actual Results**

Built with option -fstack-protector"

ib/x86_64/libtool-checker.so lib/x86_64/librealm-jni.so lib/x86/libcrashlytics-envelope.so lib/x86/librealm-jni.so
lib/armeabi/librealm-jni.so lib/armeabi-v7a/librealm-jni.so lib/arm64-v8a/librealm-jni.so lib/mips/librealm- jni.so

 **Steps & Code to Reproduce**

#### Version of Realm and tooling
Realm version(s): io

[2017-04-25 18:42] cmelchior commented on #4553
As a general purpose project, we have to continuously evaluate the trade-off between performance and safety. In this case you are talking about a program running on a mobile device, so if an attacker has the level of access to attack and app with Realm, they already have access to modify/see the Realm file using normal API's. None of the Java API's would allow this kind of attack vector.

That sai

[2017-04-25 19:17] cmelchior commented on #4296
Note the scope of this has changed and we should implement the nicer Permission Wrappers instead: https://github.com/realm/realm-cocoa/pull/4799

[2017-04-25 19:29] Zhuinden commented on #4296
Wait a sec, if Permission Realm is not in yet, then what is `Added support for `PermissionOffer` and `PermissionOfferResponse` to `SyncUser.getManagementRealm()`.`?

Or is this a completely different thing?

[2017-04-25 19:37] ebbnormal commented on #4545
Yes I have a Dog no-arg constructor which sets up default values which are all non-zero. The only time I see zeros are when querying directly from Realm and then there are zeros on every attribute of the Dog the DogProxy has the lazy loaded version which has non-zero values.

[2017-04-25 19:41] Zhuinden commented on #4545
Hold on, I think you're just running into https://realm.io/docs/java/latest/#testing-and-debugging as in while you're debugging, you should look at the accessor values, and not the field values.

[2017-04-25 19:42] ebbnormal commented on #4545
Yes I get that but is there anyway the field values could be written to my UI if some error state occurs?

[2017-04-25 19:42] Zhuinden commented on #4545
No, the Realm-Transformer transforms all field access into proxy getter calls.

[2017-04-25 19:47] ebbnormal commented on #4545
Okay. But there was a state in the app which I have yet to reproduce which was not based on confusing field values with accessor values. I believe it is from realm. For example we are writing to realm in a UI thread, which cmelchior says not to do in the Realm docs, but my colleague just says that could make the UI jittery but wouldn't mess with the integrity of the data.

[2017-04-25 19:51] Zhuinden commented on #4545
With Realm 3.1+ the updating of RealmResults / RealmObjects on the UI thread is immediate for local transactions, and while it does force a `load()` on async transactions, it shouldn't/cannot cause inconsistency.

[2017-04-25 19:56] ebbnormal commented on #4545
okay but what if `proxyState == null` and then it tries to do this `        proxyState.setAcceptDefaultValue$realm(context.getAcceptDefaultValue());`

[2017-04-25 19:57] ebbnormal commented on #4545
then it could potentially set my object to have weird values ,and then i could bind the UI to that!

[2017-04-25 19:59] ebbnormal commented on #4545
or if somehow
[code]

is triggered  then it returns from the accessor method from my Dog's attribute with a value that I dont want.

[2017-04-25 20:02] Zhuinden commented on #4545
uh. The exact behavior of how default values are set up is a bit out of my scope.

If you can set up a sample project that reproduces the error, that would greatly simplify the search for the cause. In the meantime, @zaki50 knows how this part of the transformation works.

[2017-04-25 20:58] rajuashok commented on #4493
Another point I forgot to mention is that in the first workaround attempt, where the `getFilesDir()` method is called after `DataStore.initialize()` it's called in a background thread: `Schedulers.io()` using RxJava.

Of course in the second case the call is done on the main thread in `Application.onCreate()`. I don't see how this could make a difference access wise as both live in the same proces

[2017-04-25 21:09] rajuashok commented on #4493
I think we might go with the first workaround, but this is unfortunate because there's no guarantee that the `DataStore.initialize()` code will run before all calls to `Realm.getInstance()`...

Btw, is it best practice to call `Realm.init()` in the `Application.onCreate()` method?

[2017-04-25 23:03] cmelchior commented on #4296
It is a different thing.

[2017-04-25 23:09] geolyth commented on #4533
In the end, I choose to modifying api so I can use `createOrUpdateAllFromJson()` and don't do more work on app.
Now I design json to obtain all objects and, with a parameter "isDeleted" I know if object is deleted or not.

I thought a parameter could be useful in the method `createOrUpdateAllFromJson()` to achieve this behaviour instead of doing if manually ;)

[2017-04-25 23:30] hjmJhon commented on #2570
I meet the same problem, if you solve, please tell me , thank you in advance!

[2017-04-26 00:42] ebbnormal commented on #4545
Specifically, if the `proxy` is null when the field getter is called on an object, then it uses  `   proxyState.setAcceptDefaultValue$realm(context.getAcceptDefaultValue());` I guess that would assume `findFirst()` returns a non null value and I got the object from realm synchronously.

[2017-04-26 01:12] ebbnormal commented on #4545
@Zhuinden is it possible that because we don't wrap the original write to realm in a `try{} finally{ realm.close()}`? Or would you not do that if you are closing on the destruction of an `Activity`

[2017-04-26 01:13] ebbnormal commented on #4545
you suggest doing that , but for BG threads, where as this is all on the main thread (https://medium.com/@Zhuinden/how-to-use-realm-for-android-like-a-champ-and-how-to-tell-if-youre-doing-it-wrong-ac4f66b7f149)

[2017-04-26 01:15] ebbnormal commented on #4545
_"Closing the UI thread’s Realm is not crucial, because it is on a looper thread with auto-update."_ nevermind!

[2017-04-26 02:05] jpmcosta opened #4554 "`createSnapshot()` causes parent object to be deleted"
#### Goal

Delete the child Feed here:

[code]

#### Expected Results

Child deleted. I works as intended **without** `createSnapshot()`.

[code]

#### Actual Results

Parent deleted.

[code]

#### Classes

[code]
[code]

#### Version of Realm and tooling
Realm version: 3.1.3

[2017-04-26 02:32] DanteAndroid opened #4555 "getDeletionRanges should be empty"
The data in Realm are not changed at all, but `changeSet.getDeletionRanges()` and `getInsertionRanges()` is not empty.
Code:
[code]

This problem happens when:
I refresh the data, the same data is saved into Realm, then `notifyItemRangeRemoved` & `notifyItemRangeInserted` is executed which result in recyclerview's weird behavior.

You may want to check out my repository [here](https://github.com/D

[2017-04-26 03:00] jollyjoker992 commented on #4524
@kneth : Because I get crash report from users by Fabric, so I cannot reproduce it. So, sometime It happens when I launch app, I trace log and see all of issues I mentioned above. From Fabric, it happens in:
- Devices : SHAFT (41%), Sony (34%), Fujisu (24%) and all of them have enough free disk space and do not root before.
- OS : 6 (76%), 5 (13%), 7 (6%)

Can you tell me all of reasons make all o

[2017-04-26 03:14] KaeMs commented on #4520
If I delete a RealmList in the Fragment, the RealmList in the Adapter, provided that it has the same RealmList, will get updated right?

I search a RealmObject (a wrapper)by ID. This Object contains ID and a RealmList. Then I assign the List into Adapter.

[2017-04-26 03:33] beeender commented on #4555
the `collection` needs to be sorted to avoid this problem.
Realm doesn't guarantee the order of unsorted `RealmResults`. For example,
You have some data stored in the Realm like:

`[-1,0,1,2,3,4,5]`

And you have a UNSORTED results to get all values greater than or equal to (>=) `0`

`[0,1,2,3,4,5]`

If you removed the `-1` from Realm, you may receive a change notification says deletion at 0 and i

[2017-04-26 03:53] DanteAndroid commented on #4555
Thx for quick reply.
I don't think I haven't sorted it. [Check here](https://github.com/DanteAndroid/Beauty/blob/master/app/src/main/java/com/dante/girls/model/DataBase.java#L75) and [here](https://github.com/DanteAndroid/Beauty/blob/master/app/src/main/java/com/dante/girls/picture/PictureFragment.java#L145)

[2017-04-26 06:07] beeender commented on #4554
Thanks a lot!!!!!!!

[2017-04-26 06:39] KaeMs commented on #4520
This is a part of the error, basically the same, but now I don't catch it using the custom LinearLayoutManager
[code]

[2017-04-26 06:44] zaki50 commented on #4546
@RameshReddyKolla You can access `RealmResults` and `RealmObject`s only from the thread where those instances are generated.

[2017-04-26 07:08] zaki50 commented on #4545
@ebbnormal `proxyState` never be `null` in property setters since we injected `realm$injectObjectContext();` to all constructors in all model classes.

https://github.com/realm/realm-java/blob/master/realm-transformer/src/main/groovy/io/realm/transformer/BytecodeModifier.groovy#L92

This `realm$injectObjectContext();` call happens before any setter calls including default value assignment.

[2017-04-26 07:17] Zhuinden commented on #4520
You use managed RealmList obtained from Realm, right?

[2017-04-26 07:19] Zhuinden commented on #2570
I've seen this issue caused by the broken memcpy function before 3.1.1, but otherwise it means the migration didn't run right, or a migration was not added even though it should have been.

[2017-04-26 07:28] KaeMs commented on #4520
Yup, it's the RealmList inside the ChatRoomWrapper which I got from query.findFirst().

That's a managed RealmList right?

[2017-04-26 07:40] kneth commented on #4237
We haven't been able to reproduce this issue. Please upgrade to a recent version and see if it still persists.

[2017-04-26 07:46] adwaitv commented on #4237
We can't reproduce this issue either.  We'll get back to you if the problem persists on upgrading realm.

[2017-04-26 07:56] kneth commented on #4493
Yes, calling `Realm.init()` in `Application.onCreate()` sounds as a good idea (we do that in our examples).

Interestingly, `getFilesDir()` did have a bug (https://issuetracker.google.com/issues/36918154) but it is supposed to be fixed.

[2017-04-26 08:01] kneth commented on #4533
@geolyth Thanks for sharing. It sounds like something we should describe under "Recipes" in our documentation.

[2017-04-26 08:01] #4533 closed

[2017-04-26 08:06] kneth commented on #4524
@jollyjoker992 So no obvious patterns 😢

If you can post the stack trace/log from one or two of the crashes, it might be useful.

[2017-04-26 08:07] cmelchior commented on #4493
Nice find @kneth. Apparently that bug wasn't fixed until 4.4, which makes me think we want to strengthen our code in this area:

I can see us doing 2 things:

1) Implement the code suggested in https://github.com/realm/realm-java/issues/4493#issuecomment-295349044

2) If the above fail, we can implement a small loop that check for this every X (~16ms) for 100-200 ms? Values open for debate of cour

[2017-04-26 08:34] Zhuinden commented on #4520
Yes, that is a managed list. But if you don't try to manually manage the `notifyItem*` calls, and you're using RealmRecyclerViewAdapter, then I'm not sure what's going wrong. Any chance you can create a sample project to reproduce this?

[2017-04-26 08:51] KaeMs commented on #4520
Yes I can create a sample project, in fact I tried a new Activity with the exact same code, except for the API call, and it worked, but when I reopened it again sometimes later, it doesn't work, should I just copy paste the activity code here?

[2017-04-26 09:19] beeender commented on #4555
`findFavoriteImages` is not sorted, could that be the case?

[2017-04-26 09:20] kneth commented on #4401
@Zhuinden We should provide a browser all our non-Mac users!

[2017-04-26 09:31] kneth commented on #4452
@vamshikhoslalabs We don't have a simple solution for your case. We load the `.so` file when `Realm.init()` is called. Deep down, `dlopen()` is called, and I can easily imagine that loading the same `.so` file in different version will lead to random crashes. Even for `.so` files at the same version but different locations, I think you can run into troubles. So if only one call to `Realm.init()` i

[2017-04-26 09:32] DanteAndroid commented on #4555
No, favoriteImages only appear in `FavoriteFragment`.
Actually, when I remove `sort`, just with `findAll()` it seems normal. Really confused now.

[2017-04-26 09:39] Zhuinden commented on #4401
I agree with that, as a Windows user :p

[2017-04-26 09:40] Zhuinden commented on #4555
How about `findAllSorted()`?

[2017-04-26 09:45] kneth commented on #4553
When we are able to upgrade to a recent NDK version, we might also experimenting with FORTIFY: https://android-developers.googleblog.com/2017/04/fortify-in-android.html

[2017-04-26 09:46] kneth commented on #2570
@hjmJhon Which device and Android version do you experience this on?

[2017-04-26 09:47] vamshikhoslalabs commented on #4452
@kneth Hey kneth I tried removing the Realm.init() call from my SDK. Still the developer is facing the issue of schema not part of realm configuration.

[2017-04-26 09:51] vamshikhoslalabs commented on #4452
@kneth Can I use Realm for developing an SDK can you tell me that so I could stop using realm as a ORM library for my SDK.

[2017-04-26 09:53] beeender commented on #4555
I tried your project, also re-enabled the code in your issue description, but cannot reproduce it by pulling to refresh.

Can you let me know how to reproduce it?

[2017-04-26 10:01] DanteAndroid commented on #4555
I'm sorry, you need to change MainActivity's method here to enable secret mode:

![7775e560-b41f-47d9-91f9-851cfba117cc](https://cloud.githubusercontent.com/assets/10005563/25428959/01b9ccec-2aaa-11e7-9eda-24a9421ca557.png)

then you'll see the secret column on the main page. Just try to refresh in the db_xxx section.

[2017-04-26 10:02] kneth commented on #4452
@vamshikhoslalabs What I was trying to say is that loading `.so` files isn't trivial. Can you provide a example project which shows this? If you don't wish to shared it publicly, you can send it to help@realm.io.

[2017-04-26 10:12] vamshikhoslalabs commented on #4452
@kneth I would like to talk directly so I can understand what is that i'm doing wrong my end or from developers end. Kindly let me know if it is possible.

[2017-04-26 10:23] beeender commented on #4555
I still cannot reproduce it :(

When you met this problem, what is the output of
`log("notifyItemRangeRemoved from: " + range.startIndex + " length: " + range.length);`
and
`log("no notifyItemRangeChanged " + range.startIndex + " to " + range.length);`

[2017-04-26 10:25] Zhuinden commented on #4452
I love Realm but personally if I were making an SDK, I probably wouldn't use Realm as persistence because of possibility of causing version mismatch.

But even if you do, you definitely shouldn't set the default configuration from the SDK, and you need to expose your RealmObjects via a `@RealmModule`

[2017-04-26 10:27] vamshikhoslalabs commented on #4452
@Zhuinden Thank you for you message. I was not clear in this part "But even if you do, you definitely shouldn't set the default configuration from the SDK, and you need to expose your RealmObjects via a @RealmModule" I have exposed my RealmObject via a `@RealmModule `

[2017-04-26 10:29] Zhuinden commented on #4452
Then developer needs to create a configuration where he sets the modules as `.module(Realm.getDefaultModule(), new LibraryModule())`

[2017-04-26 10:29] vamshikhoslalabs commented on #4452
@Zhuinden  There are scenarios where developers wont be using realm as an ORM library in that case I should set the default configuration from the SDK right otherwise it will break at some point saying no Realm configuration defined.

[2017-04-26 10:30] Zhuinden commented on #4452
@vamshikhoslalabs ....don't use `Realm.getDefaultInstance()` if you are developing SDK, use `Realm.getInstance(realmConfiguration)`

[2017-04-26 10:32] vamshikhoslalabs commented on #4452
@Zhuinden Ok was using it Realm.getDefaultInstance will change it to Realm.getInstance(realmConfiguration).

[2017-04-26 10:33] Zhuinden commented on #4520
Yes

[2017-04-26 10:51] redblood666 commented on #1595
and if that RealmList is null? i can serialize the object?

[2017-04-26 11:13] KaeMs commented on #4520
[code]

[2017-04-26 11:37] zaki50 commented on #1595
No

[2017-04-26 11:52] Zhuinden commented on #1595
http://stackoverflow.com/a/43621950/2413303

[2017-04-26 11:53] VedavyasBhat commented on #761
Any update on this issue?

I have models that look like this:
[code]
instead of looking something like this:
[code]
and it's a nightmare to add more message types or even write queries.

[2017-04-26 12:36] Zhuinden commented on #4520
`mDataset` should be completely removed and you should use `getData()` method of `RealmRecyclerViewAdapter`

[2017-04-26 12:54] Zhuinden commented on #761
I do not see why you have any more realmObjects beyond `Message`

[2017-04-26 13:06] RameshReddyKolla commented on #4546
correct.

[2017-04-26 13:11] Zhuinden commented on #4546
@RameshReddyKolla  you need to set new results in `publishResults` method

[2017-04-26 13:18] saeedrooyekhat commented on #4541
@beeender error message is
[code]

after this lines show my code line

[code]

[2017-04-26 14:02] Zhuinden commented on #4541
only relevant thing I found is http://stackoverflow.com/questions/3869026/how-to-clean-up-threadlocals and I'm not even sure if it is relevant.

[2017-04-26 14:50] nhachicha opened #4561 "Enable encryption with Sync"
We’re not using the encryption key for Synced Realm https://github.com/realm/realm-java/blob/fef417cb35a9920838a07f1ab93c8a84645b4d6f/realm/realm-library/src/main/cpp/io_realm_internal_SharedRealm.cpp#L134

this is because the ObjectStore has a different `realm_encryption_key` https://github.com/realm/realm-object-store/blob/3eada170f380174992b47b6023f375f3f372a9d2/src/sync/sync_config.hpp#L108 pa

[2017-04-26 15:03] dekrandroid opened #4562 "Startup Crash - Debug build with latest gradle build tool (2.3.1) on Android 5.1"
On Android with Android 5.1 device, the build fails to start up with debuggable build.
With the same code, we do not have the problem with the release build.

#### Actual Results

[code]

#### Steps & Code to Reproduce

Start the app and crash every time.

#### Version of Realm and tooling
Realm version(s): 3.1.3

Realm sync feature enabled: yes/no

Android Studio version:  2.3.1 - com.android.too

[2017-04-26 15:05] Zhuinden commented on #4562
Is instant run disabled?

Is multidexing enabled?

[2017-04-26 15:13] dekrandroid commented on #4562
InstanRun is enabled.
Multidexing is enabled.

[2017-04-26 15:30] Zhuinden commented on #4562
Disable instant run.

[2017-04-26 15:42] dekrandroid commented on #4562
Do we have any way to use instant run in this case?

[2017-04-26 15:47] Zhuinden commented on #4562
No

[2017-04-26 16:46] rajuashok commented on #4493
Thanks for looking into this @cmelchior ! How would I be able to test this fix? What version will this fix appear in?

[2017-04-26 16:48] cmelchior commented on #4493
Once merged it will be part of the next patch release. If you want to test it, you can just copy the method into your own code and call it just before `Realm.init()`

[2017-04-26 17:12] rajuashok commented on #4493
Awesome thank you so much. Will give that a shot.

[2017-04-26 18:19] llPorZall commented on #4562
Hi Guy.
I'm always faced this issue all time.
My InstanRun and multidexing are disable.
Do you have any suggestion to solve this problem?

My  Project gradle
`buildscript {
    repositories {
        jcenter()
    }
    dependencies {
        classpath 'com.android.tools.build:gradle:2.3.1'
        classpath 'com.google.gms:google-services:3.0.0'
        classpath "io.realm:realm-gradle-plugin:3.1

[2017-04-26 20:04] ebbnormal commented on #4545
I haven't been able to reproduce it. If I have more information or reason to believe it is realm (That is not conjectural!) then I will reopen. Thank you for your thoroughness @zaki50 and @Zhuinden

[2017-04-26 20:04] #4545 closed

[2017-04-26 23:13] RuslanPrimak opened #4564 "Equals for RealmObject should check for isValid() result"
**Feature Request**

#### Goal
Simply use
`if (object1.equals(object2))`
instead of
`if ((object2 != null) && object2.isValid() && object1.equals(object2))`

#### Expected Results

Correct behavior of an app

#### Actual Results

App crashes without any error message in logcat

#### Steps & Code to Reproduce

I use ExpandableListView with custom adapter derived from BaseExpandableListAdapter.
In o

[2017-04-27 01:05] DanteAndroid commented on #4555
Well, sometime I cannot either. Actually I don't know when it happens.
When it happens, it seems ** like ** the pictures are all deleted and inserted one by one
![image](https://cloud.githubusercontent.com/assets/10005563/25463388/75159530-2b28-11e7-9b86-30f87e542289.png)

[2017-04-27 02:08] stargt commented on #1477
Fundamentally, This problem can be solved by Encrypted interprocess sharing support.
I am seriously expecting it to be fixed by an official update ASAP.

[2017-04-27 02:27] KaeMs commented on #4520
Hmm so everytime I need to do `mDataset.add(0, messageItem);` I have to query the existing data, get it updated, then execute `updateData()`?

[2017-04-27 02:43] jollyjoker992 commented on #4524
@kneth : Below is one of crash log I just found right now. I will update more log later. Thank you.

[code]

[2017-04-27 03:01] KaeMs commented on #4520
Oh and what I'm doing is also basically the same as `getData()` but I keep the reference of the realmList inside the adapter without using the method from `RealmRecyclerAdapter`? Because the error is still there when I refactored everything into using `getData()` and `updateData()`

[2017-04-27 03:09] beeender commented on #4541
Is that the full stack trace? that doesn't look like something would cause a stack overflow.
I didn't see `OnClientGetRoomHistoryResponse` in the stack trace? It should be a really long call stack and possibly show a infinite recursion call in the stack trace. @saeedrooyekhat

[2017-04-27 05:56] vamshikhoslalabs commented on #4452
@Zhuinden Hi Zhuinden can you check my project once so you could give me some inputs on how to use the Realm for SDKs and help me integrate my SDK with developers.
Thank you.

[2017-04-27 06:35] Zhuinden commented on #4564
If you delete the object then you're supposed to synchronize the ExpendableListAdapter's contents by listening to the results with a `RealmChangeListener` (i'm not sure if RealmBaseAdapter handles ExpendableListAdapter, because I haven't used that thing in a long long time)

[2017-04-27 06:37] Zhuinden commented on #4555
Now hold on a second, you should update to Realm 3.1.3.

Realm 3.0.0's commit behavior is kind of iffy.

[2017-04-27 06:44] Zhuinden commented on #4452
is the original error `DefaultRealmModule.class duplicate` gone?

[2017-04-27 06:44] DanteAndroid commented on #4555
@Zhuinden Well, I change to 3.1.3 but the problem still exists.

[2017-04-27 06:48] DanteAndroid commented on #4555
@Zhuinden To be clear, it only happens with `.findAllSorted("xxx", Sort.DESCENDING)`. Works well with `findAll()`

[2017-04-27 06:51] vamshikhoslalabs commented on #4452
@Zhuinden "is not part of the schema for this Realm" error is not being thrown after removing my SDKs `Realm.init(context)` and by the I have a RealmObject class which I have to expose to the developers. In your previous comment you mentioned not to give the RealmModule, but I wont expose the RealmModule how can the developers send the data releated to that object.

[2017-04-27 07:07] Zhuinden commented on #4524
A possible fix for I think this error is being investigated in https://github.com/realm/realm-java/pull/4559

[2017-04-27 07:08] Zhuinden commented on #4520
If you use `mDataset` then the RealmChangeListener won't be added to your "local list" after replacing `mDataset`.

[2017-04-27 07:08] Zhuinden commented on #4520
What do you mean get it updated? Realm updates all RealmResults automatically.

[2017-04-27 07:09] Zhuinden commented on #4452
if you have to expose the RealmObject, then yes, you do need to provide the module :stuck_out_tongue:

[2017-04-27 07:12] vamshikhoslalabs commented on #4452
@Zhuinden Ok cool. @Zhuinden I have asking you guys if you help me in setting up few things from my end. It would be better if we talk on Skype or some other platform so that it would be really helpful for me.

[2017-04-27 07:12] codewithvikas opened #4565 "Android databinding is not working with realm-gradle-plugin:1.0.0"
Do I need higher version of data binding.
read some where that realm-gradle-plugin:1.0.0 is using the gradle version which is not compatible for data binding in android.

Please Help.

Thanks

#### Goal

Databinding in Android

#### Expected Results

#### Actual Results

#### Steps & Code to Reproduce

#### Code Sample

[code]

#### Version of Realm and tooling
Realm version(s):  1.0.0

Realm sync

[2017-04-27 07:13] cmelchior commented on #4565
The latest Realm version is 3.1.3, but what exactly isn't working with databinding?

[2017-04-27 07:20] Zhuinden commented on #4565
what do you mean?

[2017-04-27 07:31] codewithvikas commented on #4565
I am using Data Binding Library of android. which needed com.android.tools.build:gradle:1.5.alpha or higher.
and i was using  realm (io.realm:realm-gradle-plugin:1.0.0).
So my question is does this version of realm not work for Data Binding Library ?.
However i tried with higher one (io.realm:realm-gradle-plugin:3.1.1).It works

[2017-04-27 07:45] realm-ci opened #4566 "Fix merge from 7ae1ee to master"

[2017-04-27 07:47] cmelchior commented on #4493
#4559 has been merged. It will be part of our `SNAPSHOT` within the next hour or so.

[2017-04-27 07:47] #4493 closed

[2017-04-27 07:48] cmelchior commented on #4565
You probably need to clean your build directories

[2017-04-27 07:51] kneth commented on #4562
@llPorZall Is it only when testing or in general?

[2017-04-27 08:04] idok595 opened #4567 "Add the ability to access a realm instance from RealmObject"
It can be very useful to have access to the Realm instanse from a RealmObject.
For example, in complex get logic that involving more then 1 object type or Repostiories RealmObject, it can also can function as code alternative to the join query that are not supported by realm

[2017-04-27 08:07] llPorZall commented on #4562
@kneth Thanks, Let me check and get feedback to you soon.

[2017-04-27 08:09] kneth commented on #4524
@jollyjoker992 With #4559 merged, you can try a snapshot release and see if it solves your issue.

[2017-04-27 08:15] koukoucai opened #4568 "How can I open an encrypted Realm file in Realm Browser?"
I have curiosity about how can I open an encrypted Realm file in Realm Browser?

I encrypt my Realm file in android app.

I pull this file and byte[64] key file to the mac .Want to open it with Realm Browser.

But it prompt that "Please enter a valid encryption key for this Realm file"

I'm confused there is a byte[] file from app , how can I get the valid encryption key from the byte[] file?

It

[2017-04-27 08:26] beeender commented on #2299
[code]

8 methods for a single purpose, that looks very much redundant. But it is following the signature of `Realm.executeTransactionAsync()`.

What do you think? @realm/java

[2017-04-27 08:32] beeender commented on #4430
I think #4559 should fix this.
@gaara87 Would you please help to verify this when #4559 released? It will be released in `v3.1.4` and `v3.2.0` . Thanks.

[2017-04-27 08:32] #4430 closed

[2017-04-27 08:34] Zhuinden commented on #4567
Interestingly, `final Realm realm = (Realm) ((MyObjectRealmProxy)(myObject))realmGet$proxyState().getRealm$realm();` would work.

[2017-04-27 08:44] kneth commented on #4568
You need to convert your `byte[]` array into a string where each element in the array is represented as a hexadecimal number.

If you have `byte[64] key = {0, 1, 2, 250, 64, 129, ...}` your app, you can convert it using `echo "0, 1, 2, 250, 64, 129, ..." | tr "," "\n" | while read n ; do printf "%02X" $n ; done`

[2017-04-27 08:44] #4568 closed

[2017-04-27 09:19] idok595 commented on #4567
this is workarround, maybe it will be better to implement offical way to get it.

[2017-04-27 09:25] Zhuinden commented on #4567
I actually agree, there is no reason why `RealmObject` couldn't have a `getRealm()` method.

I've never needed it but why not? 😄

[2017-04-27 09:46] cmelchior commented on #4542
We need to start doing this without proper releases from Sync / Objectstore, since there are some dependencies between the upstream releases that make it impossible to make a release at this point.

This means that this work should be started using the HEAD of these branches:
https://github.com/realm/realm-object-store/tree/su/stable-id-support
https://github.com/realm/realm-sync/tree/su/stable-id

[2017-04-27 10:05] jollyjoker992 commented on #4524
@Zhuinden
@kneth
Thanks for your support. I will try to use snapshot. But, can you tell me about plan to release version includes this commit?

[2017-04-27 10:24] VedavyasBhat commented on #761
@Zhuinden Because I have more fields in `TextMessage` and `ImageMessage`, which I haven't included here for the sake of readability.

[2017-04-27 10:51] leanh215 opened #4569 "Realm.getDefaultInstance() causes crash if use realm in dependency library"
1. I build core-module which uses Realm **3.1.3**  for data storage
2. I upload core-module to my Nexus Repository Manager
3. In my main project, I use core-module as a dependency.
**Add as dependency**
`compile 'com.xxx:core.module:1.0.3'`

**Init in MyApplication**

`Realm.init(this);`
`RealmConfiguration realmConfig = new RealmConfiguration.Builder()
                .deleteRealmIfMigrationNeede

[2017-04-27 10:59] Zhuinden commented on #761
@VedavyasBhat I stand by my question. It would have been easier to just include nullable fields and a `@Index String type` field.

[2017-04-27 11:00] Zhuinden commented on #4569
Sounds like version mismatch to me.

[2017-04-27 11:01] cmelchior commented on #4567
Mostly because adding methods on the `RealmObject` class restrict what the model class can do themselves, and since we haven't seen any requests for it before now, we would rather keep the public API thin.

I'm not totall against the idea though.

[2017-04-27 11:20] Zhuinden commented on #4567
One thing I'd like to note is that the Swift version allows accessing the Realm of their managed proxy via an accessor: https://github.com/realm/realm-cocoa/issues/4816#issuecomment-291688421

[2017-04-27 11:23] leanh215 commented on #4569
I really have no idea with this issue =.=

[2017-04-27 11:37] codewithvikas commented on #4565
Thanks @cmelchior
I updated realm version with latest one ( 3.1.3). It works fine.
I am closing the issue.
Thanks Again. :-)

[2017-04-27 12:43] beeender commented on #4567
Then we need the same method for other accessors:
[code]

BTW, cocoa has it https://realm.io/docs/swift/2.6.2/api/Classes/Object.html#/s:vC10RealmSwift6Object5realmGSqCS_5Realm_
https://realm.io/docs/swift/2.6.2/api/Classes/Results.html#/s:vC10RealmSwift7Results5realmGSqCS_5Realm_

[2017-04-27 12:44] cmelchior commented on #2299
I would be tempted to say that this a power feature, so remove all the `Realm.getDefaultInstanceAsync()` variants, that would reduce it to 4 methods. What do you think?

[2017-04-27 12:54] simonask commented on #4542
Corresponding issue in realm-cocoa: https://github.com/realm/realm-cocoa/issues/4909
Corresponding issue in realm-dotnet: https://github.com/realm/realm-dotnet/issues/1371
Corresponding issue in realm-js: https://github.com/realm/realm-js/issues/985

[2017-04-27 12:56] Zhuinden commented on #4542
That's a bit scary, what about `createObject(SomeObj.class, pkValue);`?

[2017-04-27 13:03] cmelchior commented on #4542
It will still be supported. This is pure internal change that hopefully will benefit us greatly further down the line :)

[2017-04-27 13:06] Zhuinden commented on #4542
Ah, okay.

Interesting to see an `Urgent` tag, I guess if Sync finishes the stable IDs, it would break every client, so they need to follow even before they're done? 😄

[2017-04-27 14:02] #4565 closed

[2017-04-27 14:47] Zhuinden commented on #2299
from https://github.com/realm/realm-java/pull/4570#discussion_r113699029

[2017-04-27 16:56] ikscn opened #4571 "OrderedRealmCollectionChangeListener considering insertion/deletion as a change"
#### Goal

Efficient usage of OrderedRealmCollectionChangeListener

#### Expected Results

When I work on RealmResults, with a query like below, I expect that if the result of the query changes, Realm should consider this as a deletion or an insert.

#### Actual Results

Currently, Realm considers these as a change.

#### Code Sample
`Calendar timeOut = Calendar.getInstance();`
`timeOut.add(Calend

[2017-04-27 17:09] RuslanPrimak commented on #4564
Source code of test project can be found here: https://github.com/RuslanPrimak/RealmAdapterExpandableList

[2017-04-27 17:50] Sulejman commented on #2689
Is there alternative, I am looking for a way to implement caching on android app and I have a lot of polymorphism in models?

[2017-04-27 19:20] Zhuinden commented on #2689
You can share interfaces but you cannot share fields.

[2017-04-27 22:14] seb-saletes commented on #4534
Hi guys,

I have an app with a huge form and I'm using two-way data binding and I would like to user realm instead of SQLite. Considering that I'm pretty new to Android development (so pretty slow to implement basics things), Is it worth spending the time to understand this POC https://medium.com/@Zhuinden/realm-1-2-0-android-data-binding-1dc06822287f and implement it in my app ?

Any bits of advi

[2017-04-27 22:18] Zhuinden commented on #4534
Considering that example assumes that you only do two-way databinding only with unmanaged objects, it's a bit tricky. All modifications of RealmObjects must be done in a transaction after all.

[2017-04-27 22:37] seb-saletes commented on #4534
Thanks for your quick reply.

I'm thinking of using an intermediate Model between my view and my RealmObject. The realmObject and my intermediate Model would have the same attributes.
That way I can still be using two-way data binding with my intermediate Model and when the user validate the form I can switch all the attribute in a transaction to my RealmObject.

I know this is not the best soluti

[2017-04-27 22:39] Zhuinden commented on #4534
Depends. If you use an intermediate object, it may as well be an unmanaged RealmObject.

[2017-04-28 02:32] KaeMs commented on #4520
I see.. So I should always use `getData()`. It keeps telling me `getData()` might be null, and I checked that it is `@Nullable`. Although I know it won't be null, the yellow inspection mark is kinda annoying me lol.. Any solution other than disabling inspection?

Ohh yes I know that, but what does that `updateData()` do then? I thought it is mandatory to be called to update.. Because I always to `

[2017-04-28 03:07] beeender opened #4573 "getInstance refactor"
The design of `Realm`/`DynamicRealm`/`RealmCache` is a long story,  and also be noticed that there is a similar thing inside the Object Store which is doing the same for caching Realm instances called `RealmCoordinator`. We are not using it just because of `RealmCache` was added before that existed in Object Store, and there would be some breaking changes I would like to have to redesign the Realm

[2017-04-28 04:20] #4554 closed

[2017-04-28 05:48] gaara87 commented on #4430
I'll update the version and will let you know 👍

[2017-04-28 06:01] MariusBoepple commented on #4381
We're facing similar crashes:
[code]
We're using encrpytion and do use `copyFromRealm()` quite often.

[2017-04-28 06:05] MariusBoepple commented on #4381
Another stacktrace:
[code]

[2017-04-28 06:25] Zhuinden commented on #4520
You only need to call `updateData()` if you're replacing the dataset.

[2017-04-28 07:09] zaki50 commented on #4562
@llPorZall Could you share the stack trace with us?

[2017-04-28 08:08] kneth commented on #4567
@idok595 Could you explain the use case in more details?I lack imagination this morning for the only case I can come up with is:

[code]

when you don't keep a reference to a Realm instance in your class.

[2017-04-28 08:11] kneth commented on #4524
@jollyjoker992 No exact date but we will probably do a release in a week or two (we don't have fixed date as support load or critical bugs are hard to predict).

[2017-04-28 08:14] kneth commented on #4569
@leanh215 Is it possible for you to share your project with us? You can do it privately by emailing help@realm.io.

[2017-04-28 08:19] kneth commented on #4571
What changes do you do in order for the query to be rerun? Do you delete or create new objects?

[2017-04-28 09:08] leanh215 commented on #4569
We finally figured it out that in core-module, we built the .aar with old realm version (1.2.0). That's why we got crash. Thank you guys for helping us

[2017-04-28 09:08] #4569 closed

[2017-04-28 09:47] ikscn commented on #4571
I just add the listener below, and suppose I update some of my records on MyData (via column updateDate).
After 1 minute, the result count is changed since some of the records didn't get updates.. So my code looks like this:

`Calendar timeOut = Calendar.getInstance();`
`timeOut.add(Calendar.SECOND, -60);`

`RealmResults<MyData> results = realm.where(MyData.class).greaterThan("updateDate", timeOut

[2017-04-28 10:16] jollyjoker992 commented on #4524
@kneth : I tried to use Snap shot for testing this issue. So, Can you close this issue? I will re-open it or note for you after a few days for testing. Thank you for your support.

[2017-04-28 10:21] #4524 closed

[2017-04-28 10:27] cmelchior commented on #4573
We talked about using phantom references for Realm instances as well, which would make `close()` optional. The biggest drawback is that we might "leak" older Realm versions for a lot longer than desired. We would need to test thins on real world apps in order to evaluate how such a change would affect file sizes.

At this stage in the Realm life cycle I would be _very_  hesitant about changing how

[2017-04-28 10:39] Zhuinden commented on #4571
You need to keep `RealmResults<MyData> results;` as a field reference in the class, and not just a local reference in the method

[2017-04-28 13:42] Zhuinden commented on #2853
I agree, the "asynchronous queries" block's `Register a callback` is wrong; it does not store the results as field variable.

[2017-04-28 20:18] ikscn commented on #4571
I already use it as a field in the class.

[2017-04-29 01:11] guness opened #4577 "Realm closed itself."
Hello Guys, I am using Realm + RxJava, I have two different usage of Realm libraries in my App.
One is UI Realm, Global, single instance, created on Application object. It is never closed. Second one is single use Realm. Method gets an instance by getDefaultInstances, execute transformation, then closes the realm.

However I got errors when using global Realm, it says realm is already closed.

you

[2017-04-29 01:21] guness commented on #4330
It happened to me on a Sony Xperia Z1 device with, Realm 3.1.3 version. I was quick sliding betfeen fragments. and it is crashed.

[2017-04-29 01:57] bmeike commented on #4573
I would point out that the semantics of the Realm DB are very similar to
those of Android's SQLite DBs.

You actually *can* close a SQLite DB, but the framework does everything it
can, to hold one open, behind your back and return refs to the single
cached instance for all requests.

The surprise with the built-in is that, if we both have refs to a DB, and I
close mine, yours is closed. It is very

[2017-04-29 06:57] zaki50 commented on #4577
The stack trace on the SO says that
[code]
But I couldn't find any `checkIfValid()` call in `Realm.init()`;

https://github.com/realm/realm-java/blob/v3.1.3/realm/realm-library/src/main/java/io/realm/Realm.java

Could you provide a small project that reproduce this error?

[2017-04-29 08:43] Zhuinden commented on #4330
@guness well what do your fragments do?

[2017-04-29 08:45] Zhuinden commented on #4577
[code]

we need your `HomeActivity.onStart()` method

[2017-04-29 09:19] guness commented on #4577
@Zhuinden this is my onStart method:

`    @Override
    protected void onStart() {
        super.onStart();
        if (mNotificationBadge != null) {

            SVRealm.getRealmObservable().subscribe(realmInstance -> subscribeUntilDetach(realmInstance.where(Notification.class).findAllAsync().asObservable()
                    .onBackpressureLatest()
                    .switchIfEmpty(emptyNotif

[2017-04-29 09:38] Vallle commented on #607
How do you initialize a field annotated with @LinkingObjects, seeing as it is required to be final?

`private class ChildClass {`
`    private ParentClass parent;`

`    @LinkingObjects("children")`
`    final RealmResults<ParentClass> parentObjects = ???;`
`}`

In my case the parent class has a field `RealmList<ChildClass>` making it a many to one relation.

[2017-04-29 09:39] Zhuinden commented on #4577
Okay, that would imply that the `Realm.getInstance(config)` called internally by [RealmObservableFactory](https://github.com/realm/realm-java/blob/master/realm/realm-library/src/main/java/io/realm/rx/RealmObservableFactory.java#L79) *somehow* closes both the "local Realm" inside the observable, but the `unsubscribe` seems to propagate to your Realm instance that is stored in a relay, and `doOnTerm

[2017-04-29 09:40] Zhuinden commented on #607
`null`.

[2017-04-29 11:04] guness commented on #4577
Just reproduced once
[code]
corresponding method:
[code]
This is line 68
`SVRealm.getRealmObservable().subscribe(realm -> {`

[2017-04-29 11:17] Zhuinden commented on #4577
What is `SVRealm.getRealmObservable()`?

[2017-04-29 11:42] guness commented on #4577
one more exception while finishing all activities:

[code]

[2017-04-29 11:49] guness commented on #4577
@Zhuinden I went with single global UI Thread only realm instance without closing it throughout the application life. I have no single line that calls **.close()** on that Realm instance. and yet, I am getting this already closed exception.

[2017-04-29 11:55] guness commented on #4330
@Zhuinden I have fragments within a ViewPager.
3 of them is using lists with Realm adapter. one is using single realm object to fill details.

Each time I slide between fragments, app first fills the list/details and send a network request then updates data using Realm. (Adapters later take care of the rest).

I was crazy going between fragments in order to reproduce another error, but hit this on

[2017-04-29 12:38] Zhuinden commented on #4577
@guness use this on UI thread only:

    @Override
    public Observable<Realm> getRealmObservable() {
        return Observable.create(new Observable.OnSubscribe<Realm>() {
            @Override
            public void call(final Subscriber<? super Realm> subscriber) {
                final Realm observableRealm = Realm.getDefaultInstance();
                subscriber.add(Subscriptions.create(new

[2017-04-29 12:43] guness commented on #4577
@Zhuinden this looks good. however my original problem is Realm is closing itself.

[2017-04-29 12:48] Zhuinden commented on #4577
@guness i think if you replace `return realmSubject.first();` with this code above (`return ...`) then it'll fix the issue

[2017-04-29 14:25] debjitk opened #4578 "Ghost record getting generated"
[model]

class File extends RealmObject {

    @PrimaryKey
    private long id;

    @Index
    private long pid;

    ....
}

Please not the file id "2314356523452636310L". I have not added any files with the id neither have i added any files with this as the parent id. Now when I am trying to find files with parent id as "2314356523452636310L" I am getting a couple of records. Where are these re

[2017-04-29 14:36] Zhuinden commented on #4578
Well, it's most likely the result of you inserting such an item at some point.

[2017-04-29 14:49] debjitk commented on #4578
No i am not inserting any item anywhere in the code. Just to make sure I have created a clean function and skipped all other calls on app first time run.

[2017-04-29 15:02] Zhuinden commented on #4578
In that case, a sample project that reproduces this error is needed.

[2017-04-29 15:17] debjitk commented on #4578
Solved.

You were right. It was not a Realm issue. It was actually two processes accessing different sets of data and the second process was creating the data incase it was absent. Not a bug or any technical issue. It was just the complexity of the entire code base that puzzled me.

[2017-04-29 15:18] #4578 closed

[2017-04-30 02:37] OmkarAmberkar commented on #4562
@dekrandroid you are probably building the apk for you debugging device in which case this happens. Instead of hitting the run button, try building your apk from Build-> Build apk and it should be good.

[2017-04-30 20:10] guness commented on #4577
new data: Crash happens when app is background at 80% ratio.

[2017-04-30 20:26] Zhuinden commented on #4577
Have you tried what I said?

[2017-04-30 21:13] guness commented on #4577
I am not able to reproduce original exception, and after applying your implementation, still not reproducible. I am trying to find a solid way to reproduce it and trying to find solid fix before releasing new version to production.

At worst case, your solution is the best I have currently, tho still not answers what is wrong with my solution.

[2017-04-30 22:01] Zhuinden commented on #4577
Unfortunately I'm not sure either. It has something to do with relay and `asObservable` acting up together somehow.

[2017-05-01 02:18] jollyjoker992 commented on #4524
@kneth : Hi. I have tried to use Realm Snap-shot 3.2.0 to test the latest version (the last version is 3.0.0). The issue 'Bad realm file header' maybe resolved, I have not seen it in crash report. But, the below issues still occurs.
- Unable to open a realm at path '/data/data/com.xxx/files/xxx.realm': Incompatible histories.
- Unrecoverable error. mmap() failed: Out of memory size xxx

I close Re

[2017-05-01 07:15] kneth commented on #4564
@RuslanPrimak I relabel the issue as I think we should call `isValid()` in `equals()`.

[2017-05-01 07:21] sluedecke commented on #761
@Zhuinden: I see what you have in mind, but I have the same issue as @VedavyasBhat:  I want to be able to attach `Actions` and `Observations` to an object, both being an event in time with some shared attributes.  But since both have >10 unique attributes I would end up with a large class `Event` which I consider hard to maintain.

Also I am afraid that I will loose productivity when using code co

[2017-05-01 07:44] kneth commented on #4571
The listener is only triggers by commits. I'm not sure if I understand you correctly: do you expect that the query is rerun since you query a field which means time for you?

[2017-05-01 09:01] Zhuinden commented on #4524
This is generally caused if the Realm file is too large, which is generally when there is at least one unclosed Realm instance on a non-looper background thread.

[2017-05-01 09:02] Zhuinden commented on #761
When I had this, I prefixed the fields with what event type (in my case, post type) the given field belonged to.

[2017-05-01 09:22] jollyjoker992 commented on #4524
@Zhuinden : Thank you for your reply. As I mentioned above:

Is it a root cause of this issue?

[2017-05-01 09:23] Zhuinden commented on #4524
No, Realm opened on looper thread doesn't create a lot of overhead, although if you never close it then I wonder how you compact.

[2017-05-01 09:46] ZenoxParadox commented on #2936
Perhaps this is nothing, but I bumped into this very issue and tried to figure out how to resolve it and found something that might be useful. It's fairly straightforward, so here it goes;

For the record; the compile exception for me was something like `realmSet$setIID(long)`

I had a model with a `@PrimaryKey` notation on a field called IID that was a `long`, then I decided to change it into a `

[2017-05-01 09:59] GhostFlying opened #4579 "NPE when create object with realm and kotlin"
I try to use realm work with kotlin but it crash when I create object with the below NPE.

java.lang.NullPointerException: Attempt to invoke virtual method 'void io.realm.ProxyState.setConstructionFinished()' on a null object reference

#### Code Sample

[code]

[code]

#### Version of Realm and tooling
Realm version(s): ?

io.realm:realm-gradle-plugin:3.1.3

io.realm:android-adapters:2.0.0

Realm

[2017-05-01 10:18] Zhuinden commented on #4579
This has been reported before but it couldn't be reproduced. Is there a chance you can share a sample project?

Also, try applying `realm-android` plugin AFTER `kotlin-android`.

[2017-05-01 10:50] ikscn commented on #4571
Yes, this could be my expectation.
Otherwise, it doesn't sound logical whether I put a listener on a query of RealmResults with or without the filter.

[2017-05-01 12:51] GhostFlying commented on #4579
Issue is solved by apply realm-android after kotlin-android

And if u need the demo project, u can get it from https://github.com/GhostFlying/realm-demo

[2017-05-01 13:14] GhostFlying commented on #4579
Ops, after I add more filed, it come out again and I need to do something like uninstall app, clean project etc. to make it work again.

[2017-05-01 13:22] mhdtouban commented on #4330
Hello, the error comes up again with me while trying to delete an object from realm:

[code]
I also tried to delete it with
[code]
but also same error happened.

[2017-05-01 13:57] mhdtouban commented on #4330
also can be reproducable
[code]

[2017-05-01 14:06] Zhuinden commented on #4330
Execute the query inside the transaction.

[2017-05-01 14:08] Zhuinden commented on #4579
If instant run is enabled, then you should disable it.

[2017-05-01 14:08] GhostFlying commented on #4579
I always disable it.

[2017-05-01 14:12] Zhuinden commented on #4579
Hrm, I ran out of ideas then. :/

In that case @zaki50 is the one who'll known what to look into.

[2017-05-01 14:42] danieldelouya commented on #2986
I'm having this issue. When the entire realm is delete and i try to query some data that has been added after it was previously entirely deleted, it sometimes returns an empty query.

[2017-05-01 14:53] cmelchior commented on #2986
Hi @danieldelouya Without sample project there isn't much we can do, but if you are using RealmChangeListeners to be notified about changes this shouldn't happen.

[2017-05-01 14:59] Zhuinden commented on #2986
@danieldelouya this is possible if you query on non-looper background threads outside of a transaction and you had at least 1 unclosed Realm instance and therefore caused version retention.

[2017-05-01 15:01] danieldelouya commented on #2986
@Zhuinden So how do you suggest I avoid it exactly? :)

[2017-05-01 15:01] danieldelouya commented on #2986
I'm pretty sure I don't have any unclosed realm instances

[2017-05-01 15:50] Zhuinden commented on #2986
@danieldelouya if you do queries on non-looper threads, then you should probably do that in a transaction, I guess :slightly_smiling_face:

And Realm instance needs to be closed when the thread's lifeline ends. I tend to do try-with-resources, or close in finally.

Looper threads (such as the UI thread) typically can't provide "stale data" because Realm can automatically update their instances.

[2017-05-01 18:20] mhdtouban commented on #4330
@Zhuinden your suggestion didn't solve the issue.

[2017-05-01 18:20] mhdtouban commented on #4330
UPDATE: I have checked if the comment object is being deleted from the database using RealmBroswer and it seems the native error is happening after the object deletion from DB.

[2017-05-01 18:24] Zhuinden commented on #4330
Realm realm = Realm.getDefaultInstance();
    realm.beginTransaction();
    RealmResults<Comment> comment = realm.where(Comment.class).equalTo("id",commentId).findAll();
    if(!comment.isEmpty()) {
        comment.deleteFirstFromRealm();
    }
    realm.commitTransaction();
    realm.close();

[2017-05-01 18:30] mhdtouban commented on #4330
Additional information to add, there is a relationship between comments and posts where each post has realmlist<Comment>. What I want to do here is to delete a comment found in DB for that post.

[2017-05-01 18:34] Zhuinden commented on #4330
@mhdtouban the code I posted *should* work.

But you can also try `comment.get(0).deleteFromRealm()` as well, although it shouldn't have different behavior.

[2017-05-01 18:36] mhdtouban commented on #4330
@Zhuinden I tried all possibilities above but am still getting this annoying native crash.Thanks anyway

[2017-05-01 18:43] Zhuinden commented on #4330
@mhdtouban in that case you might want to set `RealmLog.setLevel(LogLevel.TRACE)` or something similar, and whatever happens before the crash should be posted here from the log; I have no idea how to read it, but Realm people do :smile:

[2017-05-01 19:52] mhdtouban commented on #4330
here is the stacktrace

`05-01 22:51:41.798 20320-20320/com.topshou.dev V/REALM_JNI:  --> Java_io_realm_internal_SharedRealm_nativeIsClosed 547610388352
05-01 22:51:41.798 20320-20320/com.topshou.dev V/REALM_JNI:  --> Java_io_realm_internal_SharedRealm_nativeIsClosed 547610388352
05-01 22:51:41.798 20320-20320/com.topshou.dev V/REALM_JNI:  --> Java_io_realm_internal_SharedRealm_nativeIsClosed 5476

[2017-05-01 20:32] Zhuinden commented on #4330
@mhdtouban oh you crashed at `nativeIsNull` meaning that's a duplicate of https://github.com/realm/realm-java/issues/4540

You'll get a proper exception with the snapshot version

[2017-05-01 22:12] jkozh opened #4580 "Android Studio gives warning at threads/AsyncTaskFragment.java static field leaks"
Android Studio gives warning at **ImportAsyncTask** - AsyncTask that imports Realm data while providing progress and returns the value of an  aggregate function in the end.
_Static Field Leaks
A static field will leak contexts.  Non-static inner classes have an implicit reference to their outer class. If that outer class is for example a Fragment or Activity, then this reference means that the lon

[2017-05-01 22:15] mhdtouban commented on #4330
thanks @Zhuinden, this issue was is that I was trying to access a stored object from a list which was deleted. Now am getting an informative exception
 ```java.lang.IllegalStateException: Object is no longer valid to operate on. Was it deleted by another thread?```

[2017-05-01 22:56] Zhuinden commented on #4580
I'm not a Realm person but as [ImportAsyncTask is a private non-static class](https://github.com/realm/realm-java/blob/master/examples/threadExample/src/main/java/io/realm/examples/threads/AsyncTaskFragment.java#L83) it can indeed leak the Activity like that.

[2017-05-01 23:55] Zhuinden commented on #4330
Glad to hear the pesky bug is finally caught :slightly_smiling_face:

[2017-05-02 06:05] MariusBoepple commented on #1091
Is there any progress on this? We're using a remote service, too.

[2017-05-02 07:03] saeedrooyekhat commented on #4541
Hello Again!

I got an error to get the high number of realm instance. after solving this problem with reducing getInstance i wasn't faced with the stackoverflow error.

also following error was solved after that i disabled animation for this recycler view

[code]

(:

[2017-05-02 07:16] Zhuinden commented on #4541
`RealmBasedRecyclerViewAdapter` doesn't support Realm 3.0.0 though, so you can get animations with `RealmRecyclerViewAdapter`

[2017-05-02 07:26] realm-ci opened #4584 "Fix merge from f3f8ab to master"

[2017-05-02 07:33] kneth commented on #4571
You have probably already read https://realm.io/docs/java/latest/#notifications. The listeners are only triggered when a commit happens (and in some cases also when a transaction begins). In your case, the listener will not be trigger as no changes have happened (your Realm does not have a sense of time). You could add a thread which commits an empty transaction once every minute.

[2017-05-02 08:02] cmelchior commented on #4580
It is correct that non-static classes hold a reference to their parent class, which is considered a leak if the inner class outlives the life of the outer class. If you cancel an AsyncTask correctly this shouldn't happen, but failing to do so will be a leak and could also crash the app since the view hierarchy would be gone. We should fix this example.

[2017-05-02 08:12] saeedrooyekhat commented on #4541
yes that's true but now i don't have time for this change. i will be use later from RealmRecyclerViewAdapter.  thanks for your reminders @Zhuinden

[2017-05-02 09:52] #4541 closed

[2017-05-02 10:30] #4423 closed

[2017-05-02 10:42] cmelchior opened #4588 "Change Password API for Admin Users"
Fallout from #4538

We need to implement admin support for changing a user's password once support for this has been released by ROS. It has been merged but is awaiting a release: https://github.com/realm/realm-object-server/pull/1061

API:

[code]
Some alternatives:
- New `AdminCallback` with `onSuccess(String userId)` method instead. Might be handy if we start adding multiple admin API's.
- New

[2017-05-02 10:53] cmelchior commented on #4542
According to https://github.com/realm/realm-cocoa/issues/4909#issuecomment-298508815, it sounds like we cannot migrate existing files. Making the migration process somewhat easier.

[2017-05-02 11:14] beeender commented on #1091
@MariusBoepple Our current release is actually supporting notifications through multi-processes, but there are some limitations to use realm-java in multi-processes applications:
- Encryption is not supported for multi-processes.
- `Realm.deleteRealm()` is not multi-processes safe.
- Migrations are not handled well. So you need to avoid migrating happens while there is Realm instance opened in the

[2017-05-02 11:19] cmelchior commented on #1091
If you have two two processes running and you can guarantee that the parent process has an active Realm realm instance (since that would run all required migrations), then Realm should be process safe right now, but as @beeender mentioned there are also other edges cases. This is the primary reason we don't claim to be interprocess safe just yet.

[2017-05-02 11:40] Zhuinden commented on #1091
@cmelchior would object store schema integration fix cross-process migration?

[2017-05-02 11:41] cmelchior commented on #1091
It would probably get us close enough that we choose to go the last mile. Encrypted Realms and using `Realm.deleteRealm()` will not be supported in the first iteration though.

[2017-05-02 12:19] #4466 closed

[2017-05-02 12:44] zaki50 commented on #4580
threadExample has been fixed.
Thank you for your report.

[2017-05-02 12:44] #4580 closed

[2017-05-02 13:56] cmelchior opened #4589 "Refactor internal packages"
Fallout from internal Architectural discussion: The difference between Core and ObjectStore needs to be more visible in the code base. We would like to refactor the `io.realm.internal` package into 3 parts:

`io.realm.internal`: Contain internal classes relevant to Realm Java

`io.realm.internal.objectstore: Contain all wrapper classes from Object Store, like SharedRealm, Collection, etc. There is

[2017-05-02 14:00] cmelchior opened #4590 "Remove unit test classes no longer needed"
Fallout from internal architectural discussion:

We have old unit tests of internal classes (JNI*Test). Most of these should probably just go away. All unit testing should happen as part of the public API. This both increase the confidence of the public API and help us detect parts of the code that is no longer used.

We have extensive coverage of the public API at this point, but it is important

[2017-05-02 14:43] cmelchior opened #4592 "Tool support for catching breaking API changes"
Fallout from internal Architectural discussion:

We need to make sure we are aware if we are breaking any public API signatures. Apparently, AOSP has tools in place that allows you to generate a list of all public API methods and compare them to a "valid" list. If these two lists are not identical it should result in CI breaking.

TODO:
- [ ] Figure out which tools can be used for this
- [ ] Figur

[2017-05-02 17:55] virengujariya opened #4593 "exception onDestroy method even there isn't any realm code there"
#### Code Sample

I don't even have realm instance inside activity where it's throwing exception.

[code]

#### Version of Realm and tooling
Realm version(s): ?
3.1.3

Realm sync feature enabled: yes/no
no

Android Studio version: ?
2.3.1

Which Android version and device: ?
so far OS 6 and 5

[2017-05-02 18:11] Zhuinden commented on #4593
`at me.latergram.latergramme.adapters.LabelsAdapter.getItemCount(LabelsAdapter.java:77)`

[2017-05-02 18:29] shahzaibmuneeb opened #4594 "RealmObjectChangeListener not called for newly created objects?"
#### Goal

I do `findFirstAsync()` on an object which does not yet exist in my DB. I then add a RealmObjectChangeListener to this so that when a seperate network request goes through and the object IS created then I expect the change listener to trigger  and populate the UI.

[code]

 `Person person;` variable is initialised at the fragment level so this is a strong reference.

#### Actual Results

[2017-05-02 18:55] Zhuinden commented on #4594
Re-running the query until an element was found was undocumented/buggy behavior, fixed in https://github.com/realm/realm-java/issues/4352 .

You might want to use a listener added to a `RealmResults` instead, and do a `results.where().equalTo("id", id)....`

[2017-05-02 19:27] shahzaibmuneeb commented on #4594
I see - happy to do it that way however I am using 3.1.3, which according to the thread you referenced, has been fixed and merged? Right ? So it should work? (Just asking for my own knowledge)

[2017-05-02 19:31] Zhuinden commented on #4594
@shahzaibmuneeb  the behavior you are looking for was a bug, so you need a different approach.

So instead of storing `person`, you should store a `results`, and use `findFirst()` in its `RealmChangeListener` with the given user id.

[2017-05-02 19:34] shahzaibmuneeb commented on #4594
Cool thank you :)

[2017-05-02 19:34] #4594 closed

[2017-05-02 20:39] eygraber commented on #3503
So core won't implement this unless there's enough interest over here?

[2017-05-02 21:57] rscottcarson commented on #4301
@DastanIqbal Any progress? I'm interested in what you were able to implement.

[2017-05-02 22:34] aaronblondeau commented on #4579
I am also seeing this issue.  Seems related to build process because once the error begins happening it always happens.  I can then get it to go away by flipping back and forth between

[code]

and

[code]

And it'll be good for a few builds, but then start happening again.

[2017-05-02 22:37] Zhuinden commented on #4579
Something is applied wrong. I'd try to **clean** instead of swapping versions. But... I don't know what breaks.

[2017-05-03 01:07] jollyjoker992 commented on #4524
@Zhuinden : Thank you. I got it. But, I got crash report related below issue just now.

It seems SNAP-SHOT 3.2.0 version cannot help me. So boring about that :(

[2017-05-03 01:23] jollyjoker992 commented on #4524
@Zhuinden : Does Realm `compact` method help us to avoid realm file size increase when we cannot close Realm in a looper thread (Ex: System kill app)? Thank you

[2017-05-03 04:18] TonyHaddad91 opened #4595 "OnSuccess callback called infinite times for Async Transaction"
#### Goal

Do an action on onSuccess of async transaction

#### Expected Results

onSuccess listener invoked once

#### Actual Results

onSuccess Listener invoked infinite times

#### Code Sample

[code]

And here is the onSuccess Code
[code]

#### Version of Realm and tooling
Realm version(s): 3.0.0 but this issue not produceable on same code using version 1.2.0

Realm sync feature enabled: no

A

[2017-05-03 06:09] beeender commented on #4595
can you share you code of `success`?

[2017-05-03 06:12] TonyHaddad91 commented on #4595
@beeender  i've updated my code

[2017-05-03 06:21] beeender commented on #4595
OK, I can see the problem, will fix it right away. Thanks for reporting this!

[2017-05-03 06:33] TonyHaddad91 commented on #4595
@beender just out of curiosity, was the issue race condition in the Async transaction?

[2017-05-03 06:36] beeender commented on #4595
It is more like a bug, we have callbacks stored as a list and trigger them when transaction committed. But the mechanism from async transactions changes a bit in the recent version, so the synced transaction in your success callback will trigger the `did_change` again immediately at that time the callback list has not been cleared.
See https://github.com/realm/realm-java/blob/master/realm/realm-li

[2017-05-03 06:53] TonyHaddad91 commented on #4595
@beeender Thanks again, now i have clear idea about the issue

[2017-05-03 07:37] TonyHaddad91 commented on #4595
@beeender do you have an estimated time for releasing this fix?
Regards

[2017-05-03 07:57] ImranAtArbisoft commented on #3071
I am still facing this issue and is not resolved in latest version.
**Stacktrace**
FATAL EXCEPTION: main
                                                               java.lang.VerifyError: io/realm/Realm
                                                                   at com.save.coinch.rebranding.CoinchApplication.onCreate(CoinchApplication.java:28)

[2017-05-03 08:00] cmelchior commented on #3071
@ImranAtArbisoft VerifyError is not caused by Realm, but by something in your packaging. Most likely multidex doing something wrong or being used incorrectly as reported above.

[2017-05-03 08:08] beeender commented on #4595
@TonyHaddad91 We have another issue needs to be fixed in the next release, so hope we can make a release this week. But it might be possible that is delayed to the next week.

[2017-05-03 08:30] Zhuinden commented on #3071
@ImranAtArbisoft it means you didn't extend `MultiDexApplication` class with your application class

[2017-05-03 08:31] Zhuinden commented on #4595
The case insensitive strings in case the string consists of only numbers?

[2017-05-03 08:35] ImranAtArbisoft commented on #3071
@Zhuinden @cmelchior Thanks, I just added line `MultiDex.install(this);` in My Application and now its working.

[2017-05-03 09:54] snowpong commented on #2459
I see the same in my app as well: `RealmFileException: Realm file is currently open in another process which cannot share access with this process. All processes sharing a single file must be the same architecture. (Incompatible lock file. Shared info version doesn't match, 771 8.)
`

Here is a more complete backtrace https://sentry.io/share/issue/3136303533312e323631343835363636/

I'm using Realm

[2017-05-03 11:13] #2299 closed

[2017-05-03 11:37] lampenlampen commented on #2563
Had the same issue and could solve it by commenting out the `@RealmModule(...)` annotation in my `RealmModule`; build the project succesfully and then uncommented the annotation again and the build run without errors.

[2017-05-03 22:12] guness commented on #4577
@Zhuinden `Observable.create(new Observable.OnSubscribe<Realm>` is deprecated. is there a recent API?

[2017-05-04 03:11] henjue commented on #4521
[code]
[code]
[code]

[2017-05-04 04:03] beeender commented on #4521
@henjue So what is your question?

[2017-05-04 05:02] beeender commented on #4555
I spent some time to check your project again, so the problem is in your `CustomPictureFragement.java` line 167

[code]

The problem happens when you re-fetch the pictures, even when the pictures are not changed, the `Image.publishedAt()` will be reset to current time.

Also, the images objects are not store in a single transaction, so case like below will happen:

[code]

[2017-05-04 05:04] #4555 closed

[2017-05-04 05:15] SarthakM9 opened #4598 "OrderedRealmCollectionChangeListener does not gets invoked sometimes"
#### Goal

#### Expected Results

#### Actual Results

#### Steps & Code to Reproduce

#### Version of Realm and tooling
Realm version(s): 3.1.3

Realm sync feature enabled: no

Android Studio version: 2.3

Which Android version and device: checked on 5.0 and 6.0

[2017-05-04 06:28] cmelchior commented on #4598
Hi @SarthakM9 Without something more concrete to on, it is hard for us to do anything about this. Can you reproduce this is in a sample project? Even if it only happens once in a while that would be invaluable.

[2017-05-04 07:03] Zhuinden commented on #4577
technically `Observable.create()` was replaced with `Observable.unsafeCreate()`, but for background compatibility reasons the default `RealmObservableFactory` was not changed to use `Observable.fromEmitter()`.

[2017-05-04 07:06] SarthakM9 commented on #4598
Hello @cmelchior, yes I am continuously able to reproduce this issue in a project. And it happens quite frequently. let me know if I could assist you in any way.

[2017-05-04 07:24] cmelchior commented on #4598
@SarthakM9 If you can provide a sample project. We will be happy to take a look at it.

[2017-05-04 07:26] SarthakM9 commented on #4598
@cmelchior would code snippets help?

[2017-05-04 07:27] cmelchior commented on #4598
Not really, unless it is a complete snippet, which would fit better in a sample project

[2017-05-04 07:29] #4595 closed

[2017-05-04 07:38] kneth commented on #4579
Also try to refresh dependencies (`--refresh-dependencies` on the command line).

[2017-05-04 07:40] kneth commented on #4577
Let me provide the link to the documentation: https://realm.io/docs/java/latest/#configuration

[2017-05-04 07:40] SarthakM9 commented on #4598
@cmelchior sure let me create a sample project and reproduce the issue! :)

[2017-05-04 09:27] realm-ci opened #4600 "Fix merge from 0cfe94 to master"

[2017-05-04 10:04] realm-ci opened #4601 "Fix merge from 52d6b7 to master"

[2017-05-04 10:36] beeender commented on #4544
@jpmcosta I have some updates for this issue in https://github.com/realm/realm-object-store/issues/438

So your test project is great that it reaches a worst case for our transaction log parsing. To know which object in the collection is changed, we need to go through the transaction log and the linking graph to see which element is changed or not.

Basically all the circular links and the random

[2017-05-04 11:15] SarthakM9 commented on #4598
I created a sample project and was able to reproduce the issue, it is reproducible on any list size and not just 0 sized list.
Moreover, the issue is quite less frequent in sample project but it is still reproducible.

Sample: https://github.com/SarthakM9/RealmTest

[2017-05-04 11:50] guness commented on #4577
I am using the latest Rx:

`compile 'io.reactivex:rxandroid:1.2.1'`

is it a problem?

[2017-05-04 12:03] beeender commented on #4598
Hi! I tried your project and I can see you problem.

First, please take a look at the this doc https://realm.io/docs/java/latest/#notifications

Then I can totally understand that it is surprising to you that `contact.conversation.textMessages` returns different object every time. That means when you do:
[code]

It is actually adding a listener on an anonymous object. The listener will stop workin

[2017-05-04 12:38] SarthakM9 commented on #4598
Issue is resolved, many thanks! 👍 :)

[2017-05-04 13:43] jpmcosta commented on #4544
@beeender thanks for the update!

#### About the issue

I don't like to make guesses, because I don't want to waste your time with pointless theories.
However, I would like to ask you if you were able to rule out an infinite loop situation in your testing? I mean, were you able to confirm that the parser ever finishes, and doesn't start another parsing task?
**Baseless theory**: from my usage, it

[2017-05-04 13:50] beeender commented on #4544
At the same time, there is only one parsing task running.

It should not be an infinite loop, from my testing, with 3 filters, clicking the `adding item` button 2 times could cause the parsing take 1+ minutes on my emulator.
But running the similar testing with pure c++ on the desktop shows the slowness, but not that slow. So it is very possible I still miss some key point of the c++ testing, you

[2017-05-04 13:59] Zhuinden commented on #4544
`refresh()` waits for the current transaction to finish? Hmm...

[2017-05-04 14:01] jpmcosta commented on #4544
I've tried to wait in my use case, but after 5 minutes I just give up (my schema is more complex).

On the other hand, even if the async transaction doesn't block the UI, I stop being able to query Realm, which is one of the reasons why the whole app suffers.

[2017-05-04 14:01] beeender commented on #4544
@Zhuinden no, it is another lock. `refresh()` will deliver the notifications, if there is any notification token on current thread, and the background thread has been start to parse the transaction log, it will wait. Otherwise no blocking.

[2017-05-04 14:03] beeender commented on #4544
@jpmcosta right, in this case, async transaction doesn't solve the problem either, since the UI still needs to wait parsing finishes to get the latest data.

May I ask in your project, how many object will be there?

[2017-05-04 14:04] Zhuinden commented on #4577
You can replace `RealmObservableFactory` behavior with your own `rxFactory` by implementing `RxObservableFactory`.

[2017-05-04 14:06] jpmcosta commented on #4544
@beeender 8 different linked types. The number of objects is similar though. I mean, with 150 `Application` objects, and 1 or 2 objects of other types, it hangs.

[2017-05-04 14:14] beeender commented on #4544
For the specific case here, the `Filter` actually only has a single direction link to the `App`. And change `Filter.isEnabled` should effect other `Filter` objects in the collection. I think that is something should be optimized in our parsing. But I don't have too much ideas right now.

[2017-05-04 15:53] florianPOLARSTEPS commented on #2492
If it helps I have also recently started seing the report coming in on crashlytics
I have only seen it happening for one of our users and have some indicators which might help reproducing:

1) The user is low on RAM + Disc storage
2) The issue seems to also go hand in hand with another native crash I am observing only for that particular user
[code]

[2017-05-04 16:00] Manhazito commented on #2570
Clearing the app data worked for me!

[2017-05-04 16:16] Zhuinden commented on #2492
@florianPOLARSTEPS Realm version?

[2017-05-04 16:42] florianPOLARSTEPS commented on #2492
@Zhuinden

For this crash:
RealmVersion: 3.0.0
Encryption: No

I will update to the latest realm version and see if the issue persists.

[2017-05-04 17:37] kneth commented on #3651
I have written a blog post about this bug: https://news.realm.io/news/when-memmove-fails

[2017-05-04 19:45] jpmcosta commented on #4544
I was trying to figure out if there was an infinite loop or not.
I've modified the test app to run multiple tests on different graphs, but with the same number of objects. Here: https://github.com/jpmcosta/RealmTestProject/tree/cdd686001d5293a1ee3ab7b43ded542ea2b89b0d

I've tried to remove `parentFeed` from `Item`, to see the impact it might have, and I found that if `Item` has a `parentFeed` obje

[2017-05-04 20:48] guness commented on #4148
If this will help, I am getting this on production:
[code]

[2017-05-04 21:04] Zhuinden commented on #4148
@guness realm version?

[2017-05-04 21:09] guness commented on #4148
@Zhuinden 3.1.3
`classpath "io.realm:realm-gradle-plugin:3.1.3"`

[2017-05-05 05:45] SarthakM9 commented on #4598
Hello, there's one more thing I would like to ask:

I have a RealmClass named Conversation which has a RealmList with a listener attached to it.
But whenever any other field of Conversation class changes, the change listener which was attached to the RealmList gets invoked.

Is this a bug or am I missing something?

[2017-05-05 07:35] beeender commented on #4598
The listener is attached to the `RealmList` or the `Conversation`? What is the type of `RealmList`?

if it is like:
[code]
If `a`'s name field changes, and a `B` object in the list contains the `A` object, listener on the list will be triggered.
Listeners on collection will reported nested link changes as well. But listener on `RealmObject` won't.

[2017-05-05 09:54] gajicm93 opened #4604 "Question regarding better/more-optimized practice"
Essentially, which way of inserting objects into database is better?

[code]

As far as I've tested, this first way also allows me to use a constructor instead of setters?

OR

[code]

[2017-05-05 10:11] cmelchior commented on #4604
They both have their use cases:

`copyToRealm()`
- You can create a full in-memory object before using it.
- You can use non-default constructors
- It is slightly slower than creating objects directly.
- It uses more memory as you have both the unmanaged and managed object in memory at the same time.
- If inserting large amounts of data consider `insert(dog)` instead. It doesn't return the managed

[2017-05-05 10:22] gajicm93 commented on #4604
That's it, thanks!

[2017-05-05 10:30] #4604 closed

[2017-05-05 13:57] SarthakM9 commented on #4598
Hello @beeender, yes the dependency is quite similar as you have mentioned.

[code]

Now, I have a RealmResults<Contact> object to which a listener is attached, so I will get every possible update in the entire db, right?

I also have a listener attached to RealmList<TextMessage> (present in Conversation class). Now when some primitive value changes in the Conversation object, my RealmList<TextMes

[2017-05-05 16:25] mandrachek commented on #2492
For this crash:

RealmVersion: 3.1.4
Encryption: Yes
Device: One Plus One, Running Android 6.0.1
User has 2.53 GiB free space, 565 MiB free ram

Frustratingly, I am not able to provide any steps to reproduce. :(

[2017-05-05 23:34] Heepie commented on #761
1. What is the problem in this code? I tried to follow above code.
but,
Error:(11, 8) error: Realm model classes must either extend RealmObject or implement RealmModel to be considered a valid model class

Component.java

[code]

Card.java

[code]

Folder.java

[code]

2. is there something solution??

[2017-05-06 02:45] qtstc opened #4605 "Not Receiving Notification when Field is Changed"
For the sample code below, I expect to receive notification on Person every time the name of the dog is changed. This was working in 3.0.0 but not anymore in 3.1.*
[code]

[2017-05-06 06:49] zaki50 commented on #4605
It is an intended behavior.
Previous behavior was a bug and fixed in 3.1 (#3894).

[2017-05-06 06:49] #4605 closed

[2017-05-06 07:08] Zhuinden commented on #761
The only "direct base class" a RealmObject can extend is `extends RealmObject`.

Anything else must be done through interface.

[2017-05-06 07:39] Eldhose-Islet commented on #2934
I do have this issue later, I found out that I was a accessing realm object  before setting default realm .

[2017-05-06 09:10] Heepie commented on #761
If I want to make the class through realm, I must have to `extends RealmObject`. Right??

So then,
[code]
[code]
Right??

And I have a question. is it impossible above example code?? (Animal, Dog, Spider and getting RealmResult through Animal etc)

[2017-05-06 09:29] guness commented on #4577
I think problem is around `RealmObservableFactory`. I have removed all Rx + Realm relations, used old school implementation and it went well.

[2017-05-06 09:30] Zhuinden commented on #761
@Heepie to obtain all those types of animals as `Animal`, currently you'd need

[code]

Basically a single RealmObject class that merges the types together and its type is determined by a discriminator column ([Single Table Inheritance](https://en.wikipedia.org/wiki/Single_Table_Inheritance)).

[2017-05-06 09:36] guness opened #4606 "ArrayIndexOutOfBoundsException when insertOrUpdate"
This is happening when I run monkey runner.
Here is the stacktrace
[code]

Realm version(s): 3.1.3

Realm sync feature enabled: no

Android Studio version: 2.3.1

Which Android version and device: Emulator(7.0) + Sony Xperia Z1 (Android 5.0)

[2017-05-06 09:43] Zhuinden commented on #4606
Please show relevant code (.sikayetvar.ui.pages.MemberActivity.insertComplaints(int, com.argeusteknoloji)

[2017-05-06 09:58] guness commented on #4606
[code]
in case you need this is `SVRealm.executeOnSingleUseRealm` :

[code]

[2017-05-06 10:01] Zhuinden commented on #4606
Please see if changing `insertOrUpdate` to `copyToRealmOrUpdate` changes anything, it has additional validations afaik

[2017-05-06 10:26] guness commented on #4606
Same happens:

[code]

[2017-05-06 11:55] Heepie commented on #761
@Zhuinden Think you so much :)

I'll try Single Table Inheritance!

[2017-05-06 13:37] marchy commented on #4187
Hey @kneth excuse us as our biz priorities changed and we ended up focusing fully on the iOS app for the last month. We’re now back on Android and confirmed this is still an issue (even in Realm 3.1.4).

We tried inlining the parent object fetching to be done on the same Realm instance as opposed to using 'copyToRealmOrUpdate', as well as trying to perform each of the two parts of it in a separate

[2017-05-06 14:25] Zhuinden commented on #4187
I've used Realm quite a bit and I can guarantee that the following should work, in the sense that chat.messages should contain the newly added message

[code]

If you're trying to access Chat from Message, then you're supposed to use LinkingObjects.

[2017-05-06 17:20] Zhuinden commented on #4606
@guness do you use encryption?

[2017-05-06 17:58] guness commented on #4606
@Zhuinden encryption is not used.

[2017-05-06 18:14] Zhuinden commented on #4606
Do you by chance know what is being inserted to`viewCountFormatted` at the time of the crash?

[2017-05-06 19:57] cmelchior commented on #4606
@guness Can you reproduce this in a sample project. Perhaps you found some combination of a model class and input data that we are not handling correctly?

[2017-05-06 21:09] guness commented on #4606
@Zhuinden another stacktrace:

[code]
`viewCountFormatted: 98`
this is the data inserted:
[code]
`viewCountFormatted` matches `view_count_formatted`

@cmelchior this is not always happening. I don't think I can create a proper project for this.

[2017-05-08 02:08] KynoYang commented on #2492
two pieces of similar crash log:

Device: Redmi 4x
System Version: 6.0.1
Realm Version: 3.1.3
[code]
Device: Vivo x9i
System Version: 6.0.1
Realm Version: 3.1.3
[code]

It's really wired because they both occurred when getting table name.  And of course, it's an occasional bug, still no idea how to reproduce it.

[2017-05-08 04:46] beeender commented on #4598
@SarthakM9 Currently, no. What is your use case? Although the listener will be triggered in this case, the view will be refreshed with the same data. Is there any other side effect than that?

[2017-05-08 05:11] SarthakM9 commented on #4598
Hello @beeender there's no side effect, listener's are getting triggered properly.

I need to reset a counter variable inside the listener callback, to prevent infinite callbacks, I am first checking if the RealmList has been updated or not.

[2017-05-08 07:12] MariusBoepple commented on #4343
@kneth I think the following crash log can help you:

    io.realm.exceptions.RealmError: Unrecoverable error. Failure when converting short string to UTF-16 error_code = 1;
    retcode = 0;
    StringData.size = 44;
    StringData.data = cockpit:f55e04ad-4c34-41d5-b90d-117ffb2aecf0;
    StringData as hex =  0x63 0x6f 0x63 0x6b 0x70 0x69 0x74 0x3a 0x66 0x35 0x35 0x65 0x30 0x34 0x61 0x64 0x2d 0x34

[2017-05-08 09:08] kneth commented on #1489
We are now using `clang-format` and header files are always generated by CMake/Gradle.

[2017-05-08 09:08] #1489 closed

[2017-05-08 09:32] kneth commented on #4577
I am closing the issue. @guness If you have time, it would be great of you to create a small project which demonstrate the issue.

[2017-05-08 09:32] #4577 closed

[2017-05-08 10:01] kneth commented on #4606
I see index 345083 and 910513 mentioned in the stack traces. How many objects do you have?

[2017-05-08 12:43] raphaeljoie opened #4610 "Build crashes : 'class realm::Object' has no member named 'add_notification_callback'"
I forked the repo at v3.0.0. Build process used to work perfectly. Now I want to merge the updates. But I'm no more able to build. Even when I checkout v3.1.4 on upstream repo, I experience the same error when executing `./gradlew assmble`

[code]

I'm building on OSX 10.12, directly from terminal. Right after this crash, I do a `git checkout master` to go back on my branch then `./gradlew assembl

[2017-05-08 12:44] marchy opened #4611 "Inverse Relationships not compatible with Kotlin"
We are trying to implement [Inverse Relationships](https://news.realm.io/news/realm-java-3-1) in our Kotlin codebase but when we decorate our model with the '@LinkingObjects' annotation we get the following compilation error:
[code]

The definition for the objects involved is the following:
[code]

Is the use of annotations to implement the Inverse Relationships incompatible with Kotlin?

Realm ve

[2017-05-08 12:49] guness commented on #4606
@kneth since content is dynamic, coming from internet; I cannot be sure the exact amount. However I don't think simple monkey-runner could cause that much of items.

[2017-05-08 12:51] beeender commented on #4610
try `git submodule update --init` first . You might need to delete `realm/realm-library/.externalNativeBuild` and rebuild.

[2017-05-08 13:14] marchy commented on #4187
Nevermind guys, we chased this down to a separate issue.

We were incorrectly using 'copyToRealmOrUpdate' instead of 'createOrUpdateObjectFromJson' in our synching loop so partial updates to the Chat metadata was overriding the 'messages' relationship that WAS successfully set earlier in the loop and causing it to be emptied out.

Good to close this  👍🏻

[2017-05-08 13:18] Zhuinden commented on #4611
it must be `val messages:RealmResults<Message>? = null`

[2017-05-08 13:33] #4187 closed

[2017-05-08 13:47] marchy commented on #4611
@Zhuinden  That doesn't work, gives ```Error:Class "Chat" contains illegal final field "messages".``` error.

I'm guessing since it's likely a non-sensical value (i.e.: you have a readonly value that's initialized to null).

Tried adding 'open' modifier but got the same error.

Also trying to latent it gives the same error as the var approach:
[code]
fails with
[code]

Kotlin version is 1.1.2

[2017-05-08 16:23] Zhuinden commented on #4611
the contract says you're supposed to initialize it as `private final RealmResults<T> results = null;` so that you don't accidentally try to use it for any purposes, because it's always overwritten by the Realm-Transformer.

It's a shame that Kotlin doesn't allow final `null` field :cry:

For current purposes I can present you a workaround, although Realm needs to handle this in some way.

[code]

[2017-05-08 16:31] asantibanez commented on #4437
I was having the same reported error. `v3.1.1` fixed the issue. Thanks! Awesome work!

[2017-05-08 16:43] marchinram commented on #607
@Zhuinden do you know when queries across `@LinkingObjects` backlinks will be supported?

[2017-05-08 16:52] cmelchior commented on #607
@marchinram We ran into a few issues with it, so it might not make our 3.2 release, but should definitely be part of 3.3. 3.2 will be late this week/early next week. 3.3 should be at the end of the month.

[2017-05-08 17:43] marchy commented on #1598
I'm pretty sure this is what you guys are discussing, but want to make sure you will support expressions / compound predicates in the subqueries to achieve same functionality that predicates have in Realm Cocoa:

For example, in Realm Cocoa we have:
[code]

NOTE that not only can there be multiple 'filters' applied but in each one multiple conditions can be performed.

As for the API/syntax, why n

[2017-05-08 17:49] Zhuinden commented on #1598
`Realm.getDefaultInstance().where(` please don't do that, you'll have local instances that you cannot close

[2017-05-08 17:54] patgoley commented on #2278
I'd just like to say that the above solution is not a workaround for having a LIMIT on queries. You're doing two queries that scan the entire table instead of a single query. LIMIT is an optimization that allows this to occur with only a single query. Hence, this is not a workaround but a very inefficient way to get the same result. Doing more queries is not a workaround for something that is supp

[2017-05-08 18:06] Zhuinden commented on #2278
The initial code would have been much faster if he had just used `deleteFromRealm();` on the object instead of adding them to an ArrayList first which needs to reinitialize its internal array many many times.

[2017-05-08 18:11] laiqurufeng opened #4612 "my mistake, please ignore it"

[2017-05-08 18:15] #4612 closed

[2017-05-08 19:41] cmelchior commented on #4611
Something seems odd. I tried with:

[code]

Which seems to emit:

[code]

[2017-05-08 20:28] raphaeljoie commented on #4610
Amazing, thank you ! It fixed the build issue.

[2017-05-08 22:14] qtstc commented on #4605
What is the recommended way for listening to changes in the Dog field of Person in 3.1?

It seems that I would need to have two listeners, one on the Dog class and another one on the Person class:
[code]
Is there a better way for doing this?

[2017-05-08 22:45] Zhuinden commented on #4605
Considering you don't store the RealmResults which means it can get GC'd and there is no guarantee that `onChange()` can be called on a GC'd results, it might help if you provide more context to what you are doing.

[2017-05-08 23:14] qtstc commented on #4605
I can store the RealmResult. Yeah I was using asObservable before 3.1, but asObservable doesn't support changeSet yet so have to switch to addChangeListener.

I am building a music app with a CurrentlyPlaying RealmObject. It has three fields: queueIndex (int), queue (which is a RealmObject), and playingSong (which is also a RealmObject).

I was listening to changes on the CurrentlyPlaying RealmObj

[2017-05-09 03:05] #4610 closed

[2017-05-09 04:41] #4335 closed

[2017-05-09 06:41] cmelchior commented on #4611
It looked like our `@LinkingObjects` annotation did not have the correct retention policy in order to be compatible with Kotlin. This should be fixed in #4613

[2017-05-09 07:52] cmelchior commented on #4606
Hi @guness

This part:

[code]

Isn't related to Realm by the looks of it, but you seem to be doing some advanced manipulation with your input data, so we really need a sample project (even one that doesn't fail) to be able to progress on this.

[2017-05-09 07:53] realm-ci opened #4614 "Fix merge from c1ecb9 to master"

[2017-05-09 07:54] kneth commented on #4606
Your stack traces say `unexpected pending exception`. That indicates that an exception has been thrown and some C++ code is calling a JNI function. If an exception is thrown in `com.argeusteknoloji.sikayetvar.utils.ProgressBarSubscriber.onNext()` you might have a pending exception when you return to C++.

In order to debug it, we will need a test case which can reproduce it.

[2017-05-09 08:34] guness commented on #4606
@cmelchior I am just putting data from internet, really does not bother content itself. However content may contain non-asii chars like `şŞçÇİıöÖ`. As far as I observe, they mostly work. This is happening rarely when I run monkey-runner with following command: `adb shell monkey -p com.sikayetvar.mobile -v --pct-syskeys 0 20000`.

[2017-05-09 09:18] ronaldgalangy opened #4615 "Unable to install debug apk."
[code]
**User class**
[code]
In my Application class, onCreate method.
[code]

Im not able to use the realm java for android. Im not sure if there is conflict between the realm and java 8. Do i need to use different java version?

Realm version(s): 3.1.4

Realm sync feature enabled: no

Android Studio version: 2.3.1

Which Android version and device: Any device

[2017-05-09 09:45] kneth commented on #3503
@eygraber Both interest and use cases. When designing a new API or a new method, we appreciate the input from our users.

[2017-05-09 09:49] kneth commented on #4524
@jollyjoker992 Compacting a Realm will removed other versions and other unused space in the Realm file. Most databases have such a function (in PostgreSQL it is called `VACUUM`). We don't support online compaction so doing it a launch after the app has been killed sounds like a good time to do it.

[2017-05-09 09:53] kneth commented on #2459
@snowpong Is it possible to upgrade to a later version of Realm Java?

[2017-05-09 09:55] kneth commented on #4148
@guness Do you use encryption?

[2017-05-09 10:00] kneth commented on #2492
@KynoYang @mandrachek Thanks for the reports. We have seen a similar issue - see #4343 - in a multithreaded app using encryption.

[2017-05-09 10:02] kneth commented on #4343
@MariusBoepple Thanks!

@ironage You might be able to use the above in your bug hunt.

[2017-05-09 10:30] kneth commented on #1598
@marchy Thanks for the suggestion. I wonder how we can translate your proposed `.subquery` into efficient queries - calling Java from C++ is not going to speed up the query :-(

[2017-05-09 10:31] cmelchior commented on #3739
With #4570 merged, this issue doesn't have any more blockers

[2017-05-09 10:32] cmelchior commented on #3739
@diegomontoya By `isLaunch` you mean this boolean is true the first time the Realm is opened right (GlobalCount == 0) ? I could see that being useful, yes.

[2017-05-09 10:34] #4270 closed

[2017-05-09 10:45] Gkundu1 opened #4616 "class RealmModel is not part of the schema for this Realm."
Recently change the realm plugin for android from 3.1.0. to 3.1.4

here how the project/build.gradle look like

[code]

here is the dependencies look like for app/build.gradle

[code]

Before upgrading to 3.1.4 ,the saving of data and also retrieve data from database.
But after upgrading to 3.1.4 now every time when try to save the data its only shows
SelectProductModel is not part of the schema f

[2017-05-09 10:59] Zhuinden commented on #4615
You're using something hacky which seems to miss `rx.Observable` from the classpath,

considering you probably don't use RxJava1, you don't have to - just create a package in your project called `rx`, and create an empty class in it called `Observable`, then it will work

[2017-05-09 11:00] Zhuinden commented on #2459
3.1.4 is much more stable, although you need to look at whether you are affected by breaking changes.

[2017-05-09 11:30] cmelchior commented on #4279
Merged in #4436

[2017-05-09 11:30] #4279 closed

[2017-05-09 12:34] marchy commented on #4611
Fantastic, thanks for the quick investigation guys. Realm for the win!

[2017-05-09 13:11] Zhuinden commented on #4279
Awesome!

[2017-05-09 13:30] eygraber commented on #3503
@kneth gotcha.

My use case is that I have a `Message` which has a field `chatId`.

I want to get messages with a distinct `chatId`, but I want those messages to be the most recent messages for that `chatId`, so I'd like to be able to do something like:

`realm.where(Message.class).findAllSorted("timestamp", Sort.DESCENDING).distinct("chatId")`

[2017-05-09 13:40] Zhuinden commented on #3503
Ah so like how in Skype you can see the latest message sent for the given chat with a given user.

[2017-05-09 14:14] KrishHari commented on #2837
Facing the same issue.
Is there a way out without making the application Multidex ?

[2017-05-09 14:18] zaki50 commented on #2837
multi-dex-keep.txt doesn't work?

[2017-05-09 14:21] KrishHari commented on #2837
Multidex will work. But is that only the solution? Because I am making a android library project which has realm plugin. And I can't force the applications that integrate my library to make it MultidexApp

[2017-05-09 14:31] Zhuinden commented on #2837
Well if you have `multiDexEnabled true` then you need to make it `multi dex application`

[2017-05-09 14:31] zaki50 commented on #2837
That sounds different issue from this.
Reducing method count (by hand or by sonething like Proguard) is the only way to avoid multidex.

[2017-05-09 14:47] ziggy42 commented on #3503
@eygraber that's mine use case too

[2017-05-09 16:06] cmelchior opened #4618 "Allow removing fields from Synced schemas"
Cocoa added support for removing properties from a model class again. It will not remove the field, but just hide it. We should implement something similar.

See https://realm.io/docs/swift/latest/#syncing-migrations

[2017-05-09 16:40] marchy commented on #1598
@kneth heh yes indeed, I was imagining you guys already translate these calls into the underlying provider invocations / internal QL (if there is a such thing), but the internal implementation would surely have to be specific to subqueries. I do think re-leveraging the API to generate these invocations for sub-queries would be ideal as it's cognitively easier to adopt/consume instead of requiring

[2017-05-09 17:21] #4552 closed

[2017-05-09 17:42] routen opened #4619 "Crash on init: Realm 3.1.4, Android 4.4.2, Multidex=true"
#### Goal

Installation of APK on Samsung Tab4 running Android 4.4.2

#### Expected Results

APK Installed

#### Actual Results

[code]

#### Steps & Code to Reproduce

1. Create Android project in AndroidStudio
1. Include Realm 3.1.4
1. (either in App.onCreate or onCreate of an Activity) call **Realm.init(context)**
1. in app build file,  within "defaultConfig" set   **multiDexEnabled = true**
1.

[2017-05-09 17:49] cmelchior commented on #4619
What is your minSdk? If it is below 21 you need to follow the extra steps here: https://developer.android.com/studio/build/multidex.html#mdex-gradle

[2017-05-09 17:50] routen commented on #4619
Thanks, it is 14, Will look

[2017-05-09 18:14] Zhuinden commented on #4619
Yeah you need to either `extends MultiDexApplication` or do `MultiDex.install(baseContext)` in `attachBaseContext()`

[2017-05-09 20:18] bmeike opened #4620 "Support LinkingObjects in native glue code"
There is a lot of code in the binding, now, to support queries on LinkingObjects.  The native code needs a few further fixes in order to make them work.

- [ ] Fix the getTableByArray method to support backlink queries
- [ ] Re-enable the backlink query unit tests, make sure they are clear and that they pass.
- [ ] Address @kneth 's comments, captured here.
- [ ] Add new unit tests as necessary to

[2017-05-09 20:23] bmeike commented on #4620
In: realm/realm-library/src/androidTest/java/io/realm/LinkingObjectsQueryTests.java
[code]
kneth: Can you include object in the table too?

[2017-05-09 20:27] bmeike commented on #4620
In: realm/realm-library/src/androidTest/java/io/realm/LinkingObjectsQueryTests.java
[code]

kneth: What will nullTypeArray[0].getFieldListNull() return? To increase readability, I think all three times fieldObjectNull and fieldListNull should be set.

Note that this code is strongly related to code it `TestHelper`.  If this code changes, perhaps that code should be reviewed as well.  Better yet, t

[2017-05-09 21:46] guness commented on #4148
nope

[2017-05-10 01:18] DanteAndroid opened #4621 "Crash"
This crash happens randomly. Does this has sth. to do with Realm? (I saw a `realm` word in it) I don't know how to track this problem, please help me
[code]

[2017-05-10 03:32] beeender commented on #4621
No, I don't think it is related with Realm. The crash happened in the libskia which is the 2D graphics library for Android.

Questions like this are better to be asked on stackoverflow where you can get better answers.

[2017-05-10 03:32] #4621 closed

[2017-05-10 05:23] dongorigin commented on #4521
I have a similar problem, reason is linked Object has  GC'd. I think the document need to explain on the linked Object GC

[2017-05-10 06:41] zernyu commented on #3503
Use case: Our app displays measurements gathered from IoT sensors. Our overview screen shows the latest measurement gathered per measurement type (pH, Salinity, Temperature, etc). So, similar to other use cases, I would like to be able to do:

`realm.where(Measurement.class).findAllSorted("timestamp", Sort.DESCENDING).distinct("measurementTypeId")`

[2017-05-10 07:12] akent commented on #4579
I have also started seeing this issue on my project. If I make any code change in a RealmObject derived class, it triggers it. A clean build does fix it. I'll try to repro with the demo project linked above.

[2017-05-10 08:36] zaki50 commented on #4616
`RealmConfiguration.Builder.modules()` clears modules list at first.
You need to pass multiple modules in one call.

[code]
should be
[code]

[2017-05-10 08:42] #4619 closed

[2017-05-10 09:02] kneth commented on #4521
@dongorigin Any suggestions on how to improve the documentation as @beeender is quoting?

[2017-05-10 09:49] kneth commented on #4148
@guness The error message (`error_code = 5`) indicates that you have an invalid first half of a surrogate pair. That can happen if you call `substring()` or trim the string.

[2017-05-10 09:53] kneth commented on #3503
@eygraber @ziggy42 @zernyu Thanks for the use cases.

[2017-05-10 10:18] akent commented on #4579
Yes, it's easy to reproduce with the example demo repo above.

1) Build and install demo app normally
2) Change some code in Chat.kt, for e.g. use Android Studio to autogenerate equals() and hashCode() methods.
3) Build and install and observe runtime crash.
4) Make clean build, rebuild and install -> all fine again.

Here's an example full stacktrace:
[code]

[2017-05-10 10:19] cmelchior opened #4622 "Configuration Builders fail a different times"
Right now it is fairly inconsistent when our Builders fail (`RealmConfiguration.Builder` and `SyncConfiguration.Builder` throws). Some errors are thrown when setting a value like `assetFile()` others are thrown when calling `build()`.

We should make this consistent. I propose the following:
- Individual builder methods will only throw on Illegal input, e.g a String being `null` or something like

[2017-05-10 10:44] Zhuinden commented on #4521
BTW `Realm.getDefaultInstance().execute...` creates an unclosable Realm instance.

[2017-05-10 12:27] dongorigin commented on #4521
I have been using Realm for 2 years, before I totally did not realize that multiple calls to get linked object would return different objects, and the previous object would be GC

The following code is intuitive, but the behavior is completely wrong:
[code]

The reason should be as follows:
1.person.getDog() // DogRealmProxy@1
2.person.getDog() // DogRealmProxy@2
3.GC
4.DogRealmProxy@1 and DogReal

[2017-05-10 14:36] kneth commented on #4521
@dongorigin I see now that we need to expand the documentation of keeping references to objects. And we should emphasize the importance of avoiding creating unclosable Realm instances.

[2017-05-10 17:39] bmeike commented on #4321
Closing.  C++ support being tracked in #4620

[2017-05-10 17:39] #4321 closed

[2017-05-10 22:16] n0tnull opened #4624 "Realm is causing a reboot on device running Android O developer preview"
On a Nexus 5X running Android O Developer preview 1, any request to Realm, query or transaction,  seems to fail and cause the phone to reboot.

What is even weirder is that changing how many field are present in RealmObject is changing how the error is triggered...

Maybe it's related to this but I don't really know : https://developer.android.com/preview/behavior-changes.html#nl

**Actual Results

[2017-05-10 22:29] bmeike commented on #4624
We don't have a 5X around at the moment.  It doesn't, perchance, fail on an emulator (Android or Genymotion) running O, does it?

[2017-05-10 23:09] bmeike commented on #4624
It is not failing on the emulator....

[2017-05-11 02:30] zaki50 commented on #4624
I reproduced the same reboot.

[code]

then reboot happened.

[2017-05-11 03:06] beeender commented on #4624
Realm doesn't have any segment with WE, so this should not be the problem :(

[2017-05-11 06:41] cmelchior commented on #4624
No matter what. A reboot should never happen. To me this sounds like is an issue that should be reported to the O Preview Bug Tracker

[2017-05-11 08:08] kneth commented on #4579
Realm has an annotation processor, a  bytecode transformer and a few ProGuard rules. To me, the `kapt`(Kotlin annotation processing tool) is a bit magically so I can easily imagine that it can go wrong but cleaning is the best option :-)

[2017-05-11 08:08] #4579 closed

[2017-05-11 08:09] kneth commented on #4372
@zoltish Can you confirm that a clean and rebuild help?

[2017-05-11 08:15] Zhuinden commented on #4579
And this issue is also tracked in https://github.com/realm/realm-java/issues/4579 .

[2017-05-11 08:21] kneth commented on #4624
@zaki50 Can you create an issue at the Android bug tracker (or the O preview bug tracker if such a thing exist)?

[2017-05-11 08:21] akent commented on #4579
For the record the other issue tracking this is #4372

[2017-05-11 09:01] JakeWoki opened #4625 "Realm access from incorrect thread. Realm objects can only be accessed on the thread they were created"
[code]
Realm access from incorrect thread. Realm objects can only be accessed on the thread they were created.
[code]
it is good.give me some help.Thanks

[2017-05-11 09:06] Zhuinden commented on #4625
You read data from the Realm on `Schedulers.io()` via `getLoadRecordObservable()`, but you are passing list of *managed RealmObject* to the main thread.

You can't do that. See https://realm.io/docs/java/latest/#threading .

[2017-05-11 09:09] JakeWoki commented on #4625
@Zhuinden

[code]
why this is also good?

[2017-05-11 09:30] Zhuinden commented on #4625
`copyFromRealm` creates unmanaged copy which can be passed between threads

[2017-05-11 09:32] JakeWoki commented on #4625
if iterations and be passed between threads,how to do?

[2017-05-11 09:41] idok595 opened #4626 "RealmQuery findAllAsync() not working"
realm version:  3.1.4
i am trying to RealmQuery.findAllAsync after creating a realm insatanse,my table is very big arround 10K records + 10-20MB, some times the RealmChangeListener called and sometimes not, on debug mode in 90% of times it called, but in normal mode it dosent called at all.

[2017-05-11 09:43] Zhuinden commented on #4626
You need to store the results as a field variable

[2017-05-11 09:44] cmelchior commented on #4626
Note you need to keep a reference to your `RealmResults` to avoid it being GC'ed. Most likely in a class variable:

[code]

If that is not your problem, you need to provide some code we can look at.

[2017-05-11 09:45] idok595 commented on #4626
yes that is my problem, but why?, by the way there is nothing on the documentation about it...

[2017-05-11 09:55] cmelchior commented on #4626
It is on the website: https://realm.io/docs/java/latest/#notifications
But we should probably also make it more clear in the Javadoc.

[2017-05-11 10:00] cmelchior commented on #4472
This was added to the website docs here: https://realm.io/docs/java/latest/#notifications
We should probably also add a comment to all the places where ChangeListeners can be registered:

Something like:
[code]

[2017-05-11 10:14] zaki50 commented on #4624
https://issuetracker.google.com/issues/38220041

[2017-05-11 10:24] Zhuinden commented on #4625
That should work

[2017-05-11 10:24] Zhuinden commented on #4625
Please note that you should close the Realm instance before or after onCompleted.

[2017-05-11 10:25] zoltish commented on #4372
@kneth Yup, that does the trick! Might be worth noting that I havent seen this issue in a good while now (hopefully me saying this wont jinx it). Besides a lot of new code, Ive upgraded Android Studio and the gradle plugin - which goes inline with the earlier suspicion about this all being a bug triggered by the gradle plugin.

[2017-05-11 10:25] Zhuinden commented on #4472
That is definitely a comment you should add to doc

[2017-05-11 11:24] omidraha opened #4627 "Support for importing relation objects by ID from json file"
Hi,

The `createOrUpdateAllFromJson` method or similar other methods,
support for importing objects by putting only `id` for relation objects,
instead of putting whole object data on the json file.

For example when we have these two  `Dog` and  `Person` models:

[code]

And assumed we currently have these records on the `Dog` model on the database:

![table-diagram](https://cloud.githubuserconten

[2017-05-11 11:29] cmelchior commented on #4627
Yes, a similar idea has been raised here as well: https://github.com/realm/realm-java/pull/3758. Personally, I find the idea compelling and would definitely ease integration with a lot of REST API's that just send ID's.

[2017-05-11 11:53] cmelchior opened #4628 "Better support for upgrading realms using assetFile()"
`assetFile(path)` has been along for a while and copies the file if nothing yet exists on disk. Like a bundled `initialData()`.
`readOnly()` was added in #4575.

A really common use case is shipping a read only Realm with the app, think static data like zip codes and such.

### Use case 1

[code]

In that case it would be nice if the assetFile was automatically copied again if a newer version was

[2017-05-11 12:04] cmelchior opened #4629 "readOnly Realms should mock non-existing classes"
`readOnly()` was added in #4575.

Right now the Schema of a read-only Realm must strictly match the provided schema. If it doesn't a `RealmMigrationNeededException` is thrown. Which it is impossible to react to since the Realm is read-only.

Cocoa (and Object Store) has slightly different semantics. They will allow classes to be missing and will instead mock them if queried i.e. they will allow qu

[2017-05-11 12:08] #1147 closed

[2017-05-11 12:28] ldf1210750006 opened #4630 "denied { create } for name="access_control.new_commit.cv""
run my project on android5 or android6 is ok,  but on android7.1.1,there is a bug:

type=1400 audit(0.0:315): avc: denied { create } for name="access_control.new_commit.cv" scontext=u:r:system_app:s0 tcontext=u:object_r:system_app_data_file:s0 tclass=fifo_file permissive=0
 at io.realm.internal.SharedRealm.nativeGetSharedRealm(Native Method)

[2017-05-11 12:41] JakeWoki commented on #4625
yes,I do.Thanks

[2017-05-11 12:41] #4625 closed

[2017-05-11 13:11] kneth commented on #4372
@zoltish Great to hear!

[2017-05-11 13:11] #4372 closed

[2017-05-11 13:27] kneth commented on #4630
@ldf1210750006 Can you provide the code? It seems to happen during migration?

[2017-05-11 13:28] cmelchior commented on #4626
Closed by #4631

[2017-05-11 13:28] #4626 closed

[2017-05-11 13:28] cmelchior commented on #4472
Closed by #4631

[2017-05-11 13:28] #4472 closed

[2017-05-11 15:05] ScheNi commented on #967
+1

[2017-05-11 16:23] michaelbukachi opened #4633 "Deleting object with active listener causes Fatal signal 11 (SIGSEGV) at 0x00000178 (code=1)"
I've noticed a bug with the latest version of realm. It seems deleting an object which has an active listener causes Fatal signal 11 (SIGSEGV) at 0x00000178 (code=1) and the app just closes without even showing the anr dialog. I'm deleting the object from a background thread but the listener is on the UI thread. I've tried using object.isValid() in the listener it still crashes. Is this a bug??

[2017-05-11 16:26] beeender commented on #4633
What version are you using? Can you share the full native backtrace?

[2017-05-11 17:34] michaelbukachi commented on #4633
I'm using realm 3.0.0
This is what is shown in the stacktrace:

`05-11 20:33:00.273 15407-15407/dita.dev.myportal A/libc: Fatal signal 11 (SIGSEGV) at 0x00000178 (code=1), thread 15407 (ta.dev.myportal)`

[2017-05-11 17:36] Zhuinden commented on #4633
It is highly likely that it has been fixed in 3.1.1

[2017-05-11 17:40] Zhuinden commented on #967
Check is possible reliably in transaction if count > 0

[2017-05-11 17:43] michaelbukachi commented on #4633
I've update to the latest version but now I'm getting
`java.lang.IllegalStateException: Object is no longer valid to operate on. Was it deleted by another thread?
                                                                       at io.realm.internal.UncheckedRow.nativeIsNull(Native Method)
                                                                       at io.realm.internal.UncheckedRow

[2017-05-11 17:51] michaelbukachi commented on #4633
Works now!!! Had do rebuild the entire project

[2017-05-11 18:55] Zhuinden commented on #4633
Ah, that's the row validation check that was missing and added in 3.1.4

[2017-05-12 02:48] beeender commented on #4633
@michaelbukachi great! I am closing this issue now, let me know if it needs to be reopened.

[2017-05-12 02:48] #4633 closed

[2017-05-12 06:29] akent commented on #4372
To be clear, the problem is solved temporarily by a clean rebuild, but it comes right back again every time you change a RealmObject derived class.

Clean rebuild is not the solution; something is clearly stale and not being properly rebuilt automatically.

[2017-05-12 06:42] zoltish commented on #4372
@akent Yes; however the issue seems to come up "randomly" and not at all correlating with changes to RealmObjects.

[2017-05-12 06:44] akent commented on #4372
I can repro it every time with any change to the Chat.kt class in the demo repo linked in #4579. Let me turn on debug and see if I can diagnose further.

[2017-05-12 06:44] Macatuz opened #4634 "Need help signal 11 (SIGSEGV), code 1 (SEGV_MAPERR), fault addr 00000000"
I am trying to get just one apk well done, just one. now look at this.
This is a normal apk. an small program.

I/python  ( 4561): [WARNING] [Config      ] Older configuration version detected (0 instead of 19)
I/python  ( 4561): [WARNING] [Config      ] Upgrading configuration in progress.
I/python  ( 4561): [INFO   ] [Logger      ] Record log in /data/data/org.test.codicooking/files/app/.kivy/lo

[2017-05-12 07:09] Zhuinden commented on #4634
Realm version? Device?

[2017-05-12 07:12] beeender commented on #4634
Is it a x86 device and using arm ABI so?

[2017-05-12 07:12] Zhuinden commented on #4634
When  does the crash happen, on what line? Please provide sample code. Also I see SDL Thread, so maybe it's a 32-bit 64-bit mismatch between your native libraries.

In that case you might even want to show your dependencies.

[2017-05-12 08:10] ldf1210750006 commented on #4630
I think it does not happen in Migrate, because it can run on Android5.0, 6.0, but not in Android7.1.1. I think it is a permissions issue, there is no permission to create "access_control.new_commit.cv". This is my code:
[code]

[2017-05-12 08:12] beeender commented on #4630
@ldf1210750006 Can you try with a the latest realm-java release? we fixed a similar error in 3.1.3

[2017-05-12 08:21] jemshit commented on #4562
`

     Searched in the following locations:
         https://jcenter.bintray.com/com/android/tools/build/gradle/2.3.2/gradle-2.3.2.pom
         https://jcenter.bintray.com/com/android/tools/build/gradle/2.3.2/gradle-2.3.2.jar
         https://repo1.maven.org/maven2/com/android/tools/build/gradle/2.3.2/gradle-2.3.2.pom
         https://repo1.maven.org/maven2/com/android/tools/build/gradle/2.3.2/gr

[2017-05-12 08:46] koukoucai opened #4635 "How to delete half of Realm"
My Code like that:

`realm.where(Test.class).findAll().sort("startDateString", Sort.ASCENDING);
  realmResults.deleteAllFromRealm();`

deleteAllFromRealm  this would  delete all of the data.
But I want delete half of it.
How can I do it？

[2017-05-12 09:19] ldf1210750006 commented on #4630
I am using version 3.1.3, but this problem still exists

[2017-05-12 09:33] Zhuinden commented on #4635
RealmResults<Test> test = realm.where(Test.class).findAllSorted("startDateString", Sort.ASCENDING);
    OrderedRealmCollection<Test> snapshot = test.createSnapshot();
    for(int i = 0; i < snapshot.size()/2; i++) {
          snapshot.get(i).deleteFromRealm();
    }

[2017-05-12 09:35] beeender commented on #4629
It doesn't seem to be a normal use case at all. Maybe we should just wait until users asking for it.

[2017-05-12 12:06] akent commented on #4372
Debug gradle log from realm-demo project from a clean state: https://gist.githubusercontent.com/akent/b5f5e1b8bc52a6948cbb0b78ce1a4438/raw/63aac0e2ad2006e78726c5337a76a93ec89e51e2/build-from-clean.log

Debug gradle log after a minor change to Chat.kt: https://gist.githubusercontent.com/akent/e3cb5181223f5ce5d2a4194c7106cc6a/raw/39008c8c96f7ed3e94f15f1311e80b69cbbe1a30/build-after-change.log

[2017-05-12 12:46] akent commented on #4372
Notable difference in the "after change" rebuild:

[code]
vs clean:
[code]

[2017-05-12 14:54] ahmadzkn opened #4637 "Realm , Retrofit, Object parsed as empty"
I am using retrofit 2.2.0 and Realm 3.1.4.

I am posting a realm object "Car" to server. Object has all the values initialised. I can see the value both in The app UI, and through expression evaluation. but when I post the object the parsed object has all the values empty. I have the debugging on in Retrofit with log level BODY. So OKHttp is printing the body of request which is json of this objec

[2017-05-12 15:22] Macatuz commented on #4634
Srry its an apk made in python not in java. wrong place.

[2017-05-12 15:32] Macatuz commented on #4634
#!/usr/bin/env python
# -*- coding: utf-8 -*-

import os.path
from kivy.uix.behaviors import ButtonBehavior

C1 = "[color=#13C0C7]"
C2 = "[color=#404040]"
C3 = "[color=#ff3333]"
C4 = "[color=#000000]"
#metrics = MetricsBase()
#android_dpi = metrics.dpi_rounded()
patch = os.path.dirname(os.path.abspath(__file__))
asset_dpi = [.75,1.,1.5,2.,3.,4.]
asset_dpi2 = ['ldpi','mdpi','hdpi','xhdpi','xxhdpi',

[2017-05-12 15:32] Macatuz commented on #4634
[app]

# (str) Title of your application
title = Codi Cooking

# (str) Package name
package.name = codicooking

# (str) Package domain (needed for android/ios packaging)
package.domain = org.test

# (str) Source code where the main.py live
source.dir = .

# (list) Source files to include (let empty to include all the files)
source.include_exts = py,png,jpg,kv,atlas,wav,ttf

# (list) List of inclus

[2017-05-12 19:59] Zhuinden commented on #4637
@ahmadzkn you are running into https://realm.io/docs/java/latest/#android-studio-debugging and before you send a managed RealmObject through a reflection-based JSON serializer, you should call `realm.copyFromRealm(obj)`.

[2017-05-12 21:55] ahmadzkn commented on #4637
@Zhuinden this has worked. Really appreciate your response.
can you help me understand this further as I am confused a little bit about it.
Does one not get a managed object when
realm.where(Car.class).equalTo("primaryID", carId).findFirst();
is used ?

I can't edit anything on this object I have to do it in the transaction otherwise I get an exception. saying I should edit managed object inside o

[2017-05-13 00:12] realm-ci opened #4638 "Fix merge from 8d3e17 to master"

[2017-05-13 02:19] jpmcosta commented on #4611
This is weird, because I've been using Kotlin, and `@LinkingObjects` works in `3.1.4`.
The differences I see in my codebase is that I don't annotate classes with `@RealmClass` and I extend them from `RealmObject`.
Am I doing something wrong?

[2017-05-13 06:23] koukoucai commented on #4635
Except the circulate ,there were some better solution?

[2017-05-13 07:08] ShaharHD commented on #1862
@beeender Is this something still considered?

[2017-05-13 07:29] Zhuinden commented on #4637
@ahmadzkn the trick is that `realm.where(Car.class).equalTo("primaryID", carId).findFirst();` indeed returns a managed object.

Managed object means that it is a "live **view** of the object in the database", but as Realm is transactional and MVCC, these objects aren't modified unless in a transaction, or if Realm on that thread is notified that a transaction happened on *some* thread. This is whe

[2017-05-13 07:33] Zhuinden commented on #4635
Only if you set up some sort of ranking system on insertion.

Then you can do

    realm.where(Test.class).greaterThan("rank", realm.where(Test.class).count()/2).findAll().deleteAllFromRealm();

[2017-05-13 08:39] koukoucai commented on #4635
Got it.
I  like your idea

[2017-05-13 12:40] ahmadzkn commented on #4637
@Zhuinden Thank your for such a detailed explanation.
Can you please also tell what would be the best practice here. For when I want to submit a form I should get an unmanaged object from the database using copyFromRealm. After editing that object I should copyOrUpdate that object to realm?
Would this be called a good practice ? or should one adopt a different one ?

[2017-05-13 13:21] Zhuinden commented on #4637
generally I recommend `insertOrUpdate` if you don't need the proxy that is returned, but yes.

[2017-05-13 14:37] ozv101 commented on #2570
I just got the same issue on a Samsung Note 5 running 7.0. I added all three of these classes at the same time (all extend RealmObject). From my understanding, Realm creates the table automatically with a bump of the schema version, and a custom migration is only needed if fields are changing within already created tables. It's complaining that there's no table for GenerationAbility.

[code]

[2017-05-13 15:05] MohamedWael opened #4639 "I wants to save a key value pairs in the DB but Realm stops the compiling of the project when getting object like so"
**Goal**
saving keyVlaue pair in the DB

**Expected Results**
keyValue pairs saved in the DB

**Actual Results**
the project stops compile as of Realm doesn't generate proxy classes

**Code Sample**
[code]

**Version of Realm and tooling**
3.1.4

Realm sync feature enabled: no

Android Studio version: 2.3.2

Which Android version and device: 6

[2017-05-13 15:44] ozv101 opened #4640 "Upgrading from Realm 2.3.0 to 3.1.4 wiped the data"
#### Goal

#### Expected Results

#### Actual Results

#### Steps & Code to Reproduce

#### Version of Realm and tooling
Realm version(s): 2.3.0 to 3.1.4

Realm sync feature enabled: no

Android Studio version: 2.3.2

Which Android version and device: 7.1

[2017-05-13 15:55] cmelchior commented on #4640
Hi @ozv101
Realm doesn't delete any data when upgrading, so something in your code must be doing it.

[2017-05-13 16:02] Zhuinden commented on #4640
You probably had `deleteIfMigrationNeeded` on and changed fields or added classes

[2017-05-13 18:31] Zhuinden commented on #4639
Generic RealmObjects are not supported.

[2017-05-13 18:48] ozv101 commented on #4640
Ok so it was a data issue on my end. I was not using `deleteIfMigrationNeeded` though.
Thanks.

[2017-05-13 18:49] #4640 closed

[2017-05-13 19:45] MohamedWael commented on #4639
Thanks for response

What if i want to do something like that, what it should like to be ?

[2017-05-13 20:52] bmeike commented on #4639
It isn't like we don't support that because we are grumps, I just isn't clear what it would mean, when storing stuff in the DB. ;-)  So, I have to ask:. When you say "I want to do something like that", what do you mean, exactly?  What are you trying to accomplish?  Happy to help, with a little more info...

[2017-05-13 20:54] bmeike commented on #4639
It isn't like we don't support that because we are grumps! It just isn't clear what that would mean, when storing stuff in the DB. ;-)  So, I have to ask:. When you say "I want to do something like that", what do you mean, exactly?  What are you trying to accomplish?  Happy to help, with a little more info...

[2017-05-13 22:03] Zhuinden commented on #4639
The problem is that each generic type of this class would be a new table, and I don't think that can be detected.

It would work if generics worked like they do in C++ but it doesn't.

[2017-05-14 11:44] MohamedWael commented on #4639
@bmeike My use case is to store many instances of an object that has no identifier ( primary ) key to use them in different contexts in my app i.e.

I have a tutorial screen which display an array of image , title and some text - the object to be saved - each in a horizontal scrolling view, this is used to explain many different cases in my app.
I've been suggesting to store the ```tutorials``` ob

[2017-05-14 12:06] Zhuinden commented on #4639
Why not just

      public class Item extends RealmObject {
          private String imageUrl;
          private String title;
          private String content;
          @Index
          private String type; // <-- "tutorial"
       ...

[2017-05-14 12:49] MohamedWael commented on #4639
@Zhuinden
I've done this solution few hours ago but i was clearing the case to @bmeike

[2017-05-14 18:34] michaelbukachi opened #4641 "IllegalException in adapter"
Hello, a couple of my testers experience this error:
[code]
I've checked my code and all realm instance are local except for the one in the MainActivity, for which the `close()` method is called when the activity is being destroyed; that is when a user is exiting the app. Could it be a bug in the RealmBaseAdapter?

[2017-05-14 18:36] cmelchior commented on #4641
The RealmBaseAdapter doesn't close instances, so no. Wat does your `onDestroy()` method look like?

[2017-05-14 18:38] michaelbukachi commented on #4641
protected void onDestroy() {
        super.onDestroy();
        EventBus.getDefault().unregister(this);
        if (studentResult != null) {
            studentResult.removeAllChangeListeners();
        }

        if (realm != null) {
            realm.close();
        }

    }

[2017-05-14 18:39] Zhuinden commented on #4641
I opened https://github.com/realm/realm-android-adapters/issues/112 because I think RealmBaseAdapter and RealmRecyclerViewAdapter shouldn't have different behavior if the data set is no longer valid.

[2017-05-14 18:44] michaelbukachi commented on #4641
Does that mean I have to override the `getCount()` method till it's fixed?

[2017-05-14 18:51] Zhuinden commented on #4641
Technically the Realm instance you open in `onCreateView()` and **don't close** should ***not*** be closed, but I've also had a quirky experience with the RealmCache a long time ago which is why I personally tend to have only 1 global Realm instance for the UI thread (and open Realm for bg thread with try-finally), but yes, I recommend overriding `getCount()` method and check for `getData().isVali

[2017-05-14 19:26] michaelbukachi commented on #4641
okay. I'll implement it

[2017-05-14 19:42] shakil807g opened #4642 "Partial updates in realm"
here is my json with i want to insert or update to realm

[code]

and i am creating object in realm with

                Realm realm = Realm.getDefaultInstance();
                realm.beginTransaction();
                realm.createOrUpdateObjectFromJson(RUser.class,jsonObject);
                realm.commitTransaction();

how can i create object for  groups  in realm  with in case of json is a M

[2017-05-15 01:23] akent commented on #4372
OK I did some more reading related to the problem and... *drumroll*

The answer (for me at least) is to include `apply plugin: 'kotlin-kapt'` in the module level build.gradle.

I *think* this has been an issue since Kotlin 1.1.1 because incremental builds were enabled by default.

[2017-05-15 06:42] cmelchior commented on #4641
@Zhuinden thanks. Now you mention it, I do slightly recall there being some lifecycle issues with adapters and Realm even though it was closed correctly in `onDestroy`. So yes @michaelbukachi it is probably something we need to fix on our end.

[2017-05-15 06:44] #4635 closed

[2017-05-15 06:49] cmelchior commented on #4637
@ahmadzkn Working on unmanaged data and only save it once a user presses "Save" is easier to implement, but will also mean they will loose whatever data they happened to have entered if then the app crashes or is put into the background and closed (e.g. if the phone rings).

In the end, it boils down to what kind of user experience you want to give.

In any case, your original question was answere

[2017-05-15 06:49] #4637 closed

[2017-05-15 07:02] kneth commented on #4562
Just checked the existence of https://jcenter.bintray.com/com/android/tools/build/gradle/2.3.2/. Maybe you need to refresh the dependencies?

[2017-05-15 07:04] kneth commented on #4630
@ldf1210750006 Can you share a small project which reproduces the error?

[2017-05-15 07:08] Zhuinden commented on #4637
Technically that's when `Parceler` comes into play, *without* the ˙implementations={XRealmProxy.class}` setting. That way you can persist unmanaged obj. in bundle

[2017-05-15 07:37] jemshit commented on #4562
@kneth it started to work, did nothing

[2017-05-15 07:57] Zhuinden commented on #4630
What is `  .directory(getCaminhoDB(context))`?

[2017-05-15 08:16] cmelchior opened #4643 "JSR305 annotations for nullability"
Square has started pushing JSR305 annotations as the way to express nullability in their API's.

- https://github.com/square/okio/pull/307
- https://medium.com/square-corner-blog/rolling-out-nullable-42dd823fbd89
- https://medium.com/@jakewharton/an-optionals-place-in-kotlin-17d7b271eefe
- https://youtrack.jetbrains.com/issue/KT-10942

And this is starting a push on other libraries as well:
- http

[2017-05-15 08:17] beeender commented on #1862
@ShaharHD Yes, it is! But it is not a high priority feature for us to implement right now.

[2017-05-15 08:21] cmelchior commented on #1862
I did look briefly into this because it would also make the `@LinkingObjects` API much nicer to use:

However, queries is turning out to be quite the headache
[code]
We could of course just throw if calling `RealmResults.empty().where()` but that would be rather ugly.

[2017-05-15 08:35] ridcully99 opened #4644 "Does realm keep all objects of a transaction in native memory until commit?"
We are doing a synchronization of data from a server backend. In order to have a clean, consistent database all the time, we do this within a transaction and commit only after everything went well.

Now when getting too many items from the server (1.5 million items on first sync attempt), our app crashes with the following exception:

[code]
Does that mean that all items are kept in memory by real

[2017-05-15 09:03] cmelchior commented on #4644
Hi @ridcully99 Yes, everything is kept in memory until the final commit. Unfortunately, the only workaround is splitting the commit into multiple chunks.

[2017-05-15 09:04] cmelchior commented on #4644
Just out of curiosity. 1.5 million items is quite a lot. How many items you are sending over the network?

Would it instead be possible to create an assetfile you ship with the app instead?

[2017-05-15 09:04] ridcully99 commented on #4644
Thanks for your quick answer. That is very sad though.

[2017-05-15 09:32] cmelchior commented on #4644
@ridcully99 I created #2614 to track this, but note that it will probably have a fairly low priority.

[2017-05-15 10:24] Zhuinden commented on #4644
you mean https://github.com/realm/realm-core/issues/2614

[2017-05-15 10:32] cmelchior commented on #4644
Ups, fixed 👍

[2017-05-15 10:55] finnschiermer commented on #4644
@ridcully99 Any idea what the memory consumption for those 1.5 mill objects are? If you put them in a realm file and compact the file, how large is it? Do you know how much physical memory is on the device where it fails?

[2017-05-15 11:03] kneth commented on #4634
We haven't been able to figure out how `libhoudini` is working - see for example #1398 and #1473. From your stack trace, it appears that you are using it.

[2017-05-15 11:03] #4634 closed

[2017-05-15 11:08] ridcully99 commented on #4644
The 1.5 million is just an example. It can also be many more items - this is a many-to-many connection table between users and tasks, so the number of items is more or less count(users) x count(tasks). Due to offline requirements we have to sync all that data to the device.

[2017-05-15 11:20] ridcully99 commented on #4644
OK, 1 million of the items is about 28MB when compacted in the realm.

[2017-05-15 11:31] cmelchior opened #4645 "SyncUser Profile Values"
The Object Server is getting support for a map of customizable user data. We need to expose this in the public API: https://github.com/realm/product/issues/143

So far the working API proposal is
[code]

We are starting to see quite a few different callbacks. Perhaps we should create a new Callback interface that allow generics and slowly switch to that. Something like:

[code]

TODO:
- [ ] Finali

[2017-05-15 11:37] finnschiermer commented on #4644
Thx. As a workaround, I'd partition it into multiple commits as suggested earlier. I'd likely add a "meta" table for tracking the progress of these smaller transactions.

[2017-05-15 11:43] cmelchior commented on #4644
@ridcully99 28 MB doesn't sound like that much, to be honest. So I suspect something else is the problem here. How are you inserting the objects into Realm, using our streaming Json API or converting them to in-memory objects first?

Also, have you tried to attach a debugger during the process to see how the memory pressure in Java is?

The exception you are getting is definitely a C++ one, but it

[2017-05-15 12:06] cmelchior commented on #2853
We updated all Javadoc for changelisteners to explicitly mention that you need to hold a strong reference to the object. Closing

[2017-05-15 12:06] #2853 closed

[2017-05-15 12:28] Zhuinden commented on #4644
Building many-many relations is kinda tricky because memory requirement scales as O(N).

Single objects can easily be inserted with O(1) memory requirement (on Java side, anyways).

[2017-05-15 13:06] ridcully99 commented on #4644
Here is a test that produces the crash. The `createObservable() `method simulates the backend server and produces a new 'page' of data every 500ms.

[code]

[code]

[2017-05-15 16:11] silviokuehn commented on #4375
Try and just initialize the list, the resolve this issue that occours on unmanaged object.

private RealmList<RmCategory> subCategories **= new RealmList<>()**;

public RealmList<RmCategory> getSubCategories() {
    return subCategories;
}

public void setSubCategories(RealmList<RmCategory> subCategories) {
    this.subCategories = subCategories;
}

[2017-05-15 17:22] bmeike commented on #4643
While reviewing null checks and possibly eliminating some, seems like a
great idea, it is important to realize that the annotations are not a
general replacement for checks.  There are boat-loads of ways that a
parameter can be null, that static analysis won't catch...

On May 15, 2017 1:16 AM, "Christian Melchior" <notifications@github.com>
wrote:

[2017-05-15 17:40] m4xp1 commented on #1894
classpath "io.realm:realm-gradle-plugin:3.1.4"

Called in 80% of cases. Obviously there is a race of streams. If it manages to load before subscribing, it is not called.

[code]

[2017-05-15 17:49] Zhuinden commented on #1894
You need to keep a strong reference to the RealmResults otherwise it'll be eaten alive by the GC

[2017-05-15 18:12] m4xp1 commented on #1894
It is really! Thank you!

[2017-05-15 18:13] joshfriend commented on #4643
@bmeike this may be true for Java, but Kotlin will enforce these nullability contracts at compile time, which is a huge benefit for those users.

[2017-05-15 21:51] Zhuinden commented on #4296
Is this the thing needed to share a Realm between two specific users, but not globally to everyone?

[2017-05-15 22:25] bmeike commented on #4642
Hey @shakil807g , can you please ask this question on Stack Overflow, where the solution will be more accessible?  Throw a link in here and we'll get right on it.

Thanks!
  -blake

[2017-05-15 22:51] bmeike opened #4648 ""Realm instance has been closed" exception on un-closed Realm"
@cmelchior and @zhuinden recall quirky experiences with `RealmCache` causing an open Realm to appear closed.

The issue arose, recently in #4641

This issue tracks identifying and fixing the bug

[2017-05-15 22:52] bmeike commented on #4641
@michaelbukachi can you confirm that the workaround eliminates the immediate problem?  Created #4648 to track the root problem.

[2017-05-15 22:57] bmeike commented on #4639
@MohamedWael I think you nailed it.  If it works, I'm happy!

Ok to close this now?

[2017-05-15 23:07] bmeike commented on #4562
Hey @jemshit , this really has nothing at all to do with Realm.  Your problem is here:
[code]
It could be caused by being off-line, having something screwy in your gradle cache (`~/.gradle`) or having the `buildscript.repositories` clause set up wrong in your top level `build.gradle`.

I'm going to close this ticket as off-topic.  Feel free to re-open it if you have a Realm related problem.

[2017-05-15 23:07] #4562 closed

[2017-05-15 23:09] zaki50 commented on #4641
@michaelbukachi Which version of Realm-Java are you using?

[2017-05-15 23:46] bmeike commented on #4648
@zaki50 suggests that this may be related to #4551

[2017-05-15 23:50] zaki50 commented on #4648
@bmeike No, since #4551 is only in the `master` branch and not yet released.

[2017-05-16 00:05] bmeike commented on #4266
Are `RealmCounter` and `RealmInteger` different things?  I like the name `RealmCounter` better...  It seems to me that the feature of this thing is that it is a counter, not that it is an integer,

[2017-05-16 03:09] ldf1210750006 commented on #4630
.directory(getCaminhoDB(context))，This method is used to define the storage path, even if I delete this, the error still exists.

when I initialize the name and version number in my application，this error has occurred，as follows：
Realm.init(this);
RealmInit.init(this,"phone.realm", 3, new PhoneMigrate());

public class PhoneMigrate implements RealmMigration {....}

[2017-05-16 04:27] cmelchior commented on #4266
@bmeike See https://github.com/realm/realm-object-store/issues/357 for the discussion with the rationale for the name.

[2017-05-16 06:52] Zhuinden commented on #4648
I wanted to find this odd behavior a while ago to pinpoint it if there truly is an issue somewhere - all I know is that Realm instance doesn't "auto-close" unless you actually call `close()` on a Realm instance *somewhere*. But I don't know if calling `close()` on one instance can truly affect other instance.

[2017-05-16 06:56] cmelchior commented on #4648
Note, I don't think it is related to the RealmCache, but to the activity lifecycle. If I remember correctly last I checked, it appeared that sometimes things like ListView/RecyclerView would get invalidated during `onDestroy()` which would force a redraw and then naturally crash since the Realm was closed and data not available. I did not get to the bottom of it though.

[2017-05-16 08:57] zaki50 commented on #4624
A googler confirmed that this issue was already fixed internal repository.
https://issuetracker.google.com/issues/38220041#comment9

I'm closing this issue. Could you reopen this if the crash happens on the O preview 2.

[2017-05-16 08:57] #4624 closed

[2017-05-16 10:12] Axrorxoja opened #4650 "Dagger 2.10 DaggerAppComponent cannot find error after add realm to build.gradle"
Hi, I'm using dagger 2.10 and realm 3.2.0 but after add realm dagger can't generate Dagger*Component. I'm for test remove realm dependency from .gradle file, after this work correctly
It's project gradle file
[code]

[2017-05-16 10:38] Zhuinden commented on #4650
I think you need to replace

    annotationProcessor "com.google.dagger:dagger-compiler:" + dagger
    annotationProcessor "com.google.dagger:dagger-android-processor:" + dagger

    compile "com.jakewharton:butterknife:" + butterKnife
    annotationProcessor "com.jakewharton:butterknife-compiler:" + butterKnife

with

    kapt "com.google.dagger:dagger-compiler:" + dagger
    kapt "com.google.dag

[2017-05-16 11:19] Axrorxoja commented on #4650
work :+1: ,thanks :)

[2017-05-16 11:19] #4650 closed

[2017-05-16 11:47] michaelbukachi commented on #4641
@bmeike I do confirm that the workaround works and I've not gotten any crashes so far

[2017-05-16 14:21] MohamedWael commented on #4639
yes, thank you

[2017-05-16 14:21] #4639 closed

[2017-05-16 15:27] petronela0306 opened #4651 "Realm database migration is crashing on Android 7.1.2"
The app is crashing with a realm exception that some tables do not exist in the schema. I made three tables in Realm Database and created the migration for them. The app update(migration) is working for all versions of Android, but for Android 7.1.2 is crashing the app with the mentioned exception.

#### Expected Results
The app not to crash and for the migration to work as expected.

#### Actual

[2017-05-16 16:59] Zhuinden commented on #4534
From Realm.NET:

Apparently they have some sort of magic going on where they automatically begin and commit a transaction whenever a property is changed in databinding.

I can't help but feel like that would be wasteful, hence why I'm surprised to see it.

[2017-05-16 17:55] acib708 commented on #1615
+1 for calculations on integer fields, eg. `(qty / dailyAvg) < 3`

[2017-05-16 18:41] bmeike commented on #4642
@shakil807g: I'm going to close this issue.  As you've probably discovered the answer is, basically, "no".  You will have to do your own parsing, to convert a JSON Map into a representation of a JSON List.  If you need a more detailed answer, we'd be delighted to help. Please just post a question on StackOverflow.

[2017-05-16 18:41] #4642 closed

[2017-05-16 18:42] bmeike commented on #4651
@petronela0306 Could you please supply some code that will drive this?

[2017-05-16 18:47] bmeike commented on #4641
@michaelbukachi Can you confirm, please, that overriding `onCount` and checking on `getData().isValid()` successfully works around the problem?  I want to make sure you are not blocked before moving on to the longer term task of finding and solving the underlying issue.  You may also want to Watch #4648 .

[2017-05-16 19:02] bmeike commented on #4616
Hey @Gkundu1,
  @zaki50 's answer should do the trick.  I'm going to close this ticket.
  Please feel free to re-open it if you need more info or to open a new ticket if you need other help!
-blake

[2017-05-16 19:02] #4616 closed

[2017-05-16 19:26] bmeike commented on #4606
@guness we really don't have much way of sorting this out without a little more information.  If you can get logs or something that would be great.

I agree with @cmelchior, btw, this looks two different bugs, one of which is a bug in Timber's handling of non-ascii characters.

I'm going to close this ticket as there really just isn't any way to move it forward, at this point.  By *ALL* means, if

[2017-05-16 19:26] #4606 closed

[2017-05-16 19:29] bmeike commented on #4593
@virengujariya
  I think that @Zhuinden's analysis is right on.  I hope that helped you sort the issue.

  I'm going to close this ticket.  By all means, feel free to re-open this ticket if the problem recurs or to open a new ticket if there is anything else we can do for you.

[2017-05-16 19:29] #4593 closed

[2017-05-16 19:32] bmeike commented on #4571
Hey @ikscn ,
  I think that @kneth has answered the question, so I'm going to close this ticket.

  By all means, feel free to re-open this ticket if you have more questions about this issue or open another if there is something else with which we can help you.

[2017-05-16 19:32] #4571 closed

[2017-05-16 19:34] michaelbukachi commented on #4641
@bmeike it's working

[2017-05-16 19:35] Zhuinden commented on #4593
Also worth noting that `LabelsAdapter` doesn't seem to be a `RealmRecyclerViewAdapter`, even though it uses a `RealmResults` as its data set.

To both have this validation check out of the box and to listen for changes from Realm automatically, consider using https://github.com/realm/realm-android-adapters .

[2017-05-16 19:37] Zhuinden commented on #4641
It will be part of patch release in realm-android-adapters as https://github.com/realm/realm-android-adapters/issues/112 is done

[2017-05-16 19:39] bmeike commented on #4567
@idok595 Can you provide an example of how you would use this feature?  As @kneth says, why not just keep the reference to the Realm that you got when you opened it...

[2017-05-16 19:54] bmeike commented on #4546
@RameshReddyKolla
It seems that there are a couple of issues here:
1) the `RealmResults` are a view of the DB.  If you add things to or remove things from it, you are changing the db.  If you need a non-live copy, use `copyFromRealm` and a `List`
2) you cannot pass Realm objects between threads.  Here again, `copyFromRealm` is your friend.

I'm going to close this ticket because we haven't seen an

[2017-05-16 19:54] #4546 closed

[2017-05-16 19:59] Zhuinden commented on #4546
Although I must note that generally rethinking the design is a better option than using `copyFromRealm()`.

I've only seen a need for `copyFromRealm()` to:

- create editable forms where you have a SAVE button when you actually save the object

- want to send managed obj through reflection-based serializers (GSON/Moshi)

[2017-05-16 20:05] bmeike commented on #4531
@joeywp
Did you sort this out?  I think that what @cmelchior is saying is that LinkingObjects are very like shadows.  It make sense to construct the shadow from the person but much less sense to construct the person from the shadow.

LinkingObjects are not a bi-directional relationship.  A graph with LinkingObjects is still acyclic.   In your model, ModuleB has-a ModuleA.  ModuleA does not have-a

[2017-05-16 20:05] #4531 closed

[2017-05-16 20:10] bmeike commented on #4520
@KaeMs
How are you doing?  Have you got this working now?  I'm going to close this ticket but, by all means, feel free to re-open it if you need more help.

[2017-05-16 20:10] #4520 closed

[2017-05-16 20:14] bmeike commented on #4518
Hey @virengujariya

Haven't heard from you in quite a while, so I am assuming that you've found a solution.  I'm going to go ahead and close this ticket.  If you are still having issues, by all means, re-open it.

[2017-05-16 20:14] #4518 closed

[2017-05-16 20:17] bmeike commented on #4514
Hey @matheus511377
Haven't heard from you in a while, so I'm assuming that documentation got you back on course.  If you have an other issues, by all means open a new ticket... or, better yet, ask your question on StackOverflow.

[2017-05-16 20:17] #4514 closed

[2017-05-16 20:23] bmeike commented on #4459
Hey there @maelfosso !
We haven't heard from you for quite a while.  I'm going to assume that you've found a solution for your problem and close this ticket.

If I'm wrong and there is anything with which we can still help, by all means either re-open this, open a new issue, or, best of all, create a question on Stack Overflow.

[2017-05-16 20:23] #4459 closed

[2017-05-16 20:28] bmeike commented on #4409
@superssingh
Did you figure out how to address this problem?  As documented here: https://realm.io/docs/java/latest/#using-a-realm-across-threads Realm objects are bound to the thread on which they are created.  You can't move them to another thread.  What you *can* do is either query for them in a new Realm instance, on the background thread or use `copyFromRealm` to create a "detached" copy whic

[2017-05-16 20:28] #4409 closed

[2017-05-16 20:29] joeywp commented on #4531
Forgot to reply, but yeah, I changed to models a bit so it works as intended now, thanks :P

[2017-05-16 20:34] bmeike commented on #4237
Hey guys, I'm going to close this ticket.  Please feel free to re-open it if the problem shows up again or open a new one, if we can help you with anything else

[2017-05-16 20:34] #4237 closed

[2017-05-16 20:39] bmeike commented on #4306
@deva666
We've merged #4402 which we believe will fix this problem.  I am closing this ticket.  By all means, please re-open it if the problem persists.

[2017-05-16 20:39] #4306 closed

[2017-05-16 20:39] Zhuinden commented on #4409
Yeah he needs detached copies because widgets run in a remote process.

[2017-05-16 21:28] bmeike commented on #4641
Great!  Thanks @michaelbukachi !
Closing this ticket.  Keep your eyes on #4648 for a fix.

[2017-05-16 21:28] #4641 closed

[2017-05-17 02:26] ScalletLeng opened #4653 "how to Building Realm"
#### Goal

#### Expected Results

#### Actual Results

 executing external native build for cmake E:\workspace_as\1__down_to_learn_app\realm-java\realm\realm-library\src\main\cpp\CMakeLists.txt

#### Steps & Code to Reproduce

#### Code Sample

click CMake button

[code]

[2017-05-17 02:31] beeender commented on #4653
You cannot build Realm with ndkr10e for armeabi because of there is some problems to compile atomics with gcc 4.9 for armeabi.

You actually can just use arm-v7a instead since as far as I know there is quite a few devices only support armeabi in the market.

[2017-05-17 02:35] lengqi19860101 commented on #4653
How do I build realm in order to get arm-v7a?

[2017-05-17 02:37] beeender commented on #4653
It comes with our release, `armeabi-v7a`.

[2017-05-17 02:40] ScalletLeng commented on #4653
Thank you. I'm so stupid

[2017-05-17 02:42] ScalletLeng commented on #4653
Why did I fail to compile? Can you tell me the procedure?

[2017-05-17 02:47] beeender commented on #4653
I am not sure why did you fail. None of us uses Windows 😀

[2017-05-17 02:49] ScalletLeng commented on #4653
All right. But I didn't find release, armeabi-v7a，can you tell me where it is?

[2017-05-17 02:50] beeender commented on #4653
It is released as a gradle plugin. it will be packed to your apk file automatically if you follow our installation steps https://realm.io/docs/java/latest/#installation

[2017-05-17 02:55] ScalletLeng commented on #4653
I know this.But because our project only supports armeabi, so gradle plugin will fail. I want to introduce realm in the form of jar and so.

[2017-05-17 02:56] beeender commented on #4653
What do you mean by "our project only supports armeabi"? Is that because of you have some other 3rd party libs which only have `armeabi` so files?

[2017-05-17 02:57] ScalletLeng commented on #4653
Yes, that's it

[2017-05-17 03:01] beeender commented on #4653
you can just copy the 3rd party so file from `armeabi` directory to `armeabi-v7a` directory.

[2017-05-17 03:07] ScalletLeng commented on #4653
No, people from third parties told me they only supported armeabi ，they told me I just copy the realm  armeabi-v7a library into our armeabi

[2017-05-17 03:11] beeender commented on #4653
`armeabi` should be supported on all `armeabi-v7a` devices, but NOT the vice versa.

[2017-05-17 03:22] ScalletLeng commented on #4653
The 3rd party can not be changed, then we can not use realm?

[2017-05-17 03:35] beeender commented on #4653
First, there will be a risk if you use `armeabi-v7a` so on `armeabi` only devices as I said before.
you can:
1. There should be a way to copy `so` file from `armeabi-v7a` to `armeabi` during packaging stage in gradle. But I don't have an immediate answer, you may need to figure it our by yourself.
or
2. you can find all the realm-java native libraries file in `$HOME/.m2/repository/io/realm/realm-a