[2017-01-23 06:41] beeender commented on #4086
Should be fixed by #3834

[2017-01-23 06:44] beeender commented on #4079
@Miha-x64 Thanks a lot for the feedback. I hope the fine grained notification will solve your issue. I will just close this issue for now. If this is still needed after the fine grained notification released, let's reopen this and discuss it again.

[2017-01-23 06:44] #4079 closed

[2017-01-23 06:46] zaki50 commented on #4087
@ziggy42 @zsmb13 I reproduced the issue.

And I found a work-around, which is adding `apply plugin: 'kotlin-kapt'` to `app/build.gradle`.
I added it right before `apply plugin: 'realm-android'`.

I think that the root cause of this error is https://github.com/realm/realm-java/pull/4022/files

From 2.3.0, we started to add `kaptAndroidTest` when the project is using Kotlin.
I think we need to check

[2017-01-23 06:53] beeender commented on #4083
It seems expose the schema version getter API would be another solution? I am always wanting a getter API for the schema version ...

[2017-01-23 06:54] beeender commented on #3651
@rodriguesmarcelo could you please your native backtrace here? Also, were you testing with `v2.3.0` (not the snapshot)?

[2017-01-23 07:20] mitchwongho commented on #4088
Not that big. About 39MB.
I occasionally see `jni: ThrowingException 7, std::exception in /tmp/realm-java/realm/realm-library/src/main/cpp/io_realm_internal_TableQuery.cpp line 1297`, but it isn't fatal.

#3821 does appear to resolve the amount of `finalized` objects.

How does this `ThrowingException 4` differ to `ThrowingException 7`?

[2017-01-23 07:25] beeender commented on #4088
`ThrowingException 4` is thrown when it cannot alloc native memory, `ThrowingException 7` is something related with async query.

Can you see the native memory usage when this problem happens? Do you store any really big Strings or binary into the database?

[2017-01-23 07:45] mitchwongho commented on #4088
Unfortunately, I wasn't monitoring at the time of the crash (the had had been running for about 6 hours).

This issue seems intermittent, since the app has previously been able to operate (in the same state) for more that 24hrs.

The longest binary field is 22-bytes long. The longest String is a UUID.

[2017-01-23 07:46] beeender commented on #4088
Do you use other libraries which have native libraries?

[2017-01-23 07:51] mitchwongho commented on #4088
No.
The main libraries are:
- Retrofit
- RxJava/RxAndroid/RetroLamda
- Dagger2
- Butterknife
- Glide
- MPAndroidChart

[2017-01-23 08:01] beeender commented on #4088
Is it possible that you have any leak in the Java side? `RealmObject`, `RealmList`, `RealmResults` and `RealmQuery` will consume some small amount of native memory as well. If you have those leaked in the java side for a really long time, OOM could happen in the native code.

[2017-01-23 08:31] Zhuinden commented on #4088
The easiest way to leak Realm's objects is with a misuse of the `asObservable()` method, because RealmObservableFactory retains a strong reference to your results so that they don't die on the way.

[2017-01-23 08:55] mitchwongho commented on #4088
The exception appear to occur during a Realm _write_ transaction.

On all our uses of `asObservable()` are use `Realm.copyFromRealm`.  Where I do experience bloat (and an OOM condition) when observing an ever-growing Realm.

In our application, we're logging wearable metrics that need to be plotted on a chart. Our first implementation tried to observe the "metrics" realm to plot each metric sample

[2017-01-23 09:11] Zhuinden commented on #4088
Yeah that can't be right.

[2017-01-23 09:22] mitchwongho commented on #4088
IO Thread

[2017-01-23 09:28] kneth commented on #4045
@levibostian Do you have any updates to share?

[2017-01-23 09:29] Miger88 opened #4090 "Problem with delete data"
Hello,

I have a problem with my code for deleting data,
I write a small test app where I add some data to the realmdatabase and measure the needed time for insert.
After this I want to delete the data. First I call my method from RealmDataManager called deleteFahrt(String fahrtname) which should delete all data from the added fahrt. After that I call my RealmDataManager.reset method which should

[2017-01-23 09:29] beeender commented on #4045
@kneth This issue is actually pending on me. I haven't got time to investigate more on @levibostian 's demo project yet.

[2017-01-23 09:49] Zhuinden commented on #4090
You need to compact the Realm to immediately reclaim spaces created by deletion, instead of just letting Realm re-use it for future writes.

[2017-01-23 09:56] kneth commented on #4025
@macr00 Thanks for reporting. This is definitely very strange. Your string (`class_CoordinatesRealm`) consists of one-byte characters only, and all 22 characters have value less than 0x80 (indicating one-byte code point. We have to debug close to see why this happens.

Can you provide a complete stack trace?

[2017-01-23 09:56] beeender commented on #4090
@Zhuinden is the `compactRealm()` that useful? I mean if the instance gets closed at the right place, the alloced space will be reused anyway in the future. Is there any real case to you that you have to call `compactRealm()` to reclaim the disk space?

[2017-01-23 09:57] kneth commented on #3998
I am closing this issue. It is unlike we wish to complicate our API for most users.

[2017-01-23 09:57] #3998 closed

[2017-01-23 09:57] Zhuinden commented on #4090
@beeender he wanted to delete the data, close the instance, and see immediate shrink in the file size, instead of "letting alloced space be reused anyway in the future".

So if he wants to see immediate shrink in the file size, he should call `Realm.compactRealm()`

[2017-01-23 09:58] ZeroBrain opened #4091 "I hope it be added to realm-docs"
In my experiences, I have got many thoughts How to use Realm.

so I hope this form be added to realm-docs.

[code]

In my example, I divided `Persistence Object` for Database & `Value Object` for using
Many devs suffer from error of transfer of object among Multithreading.

for good-use-case, I think Devs know about it.

[2017-01-23 10:02] Zhuinden commented on #4091
well

1.) what is `RealmSchedulers.instance()`?
2.) the subscription is not stored, people might not unsubscribe it which will result in leaks
3.) this example throws out lazy-evaluation of RealmObjects, which is partly the reason why Realm is so fast

That's because they didn't read the documentation on how you shouldn't transfer the object among multi-threading, if you need to access the object

[2017-01-23 10:08] beeender commented on #4090
uh ... OK ... @Miger88 Just like @Zhuinden said, if you want to see "immediate shrink" in the file size, you can use `Realm.compactRealm()`. But please be noticed, normally in a real life app, the space will be reused by Realm in the future write. If you find your db size unexpected grows a lot, that is probably caused you are not closing Realm instance in a non-looper thread. (I am NOT saying Rea

[2017-01-23 10:08] cmelchior commented on #4091
Hi @ZeroBrain
Thanks for the input.

Since your example is primarily for working with RxJava, it is unlikely we will add it directly to the docs, since we do not want to add too much noise about 3rd party libs e.g in your case you are making a lot of trade-offs that might not be apparent like not using `copyFromRealm()` but a new class. Also you are using a custom schduler as well.

Not saying tha

[2017-01-23 10:17] kneth commented on #4085
It is better to create an issue in https://github.com/realm/realm-android-adapters. When you do, please provide some source code so we can see how you are using the adapter.

[2017-01-23 10:17] #4085 closed

[2017-01-23 10:19] cmelchior commented on #4091
@ZeroBrain
I'm closing this issue, but will be happy to discuss it as part of a PR against the RxJava example instead.

[2017-01-23 10:19] #4091 closed

[2017-01-23 10:20] cmelchior commented on #4083
We already expose the version number throught `realm.getVersion()` or `dynamicRealm.getVersion()`, or do you think of something else?

[2017-01-23 10:25] beeender commented on #4083
AH!! i forgot! But that require you open the Realm first. If we have a static method like `Realm.getVersion(RealmConfigurartion config)`;

So this can be simply achieved by current APIs like:

[code]

[2017-01-23 10:31] Zhuinden commented on #4083
@beeender I remember a trick that you could do

    long schemaVersion = 0;
    DynamicRealm dynRealm = DynamicRealm.getInstance(config);
    schemaVersion = dynRealm.getVersion();
    dynRealm.close();

That way you don't trigger a `RealmMigrationNeededException` to obtain the `schemaVersion`

[2017-01-23 10:32] beeender commented on #4083
Yes! by opening a `DynamicRealm` instance could do that!

[2017-01-23 10:32] zaki50 commented on #3804
fixed by #3959

[2017-01-23 10:32] #3804 closed

[2017-01-23 10:56] cmelchior commented on #4083
That method would just use the dynamic API behind the scenes, but I agree that not many will realise that going through the dynamic API is possible, so adding `Realm.getVersion(config)` will probably make it easier for users.

Thinking about it a bit more, it seems to me that just having the current schema version should be enough to predict if a migration is required.

The use cases so far seems

[2017-01-23 11:01] Miger88 commented on #4090
Hy,
first I want to say thank you for this quick answers.
I changed my code in delete and reset method and add the following line.
Realm.compactRealm(realm.getConfiguration()); before I close the realm database.

After this the used space is still the same. What did I make wrong?

[2017-01-23 11:13] roughboy commented on #4083
It maybe confusing when considering following scenario:

	RealmConfiguration config = new RealmConfiguration.Builder()
	  .name("myrealm.realm")
	  .schemaVersion(3)
	  .modules(new MySchemaModule())
	  .migration(new MyMigration())
	  .build();

	  Realm.getVersion(config)  // returns 2

Maybe something like Realm.getCurrentSchemaVersion() instead ??

[2017-01-23 11:37] Zhuinden commented on #4090
That `compactRealm()` works only if there are no open Realm instances on any threads.

I think it returns `false` if it didn't succeed.

[2017-01-23 11:39] Zhuinden commented on #4083
@roughboy such a long name... but a valid concern.

[2017-01-23 11:49] zsmb13 commented on #4087
This works for me, thanks!

Maybe it could be added to the Java install notes somewhere/somehow? Or perhaps to the [kotlin example](https://github.com/realm/realm-java/blob/master/examples/kotlinExample/build.gradle)?

[2017-01-23 11:54] Miger88 commented on #4090
Ah. okay. Now I tried the following after realm.close();

boolean compactcheck = Realm.compactRealm(Realm.getDefaultInstance().getConfiguration());
Log.i("RealmDataManager", "compactcheck = " + compactcheck);

This returns false for compactcheck. Any Idea why?

[2017-01-23 11:57] Miger88 commented on #4090
everytime I call realm = Realm.getDefaultInstance();   I call also realm.close at the end of this method.

[2017-01-23 11:57] Zhuinden commented on #4090
You probably have an open Realm instance somewhere.

You can check with https://realm.io/docs/java/latest/api/io/realm/Realm.html#getGlobalInstanceCount-io.realm.RealmConfiguration-

[2017-01-23 12:09] Miger88 commented on #4090
ahh.  Problem was that I called Realm.compactRealm(Realm.getDefaultInstance().getConfiguration());  with Realm.getDefaultInstance().getConfiguration().

I changed this to
RealmConfiguration config = realm.getConfiguration();
Realm.compactRealm(config);

this returns true and after that the need diskspace is only 124kB.  I think this is not used by  realm.

Thank you very much for this good and ver

[2017-01-23 12:09] #4090 closed

[2017-01-23 12:38] mptrista commented on #776
+1

[2017-01-23 13:19] ppamorim opened #4092 "`.in()` not working with Kotlin"
Hello, the method `.in(fieldName, [])` is not working with Kotlin because the language has this parameter, common used on the control flow of data (loop, when).

For example, this code doesn't compile:

[code]

You must add `.'in'()` to use this method. This is not a big problem but can generate problems in some point of the future.

[2017-01-23 13:20] edgars-supe opened #4093 "RealmMigrationNeededException after renaming an indexed field and adding a new field with the old name"
Hello!
Recently, I had to rename an indexed field and add a new field with the same name as the old name for the existing one, but without an index. Everything was okay until we noticed that users are getting an exception and can't even launch the app.
Stack trace:
[code]
Event class before the changes:
[code]
And after:
[code]
Here's the relevant part of the migration:
[code]
While debugging, I n

[2017-01-23 13:31] ppamorim commented on #4092
@beeender Is this a valid question?

[2017-01-23 14:18] radu-tutueanu opened #4094 "Access token should be refreshed before the current one expires"
I tested the 2.3.0 release with RealmTasks for Android and ROS 1.0.0 with the expiration time set to 60s.

Right now, when the Android binding tries to send an UPLOAD message with and expired token, the server sends an error(`Sending: ERROR(error_code=202, message_size=20, try_again=0, session_ident=1)`) and closes the session.

The client then connects to the auth server and gets a new token.

**

[2017-01-23 14:30] pradeep2929 commented on #4025
@kneth  Thanks for quick reply

i sent you mail on help@realm.io so please check it and give me feedback
Thanks

[2017-01-23 14:41] bdash commented on #4094
The object store doesn't really have much in the way of event loop support, so setting a timer to refresh the token before it expires is currently up to the binding.

[2017-01-23 14:49] nhachicha commented on #4094
we should implement a timer that refresh regularly the `access_token` using the `refresh_token` like in [cocoa](https://github.com/realm/realm-cocoa/blob/fef9c95554bb52b9f48c59249bc38a14565fdc16/Realm/RLMSyncSessionRefreshHandle.mm#L63)

The refresh interval should be based on the [accessToken.tokenData.expires](https://github.com/realm/realm-cocoa/blob/fef9c95554bb52b9f48c59249bc38a14565fdc16/Rea

[2017-01-23 14:54] radu-tutueanu commented on #4094
It should be a `202`, but I am not sure. @kvap, what happens in this case?

[2017-01-23 15:01] kvap commented on #4094
The server does not care about the client's old token when it is a `bind` or `refresh` message. It checks the new token that the client provided in the message and returns `203 (bad_authentication)` if the new token has expired.

[2017-01-23 15:08] nhachicha commented on #4094
@kvap so `203` should force the user to log in again & try to acquire a new `refresh_token`?

[2017-01-23 15:15] Zhuinden opened #4095 "RealmObservableFactory unsubscription subscriber order and addChangeListener should be inverted"
#### Goal

Use `take(1)`

#### Expected Results

Unsubscribe as needed.

#### Actual Results

Not sure, but according to Jake Wharton, I think the code in [RealmObservableFactory](https://github.com/realm/realm-java/blob/master/realm/realm-library/src/main/java/io/realm/rx/RealmObservableFactory.java#L81-L82) might not work as expected with `take(1)` and this change in RxBinding can be seen in htt

[2017-01-23 15:49] kvap commented on #4094
Well, it does not necessarily mean that the user has to log in again. The situation when the client provides a **new** token which is already **expired**, is strange and should be avoided. Try increasing `refreshBuffer`, or generating a fresh token without re-login just in case the user is still authentic but the new token has expired.

[2017-01-23 21:14] ziggy42 commented on #4087
Works for me, too.

[2017-01-23 23:35] Zhuinden commented on #3038
There seems to be some kind of advance in this on regards of Google: https://android.googlesource.com/toolchain/jack/+/ub-jack/jack-samples/jack-transform-plugin/

[2017-01-23 23:54] RohanBenkar commented on #2538
Is there a timeline when realm will support AutoValue ? Really want this.

[2017-01-23 23:57] ZakTaccardi commented on #2538
Honestly,

I don't see why Realm should support AutoValue, because if you are trying to achieve immutable one-way data flow - you are using Realm wrong. It's not what realm is meant for.

@cmelchior feel free to close this on my account.

[2017-01-24 06:04] zaki50 commented on #4087
Only Kotlin 1.0.6 has this problem.
1.0.4 and 1.0.5 works well without `kotlin-kapt` plugin

[2017-01-24 06:47] beeender commented on #4092
@ppamorim thanks a lot for pointing this out. I tried coding something with the `in` function in the AS kotlin code, actually AS's auto-completion is smart enough to show suggestion about `in` APIs when you type `.` and it actually completes the function with `'in'()`.

So, IMO current thing is acceptable since `in` is short and easy to understand for users. Also it doesn't really create troubles

[2017-01-24 06:49] Drjacky commented on #4070
@kneth Memory heap problem caused by JDK 32bit. I changed it to JDK 64bit and I get this error now:
![reamerror2untitled](https://cloud.githubusercontent.com/assets/2296754/22237019/5da2738a-e21e-11e6-9e0f-d1c4ea435d14.png)

I downloaded CMake from Android Studio.

[2017-01-24 06:57] beeender commented on #4070
It could be the same problem with https://github.com/taka-no-me/android-cmake/issues/94

@Drjacky would you please try to modify the `./realm/realm-library/src/main/cpp/android.toolchain.cmake` as it is described [here](https://github.com/bingmann/android-cmake/commit/e0ec7de86d454894b3837a62b8676635b6d318f6) and let us know the results? I don't have a windows machine right now so i cannot verify

[2017-01-24 07:26] Drjacky commented on #4070
@beeender After those changes: I got this:
![realmerror3untitled](https://cloud.githubusercontent.com/assets/2296754/22237857/9e11fb84-e223-11e6-9df7-dc48961b75f0.png)

[2017-01-24 07:28] beeender commented on #4070
@Drjacky Make sure the `javah` is in your system's `PATH` so cmake can find it to generate jni header files from java class.

[2017-01-24 07:35] Drjacky commented on #4070
@beeender It's exist!
![javahexistuntitled](https://cloud.githubusercontent.com/assets/2296754/22238130/fc38b6b6-e224-11e6-954c-339c9946d9be.png)

[2017-01-24 07:48] beeender commented on #4070
hmmm, maybe it is trying to find the `javah` by `JAVA_HOME`. Can you try to set the `JAVA_HOME` to your JDK home?

[2017-01-24 07:56] cmelchior commented on #3928
We should fix this asap, but might want to verify if it is still happening on https://github.com/realm/realm-java/pull/3834

[2017-01-24 08:14] cmelchior commented on #3700
@zaki50 What is the status on this?

[2017-01-24 08:14] cmelchior commented on #3809
@zaki50 What is the status on this?

[2017-01-24 08:15] cmelchior commented on #3743
@nhachicha This is done, right?

[2017-01-24 08:16] zaki50 commented on #4092
If you want to avoid `.'in'()`, you can define an extension method as you like.

[2017-01-24 08:21] Zhuinden opened #4097 "Investigate connection between BadVersionException and calling load() on async query results"
Ported hypothesis from http://stackoverflow.com/questions/41804318/realmchangelistener-does-not-execute-when-added-shortly-after-asynchronous-write?noredirect=1#comment70833516_41804318

Realm version: 2.3.0

[2017-01-24 08:24] cmelchior commented on #3681
I'm folding this into #3506, since we would not tackle this independently from that anyway.

[2017-01-24 08:24] #3681 closed

[2017-01-24 08:26] cmelchior commented on #3411
Folding this issue into #3503

[2017-01-24 08:26] #3411 closed

[2017-01-24 08:27] cmelchior commented on #3503
@beeender Will this be fixed as part of https://github.com/realm/realm-java/pull/3834 as well?

[2017-01-24 08:43] cmelchior commented on #3484
I tend to agree with @xiphirx. This sounds like a packaging problem. We have upgraded to latest version of Relinker (1.2.2) and we are adding support for armeabi back through #3506. I don't think there is much more we can do at this point.

Closing.

[2017-01-24 08:43] #3484 closed

[2017-01-24 08:47] beeender commented on #3503
Nope. Need core fix first https://github.com/realm/realm-core/issues/2332

[2017-01-24 08:53] kneth commented on #4025
I will try to write a test to check with the string reported by @macr00

[2017-01-24 09:04] cmelchior commented on #3427
I'll close this issue. We never documented the timing as part of the official API and as such it should be considered an implementation detail.

RealmChangeListeners should be used to be notified about changes, and if they are not sufficient we should fix those instead.

[2017-01-24 09:04] #3427 closed

[2017-01-24 09:07] zaki50 commented on #3809
@cmelchior I recently updated the description of #3812
As I mentioned in the description of #3812, adding a `return` at the beginning of a constructor can lead another problem in some cases.

[2017-01-24 09:12] Drjacky commented on #4070
@beeender  This is my whole Environment Variables:
![systenvbothuntitled](https://cloud.githubusercontent.com/assets/2296754/22240955/91149b6c-e232-11e6-944a-4ba50f1807c1.png)

[2017-01-24 09:16] optisamit commented on #3427
@cmelchior I'm sorry, but it IS documented:

https://realm.io/docs/java/2.3.0/#threading

[2017-01-24 09:19] beeender commented on #4070
Does `C:\Program Files\Java\jdk1.8.0_121\bin\javah.exe` exist?

[2017-01-24 09:20] cmelchior commented on #3372
Folding this into #3834

[2017-01-24 09:20] #3372 closed

[2017-01-24 09:24] Zhuinden commented on #3427
And this also means that the stuff mentioned for AsyncTask in https://realm.io/docs/java/2.3.0/#strategies-when-dealing-with-android-framework-threads does not work reliably, because in `onPostExecute()` there is no guarantee that the Realm instance is actually up to date about 2 out of 3 times

[2017-01-24 09:26] Drjacky commented on #4070
@beeender Yes.
![javahexist64untitled](https://cloud.githubusercontent.com/assets/2296754/22241416/72736f42-e234-11e6-8f97-2dd183232ef6.png)

[2017-01-24 09:27] Zhuinden commented on #4095
@kneth well i know that bugs and features are hard to distinguish over time, but I'm pretty sure this is not a feature :tongue:

[2017-01-24 09:33] kneth commented on #4093
When did you see that the Table object had 12 columns? If it is before the code snippet, it is fine but after the code snippet (and if `oldVersion` is 17), then there is something wrong (17 as `oldVersion` is incremented in the code snippet).

Are you sure that the old Realm file was removed when it did the clean installation?

[2017-01-24 09:34] beeender commented on #4070
It is very strange. Probably caused by the cmake doesn't play well with windows path separator.
So maybe you can try to handcode the javah path in `./realm/realm-library/src/main/cpp/android.toolchain.cmake`.  Before line 10 `else()`, something like:
[code]

You might need to remove the line 6-7 since you actually have the `JAVA_HOME` set.

Also, if it doesn't work, try to change the path separato

[2017-01-24 09:35] beeender commented on #4070
or maybe you only need to add `.exe` to line 6-7

[2017-01-24 09:37] cmelchior commented on #3427
@optisamit

That is an imprecise description of what is happening and it wasn't actually true even before this issue. I'll update the docs.

The Looper queue consists of a lot of other events, in particular touch events, so it was also possible to run into this problem before.

[2017-01-24 09:39] Zhuinden commented on #3427
What about the AsyncTask example in the docs?

[2017-01-24 09:44] cmelchior commented on #3427
@Zhuinden Yes, we will have to go through the async example and make sure it is still accurate or need updating.

[2017-01-24 09:46] Zhuinden commented on #3427
In which case this issue is still open for DOC

[2017-01-24 09:49] beeender commented on #4088
Would you please help to confirm if there are any `RealmObject`/`RealmResults`/`RealmList` leaked in your app? including those objects created by observable?

[2017-01-24 10:05] cmelchior opened #4098 "Verify AsyncTask examples and docs"
After the slight change in timing regarding notifications being delivered ( https://github.com/realm/realm-java/issues/3427), we need to ensure that our docs and examples reflect best practise:

- [ ] Review docs, especially: https://realm.io/docs/java/latest/#strategies-when-dealing-with-android-framework-threads
- [ ] Threading example, especially: https://github.com/realm/realm-java/blob/master

[2017-01-24 10:10] edgars-supe commented on #4093
I saw the 12 column info appear during debugging in ```validateTable()```.
[code]
Which gets called in ```validateTable``` in DefaultRealmModuleMediator.java. Realm version is 17 at that time.

[2017-01-24 10:11] ppamorim commented on #4097
It is a know issue. Should be fixed on: https://github.com/realm/realm-java/pull/3834

[2017-01-24 10:12] cmelchior commented on #3188
Since we haven't seen any more reports of this, I will assume it was fixed by 1.1.1. Closing

[2017-01-24 10:12] #3188 closed

[2017-01-24 10:36] cmelchior commented on #2901
Since we haven't seen any more reports on this issue, I will either assume it has been fixed or was caused by something outside our control. Closing

[2017-01-24 10:36] Drjacky commented on #4070
@beeender I coudn't find that line. This is my `android.toolchain.cmake`
***Note:** Attaching ZIP file failed. So I changed text file extension to JPG. Please download this file and remove JPG extension.
[Link](https://cloud.githubusercontent.com/assets/2296754/22243786/1a9afbe6-e23e-11e6-9576-54037706a805.jpg)

![android toolchain - copy cmake](https://cloud.githubusercontent.com/assets/2296754/2

[2017-01-24 10:39] beeender commented on #4070
uh ... Really sorry, I put a wrong file path there. It should be `./realm/realm-library/src/main/cpp/CMakeLists.txt`

[2017-01-24 10:58] gevariya-ajit commented on #1963
Cool! it works 👍

[2017-01-24 12:15] CDRussell commented on #2901
Crazy timing: after 7 months of no activity on this issue, i come across it today as I'm seeing it in my codebase, only to find it closed 2 hours ago.

Shall I create a new ticket with what details I can offer?

[2017-01-24 12:16] cmelchior commented on #2901
@CDRussell No, i'll re-open this instead. Please provide as many details you can

[2017-01-24 12:22] kneth commented on #4025
I have added native tests (#4100) but I haven't been able to reproduce the crashes yet.

[2017-01-24 12:22] CDRussell commented on #2901
Same log statements as OP was seeing:

In my case, I have a *huge* amount of entries I'm downloading from our own server and trying to persist. Somewhere in the 18,000 region. I'm downloading each and persisting to Realm. (This is basically stress testing the capabilities of the app)

Most of them are persisting just fine, however, I'm occasionally seeing those logs happening. There is a lot of co

[2017-01-24 12:28] kneth commented on #4095
@Zhuinden Sorry about that :-)

[2017-01-24 12:30] CDRussell commented on #2901
I can reproduce easily enough; it definitely happens many times over the course of one whole sync of that data.

I haven't tried upgrading to 2.3 yet. I can attempt that though I'm not sure how big a change footprint that'll have on the project. Will investigate how quickly I could test this.

I thought it was maybe each save attempt that was affected, but I just moved to another screen in my app

[2017-01-24 12:33] cmelchior commented on #2901
Out of memory should crash the app outright. Are you catching Errors somewhere?

[2017-01-24 12:35] CDRussell commented on #2901
Not deliberately; though there's `RxJava` in the mix, which certainly could be masking an error somewhere.

[2017-01-24 12:45] cmelchior commented on #3938
@dalinaum What is the status on this?

[2017-01-24 12:46] Drjacky commented on #4070
@beeender Adding .exe to javah didn't help. But when I added another `elseif`, javah not found error gone, but this error:
![ninjaerroruntitled](https://cloud.githubusercontent.com/assets/2296754/22247710/73c588aa-e250-11e6-84cc-fc88bfae13a5.png)

[2017-01-24 12:56] beeender commented on #4070
It might be a cmake bug which is similar to https://llvm.org/bugs/show_bug.cgi?id=27226 ...
I don't have immediate idea right now ... I suggest you to try compile it under linux (virtual machine maybe?) or maybe you can try with build it in `cygwin`? It might solve it but i am not sure.

I will mark this as an low priority issue then. And it might not be solved soon since no one is using windows i

[2017-01-24 13:02] CDRussell commented on #2901
Upgraded to 2.3 - Still seeing the errors.

[2017-01-24 13:09] mitchwongho commented on #4088
I will check again. The only please it could occur is in the use of rx Subjects. My only reservations is that the occurrence of the OoM exception is inconsistent, while the operating conditions/state remain the same. i.e it happens after 4 hours or it happens after 48 hours.

[2017-01-24 13:11] beeender commented on #3894
For making the PR smaller, `RowNotifier` has been removed from #3834 and it will still have false positive notifications on RealmObject like current implementation.

This will be fixed by integrate row notifications from object store in the following PR.

[2017-01-24 13:19] cmelchior commented on #2901
Thanks for confirming. Are you able to share you project, even privately? Because when we would be very interested in seeing it (You can send it to help@realm.io) ? Alternatively, could you try to enable full logging by adding `RealmLog.setLogLevel(LogLevel.ALL)` right after `Realm.init()`

[2017-01-24 13:37] Zhuinden commented on #2901
Do you save each element in a new transaction, or all elements in a single transaction?

[2017-01-24 13:38] HsiangLeekwok commented on #1129
+1

[2017-01-24 13:54] cmelchior opened #4101 "Single Object Notifications"
**Motivation**
https://github.com/realm/realm-object-store/pull/324 added support for single object notifications to the Object Store

https://github.com/realm/realm-cocoa/pull/4537 is adding the public API's on the Cocoa side.

We should add similar capabilities to Android.

**Use cases**
1) Object change listeners will now only be called if the object actually changed. It should reduce the numbe

[2017-01-24 14:07] beeender commented on #4101
This has been almost implemented with #3834 but gets reverted to make PR smaller. When start this, check 4079726324ead77d730109b2e458c234c66e1feb fist. It is the commit removed the `RowNotifier`.

[2017-01-24 14:11] cmelchior commented on #3938
We need to verify that this is still a problem after #3834 has been merged.

[2017-01-24 14:46] CDRussell commented on #2901
@Zhuinden each individual element is being saved in a single transaction. For each element being downloaded, I have to load up an existing parent object and save the new object within it. If the parent doesn't exist, I have to first create it, before adding the new object to it.

The elements aren't being downloaded in any particular order, so I don't think I can group and save them in one transac

[2017-01-24 15:10] beeender opened #4102 "When print the exception message, it should print the line number with relative source path"
For example, when native exception happens, the java exception message will be formatted like:
[code]

Here is showing the full path of the source code file `/Users/cm/Realm/realm-java/realm/realm-library/src/main/cpp/io_realm_internal_UncheckedRow.cpp`. It should be avoided by using a relative path instead.

[2017-01-24 15:21] realm-ci opened #4103 "Fix merge from 4eec89 to master"

[2017-01-24 15:48] cmelchior opened #4104 "Sync Progress Notifications"
Sync in Object Store exposes sync progress notifications: https://github.com/realm/realm-object-store/pull/310

The Cocoa implementation is here: https://github.com/realm/realm-cocoa/pull/4535

We should expose similar functionality in Java.

**Object Store description**

-----
Here is what the object store will provide:

* Bindings can register separate listeners for download and upload progress.

[2017-01-24 15:54] unosmiles commented on #3928
It doesn't look like there's a snapshot available for the changes you're making in #3834.

[2017-01-25 04:53] #3730 closed

[2017-01-25 05:29] zaki50 commented on #4101
Does this API provide an ability to get notification when a linked object is changed?

[2017-01-25 07:44] mihirjoshi21 opened #4105 "IllegalStateException in TableQuery.java io.realm.internal.TableQuery.nativeBeginsWith"
This is the crash report http://crashes.to/s/960b859dc84

[code]

#### Version of Realm and tooling
Realm version(s):  2.2.0

Realm sync feature enabled: no

Android Studio version: 2.1.2

[2017-01-25 08:20] cmelchior commented on #4101
I don't believe so. If I remember correctly that is the default behaviour on .NET and the rationale being that if you care about changes to a linked object you should register the listener there instead.

That argument makes sense, although I can see supporting it would probably lead to a more natural syntax in code:

[code]

Navigating back to parents automatically would require backlink support

[2017-01-25 09:22] #4000 closed

[2017-01-25 09:23] kneth commented on #3975
@levibostian Did you have a chance to test?

[2017-01-25 09:23] #3949 closed

[2017-01-25 09:24] #3931 closed

[2017-01-25 09:24] kneth commented on #3895
@franmontiel We have released 2.3.0 too.

[2017-01-25 09:24] #3895 closed

[2017-01-25 09:25] kneth commented on #3808
I assume that removing `Realm.init()` solved your issue.

[2017-01-25 09:25] #3808 closed

[2017-01-25 10:32] JohnnyTwoShoes commented on #2859
Whenever I want to analyse a realm file, and I copy the realm file + realm.lock file, to the device, I get an Invalid format of Realm file exception? Any ideas how I can look at the realm file, on a device?

[2017-01-25 10:44] cmelchior commented on #2859
You shouldn't copy the lock file, just the realm file.

[2017-01-25 11:14] Zhuinden commented on #2859
Are you using https://realm.io/docs/java/latest/api/io/realm/Realm.html#writeCopyTo-java.io.File-?

[2017-01-25 11:46] JohnnyTwoShoes commented on #2859
I'm copying the files onto the device, using adb push
If there is an old lock file, on the device, should I delete it ( if I'm not going to adb push a lock file onto the device, but, I am going to push the realm file)?

[2017-01-25 11:49] cmelchior commented on #2859
The lock file is there for controlling concurrent access to the Realm file when it is opened, but it also tied to the particular architecture, .e.g you cannot use a lock file from 64 bit system on a 32 bit system.

I believe you don't have to delete it even if you override the Realm file, but doing so will definitely not hurt.

[2017-01-25 11:54] meierjan commented on #3971
Just for future reference:
https://github.com/uber/okbuck/issues/305

[2017-01-25 13:50] ppamorim opened #4106 "Realm on async thread not notify instances of Realm on main looper"
I have an application that updates a value of a determined model. Imagine this code, this is very simple:

This code runs very fast, I think it is a problem of synchronisation.

[code]

No exception was throw, no error. Everything is ok.

After the app return to the main looper, I did query for this Model again, using the same id.

[code]

I added a `RealmChangeListener` and it solved the problem,

[2017-01-25 13:59] JohnnyTwoShoes commented on #2859
ok, thanks, then the issue must be with something else, since, without the lock file, I'm still getting the same error (Invalid format of Realm file).

[2017-01-25 14:18] Zhuinden commented on #4106
Async callbacks are not called if the associated Realm instance is closed.

[2017-01-25 14:19] Zhuinden commented on #4106
I think this is caused by https://github.com/realm/realm-java/issues/3427

[2017-01-25 14:42] ppamorim commented on #4106
@Zhuinden Sorry I missed to app the close on this component, but the problem wasn't fixed.

[2017-01-25 14:46] Zhuinden commented on #4106
Technically it is not guaranteed that the Realm on the UI thread is **immediately updated on the next event loop** after an asynchronous write on another thread, so AsyncTask returns "too quickly" and the Realm isn't updated yet.

I have not figured out a solution to this problem, but maybe @cmelchior knows.

The recommendation is to use RealmChangeListener instead of direct UI-thread callbacks.

[2017-01-25 16:17] ppamorim commented on #4106
@Zhuinden Sometimes this value comes correct, so I only add the listener if needed.

[2017-01-25 16:22] mihirjoshi21 commented on #3880
@ZeroBrain @MikeKasperlik I am experiencing the same issue but my service doesn't use a different process.
http://crashes.to/s/706cc3e62fc
How did you guys resolve this? Any help will be greatly appreciated.

![new bitmap image](https://cloud.githubusercontent.com/assets/5195121/22299009/8bcfee4c-e348-11e6-8059-2f18eb40260f.jpg)

[2017-01-25 18:22] levibostian commented on #3975
@kneth I am not seeing the exception anymore, but I am still having to use `delay` all over my code. Yesterday and today I had to do it more.

It seems from my testing that places where I am doing more changes to the realm in a transaction, I have to set the `delay` higher to give realm time to refresh compared to really small changes in other places of my app.

In [this other issue's comment](htt

[2017-01-25 21:32] adjulbic commented on #2762
The issue is still present in Realm 1.0.1 - but only on Samsung devices (tested so far on SM-N9005 and SM-N910C). I suppose other Samsung devices will be affected as well.

`Fatal Exception: io.realm.exceptions.RealmError: Unrecoverable error. /data/data/com.xxx/files/xx.realm: Encrypted interprocess sharing is currently unsupported.SharedGroup has been opened by pid: 11838. Current pid is 19243.

[2017-01-25 22:10] bmeike commented on #3881
Zhuinden, can you comment on why you prefer create/destroy to start/stop for managing the Realm instance?

[2017-01-25 22:23] nhachicha commented on #3743
@cmelchior yep only part left is to update the SecureUserStore

[2017-01-25 22:28] Zhuinden commented on #3881
@bmeike because `onCreateView()` creates the view, and `onDestroy()` creates the view, which means that typically you call `updateData(realm.where(Blah.class).findAllAsync());` on your `RealmRecyclerViewAdapter` when you set the data, which happens in `onCreateView()` - so unless you want to re-initialize your adapter content in `onStart()` and set your data to `null` in `onStop()`, which is rathe

[2017-01-25 22:38] bmeike commented on #3881
Yep.  I'll buy that.  Thanks.

[2017-01-25 23:42] diegomontoya commented on #3881
@Zhuinden  @bmeike opening realm in onCreateView() is not optimized for UI "speed" perception. If you put any code in onCreateView() and it is slow, the android app fragment will not render on the screen until onStart(). Async queries are non-blocking but getting a realm is heavy duty stuff depending on size of current db. The end result is the app fragment displaying a white screen while your rea

[2017-01-26 00:57] bmeike commented on #3881
Yep, exactly.  I was concerned that closing the db in `onDestroyView` would hold resources for too long, especially in the case in which it isn't called at all.  The consensus is that it is all good.

[2017-01-26 01:21] bmeike commented on #3881
I propose the following:

`// Setup Realm in your Application
public class MyApplication extends Application {
    @Override
    public void onCreate() {
        super.onCreate();
        Realm.init(this);
        RealmConfiguration realmConfiguration = new RealmConfiguration.Builder().build();
        Realm.setDefaultConfiguration(realmConfiguration);
    }
}

// onCreate()/onDestroy() overlap wh

[2017-01-26 01:21] bmeike commented on #3881
I propose the following:

[code]

[2017-01-26 03:20] beeender commented on #2762
@kneth If this happens on Sumsung device a lot, maybe it has the same root cause with #3651  ?

[2017-01-26 06:13] beeender opened #4107 "Performance of `deleteLastFromRealm` and `deleteFirstFromRealm`"
After merge #3834 , the performance of `Results.deleteLastFromRealm` and `Results.deleteFirstFromRealm` will drop since we need to delete the object then refresh the OS `Results` object to make it updated immediately. For stable iterator, deletions happen in the transaction where the `RealmResults` has been detached from the live OS `Results` object and it is a snapshot, we have to refresh the sna

[2017-01-26 06:52] zaki50 opened #4108 "Update Kotlin to 1.0.6"

[2017-01-26 07:10] Zhuinden commented on #3395
Hmm I wonder if this is same as https://github.com/realm/realm-java/issues/2643

[2017-01-26 07:18] kneth commented on #3975
@levibostian Thanks for the feedback/observations. We have recently (version 2.3.0) fixed another (unrelated) issue in the notification subsystem (see #4002). Can you try to upgrade?

[2017-01-26 07:34] Zhuinden commented on #3975
@kneth immediately reading on the UI thread won't work because it is not yet up to date https://github.com/realm/realm-java/issues/3427 you should rely on RealmChangeListeners

@levibostian yeah it is indeed [rather unfortunate that Realm 2.x has changed how Realm change notifications work](https://github.com/realm/realm-java/issues/3427), but

if you can obtain a reference to the `AndroidNotifier

[2017-01-26 08:00] kneth commented on #4105
The link above is blocked. If you don't wish to share information in public, feel free to send an email to help@realm.io.

I will try to create a unit test using the string in your report to reproduce the error.

[2017-01-26 08:06] kneth commented on #4088
@mitchwongho Did you have a chance to check for leaking Realm objects?

[2017-01-26 08:18] kneth commented on #4025
Since the test in #4100 wasn't able to reproduce the errors, I would be happy if you can share a bit of context/code.

[2017-01-26 08:27] mihirjoshi21 commented on #4105
I think crashlytics share links are not working. Here is the full crashlog

[code]

![new bitmap image](https://cloud.githubusercontent.com/assets/5195121/22324444/5963c532-e3cf-11e6-9001-436a90a699bb.jpg)

[2017-01-26 08:36] mitchwongho commented on #4088
@kneth Testing is ongoing. I'm not seeing any drastic. Mem Usage (allocated) remains below 64MB on the Nexus 5.

[2017-01-26 08:54] dimmduh commented on #1477
Same issue :(
samsung s6
`E/REALM_JNI: jni: ThrowingException 5, /data/data/com.offer4app.demo/files/default.realm: Encrypted interprocess sharing is currently unsupported.SharedGroup has been opened by pid: 3359. Current pid is 3303. in /home/cc/repo/realm/realm-java-release/realm/realm-library/src/main/cpp/io_realm_internal_SharedRealm.cpp line 87, .
01-26 16:51:09.881 3303-3540/com.offer4app.de

[2017-01-26 09:00] Zhuinden commented on #4088
If you have any kind of `begin-commit` **inside a for loop**, then that can cause problems.

[2017-01-26 09:01] Zhuinden commented on #1477
@dimmduh SharedGroup? what Realm version are you using

[2017-01-26 09:02] Zhuinden commented on #1477
That's interesting, `SharedRealm.finalize()` got an NPE

[2017-01-26 09:08] mitchwongho commented on #4088
None of that.

[2017-01-26 09:13] kneth commented on #4093
We need to add a unit test which resembles your use case (I can't see one in https://github.com/realm/realm-java/blob/master/realm/realm-library/src/androidTest/java/io/realm/RealmMigrationTests.java).

[2017-01-26 09:18] dimmduh commented on #1477
@Zhuinden I used 2.2.2. I just updated to 2.3.0 and got same issue.
I reproduced issue, and I guess it's not because of realm (but that's not good that's it crashes the app).
1) I debug connection on phone via proxy to fiddler
2) I use appmetrica sdk, when app start, appmetrica init and trying to connect, but cannot because fiddler change ssl sert and appmetrica server does not accept connection.

[2017-01-26 09:21] kneth commented on #4097
The SO user is claiming he got it to work.

[2017-01-26 09:27] kneth commented on #4012
Currently we don't any automation.

[2017-01-26 09:30] zaki50 commented on #4087
This issue seems a bug of kotlin 1.0.6.

`kaptAndroidTest` is defined without `kotlin-kapt` plugin, but when we use it, then 🔥

[2017-01-26 10:17] Zhuinden commented on #1477
@dimmduh this is a breakthrough @cmelchior @kneth

[2017-01-26 10:34] dimmduh commented on #1477
Ohh... my mistake ... I put all my init code (realm, configs, etc) in MyApplication onCreate method, but the problem was I did not know appmetrica sdk works in details. Appmetrica sdk creates multiple application instances (to send crash logs even main app was crashed) that's why realm init was called twice.

[2017-01-26 10:43] biftekman commented on #1477
I've been experiencing this issue for the last 4 months or so :)
However, ever since I moved realm init out of application's onCreate method, number of crashes dropped to insignificant numbers. Yet they still appear.

[2017-01-26 11:08] cmelchior commented on #1568
Right now `sort()` is part of the `OrderedRealmCollection` interface, we should consider adding this here as well. This would also mean it would work on `RealmList`

[2017-01-26 11:10] cmelchior commented on #4102
Any reason why printing the full path is bad? I would imagine it is nice when it happens on a device?

[2017-01-26 11:14] cmelchior commented on #1568
@kneth Actually looking over our API we already have `RealmQuery.distinct()` and `RealmResults.distinct()`. So no entirely sure what https://github.com/realm/realm-java/issues/1568#issue-110661663 is about. It is pretty old, so perhaps the title/description just need an update?

[2017-01-26 11:16] cmelchior commented on #2089
Since we haven't seen this particular issue surface otherwise, we can probably assume this was either a fluke or have been fixed. I'll close it for now.

[2017-01-26 11:16] #2089 closed

[2017-01-26 11:19] cmelchior commented on #2936
It would be interesting to see if moving to Jack's transform API would actually solve this #3038

[2017-01-26 11:27] albetoetecnia commented on #3843
Same problem, I've updated to latest version 2.3.0 but not solve.

[2017-01-26 11:31] Zhuinden commented on #1568
@cmelchior this was added in 0.88.0

[code]

[2017-01-26 11:34] Zhuinden commented on #4102
@cmelchior because it looks weird that the crash originates from code that is apparently in `/Users/cm/Realm/` on your personal MacOSX PC device thing in the office

[2017-01-26 11:35] cmelchior commented on #3272
Question was marked as resolved on Stack Overflow, so I'll close it here as well.

[2017-01-26 11:35] #3272 closed

[2017-01-26 11:47] cmelchior commented on #3497
@nicolausYes Not yet. It is very likely that we will go with the non-fluent variant though, which means that you could easily implement this today by copying https://github.com/realm/realm-java/blob/master/realm/realm-library/src/main/java/io/realm/rx/RealmObservableFactory.java, update it to RxJava2 and turn the methods into public static methods.

[2017-01-26 11:55] Konsumierer commented on #3843
Same problem with a Samsung Galaxy S3 mini **I8200N** with Android **4.2.2**.
**Cannot** be reproduced for another Galaxy S3 mini **I8190** with Android **4.1.2** however.

[code]

[2017-01-26 12:21] Zhuinden commented on #3497
for the lazy ones:

[code]

[2017-01-26 12:29] Zhuinden commented on #3843
@Konsumierer if you set `RealmLog.setLevel(ALL)` does it show anything more?

[2017-01-26 13:00] cmelchior commented on #3497
Nice 👍. I haven't dug that deep into RxJava2, so cannot comment on the correctness 😄. Also it will probably work for `Realm`, but we had to add strong references to things like `RealmResults` to prevent them from being GC'ed, e.g https://github.com/realm/realm-java/blob/master/realm/realm-library/src/main/java/io/realm/rx/RealmObservableFactory.java#L137

[2017-01-26 13:01] Zeyad-37 commented on #4012
well thanks anyways

[2017-01-26 13:01] #4012 closed

[2017-01-26 13:05] Zhuinden commented on #3497
@cmelchior I'm actually not entirely sure if `LATEST` is the right backpressure strategy, but it seemed to make sense - backpressure confuses me 😞

[2017-01-26 14:20] cmelchior commented on #3623
API 9 is now gone from https://developer.android.com/about/dashboards/index.html
API 10 is still at 1%, after that we can bump to 15

[2017-01-26 14:23] benj56 commented on #4097
@kneth
I think this is a misunderstanding, I did not get it to work, it is just working more reliable depending on delays between the write and the queries, which is not really a solution.

I believe there might be a problem involving the "caller thread is behind the worker thread" case in the HandlerController.java.

Anyway, maybe the root cause of the problem that leads to my ChangeListener not

[2017-01-26 14:23] cmelchior commented on #4011
Would also be interesting how other Databases/libraries handle this scenario

[2017-01-26 15:47] unosmiles opened #4112 "Async Transactions and Try-With-Resources"
(Perhaps this is just my ineptitude)

This code:

[code]

Never calls through to the OnSuccess/ OnError block. I'm assuming this is because the try-with-resources statement closes the realm before the respective callbacks can be executed, but I haven't been able to get to the bottom of this.

Is this an issue or a limitation of Realm?

[2017-01-26 15:51] cmelchior commented on #4112
Async API's doesn't work with `try-with-ressources`. Because they are async they use the Looper to communicate back, but you closed the Realm when exiting the block, so the callbacks can never be called.

[2017-01-26 15:51] unosmiles commented on #4112
I assumed as much. Thanks for your help.

[2017-01-26 16:41] ppamorim commented on #4106
Make the method `Realm.refresh()` great again

[2017-01-26 16:48] Zhuinden commented on #4106
Make AsyncTasks great again

[2017-01-26 16:48] ppamorim commented on #4106
@beeender By some Realm some instances of Realm are not being updated (more than a second of difference between the start of this Realm instantiation and the usage).
I would like to know if I can force the refresh of the Realm, not using any cache (of the method `getDefaultInstance`). By some reason, sometimes when I start a new Realm inside a async thread, this Realm is not synchronised with the

[2017-01-26 16:49] ppamorim commented on #4106
I can't use the change listener, this is not the main looper...

[2017-01-26 17:01] Zhuinden commented on #4106
@ppamorim this code refreshes the Realm on the current thread: http://stackoverflow.com/a/38839808/2413303

[2017-01-26 17:03] ppamorim commented on #4106
@Zhuinden Thank you! I will try it

[2017-01-26 17:11] ppamorim commented on #4106
@Zhuinden Unfortunately I can't use the variable `realm.handlerController`.

[2017-01-26 17:21] ppamorim commented on #4106
I really don't mind to recreate the instance of Realm, this is not a problem on this part of my source code. Any alternative?

[2017-01-26 17:26] Zhuinden commented on #4106
You can, just pay attention to the package in that answer

[2017-01-26 17:32] ppamorim commented on #4106
I am using Gradle I don't know if I can modify it.

[2017-01-26 17:33] Zhuinden commented on #4106
You just need to create a package in the root called `io` and inside it create a package called `realm` and from there you can create RealmRefresh which can access the handler controller

[2017-01-26 17:37] ppamorim commented on #4106
Very good way to "inject" code.

[2017-01-26 17:58] ppamorim commented on #4106
@Zhuinden You saved my life! Thank you very much!

[2017-01-26 19:39] levibostian commented on #3975
@Zhuinden, @kneth when I perform a Realm write commit, the data is written to the realm database in memory immediately, correct?

If I wrote to thread A, immediately after the write commit I can read that written data on thread A because they are on the same thread.

Thread B, however, needs to wait X amount of time to read the data as it was written on thread A. It needs to wait to get notified.

[2017-01-26 20:04] Zhuinden commented on #3975
This is what `RealmChangeListeners` were designed for in the first place: when there is a write to the database, it gives you the notification that tells you that you should be showing new data on the UI.

------

Technically what I said here would be very hacky, the only "reasonable" way about it would be to use Reflection to obtain the private `Handler` inside the notifier, but that's also not v

[2017-01-26 20:14] Zhuinden commented on #4106
Glad to hear it worked :)
I posted this issue https://github.com/realm/realm-java/issues/3476 about this a long time ago but alas

[2017-01-26 20:15] Zhuinden commented on #3476
In the meantime, http://stackoverflow.com/a/38839808/2413303 works

[2017-01-26 21:50] levibostian commented on #3975
Thank you for that.

As it stands, I am going to continue to use delays in my app and cross my fingers. `RealmChangeListener`s are great, but does not do everything that I need. One use case in particular that I have in my head and where this whole discussion sprouted from mostly is when I *create* new data in realm. Change listeners say "when this data changes, notify me." But when I create new d

[2017-01-26 22:04] Zhuinden commented on #3975
`RealmResults<T>` automatically receives a notification to its RealmChangeListener if you write an object of its type into the Realm.

But yes, `notifyDataSetChanged()` is a problem. I have figured out a convenient way with Rx to create animatable results, but it requires copying the whole result set on any change, so it wouldn't work that well with larger data sets.

[2017-01-26 22:11] levibostian commented on #3975
Also, I should add. I run background tasks quite a bit with my app. Running tasks in the background that interact with the realm database and network. When the background job executes, it runs on a background thread and does everything it needs on the same thread so all of it's data is kept in sync together but at any time the user or another thread could change the realm data at any time. It is a

[2017-01-26 22:12] Zhuinden commented on #3975
All writes are persisted, but the notification to the UI thread is slightly delayed.

Hence why you have this problem.-

[2017-01-26 22:15] levibostian commented on #3975
Are notifications delayed to the *UI thread* only?

Could I do this: `realm.copyToRealmOrUpdate(NewFooModel("joe")).addChangeListener(getChangeListenerInUIThread())` and get notified when that model is created even though at this point it's not created?"

[2017-01-26 22:17] Zhuinden commented on #3975
1.) non-looper background threads don't get notifications

2.) if there is no strong reference to your `RealmResults` or `RealmObject` then GC can eat it and then its change listener will no longer be called

[2017-01-26 23:22] ishaforenko commented on #759
+1

[2017-01-27 06:11] #4112 closed

[2017-01-27 06:44] zaki50 commented on #4101
@cmelchior In version A, users need to keep the reference to `Dog` instance to prevent the object will be GCed, right?
If so, I prefer Version B.

But yes, this should be supported in another issue.

[2017-01-27 08:00] #4087 closed

[2017-01-27 08:09] cmelchior commented on #3975
@levibostian To clarify:

1) Each thread gets it's own version of Realm data when you open the instance the first time on that thread.
2) The version will be refreshed for a number of reasons:

    a. If you start a write transaction (`realm.beginTransaction()`), the version will be updated to latest version, but notifications will not be triggered.

    b. If you fully close a Realm on that threa

[2017-01-27 08:33] kneth commented on #4106
I'll close the issue since @Zhuinden's suggestion seems to help.

[2017-01-27 08:33] #4106 closed

[2017-01-27 08:35] cmelchior opened #4115 "CRDT Counter"
Sync has support for CRDT Counters through special instructions on a normal integer column. We should expose this as a separate type usable in Realm Model classes.

We need to determine exactly how the class is going to look like and what operations should be available on it.

Object Store issue discussion implementation details there can be found here: https://github.com/realm/realm-object-store/

[2017-01-27 08:46] kneth commented on #4088
@mitchwongho Can you post your code because we are all just guessing at the moment.

[2017-01-27 10:36] cmelchior commented on #2530
One way to get around this could perhaps be to add two different RealmMigration interfaces:

[code]

That would allow us to support both ways of doing it without breaking existing support.

[2017-01-27 10:39] cmelchior commented on #3902
This is probably also relevant as input to #4083

[2017-01-27 10:41] cmelchior commented on #3832
This will be fixed as part of #3834

[2017-01-27 10:42] benj56 commented on #4097
@cmelchior @kneth
Would it make sense to open this again or could I create a new issue?

[2017-01-27 10:47] cmelchior commented on #4097
@benj56 I re-opened this issue

[2017-01-27 11:04] cmelchior commented on #3548
Realm Core will be switching to Libre SSL once they are done with CMake support: https://github.com/realm/realm-core/pull/1883 . We will do the same as part of #3506

[2017-01-27 11:04] #3548 closed

[2017-01-27 11:13] cmelchior commented on #3492
We discovered through the work on #3834 another possible cause for this.
_If_ you do a local write that delete some elements and then trigger `View.measure()` through some code path, then it is very possible that the RecyclerView will try to access the deleted object behind the scenes, which can cause undefined behaviour.

[2017-01-27 11:14] cmelchior commented on #3470
Connected to https://github.com/realm/realm-java/pull/3800

[2017-01-27 11:33] Zhuinden commented on #2530
A lot of people seem to claim that "automatic schema migration is something they miss in Realm", so this is a good idea.

[2017-01-27 11:33] Zhuinden commented on #4083
I do think it would be useful to have the `MigrationCallback` because you might want to run the migration on a background thread.

[2017-01-27 11:35] cmelchior commented on #4083
A callback wouldn't solve that? In that case you would need something like `getInstanceAsync()`: https://github.com/realm/realm-java/issues/2299

[2017-01-27 11:47] cmelchior commented on #3426
Connected to #3800

[2017-01-27 12:09] kneth commented on #4072
Sorry for the late reply. If you are absolutely sure the object is in your Realm, it sounds like you have to check the value of `MeasureViewModel.this.id`.

[2017-01-27 12:13] kneth commented on #3891
I'm closing the issue for now. @LPFinch You are welcome to post code so we can reopen the issue.

[2017-01-27 12:13] #3891 closed

[2017-01-27 12:19] cmelchior commented on #3358
This sounds like it is more about removing AsyncTask from the intro example which I agree with. There should be very very few use cases for combining AsyncTask and Realm, so no need to highlight it in the intro example. Folding this into #4098

[2017-01-27 12:19] #3358 closed

[2017-01-27 12:26] kneth commented on #4105
The error message originates from the conversion from Java strings to plain UTF-8 strings (which are used by Realm Core - our storage/query engine). The Java string might have been split wrongly (for example an emoji's surrogate pair using `String.substring()`).  It is a rather long string (194 2 bytes values).

The last value is `0xD83D` which is the high surrogate on an iOS emoji: http://punchdr

[2017-01-27 12:28] kneth commented on #3912
@hardartcore Have you been able to convert the data?

[2017-01-27 12:43] cmelchior commented on #3629
@xlrei @Anthonyeef Are you still seeing this problem?

[2017-01-27 12:54] cmelchior commented on #3238
Folding this into https://github.com/realm/realm-java/issues/4011

[2017-01-27 12:54] #3238 closed

[2017-01-27 12:55] cmelchior commented on #4011
We actually had this discussion:  https://github.com/realm/realm-java/pull/3133#r73102437
Conclusion seems that we should support it.

[2017-01-27 12:58] mihirjoshi21 commented on #4105
Here is how it is constructed

`realmResults = mRealm.where(FieldModel.class).beginsWith(FIELD_WORD, String.valueOf(s).trim(),
                Case.INSENSITIVE).distinct(FIELD_WORD)`

[2017-01-27 12:58] kneth commented on #3920
I'm closing for now. If you are able to spot any differences between your project and @zaki50's project, please tell us to reopen.

[2017-01-27 12:58] #3920 closed

[2017-01-27 13:00] cmelchior commented on #3172
I agree with https://github.com/realm/realm-java/issues/3172#issuecomment-231972230 and https://github.com/realm/realm-java/issues/3172#issuecomment-231975270 on this. The current behaviour is what makes the most sense and the use case expressed here will just require additional code like:

[code]

[2017-01-27 13:00] #3172 closed

[2017-01-27 13:01] cmelchior commented on #3091
@beeender Do you know if this is fixed by #3834 as well? (moving into progress, just so we don't forget)

[2017-01-27 13:06] cmelchior commented on #2888
Folding this into #3506

[2017-01-27 13:06] #2888 closed

[2017-01-27 13:08] cmelchior commented on #2822
Closing this as fixing this is outside our control and we have documented that it might be required anyway due to bugs on certain versions of Kotlin/Kapt

[2017-01-27 13:08] #2822 closed

[2017-01-27 13:10] cmelchior commented on #2818
This basically just mean run the schema validation check just before committing the transaction that ran the migration step. If an exception is thrown by that, the transaction should automatically be canceled

[2017-01-27 13:12] cmelchior commented on #2814
Closing this as we didn't have any more support issues around this and the change have been live for quite a while now.

[2017-01-27 13:12] #2814 closed

[2017-01-27 13:17] cmelchior commented on #2482
@emanuelez Is this still relevant?

[2017-01-27 13:20] Zhuinden commented on #3238
Also I'd be surprised if it just started not returning anything.

I'd rather expect it to do a no-op.

[2017-01-27 13:22] Zhuinden commented on #3172
`copyToRealm()` outside of the transaction won't work, but yes, `addAll()` makes sense.

[2017-01-27 13:23] cmelchior commented on #2470
This will be handled by the Object Store when #3834  is merged. So closing this.

[2017-01-27 13:23] #2470 closed

[2017-01-27 13:24] Zhuinden commented on #2814
Actually, this came up at https://github.com/realm/realm-java/issues/3161

[2017-01-27 13:25] cmelchior commented on #2423
Folding this into #3506

[2017-01-27 13:25] #2423 closed

[2017-01-27 13:26] monajafi commented on #4104
when Sync Progress Notifications will be published for java ?

[2017-01-27 13:29] cmelchior commented on #2465
Folding this into https://github.com/realm/realm-java/issues/2231

[2017-01-27 13:29] #2465 closed

[2017-01-27 13:35] kneth commented on #4105
It could be interesting to know what `String.valueOf(s)` was? I mean, `trim()` is supposed to remove white spaces but as I said in my previous comments, you will see this error if `trim()` has removed data which is part of a surrogate pair. `0xD38D` is the first half for an iOS emoji.

[2017-01-27 13:37] kneth commented on #3847
@harshgaba Could you try to upgrade to 2.3.0 and report back?

[2017-01-27 13:38] kneth commented on #3953
Did you have a chance to profile your app?

[2017-01-27 13:47] emanuelez commented on #2482
Yeah it needs to be done, but nowadays [codecov](https://codecov.io/) seems to be the de-facto standard in the fields.

[2017-01-27 13:49] kneth commented on #3967
@jraczak I am closing the issue. Don't hesitate to reopen or create new issue if you have further questions.

[2017-01-27 13:49] #3967 closed

[2017-01-27 13:52] kneth commented on #3932
@Dansanchez I'm closing the issue and I hope @Zhuinden's many suggestions have help you. Don't hesitate to reopen or create new issue if you have further questions.

[2017-01-27 13:52] #3932 closed

[2017-01-27 13:53] kneth commented on #3941
Please consider to upgrade - we have fixed many issues and added many improvements since 0.88.2.

[2017-01-27 13:53] #3941 closed

[2017-01-27 14:09] AamirAbro opened #4117 "Fatal Exception: java.lang.UnsatisfiedLinkError while loading realm"
#### Goal

#### Expected Results

#### Actual Results

       at java.lang.Runtime.load0(Runtime.java:908)
       at java.lang.System.load(System.java:1505)
       at com.getkeepsafe.relinker.SystemLibraryLoader.loadPath(SourceFile:29)
       at com.getkeepsafe.relinker.ReLinkerInstance.loadLibraryInternal(SourceFile:198)
       at com.getkeepsafe.relinker.ReLinkerInstance.loadLibrary(SourceFile:1

[2017-01-27 14:20] kneth commented on #4108
The update to 1.0.6 has been merged.

[2017-01-27 14:20] #4108 closed

[2017-01-27 14:22] kneth commented on #4117
It looks like you are mixing 32 and 64 bits `.so` file, and you might have to exclude 64 bit: https://realm.io/docs/java/latest/#couldnt-load-librealm-jniso

[2017-01-27 15:24] kneth commented on #4117
@AamirAbro Do you include other libraries with native code? Many libraries are supporting 32 bit ARM only, so you can easily get this error message on a 64 bit device (Realm has support for 64 bit ARM). Until your other libraries support 64 bit, you will have revert to 32 bit. The link explains how to do that.

If you're uncertain about libraries, you can unzip the `apk` file and examine the inclu

[2017-01-27 15:48] Zhuinden commented on #3932
@Dansanchez  you can follow [following example to create Repository that reactively listens to RealmResults on background looper thread](https://github.com/Zhuinden/simple-stack/blob/master/simple-stack-example-mvp/src/main/java/com/zhuinden/simplestackdemoexamplemvp/data/repository/TaskRepository.java)

[2017-01-27 15:57] kneth commented on #2859
@JohnnyTwoShoes Can you verify that the file has not been truncated (just check the size with `adb shell ls -l`)? Is the file encrypted? If so, does the key match?

[2017-01-27 16:17] kneth commented on #3880
@mihirjoshi21 Can you post details about your app? Do you have multiple classes which extend `Application` and initialize Realm?

[2017-01-27 17:01] AamirAbro commented on #4117
@kneth Yes we do have other native libs. We have added [card.io](https://github.com/card-io/card.io-Android-SDK). I have analyzed apk using android studio and its showing all the native libs (`.so` files) in `x86_64` and also in `arm64-v8a`. Except for `mips` and `armeabi` which does have only one-two libs.

[2017-01-27 18:05] taha786 commented on #4010
i have the same issue and by using only   new RealmConfiguration.Builder()  it stills not working

[2017-01-27 18:21] Zhuinden commented on #4010
You also need to call `Realm.init(Context)` beforehand at some point

[2017-01-27 18:35] ppamorim commented on #4106
@kneth Do you think that's a correct way to fix this problem? I don't think so...

[2017-01-27 18:53] hardartcore commented on #3912
@kneth If you use binary data instead of it's ok, but I need this data to be String.

[2017-01-27 18:54] ciucurashu commented on #4010
Hello! this is how i solved the problem :)
I've created a new class that extends the Application because you need to
pass an argument to the Realm.init() that is a context

public class AppBucketDrops extends Application {
    @Override
    public void onCreate() {
        super.onCreate();
        Realm.init(this);

and i went to the manifest file and tag it another line :

<application

//this i

[2017-01-27 18:54] Zhuinden commented on #3912
@hardartcore you could store the data as binary for the chat, and you could also store a stripped UTF-8 version for searching and queries and stuff

[2017-01-27 18:55] Zhuinden commented on #4010
I think you also need to call `Realm.setDefaultConfiguration()`, but yes

[2017-01-27 18:56] bmeike commented on #3881
Fixed in https://github.com/realm/realm.io/pull/2712

[2017-01-27 19:03] ciucurashu commented on #4010
Well...they said that you don't need that anymore.
So i haven't put it anywhere, and it still worked.

2017-01-27 20:55 GMT+02:00 Gabor Varadi <notifications@github.com>:

[2017-01-27 19:36] levibostian commented on #3975
@cmelchior @Zhuinden appreciate it very very much. I understand the reasoning behind the change listeners now. Thank you.

Now is where I am thinking about the best method to be alerted as soon as data has been created in Realm. As mentioned before, I have change listeners setup via RxJava Observables for updates to realm, but as far as creations of new models, I am stuck on how to create listener

[2017-01-27 19:38] Zhuinden commented on #3975
@levibostian I need to ask you, how large is your data set?

10, 100, 1000, 10000+?

[2017-01-27 19:43] Zhuinden commented on #3975
As long as you keep the RealmResults in a queue and you remove it from the queue when the RealmChangeListener is called (and also remove the RealmChangeListener itself), that will work.

[2017-01-28 02:47] ye-lin-aung opened #4118 "Realm Notifications does not work"
#### Goal

#### Expected Results

#### Actual Results

#### Steps & Code to Reproduce

#### Code that listens

[code]

#### Version of Realm and tooling
Realm version(s): 2.3.0

Realm sync feature enabled: yes

Android Studio version: 2.2

Which Android version and device: 6.0 / One plus 2

[2017-01-28 07:54] kneth commented on #4118
`findAll()` is returning a `RealmResults` but my guess is that it is GC'ed and the listener is GC'ed too. Can you try to keep a strong reference to your `RealmResults` to prevent GC?

[2017-01-28 07:58] kneth commented on #3912
@hardartcore By using binary data, you can store any emoji, and you can do the conversion from binary data to string in your app.

[2017-01-28 08:04] kneth commented on #4117
@AamirAbro Thanks for the update. I can see that card.io supports both 32 and 64 bit ARM, so we need to investigate a bit more. Does it only happen on the Nexus 6P or can you reproduce it on every 64 bit ARM device?

[2017-01-28 08:06] kneth commented on #4097
@benj56 I hope that we have a snapshot release including #3834 soon.

[2017-01-28 08:08] #4048 closed

[2017-01-28 08:10] kneth commented on #3916
@lindyfish @sunshinehu Did @Zhuinden's latest comment help you to resolve the issue?

[2017-01-28 08:42] Zhuinden commented on #4048
....oh wow, why didn't I think of that >.<

[2017-01-28 08:42] Zhuinden commented on #4118
You need to retain a **strong reference** (typically a field reference) to your `RealmResults`

[2017-01-28 08:43] Zhuinden commented on #3916
@kneth I don't think it did. I ran out of ideas on this one.

[2017-01-28 10:21] nremond commented on #2630
@Zhuinden the good news is that the issue is now resolved :-)

[2017-01-28 10:23] ye-lin-aung commented on #4118
@Zhuinden  Its still not working .the On change event was not fired.

[2017-01-28 10:58] Zhuinden commented on #2630
@nremond I assume Realm would need to somehow make their plugin work with Jack

[2017-01-28 11:00] Zhuinden commented on #4118
But it does work in the `RealmTasks` example, no? :confused:

https://github.com/realm/RealmTasks/blob/master/RealmTasks%20Android/app/src/main/java/io/realm/realmtasks/TaskActivity.java#L71-L79

[2017-01-28 12:54] ye-lin-aung commented on #4118
@Zhuinden  the example works ..its happening only in my app.The on change got triggered if i use like this ```realm.addChangeListener(new RealmChangeListener<Realm>() {
      @Override public void onChange(Realm element) {

      }
    }); ```
but
if i tried to listen events it doesn't work anymore
[code]

But the logs show  ```
 REALM_JAVA  D  REALM_CHANGED : io.realm.HandlerController@183c023

[2017-01-28 12:57] Zhuinden commented on #4118
`RealmResults list = realm.where(Event.class).between("date", to, from).findAll();`

Make sure you have a RealmResults field

    RealmResults list;

    public void method() {
        list = realm.where(Event.class).between("date", to, from).findAll();
        list.addChangeListener(new RealmChangeListener<RealmResults>() {
             @Override public void onChange(RealmResults element) {

[2017-01-28 13:22] ye-lin-aung commented on #4118
Thanks its working now ..its because the RealmResults field

[2017-01-28 13:22] #4118 closed

[2017-01-28 16:28] malinajirka commented on #4023
I'm probably facing the same issue.
<pre>
  <code>
01-27 11:38:16.812 1607-1752/com.yyy.zzz.debug A/libc: Fatal signal 7 (SIGBUS), code 1, fault addr 0x1017137d5ba09 in tid 1752 (RealmFinalizing) [ 01-27 11:38:16.816   364:  364 W/         ] debuggerd: handling request: pid=1607 uid=10278 gid=10278 tid=1752
01-27 11:38:16.818 1607-2811/com.yyy.zzz.debug A/libc: Fatal signal 11 (SIGSEGV), code 1, f

[2017-01-28 21:48] AamirAbro commented on #4117
@kneth its not happening on all of the `Nexus 6P`s. For now this has app is crashing for only one user after we updated to realm `2.2.2` having nexus 6P on the live version.

[2017-01-29 08:27] kneth commented on #4117
Was the user able to restart the app without the crash?

[2017-01-29 08:29] kneth commented on #3916
I leave the issue open and give the reporters a chance to comment.

[2017-01-29 12:29] AamirAbro commented on #4117
@kneth No don't think that the user was able to run the app. App crashed 16 times for that user and cant find any other activity by him.

[2017-01-29 12:40] AamirAbro commented on #3972
@kneth I am seeing the same crash in crash reports on realm 2.2.2

`Fatal Exception: io.realm.exceptions.RealmError: Unrecoverable error. Permission denied in /home/cc/repo/realm/realm-java-release/realm/realm-library/src/main/cpp/io_realm_internal_SharedRealm.cpp line 87
       at io.realm.internal.SharedRealm.nativeGetSharedRealm(SourceFile)
       at io.realm.internal.SharedRealm.getInstance(So

[2017-01-29 12:49] Zhuinden commented on #3972
@AamirAbro what directory are you trying to open the Realm in?

[2017-01-29 12:52] Zhuinden opened #4119 "Unrecoverable error: Permission denied should be "SecurityException""
Currently you get `RealmError` which says `unrecoverable error` when permission is denied, but it is possible that you want to open Realm on external storage without having requested runtime permission.

Considering this is permission denial by the system, it makes sense that you get the same error as you would if you tried to access the external storage without permission, which is `SecurityExcep

[2017-01-29 12:55] AamirAbro commented on #3972
@Zhuinden the default one.

here is how am I creating the it.
`          Realm.init(GlobalInstance.getContext());
            RealmConfiguration configuration = new RealmConfiguration.Builder()
                    .deleteRealmIfMigrationNeeded()
                    .build();
`

[2017-01-29 12:56] Zhuinden commented on #3972
Interesting, what device is it?

2.2.2 should have fixed it as per https://github.com/realm/realm-java/issues/3629

[2017-01-29 13:10] AamirAbro commented on #3972
@Zhuinden Its happening mostly on HUAWEI devices.
Here is the distribution of users who git this crash after realm `2.2.2` update.

<img width="729" alt="screen shot 2017-01-29 at 6 05 13 pm" src="https://cloud.githubusercontent.com/assets/2279593/22404216/0b19ccd8-e64e-11e6-84e7-091109b345bb.png">

<img width="357" alt="screen shot 2017-01-29 at 6 05 21 pm" src="https://cloud.githubusercontent.co

[2017-01-29 13:40] Zhuinden commented on #3972
@AamirAbro do you open Realm instance in `application.onCreate()`, or in `Activity.onCreate()`?

[2017-01-29 13:41] Zhuinden commented on #4119
actually, probably not.

[2017-01-29 13:41] #4119 closed

[2017-01-29 13:43] AamirAbro commented on #3972
in activity on create.

[2017-01-29 14:23] Zhuinden commented on #3972
@beeender

[2017-01-29 19:35] mihirjoshi21 commented on #4105
`s` is a `CharSequence`  from `TextWatcher`. I tried using almost all emojis in `EditText` but unable to reproduce this issue.

[2017-01-29 19:37] mihirjoshi21 commented on #3880
I have a service but it's not in the separate process. `Real.init()` is already used in the application class.

[2017-01-30 08:49] cmelchior commented on #1598
Core support was added here: https://github.com/realm/realm-core/pull/1029

[2017-01-30 08:50] cmelchior commented on #1016
Folding this issue into #1598

[2017-01-30 08:50] #1016 closed

[2017-01-30 08:53] cmelchior commented on #694
A check for existing classes with the same name should be added here: https://github.com/realm/realm-java/blob/master/realm/realm-annotations-processor/src/main/java/io/realm/processor/RealmProcessor.java#L172 and an appropriate error thrown

[2017-01-30 08:54] cmelchior commented on #910
No longer relevant. Closing

[2017-01-30 08:54] #910 closed

[2017-01-30 09:01] cmelchior commented on #998
This should be fixed by our library support: https://realm.io/docs/java/latest/#sharing-schemas

[2017-01-30 09:01] #998 closed

[2017-01-30 09:01] kneth commented on #2762
@beeender I doubt it but since we have a Samsung device at the office, it might be worth testing.

[2017-01-30 09:10] Zhuinden commented on #1598
@cmelchior that core support seems to have been merged earlier than this post was made 😕

[2017-01-30 09:22] cmelchior commented on #1598
@Zhuinden Yes, which was probably what caused the issue to be created in the first place? Note it isn't marked as "Blocked".

[2017-01-30 09:26] Zhuinden commented on #1598
Fair enough 👍

[2017-01-30 09:33] kneth commented on #4106
@ppamorim I can reopen the issue if the issue hasn't been solved (and the stackoverflow link wasn't of any help to you).

[2017-01-30 09:35] cmelchior commented on #883
We now support adding unmanaged objects to managed ones. It will automatically do `copyToRealm/copyToRealmOrUpdate`. This error will thus no longer be thrown. Closing

[2017-01-30 09:35] #883 closed

[2017-01-30 09:45] kneth commented on #4117
In that case, it sounds like the `.so` files are corrupted. From the crash report, can you see if the user was running out of disk space? What if the user uninstalled and installed the app?

[2017-01-30 09:53] AamirAbro commented on #4117
User had 18.3% RAM free, and 18.7% Disk free which I think should be sufficient on a Nexus 6P. or not? @kneth

[2017-01-30 09:55] cmelchior commented on #809
`in()` was added in 1.2, so I'll close this issue.

[2017-01-30 09:55] #809 closed

[2017-01-30 09:58] AamirAbro commented on #4117
also this happened to an other Samsung user too.

app crashed for him 26 times :( .

[2017-01-30 09:59] cmelchior commented on #646
Moved to https://github.com/realm/realm-android-adapters/issues/79. Closing here.

[2017-01-30 09:59] #646 closed

[2017-01-30 10:15] cmelchior commented on #544
Core issue tracking this: https://github.com/realm/realm-core/issues/1239

[2017-01-30 10:30] cmelchior commented on #1355
As the only way of telling the difference between a corrupted file and an encrypted one is doing statistical analysis on the bytes and looking for a uniform distribution, this seems impractical.

We already documented in numerous places that a wrong encryption key will result in "Invalid RealmFile". I'll close this issue.

[2017-01-30 10:30] #1355 closed

[2017-01-30 10:50] MiralDesai opened #4121 "[Request]: Remove the block that stops primary key from being changed after object creation?"
#### Goal

I want the primary key to be editable, just like other objects, at least for the time being, while auto incrementing ids are not a feature in realm. They both go hand in hand.

------

Hey all,

I've just been trying to update to the latest version of realm, and came accross this issue, which for me at least requires a bit of a rewrite on how I deal with API responses. I had the weekend

[2017-01-30 10:56] cmelchior commented on #4121
@MiralDesai Why do you need auto-incrementing ID's? See e.g https://github.com/realm/realm-java/issues/469#issuecomment-196798253

[2017-01-30 10:59] cmelchior commented on #1126
It looks like we have updated to API 24 across the board. Closing

[2017-01-30 10:59] #1126 closed

[2017-01-30 11:00] cmelchior commented on #1367
This should have been fixed by https://github.com/realm/realm-core/pull/1020 . We just need to test and modify the binding accordingly.

[2017-01-30 11:03] cmelchior commented on #1367
Actually this is already supported, see https://github.com/realm/realm-java/blob/master/realm/realm-library/src/androidTest/java/io/realm/RealmQueryTests.java#L2001

Closing

[2017-01-30 11:03] #1367 closed

[2017-01-30 11:04] cmelchior commented on #1359
No longer relevant as this part of the code has been completely refactored. Closing

[2017-01-30 11:04] #1359 closed

[2017-01-30 11:21] cmelchior commented on #1625
Folding this into #3066

[2017-01-30 11:21] #1625 closed

[2017-01-30 11:30] cmelchior commented on #1558
This is now being supported, we do a `copToRealm/copyToRealmOrUpdate` if a unmanaged object is being added to a managed one.

[2017-01-30 11:30] #1558 closed

[2017-01-30 11:34] cmelchior commented on #1693
`isNull` for linked fields are now working, see https://github.com/realm/realm-java/issues/1367

[2017-01-30 11:34] #1693 closed

[2017-01-30 11:43] cmelchior commented on #2187
See also #4059, which might impact the design of this

[2017-01-30 11:46] cmelchior commented on #2231
Folding this into #3066

[2017-01-30 11:46] #2231 closed

[2017-01-30 11:47] MiralDesai commented on #4121
I might not need it. It's just something I expect from a database to be honest. Even if I use or don't use the feature. The issue is that auto incrementing ids makes sense if you cannot change the primary key.

I personally get my primary keys from my server, already not ideal because I wanted them to be auto incrementing from the start, again just something I expected from a database, now that I

[2017-01-30 11:48] cmelchior commented on #4070
Folding this into the original issue about Windows support: #911

[2017-01-30 11:48] #4070 closed

[2017-01-30 11:53] cmelchior commented on #2299
Reasons for adding something like `getInstanceAsync` now also comes from Sync with options like `SyncConfiguration.waitForServerChanges()` that doesn't open the Realm until all changes have been downloaded from the server.

[2017-01-30 11:57] lucavitucci commented on #3568
We just encountered this issue as well.
We have our own StaticLoggerBinder but it seems like Realm is trying to bring his own (Which I really think should not be the case!). Apparently the one from Realm is used and the project fails to find org.gradle.internal.logging.slf4j, most probably because proguard removed them as unused being that our StaticLoggerBinder is not using them.

I'm trying to f

[2017-01-30 12:09] cmelchior commented on #2468
This exception is being cast from JNI, having the same name in both Java/JNI seems more important  than this rename. Besides we had no feedback on this either way. Closing.

[2017-01-30 12:09] #2468 closed

[2017-01-30 12:15] kneth commented on #3880
Does your service access Realm?

[2017-01-30 12:20] mihirjoshi21 commented on #3880
Yes

[2017-01-30 12:34] Zhuinden commented on #4121
I would assume https://github.com/realm/realm-java/issues/4115 will help with auto-increment primary keys although lately I haven't had a single case where using an auto-increment key made sense, because afterwards you can't really find the object. I tend to make a String-based compound key instead.

[2017-01-30 12:45] cmelchior commented on #4121
@Zhuinden A CRDT Counter doesn't help with keys, it just guarantee that two counters on two devices eventually agree on the same value.

@MiralDesai It sounds like you fall into bucket #1 from the comment i referenced, In that case just add `@PrimaryKey private String id = UUID.random().toString();` to your object. It will automatically generate a key for you. You do not have a need for auto-incre

[2017-01-30 12:53] Zhuinden commented on #2468
`BadVersionException` already makes sense, it just means that you got a result set from the async query that belongs to an older version of the Realm instance, right?

[2017-01-30 12:53] Zhuinden commented on #4072
@flzyup have you succeeded in wrapping the query in a transaction block?

[2017-01-30 12:54] kneth commented on #4117
@AamirAbro Looks like enough space - just wished to rule out a simple cause if I could.

So it's only hitting Android 7 devices?

Have you been able to reproduce it yourself?

[2017-01-30 12:54] cmelchior commented on #2468
Yes

[2017-01-30 12:56] MiralDesai commented on #4121
It's true I don't need auto incrementing ids, after some thought I probably don't need primary keys either since the primary keys are set on my server so I can assume they're unique. I suppose a random id is fine in that case.

From the perspective of realm as whole, do you think auto incrementing ids is not a feature that is needed then?

[2017-01-30 13:03] cmelchior commented on #4121
Yes, that is our general stance. Auto-incremental primary keys are alluring in SQLite because they are so easy to define, but they also suffer from limitations, the biggest being that they don't work in a distributed database across multiple devices. This conflicts with our design goals of being able to make Realm synchronise across devices by the flip of a switch.

As I described in the other iss

[2017-01-30 13:03] #4121 closed

[2017-01-30 13:14] Zhuinden commented on #4121
The problem in my opinion is that auto-incremented IDs are essential in SQL-based relational databases so that you can create "JOINs" across the tables, but in Realm, that is not how relations work, they are bound with links between the objects instead of manually joining them via primary key/foreign key matching.

So objects don't really need an autoincrement ID. If you use a `@PrimaryKey` in Rea

[2017-01-30 13:41] cmelchior commented on #3352
Would require core support

[2017-01-30 13:46] kneth commented on #4105
0xd83d is half of an emoji. Are you sure that `String.valueOf()` isn't truncating the sequence? It might be safer to do `s.toString().trim()`.

[2017-01-30 13:47] shiami opened #4122 "Search with Case.INSENSITIVE not working with some Roman (latin) letters"
For example:

Á, À, Â, Ā, A̍, and same with other letters (Í, Ú, É, Ó, Ń, Ḿ...).
The result is still Case.SENSITIVE.

#### Version of Realm and tooling
Realm version(s): 2.3.0

Realm sync feature enabled: no

Android Studio version: 2.2.3

Which Android version and device: 6.0.1, Nexus 5

[2017-01-30 13:48] Zhuinden commented on #4122
https://realm.io/docs/java/latest/#sorting-and-querying-on-string

[2017-01-30 13:50] shiami commented on #4122
No chance to support it?
Any workaround?

[2017-01-30 13:51] Zhuinden commented on #4122
Personally I had a second field that had all accents truncated out of it, and did the sorting based on that.

This is what I used: http://stackoverflow.com/a/36500456/2413303

[2017-01-30 13:53] cmelchior commented on #4122
This is also being tracked here: https://github.com/realm/realm-java/issues/1031
See e.g https://github.com/realm/realm-java/issues/1031#issuecomment-230469563

Closing as a duplicate

[2017-01-30 13:53] #4122 closed

[2017-01-30 14:00] mihirjoshi21 commented on #4105
Alright, I will do it in next release. You can mark this as close I will reopen it if I have to.

[2017-01-30 14:09] cmelchior commented on #3739
Core merged an API that might help with this here: https://github.com/realm/realm-core/pull/2338

[2017-01-30 14:13] #4105 closed

[2017-01-30 14:18] cmelchior commented on #2891
Folding this into https://github.com/realm/realm-java/issues/2891

[2017-01-30 14:18] #2891 closed

[2017-01-30 14:22] cmelchior commented on #2707
This was implemented in 2.3.0. Closing

[2017-01-30 14:23] cmelchior commented on #3807
`like()` was released in 2.3.0. Closing

[2017-01-30 14:23] #3807 closed

[2017-01-30 14:23] MiralDesai commented on #4121
I agree that the id should be identifiable. I think what I'll do is simply check if the object with that id already exists, if it does, I will not set the id again. Not something I thought I would have to deal with but it's fine, and makes the primary key useful.

[2017-01-30 14:26] cmelchior commented on #2698
Duplicate of #2699

[2017-01-30 14:26] #2698 closed

[2017-01-30 14:29] cmelchior commented on #2476
With Sync this has become even more important since the default style for fields/properties differ between iOS/Android/.NET

[2017-01-30 14:32] cmelchior commented on #2476
From internal conversation:

---

From #sync https://realmio.slack.com/archives/sync/p1472132469000678
Christian Melchior
A huge thing I haven’t seen mentioned elsewhere is how to handle differences in class/field names across bindings? All our major languages have widely different conventions like `camelCase`, `PascalCase` and `underscore_style`, not to mention that e.g. C++ is fond of Hungarian

[2017-01-30 14:34] cmelchior commented on #2241
Folding this into #2339

[2017-01-30 14:34] #2241 closed

[2017-01-30 14:38] kneth commented on #3568
@lucavitucci And the suggestion about DEX above didn't help you?

[2017-01-30 14:39] cmelchior commented on #2539
Probably not as relevant with CMake now being officially supported, but keeping it open just in case.

[2017-01-30 14:40] cmelchior commented on #792
Folding this into #607

[2017-01-30 14:40] #792 closed

[2017-01-30 14:50] cmelchior commented on #1035
This issue is beeing handled both here: #1208 and here #2538 . So closing this one.

[2017-01-30 14:50] #1035 closed

[2017-01-30 14:51] cmelchior commented on #1635
With Eclipse support dead and no requests for this, I think we can just close it.

[2017-01-30 14:51] #1635 closed

[2017-01-30 15:01] kneth commented on #3880
Can you share your app's manifest? And how you initialize and open a Realm?

[2017-01-30 15:03] vexdev commented on #3568
Same error even after applying your fix,
`                                      Caused by: java.lang.ClassNotFoundException: Didn't find class "org.gradle.internal.logging.slf4j.OutputEventListenerBackedLoggerContext" on path: DexPathList[[zip file "/data/app/com.centralway.numbrs.debug-1/base.apk"],nativeLibraryDirectories=[/data/app/com.centralway.numbrs.debug-1/lib/arm, /data/app/com.centralway

[2017-01-30 15:04] kneth commented on #4093
I have tried - without luck - to reproduce the issue. Please take a look at #4123 and tell me if your app does migration differently. I have attached a screenshot of the Realm Browser showing the asset file.

![screen shot 2017-01-30 at 15 59 43](https://cloud.githubusercontent.com/assets/1225363/22428008/aab0a750-e705-11e6-8700-f90ebad6573b.png)

[2017-01-30 15:16] edgars-supe commented on #4093
The field that is renamed is indexed in my model. Maybe the fact that the renamed ```channelId``` is an ```int```, and the new one is a ```Long``` has got something to do with it?

[2017-01-30 15:20] lucavitucci commented on #3568
Stacktrace:
[code]

Sample project:

https://github.com/lucavitucci/RealmSlf4j

[2017-01-30 16:58] kneth commented on #4093
Good points.

`int` -> `Long` makes it nullable (or not `@Required`) but otherwise it is the same type.

[2017-01-30 17:01] taha786 commented on #4010
thanks for everyone for helping me out

Best
Taha Ahmad

On Sat, Jan 28, 2017 at 12:03 AM, George Ciprian Vilau <
notifications@github.com> wrote:

[2017-01-30 18:28] bmeike commented on #3881
realm/realm.io#2712 merged

[2017-01-30 18:28] #3881 closed

[2017-01-30 18:31] AamirAbro commented on #4117
@kneth Not able to reproduce, also there is Z10 device with Android version `4.3`

[2017-01-30 18:38] AamirAbro commented on #3972
any update, I have been seeing this crash alot. :(

[2017-01-30 20:09] Zhuinden commented on #2476
I'm a fan of what LoganSquare does.

If you want to map things, then annotate it.

[2017-01-30 20:23] cmelchior commented on #2476
Where I think I see this going is (bikeshedding names aside):

1) Top-level Realm config method effecting all classes:
[code]
Perhaps on RealmConfiguration instead although I have a hard time seeing the same model class being used for two end points with different naming schemes.

2) Realm class annotation:
[code]

3) Field level overrides
[code]

[2017-01-30 20:51] levibostian commented on #3975
Ok. I will try that this week and get back to you. I will see how I like it and give suggestions if it could be better.

Cannot thank the team enough for the help. Thank you, thank you. Chat soon.

[2017-01-30 21:48] Zeyad-37 commented on #669
you can use the copyFromRealm() method, to have a copy of your users and save it globally and use it where ever you want.

[2017-01-30 21:50] Zhuinden commented on #669
Although you typically just need to send primary keys between the threads and requery the object if it's needed.

[2017-01-30 22:48] mbunyard commented on #3730
When will v2.3.1 be released/available with this fix?

[2017-01-30 23:33] kageiit commented on #3971
Question for Real maintainers. The way transforms work in buck is that they do not have access to the gradle project model as they are run like commandline applications. This would require the RealTransformer to provide an alternate constructor that can accept a config file as an input for various configuration options instead of relying on the gradle plugin extension. Would like your thoughts on

[2017-01-30 23:59] bmeike commented on #4088
@mitchwongho Do you have code to share w/us?  If not I think we'll close this ticket, ok?

[2017-01-31 00:01] bmeike commented on #4025
Hey @pradeep2929 Can you share that code with us?  If not, I think we'll just close this ticket.

[2017-01-31 00:06] bmeike commented on #3953
@harshgaba Any news for us?  If not, I think we can just close this ticket.

[2017-01-31 00:08] bmeike commented on #3847
@harshgaba Any news?  If we can be of further help, please let us know.  Otherwise we can close this ticket.

[2017-01-31 00:10] bmeike commented on #3912
@hardartcore Any news?  Did you try using binary data?  If there is anything more we can do for you, chime in.  Otherwise we'll close this ticket.

[2017-01-31 00:30] zaki50 commented on #3568
I reproduced this bug with your sample project.
It seems some bugs in our transformer.

[2017-01-31 03:45] thready commented on #1856
Adam, I owe you a beer.  I was pulling my hair out and then came across your article:  http://speakman.net.nz/blog/2016/04/21/handling-realmmigrationneededexception-on-a-fresh-installation-on-android/

Thank you very much!

[2017-01-31 05:19] jacky1234 opened #4126 "run the example module"
![image](https://cloud.githubusercontent.com/assets/10626484/22453151/ad364914-e7b7-11e6-8a78-7c01bfa356eb.png)
It seems the include file <util/format.hpp> can't be found , how do I fix it? thank you!

[2017-01-31 06:31] cmelchior commented on #3971
Given the above, and that support for Transformers have been merged in OKBuck 'm re-opening this as a feature request for adding support for OKBuck. We would have to look more closely at how specifically the  config file looks like, but just browsing our RealmTransformer we only use two things from the Gradle project:

1) We have a custom `realm` closure with a setting `syncEnabled`. I don't know

[2017-01-31 06:41] cmelchior commented on #4126
@jacky1234 Did you also checkout our git submodule: https://github.com/realm/realm-java/blob/master/README.md#download-sources ?

[2017-01-31 06:41] kageiit commented on #3971
okbuck takes care of passing in the boot class path as a java system property.

The syncEnabled setting can be in the config file.

Okbuck transform CLI can create a transform in two ways.

- A class name with an empty constructor
- A class name with a `java.io.File` argument constructor

The file can contain anything in it. In Realm's case it can be a simple config file like

`realm.config`
[code

[2017-01-31 06:54] zaki50 commented on #3568
Fixed by #4127

[2017-01-31 06:57] zaki50 commented on #3568
@lucavitucci Thanks. Your sample project helps me a lot!
Snapshot build will be deployed shortly.

Could you try it when you have a time? https://github.com/realm/realm-java/blob/master/README.md#using-snapshots

[2017-01-31 07:42] hardartcore commented on #3912
@bmeike You can close it.

[2017-01-31 07:45] kageiit commented on #3971
I also noticed that the extension is the only reason realm gradle plugin/transform relies on the gradle api. If it were possible to specify the configuration through a simple file, that dependency can be completely removed and this can be a 100% pure java project then.

https://github.com/realm/realm-java/search?utf8=%E2%9C%93&q=%22import+org.gradle%22&type=Code

[2017-01-31 07:50] lucavitucci commented on #3568
@zaki50 Thank you for the fastest reaction time I've ever encounter after reporting a bug 👍
I just verified on our main project and can confirm that 2.4.0-SNAPSHOT is now working.

[2017-01-31 08:23] #3912 closed

[2017-01-31 09:10] bios-seiji opened #4128 "Database corruption after SEGV_MAPERR"
Hello,

We're experiencing high incidents of SIGSEGV SEGV_MAPERR crashes on recent versions of Realm. We can reliably reproduce these crashes by opening realms on multiple threads and conducting operations. Crashing multiple times (1-5) will usually cause the database to corrupt. Most of our tests have been with encrypted realms, however, I was able to reproduce the same results using an unencrypt

[2017-01-31 09:35] mitchwongho commented on #4088
@kneth @bmeike Please close the ticket. UnfortunateIy I'm unable to share the codebase with you (restricted access).

Haven't experienced since (memory usage is stable), but will continue to monitor.

[2017-01-31 09:35] dalinaum commented on #3938
@joluet There is a work-around. If you move some code from `onStart` and `onStop` to `onResume` and `onPause`, it would works.
We will look into this issue with a new implementation soon.

[2017-01-31 09:39] cmelchior commented on #4128
Hi @bios-seiji Thank you for a very detailed bug report 🎉 . If you can send the project to help@realm.io we would be extremely grateful.

[2017-01-31 09:45] Zhuinden commented on #3938
I don't think that should affect anything,.. 😞

[2017-01-31 10:00] Zhuinden commented on #4128
@bios-seiji just out of curiousity, can you by chance check if changing

[code]

to

[code]

helps stabilize the problem?

[2017-01-31 10:03] Zhuinden commented on #4128
Can you try to change the following to see if it helps stabilizing the issue?

[code]

to

[code]

[2017-01-31 10:52] dalinaum commented on #3928
Since #3834 is still reviewing, the snapshot doesn't include it yet.

[2017-01-31 11:25] kneth commented on #4088
@mitchwongho I am happy to hear that you haven't seen it recently. Don't hesitate to either reopen or create new issue if you see it again.

[2017-01-31 11:25] #4088 closed

[2017-01-31 11:55] zaki50 commented on #3971
@cmelchior I feel supporting `OkBuck` is not so difficult, I'm not familiar with it.

I'll spend a bit of my time more to investigate `OkBuck`.

[2017-01-31 12:05] cmelchior opened #4130 "ext.coreSourcePath does not work"
The `ext.coreSourcePath` option in `realm/realm-library/build.gradle` does not work correctly. It gets overridden by the artefact downloaded from the network and make building the Realm binding using Cores source code impossible. @kneth ran into this while debugging an isse.

[2017-01-31 12:26] Shraddha13Gupta commented on #1013
this issue should be documented and get rid off!

[2017-01-31 12:42] Zhuinden commented on #1013
@Shraddha13Gupta this issue was fixed in 2.0+ and avoidable by using `createObject(clazz, primaryKeyValue)` instead of `createObject(clazz)`

[2017-01-31 13:04] cmelchior commented on #1591
Since there doesn't seem to be any interest in this, I'm closing the issue.

[2017-01-31 13:04] #1591 closed

[2017-01-31 13:07] kneth commented on #4130
Renaming it to `syncSourcePath` might be a simple solution.

[2017-01-31 13:11] cmelchior commented on #3802
This will most likely be fixed by #3834.

[2017-01-31 13:33] zaki50 commented on #3971
I wrote another transformer (`RealmTransformerOkBuck `) whose constructor accepted a `File` parameter.

I didn't test it at all, but is it what you mean?

[code]

[2017-01-31 13:41] cmelchior commented on #3971
I would assume we could re-use the same transformer class and just keep the differences in the constructors? In our case it is just two variables, so should be doable?

[2017-01-31 14:03] zaki50 commented on #3971
@cmelchior Ah, yes. Can I make a PR for this?

[2017-01-31 14:09] zaki50 commented on #3971
@cmelchior Ah, yes.

[2017-01-31 14:41] zaki50 commented on #3971
[code]

[2017-01-31 15:05] kneth commented on #4117
I put on the backlog until I get a proper device.

[2017-01-31 15:06] zaki50 commented on #3971
@kageiit How can I test transformer-enabled OkBuck?
And currently I wrote a code to get boot class path from the configuration file.
Which system property should we use for bootclasspath?

[2017-01-31 16:17] akm0012 commented on #3783
@kneth : So just upgraded to 2.3.0 and was seeing the same issue, however, after rearranging the order of the "apply plugin: ..." things seem to be fixed. Thanks!

[2017-01-31 16:21] blocke79 commented on #3783
Just upgraded to 2.3.0 also and rearranging the plugins fixed it

[2017-01-31 16:37] radu-tutueanu commented on #4094
This is related https://github.com/realm/realm-cocoa/issues/4615  - the 1.0.1 ROS does not send data from other clients to a client with an expired access token.

[2017-01-31 17:37] bios-seiji commented on #4128
@Zhuinden apologies, that was a typo in my C&P (I corrected the original post). I have already been conducting tests with the change you suggest.

[2017-01-31 17:46] AamirAbro commented on #4117
@kneth Do you really thing this is device specific? as there are a-lot of Nexus 6P users where app is working fine.

[2017-01-31 18:31] malbano commented on #3971
@zaki50 the android bootclasspath is already passed in the transform invocation as a referenced input jar.

To test it just add:

[code]

[2017-01-31 18:33] kageiit commented on #3971
I also just cut and released `v0.17.0` of okbuck that has support for the transforms baked in. You can use the configuration snippet @malbano posted above to test it out

[2017-01-31 21:32] levibostian commented on #3975
Created a solution:

[code]

I need to run the app a couple dozen more times this week to see if this solution is consistently working, so far it has been with a dozen runs.

As I have been testing this issue the past couple of weeks, I have encountered https://github.com/realm/realm-java/issues/3802 consistently. I clean install my app, login, run this code above ~5 times successfully then the 6t

[2017-01-31 22:37] bmeike commented on #3916
No response from OP.  Closing.

[2017-01-31 22:37] #3916 closed

[2017-01-31 23:11] bios-seiji commented on #4128
Here's the code we've been using to test load (and generate crashes):
https://github.com/bios-seiji/realm-crash/

[2017-01-31 23:55] zaki50 commented on #3568
@lucavitucci @mrp14 Thank you for your confirmation.I'll close this.

[2017-01-31 23:55] #3568 closed

[2017-02-01 00:18] zaki50 commented on #3971
@kageiit @malbano Thanks. I'll test my code and make a PR for this.

[2017-02-01 07:50] zaki50 commented on #3971
I've got some errors.

[code]

One is `java.io.IOException: Stream closed` at the line `private Logger logger = LoggerFactory.getLogger('realm-logger')` in RealmTransformer.groovy

Another is `groovy.lang.MissingMethodException: No signature of method: java.util.LinkedList.each()` at https://github.com/realm/realm-java/blob/v2.3.0/realm-transformer/src/main/groovy/io/realm/transformer/RealmTransfo

[2017-02-01 07:58] cmelchior commented on #3975
@levibostian If you are able to consistently reproduce the BadVersionException we would be very interested in knowing exactly how. How exactly is the code you refer to being run 5/6 times in a row?

[2017-02-01 10:20] Konsumierer commented on #3843
@Zhuinden, sure:

[code]

[2017-02-01 10:30] Zhuinden opened #4131 "Realm receives NPE when updating async queries after Realm is closed"
#### Goal

Write into Realm periodically and also run async queries.

#### Expected Results

No exceptions in the log

#### Actual Results

      2-01 09:53:49.315 4201-4229/com.zhuinden.realmbreak E/REALM_JAVA: java.lang.NullPointerException
                                                                       at io.realm.AndroidNotifier.completeAsyncResults(AndroidNotifier.java:120)

[2017-02-01 10:34] kneth commented on #4117
By Z10, do you mean Blackberry Z10, right? It has a Krait as CPU and that's a 32 bit CPU. On the other hand, that device isn't an Android device (only an emulation layer running on top of QNX and not Linux), and we have seen many issues with it over time.

It might not be device specific but the error message you posted indicates that it is related to 64 bit ARM.

[2017-02-01 12:22] lopezzbelgium commented on #3952
What was the actual problem? I'm experiencing the same issue with Realm v 2.2.1 but does not seem to be related to deleting objects?

[2017-02-01 12:55] zaki50 commented on #3971
current diff
[code]

[2017-02-01 13:18] cmelchior commented on #3971
@zaki50 It's easier to review if you just push a Pull Request and mark it as "In Progress" 😄

[2017-02-01 13:43] Zhuinden commented on #4131
I added complete code in https://github.com/Zhuinden/realm-error-4131

Either rotate the screen or press back, then these show up in the logs.

[2017-02-01 14:05] kneth commented on #4128
@bios-seiji Thanks!

[2017-02-01 14:10] kneth commented on #3952
@lopezzbelgium The actual problem was that the same object was deleted twice. If that's not your case, please create a new issue.

[2017-02-01 14:31] ppamorim commented on #4106
@kneth I believe that you don't need to do it. I will be waiting the rewrite of the async queries and the implementation of a proper way to sync the `Realm`.

[2017-02-01 17:53] LPFinch opened #4134 "Fatal signal 11 (SIGSEGV) on Xiaomi(Android 6.0.1)"
Hi, we catch this bug on Xiaomi Redmi only 2 times.
Realm 2.2.2
Any solutions?
Thanks
P.S. Log in attach
[log_xiaomi.txt](https://github.com/realm/realm-java/files/745683/log_xiaomi.txt)

[2017-02-01 17:59] sabergeek commented on #3972
@kneth @AamirAbro I confirm. I'm seeing the error again - "Unrecoverable error. Permission denied in /home/cc/repo/realm/realm-java-release/realm/realm-library/src/main/cpp/io_realm_internal_SharedRealm.cpp line 87"

[2017-02-01 18:39] kageiit commented on #3971
@zaki50 I think the problem lies here: https://github.com/realm/realm-java/blob/master/realm-transformer/build.gradle#L50

the `gradleApi()` and `localGroovy()` declarations basically do not get packaged into the pom of the transform becuase they are expected to be provided by the upstream project's gradle installation

so when you do
[code]

Okbuck will pull in real-transform and its pom dependen

[2017-02-01 18:44] bmeike commented on #4134
Can you show us the code for com.myapp.ui.fragment.NotificationsFragment, please?

[2017-02-01 18:46] bmeike commented on #4126
@jacky1234 Did you resolve this?  Can we close the ticket?

[2017-02-01 18:47] bmeike commented on #4072
Hey @flzyup, have you resolved this?  Can we close the ticket?

[2017-02-01 19:48] LPFinch commented on #4134
Sure, give me your email

[2017-02-01 20:04] levibostian commented on #3975
@cmelchior I have a write transaction that I perform after the user enters text into an EditText and pushes the save button.

I am running the write transaction only once each time they press the save button. When I say I am running my code 5/6 times and then I get the BadVersionException crash, I am pressing the button 5/6 times for 5/6 individual writes.

I start a Fragment, fill out info, press

[2017-02-02 01:25] dev-JE02 opened #4135 "Realm and RxJava2"
I would like to ask about Reactive support for Android. Right now we are using RxJava2, and have already found a way to make it Flowable:
[code]

The only thing is, as described in issue #3497 is that the build breaks since `asObservable()` is using RxJava1. Is there a timeline already for this?

Also, if you could check the DefaultSubscriber, it returns RealmResults<Model> as a whole. Is there a

[2017-02-02 05:55] timur-st94 opened #4136 "Caused by: java.lang.ClassNotFoundException: io.realm.LocalModuleMediator"
I'm getting this error in my project, when I try to use Dagger2

                                                                  at io.realm.RealmConfiguration.getModuleMediator(RealmConfiguration.java:300)
                                                                  at io.realm.RealmConfiguration.createSchemaMediator(RealmConfiguration.java:274)

[2017-02-02 07:27] cmelchior opened #4137 "asObservable doesn't support backpressure"
From http://stackoverflow.com/questions/37774954/onerrornotimplementedexception-caused-by-rx-exceptions-missingbackpressureexcep

[code]

It looks like we might not support backpressure correctly.

[2017-02-02 08:30] Zhuinden commented on #4137
At worst it should call `onBackpressureLatest`

[2017-02-02 08:32] Zhuinden commented on #4136
What gradle plugins are you using and in what order?

Do you use Jack?

[2017-02-02 08:35] Zhuinden commented on #4135
Proper RxJava2 code based on the RealmObservableFactory would look like this

[code]

Other `asObservable()` implementations can be mapped similarly by using `RealmObservableFactory` as reference

[2017-02-02 08:37] Zhuinden commented on #3972
But what devices do you see this on?

[2017-02-02 08:58] cmelchior opened #4138 "Checkstyle should fail on missing space after assignment ="
Checkstyle doesn't seem to catch
[code]

This should be fixed. Discovered while reviewing #3834

[2017-02-02 09:14] timur-st94 commented on #4136
build.gradle(Module):
[code]
build.gradle(Project):
[code]

[2017-02-02 09:16] cmelchior commented on #4135
@dev-JE02  RxJava1 is an optional dependency, so you can easily add RxJava 2 to your project as long as you do not call any of the `asObservable` methods. Instead you would just have make your own factory class like the one @Zhuinden describes.

Right now it looks like we will do the following going forward:

1) Create a `RxRealm` package with a `RxRealm` factory class for creating RxJava 2 types

[2017-02-02 09:16] #4135 closed

[2017-02-02 09:41] Zhuinden commented on #4136
Please apply plugins in this order

    apply plugin: 'com.android.application'
    apply plugin: 'io.fabric'
    apply plugin: 'com.neenbedankt.android-apt'
    apply plugin: 'realm-android'

[2017-02-02 12:04] sabergeek commented on #3972
@Zhuinden This was reported only on **Lenovo A7010a48** - Android 6.0.

[2017-02-02 12:06] cmelchior opened #4139 "Optimize RealmCollection.contains()"
Fallout from #4111

In the previous implementation we could optimize `contains` by checking the underlying indexes in the backing Table: `(table.sourceRowIndex(proxy.realmGet$proxyState().getRow$realm().getIndex()) != TableOrView.NO_MATCH);`

However, this optimization did not work if people have had custom `equals` methods. In #4111 we always use `equals`, which however is quite slow for larger c

[2017-02-02 14:25] jacky1234 commented on #4126
@cmelchior No.I solve this by simply download the standalone examples  from web site https://realm.io/docs/java/latest/#getting-started. Thank you!

[2017-02-02 14:25] #4126 closed

[2017-02-02 15:01] tmeunier opened #4140 "Realm.compactRealm on external storage throws RealmError: Unrecoverable error. Read-only file system"
#### Introduction

Hi, I have a complex app with more than one Realm (because of sandboxing) and Realms are stored on External Storage. Until recently I was stuck at v1.0.1 because of various problems that were fixed ;)
But now I'm facing a new problem, the `compact` phase (which is started before opening the realm) is crashing the whole app. Even if I'm catching the `RealmError`, a native crash o

[2017-02-02 15:03] nhachicha opened #4141 "Sync Session not retrying upload after Network resume"
Steps:
Using RealmTask with Realm `2.3.0` & realm-object-server `1.0.2`

- install RealmTasks in both emulators
<img width="1007" alt="screen shot 2017-02-02 at 14 49 09" src="https://cloud.githubusercontent.com/assets/1793238/22554079/ceab66ba-e956-11e6-8cfa-6c727316fcff.png">

- Disable network by using flight mode on one emulator, then create some offline data
<img width="1009" alt="screen shot

[2017-02-02 18:08] bmeike commented on #4134
help@realm.io.  Please cite this GitHub issue...

[2017-02-02 19:45] bmeike commented on #4093
Added two new unit tests, for the described scenarios, in: #4143

[2017-02-02 19:51] bmeike commented on #4072
If there is anything further that we can do for you, please don't hesitate to reopen this ticket, or to open a new one.

[2017-02-02 19:51] #4072 closed

[2017-02-02 19:52] bmeike commented on #4025
If there is anything else we can do for you, please don't hesitate to re-open this ticket, or to create a new one.

[2017-02-02 19:52] #4025 closed

[2017-02-02 19:53] bmeike commented on #3953
If there is anything else we can do for you, please don't hesitate to re-open this ticket, or to create a new one.

[2017-02-02 19:53] #3953 closed

[2017-02-02 21:38] bmeike commented on #4140
Hey @tmeunier ,
I don't have a Galaxy Tab, so I can't verify your issue on the particular device.  We *do* have a bunch of unit tests around compaction, here: https://github.com/realm/realm-java/blob/master/realm/realm-library/src/androidTest/java/io/realm/RealmTests.java

I've also run your specific on a couple of devices and cannot repro the problem.

Can you try this on another device and see i

[2017-02-03 00:26] bmeike commented on #4140
Attempted to repro on a Samsung Galaxy Note 8.0, 4.4.2.  No joy.

[2017-02-03 01:22] tmeunier commented on #4140
Hey @bmeike
I took a look at the tests but they do not include "compact on external storage" ;)

I ran the following tests on other devices/emulators I have :
A) compact a Realm on **internal** storage (based on your tests)
B) compact a Realm on **external** storage (the one above)

[code]

So, it's working on emulators but not on my devices... Could you give a try with Android 5+ ?

[2017-02-03 02:40] eygraber commented on #989
Has an API been decided for this yet? Will it look something like [ListUpdateCallback`](https://developer.android.com/reference/android/support/v7/util/ListUpdateCallback.html)?

[2017-02-03 03:17] beeender commented on #3091
yes, this is fixed by #3834.

[2017-02-03 04:37] timur-st94 commented on #4136
If I apply plugins in this order, then compile dagger has an error:

[2017-02-03 07:02] Zhuinden commented on #4136
Then you have some kind of error in your Dagger configuration. A `@Provides` fields could be missing or something similar. Or the auto-generated class is just not imported.

[2017-02-03 07:55] bios-seiji commented on #4128
@kneth were you able to reproduce the crashes with the project I provided? Do you have any suggestions for further debugging or mitigation?

Once a user has a corrupted database, is there any way we can detect and triage? Currently, the application will try to run and crash unexpectedly and uncontrollably. At the least we should be able to detect corruption on boot and provide steps for the user t

[2017-02-03 08:35] cmelchior opened #4144 "More flexible Realm Urls for SyncConfiguration"
Right now we require Realm Urls to `new SyncConfiguration.Builder(user, url)` to have the exact format:

[code]

This is needlessly restrictive and we can relax it the following ways:

1) Support only `<path>` ... baseUrl/scheme will be inferred from the Users auth server
2) Support using `<realm|realms>://<baseUrl>/<path>` -> Automatically replace http/https with realm/realms

[2017-02-03 08:56] cmelchior commented on #989
@eygraber There is a proposal in #3977 . Right now it is closer to the API from RecyclerView, but it doesn't seem much different from what you linked either. We are still looking for feedback, so if you have a use case not covered in #3977 we would love to hear about it.

[2017-02-03 09:31] Konsumierer commented on #3651
Hey guys, could you please give me a short status update? Is there a fix in sight?
I need to decide whether to go back to 1.x, replace Realm completely or wait for the fix in order to being able to rollout again.
Thanks!

[2017-02-03 09:38] Zhuinden commented on #3651
@Konsumierer personally I'd recommend Realm 1.2.0, but that cannot open a Realm version created by 2.x

[2017-02-03 09:52] Konsumierer commented on #3651
@Zhuinden, thanks, there is no database currently, so that's not a problem. We have just not tested with Realm 1.2.0 and it is very late for that change. Can you say anything about the stability of 1.2.0? Any I haven't checked the API changes. Any big changes between 1.x and 2.x?

[2017-02-03 10:26] Zhuinden commented on #3651
@Konsumierer well there weren't changes in things that I've been using.

I think stability of 1.2.0 is better than that of 2.x at the moment. But you must make sure that you don't open Realm in multiple processes by accident (typically happens if you "open Realm in application subclass". Don't do that.)

-------

Differences are pretty much this:

1.) there is no `Realm.init()` call in Realm 1.2.0

[2017-02-03 11:17] SergiLlamasGuerrero commented on #3972
Hi!

We also have the same problem here. In Crashlitycs we have a crash:

[code]

By now 100% of it are reported by HUAWEI GRA-L09 and 6.0 version.

And finally we are using 2.3.0 Realm version.

There are any news already? Do you need more information?

Thank you for your work.

[2017-02-03 11:32] nhachicha commented on #4094
blocked by https://github.com/realm/realm-java/issues/4141

[2017-02-03 11:32] nhachicha commented on #4141
blocked by https://github.com/realm/realm-sync/issues/1161

[2017-02-03 16:15] kneth commented on #3651
I have been debugging most days this week without coming to a conclusion. The crash happens in the following instruction: `STRB r4, [r1], #1`. The register `r1` contains an invalid address. My experiments this week indicate that we are talking about a race condition.

[2017-02-03 16:41] kneth commented on #4128
@bios-seiji Sorry for not getting back earlier.  The code described above is similar to the code found in #4114. Which isn't surprising as #4114 was written with https://github.com/realm/realm-core/issues/2383 in mind. But the reason for the crash in #4114 might come from the fact that some threads are starved (22 threads and only single core in my emulator) so a thread might hold an old version o

[2017-02-03 21:15] bios-seiji commented on #4128
@kneth I can reliably reproduce these crashes on 4 and 8 core devices running as few as 3 or 4 threads (see example cases https://github.com/bios-seiji/realm-crash/blob/master/app/src/main/java/io/binarysolutions/realmtest/MainActivity.java#L29). The devices report ample physical memory available (dumpsys meminfo), and running the app with largeHeap enabled does not seem to help. I also dumped the

[2017-02-03 21:35] bmeike commented on #4140
My apologies!  I overlooked this line: `File directory = getContext().getExternalFilesDir(null);`

Although I don't think this is the problem, can you verify that you are using both `android.permission.READ_EXTERNAL_STORAGE` and `android.permission.WRITE_EXTERNAL_STORAGE` permission?

[2017-02-03 21:40] bmeike commented on #4140
Yes.  I can duplicate this on both the Nexus 4 5.1.1 and the Samsung Galaxy Tab 8.0

[2017-02-03 21:40] tmeunier commented on #4140
@bmeike No worries.

Yes, permissions are fine. Also, I'm able to create/read/write the Realm on the external storage, just compact is not working. And before upgrade to `2.3.0` it was working...

[2017-02-03 21:48] bmeike commented on #4140
Yep. I confirm.

[2017-02-03 21:52] bmeike commented on #4134
@LPFinch did you get a chance to send that code?

[2017-02-04 01:06] bmeike commented on #4140
I believe the error is beneath this call in shared_realm.cpp: `
Group& Realm::read_group()
{
    verify_open();

    if (!m_group) {
        m_group = &const_cast<Group&>(m_shared_group->begin_read());
        add_schema_change_handler();
    }
    return *m_group;
}
`

A casual review of the code doesn't show any relevant recent changes.

Also, the file *does* appear to be available, RW, for the

[2017-02-04 06:37] billrancho commented on #3662
great! that's what I m lookin 4.

[2017-02-04 13:27] mbalex99 commented on #3999
This seems odd because the RealmJS querying language is `NSPredicate` compatible? Correct me if I'm wrong.

This is from the JS doc:
[code]

@kneth The unified API is probably a superior experience. It'd make a lot of blogging and documentation consolidated into one language.

[2017-02-05 11:32] radzish commented on #3895
It still happened in 2.3.0 version on HUAWEI MT7-L09

[2017-02-06 00:25] AOrobator opened #4148 "Failure when converting to UTF-8"
I get the following crash in production using Realm 2.2.2. The application reads tags from song files and puts them into the realm database. I imagine the string of hex characters are the characters that make up the string. Is that correct? It seems like each character is 20 bits long so I'm not sure what encoding is being used. And what is error code 5?

[code]

#### Version of Realm and tooling

[2017-02-06 04:25] judemanutd opened #4149 "Realm instance has already been closed, making it unusable"
[https://stackoverflow.com/questions/42057566/realm-instance-has-already-been-closed-making-it-unusable](Realm instance has already been closed, making it unusable)

Sorry about linking my stackoverflow question but it seemed easier.

[2017-02-06 07:57] benj56 commented on #4097
@kneth Would very much appreciate it. I've been looking at #3834 every few days, but can't really tell the progress. Do you think a snapshot is ready within one-two weeks? Thanks!

[2017-02-06 08:57] kneth commented on #631
An unofficial plugin https://github.com/airamrguez/cordova-plugin-realm ("unofficial" as in "done by an awesome programmer not associated with Realm").

[2017-02-06 09:06] kneth commented on #3999
@mbalex99 A unified API for queries has positive sides, and it isn't alien to us. See also #3351.

Cocoa and Java have different approaches to migrations, and you could also wish for a unified approach:#2530

[2017-02-06 09:10] kneth commented on #4128
@bios-seiji The investigations have so far lead to https://github.com/realm/realm-core/pull/2426. We need to test more.

[2017-02-06 09:25] lionelatrecisio commented on #1011
Have you made a decision about ARC? Since ARC will be deployed to many chromebooks, it would be a good idea to support ARC :)

[2017-02-06 09:54] kneth commented on #4097
@benj56 #3834 is a big PR so reviewing it to a state where we can merge it, is taking longer than expected. I do hope that it is merged within two weeks from now!

[2017-02-06 10:24] cmelchior commented on #3975
Hi @levibostian Sorry for the late reply.
Are you able to share your project with us. I suspect you are seeing this due to some other factor not covered by the code you posted. If you want to do it privately, you can use help@realm.io ?

[2017-02-06 11:43] kneth commented on #4149
Realm Java 2.2.2 changed major classes to be non-final to help Mockito users. Which version do you use?

[2017-02-06 11:52] beeender commented on #3883
Unfortunately current `RealmResults` doesn't play well with Object Store collection fine grained notification.

The collection notification will be delivered immediately when advance read (eg.: calling `beginTransaction()`). See case like below:

[code]

When the 2nd `beginTransaction()` called, the Object Store will deliver the notification with 1 insertion in the change set. But at this point, t

[2017-02-06 12:00] Zhuinden commented on #4149
@kneth I don't think this question has anything to do with unit testing

[2017-02-06 12:05] Zhuinden commented on #1011
It could be a problem if Realm doesn't run on Chromebooks that run Android https://support.google.com/chromebook/answer/7021273?hl=en

[2017-02-06 12:43] kneth commented on #4148
The exception originates from the conversion of a Java string (16 bits) to a UTF8 string used by Realm Core. Error code 5 indicates that one character isn't valid (to be more precise, the first half of a surrogate pair is invalid). For example, you have `0x0020 0xDE00`. While `0xDE00` might be valid as second surrogate, the first surrogate must be greater than `0xD800` (and `0x0020` isn't).

Are y

[2017-02-06 12:46] LPFinch commented on #2567
Xiaomi Redmi 6.0.1
Realm 2.3.0, encryption is on
Sync and async queries

`02-06 14:03:17.077 25645-25645/? E/AndroidRuntime: FATAL EXCEPTION: main
                                                   PID: 25645
                                                   java.lang.Error: io.realm.exceptions.RealmError: Unrecoverable error. Bad transaction log in /home/cc/repo/realm/realm-java-release/realm/re

[2017-02-06 13:11] kneth commented on #4149
@Zhuinden My mistake - I was reading a question at Stackoverflow at the same time. @judemanutd Please ignore my comment ;-)

[2017-02-06 13:21] judemanutd commented on #4149
@kneth if it makes an difference now , i am using 2.3.0

[2017-02-06 13:23] kneth commented on #4149
`getDefaultInstance()` is not really able to return `null`. In error situations it will throw an exception. Can you set a breakpoint where you call `getDefaultInstance()` so to be sure that you actually calls it the second time?

[2017-02-06 13:31] Zhuinden commented on #4149
@kneth I've got `null` for Realm.getInstance() before when `˙context.getFilesDir()` returned null in `Application.onCreate()`, but that was back in 0.88.0

[2017-02-06 14:09] gpulido opened #4150 "Multi language schema generator / conversor"
I'm using Realm.io as db for an android project, and since the release of the mobile plattform I would like to use the same db schema in other languages (mainly node.js).

My schema is pretty big with a lot of classes and relations, that I must replicate in javascript.
I'm wondering if there any tool / way to transform from one language (java) to another (js in this case).

I'm thinking on somethi

[2017-02-06 14:22] Zhuinden commented on #4150
the Realm Browser for Mac OS should be able to do that

[2017-02-06 14:45] kneth commented on #4150
The Realm Browser doesn't support JavaScript yet but it is coming very soon: https://github.com/realm/realm-browser-osx/pull/272

[2017-02-06 14:47] gpulido commented on #4150
Hello,
Although it is nice to have such feature in the browser, I was thinking in a development tool / parser like the protobuff, so anytime the schema changed, it can generate versions for every language needed.

[2017-02-06 14:51] kneth commented on #4150
The alternative is that you open your Realm file as a `DynamicRealm`, traverse the schema, and generate the JavaScript definition: https://realm.io/docs/java/2.3.0/api/io/realm/RealmSchema.html

[2017-02-06 14:55] AOrobator commented on #4148
I am using `trim()` in my code. I'm modifying a realm model in a transaction when this exception occurs. Does this exception occur when I set the bad string as a field during the transaction or does it occur when Realm tries to commit the transaction? I ask because the last line of my code (Database.java:1435) is setting a concatenation of potentially trimmed strings that have already been set on

[2017-02-06 14:58] ZakTaccardi commented on #1011
I'd close this issue with the full support for the play store on Chromebooks

[2017-02-06 16:21] nhachicha commented on #4148
Hi @AOrobator
btw
[code]
will be translated to a `StringBuilder` with `append`s

I doubt your code will crash at this line since your model is still a POJO (un-managed Realm)
`MyRealmModel model = new MyRealmModel();` unless in your app you create the model differently, ex `realm.createObject(MyRealmModel.class)`

[2017-02-06 16:28] AOrobator commented on #4148
Just double checked, and I am creating the model with the constructor, not with realm. I guess the crash actually happens on `realm.copyToRealm(model);`? Again this happens in production, but I'll try to hunt down the input the causes this issue. Are there any suggested workarounds in the meantime?

[2017-02-06 18:04] bios-seiji commented on #4128
@kneth thats great. Do you have a testing build that I can run with our production tests to see if I can still trigger corruption?

[2017-02-06 18:49] nhachicha commented on #4148
@AOrobator
Finding the string that causes the crash might helps us reproduce the issue and investigate further, as this may be related to other String issue we have (ex: https://github.com/realm/realm-java/issues/2492)

as a work around you may want to store the UTF String as a byte array, then decoding it again.

[code]

note the `@Ignore` will not persist the field, but just use it at runtime (a

[2017-02-06 19:23] levibostian commented on #3975
@cmelchior I emailed the email address. Correct, the BadVersionException is not from the code I am talking about in this issue specifically.

[2017-02-06 19:49] cmelchior commented on #4150
We are also tracking this feature here https://github.com/realm/realm-mobile-platform/issues/24, where it probably makes more sense than to track it in the Java repo by itself. I'll close this as an duplicate, but please provide any information about your use case and how you see such a tool work in your workflow in the RMP issue.

[2017-02-06 19:49] #4150 closed

[2017-02-06 23:59] nhachicha commented on #3972
@beeender @kneth do we have this HUAWEI device or should we order one for tests?

[2017-02-07 04:22] beeender commented on #3972
@sabergeek I have a Huawei device, would you please share your apk somewhere so I can verify it on my device first? Hope I can reproduce it .

[2017-02-07 04:24] beeender commented on #2567
Potential fix for this https://github.com/realm/realm-core/pull/2426

[2017-02-07 05:07] cmelchior commented on #4144
Fixed by #4146

[2017-02-07 05:07] #4144 closed

[2017-02-07 08:28] zaki50 commented on #4148
I guess this issue was caused by invalid input string.
This can be easily reproduced by following code.

[code]

[2017-02-07 09:29] kneth commented on #4128
@bios-seiji Currently I am getting ready to test with your test app (no reason to involve you before I have done that).

[2017-02-07 09:40] kneth commented on #4148
The question is where `\u0020\ude00` comes from. I guess, only @AOrobator can answer.

[2017-02-07 09:47] Zhuinden commented on #4148
@kneth probably arabic

[2017-02-07 09:47] zaki50 commented on #4149
Since `DataRepository` keeps PoliticoDataRepository instance to static field, `DataRepository.getInstance()` might return old `PoliticoDataRepository` instance which contain closed Realm instance.
You should remove static field of `dataRepository` from `DataRepository`.

[2017-02-07 09:53] kneth commented on #3847
I'll close the issue. Don't hesitate to reopen or create new issue.

[2017-02-07 09:53] #3847 closed

[2017-02-07 10:22] kneth commented on #4093
I am closing the issue since #4142 wasn't able to reproduce it.

[2017-02-07 10:22] #4093 closed

[2017-02-07 10:31] kneth commented on #3972
I label it "Blocked" until @beeender has a chance to try to reproduce it.

[2017-02-07 11:45] zaki50 commented on #3971
Thanks @kageiit
I tried the first option last week but no success (IIRC). I'll confirm that later.
I'd like to avoid the second option. We are using groovy methods in many places...

[2017-02-07 11:50] kneth commented on #4128
I am currently running your app in a x86 emulator. So far, thread 1 is at 34k, thread 2 is at 13k and duration at 1102k.

@bios-seiji If you wish to try my custom build, please send an email to help@realm.io.

[2017-02-07 12:52] nhachicha commented on #4148
Thanks @zaki50 looks like an invalid char, I couldn't find it on http://www.fileformat.info
`u0020` is a space, `ude00`  is used in emoji, arabic & other symbols, ex http://www.fileformat.info/info/unicode/char/1f600/index.htm  but the combination of both (`\u0020\ude00`) doesn't exist AFAICT

[2017-02-07 13:07] zaki50 commented on #4148
@nhachicha Yes. In UTF-16, DE00 is a low surrogate and it must follow high surrogate (D800 to DBFF).
https://en.wikipedia.org/wiki/UTF-16#U.2BD800_to_U.2BDFFF

[2017-02-07 13:28] AOrobator commented on #4148
I'll work on getting the string, but I would assume that the byte array can't be searched for text? I was using it as a search key...

[2017-02-07 14:39] chronvas commented on #672
+1

[2017-02-07 14:40] bmeike opened #4152 "Fix JavaDoc build warnings"
The `realm-library` JavaDoc no longer builds.

#### Goal

Generate documentation for the `realm-library` package

#### Expected Results

JavaDoc builds successfully

#### Actual Results

[code]
#### Steps & Code to Reproduce

./gradlew assemble

#### Version of Realm and tooling
Realm version(s): 2.4.0-SNAPSHOT

Realm sync feature enabled: NA

Android Studio version: 2.2.3

Which Android version a

[2017-02-07 14:56] dalinaum commented on #4152
Maybe I've broken something. I should look this issue for a while now.

[2017-02-07 22:29] JamesMcIntosh commented on #3492
I encountered the same problem with the proxyState.getRow$realm().isNull() throwing the SIGSEV because a focus listener on a text field fired after having just deleted the RealmObject.

Finding the cause of the SIGSEV is a real pain as you have to breakpoint the all the generated MyClassRealmProxyrealmGet$myField() methods to be able to catch it before it crashes.

[2017-02-07 22:39] nhachicha commented on #4148
unfortunately no, you can't query on the byte array

[2017-02-07 22:45] Zhuinden commented on #4148
What exactly determines if Realm believes a String from Java to be "invalid"?

[2017-02-07 23:00] levibostian commented on #3975
I am talking with someone on the help@realm.io email address about the BadVersionException issue.

About the original issue, I have created a solution that still works:

[code]

I do a realm write transaction in background and then immediately after I am doing a realm query on the UI thread waiting until the data.count > 0 which indicates that the data is available on the UI thread realm instance.

[2017-02-08 01:57] realm-ci opened #4153 "Fix merge from 7c92d7 to master"

[2017-02-08 04:23] sabergeek commented on #3972
@beeender I'll send it to you privately. Any email ID you can share?

[2017-02-08 06:34] dalinaum commented on #4152
I got the following message:

[code]

But it seems generating JavaDoc.

When I tried v2.2.0, I got the following message:

[code]

Although the number of warnings are smaller, it has same problem. I think it seems false warnings.

@realm/java

[2017-02-08 08:39] Zhuinden commented on #3975
I think you probably meant `isLoaded()`

[2017-02-08 08:44] kneth commented on #4152
The `io.realm.internal` classes are included in the documentation and the warnings originate from references to those, right?

[2017-02-08 08:47] kneth commented on #3972
@sabergeek Please send it to help@realm.io.

[2017-02-08 08:48] kneth commented on #4148
If it doesn't conform to the unicode specification.

[2017-02-08 10:02] lkishor commented on #3972
Hi all,

I am also getting this issue:

Permission denied in /home/cc/repo/realm/realm-java-release/realm/realm-library/src/main/cpp/io_realm_internal_SharedRealm.cpp line 87
Realm V 2.2.2

on

Lenovo S1a40
&
HTC Desire 526GPLUS dual sim
in
Activity.onCreate()

[2017-02-08 10:53] krunal-panchal commented on #1815
Yes, that worked.

[2017-02-08 11:52] saeedrooyekhat opened #4154 "Realm Migration Code When User Don't Have Any Data"
when i create realm database and don't have any data from past , after set default configuration and getDefaultInstance i get an error "The 'RealmClientCondition' class is missing from the schema for this Realm" ! . but when i have some data in realm from the past never i get any error like this?

my sample code
[code]

if i use from this code in first time also i don't get error
[code]

RealmMigr

[2017-02-08 12:14] cmelchior commented on #4154
[code]

This code is most likely wrong. Setting `deleteRealmIfMigrationNeeded()` will mean your migration function is never triggered.

Regarding: `RealmClientCondition`. At what version did you add this class? If it was after the initial version, it doesn't look like you are adding it in the migration code?

[2017-02-08 12:22] saeedrooyekhat commented on #4154
i add RealmClientCondition in schema 1. when i run app again have same error with different RealmObjectClass. like this "The 'RealmUserInfo' class is missing from the schema for this Realm".
If I install the application before and install the new one I don't get this error.

[2017-02-08 13:04] realm-ci opened #4156 "Fix merge from 97fdf6 to master"

[2017-02-08 13:14] poly-sb opened #4157 "error Realm access from incorrect thread"
I cannot figure out why this code give me a 'error Realm access from incorrect thread'.

I instantiated my dao on the main thread of my BaseActivity.
[code]

Here the body of my dao:
[code]

On my child activity I use the instance from my BaseActivity to persist my entity.
[code]
Realm version: io.realm:realm-gradle-plugin:2.2.1
Realm sync feature enabled: no
Android Studio version: 2.2.2

[2017-02-08 13:21] Zhuinden commented on #4157
If `MyEntity` is a managed object queried from the main thread, then accessing it in `executeTransactionAsync()` that runs on a background thread will fail.

[2017-02-08 13:25] poly-sb commented on #4157
ok sorry I just update my code.

[2017-02-08 13:31] cmelchior commented on #4157
It happens because you create the Realm instance in the constructor. It means the Dao is tied to whatever thread created the Dao in the first place. If you call the Dao from many threads, you should get the instance in each of your Dao methods.

[2017-02-08 13:35] poly-sb commented on #4157
@cmelchior all right but I'm actually creating and retrieving the instance from the main thread right!?

[2017-02-08 13:40] cmelchior commented on #4157
Yes, from the code you posted it looks like it. I would try to move it into the `removeEntity` method though, just to verify that assumption.

[2017-02-08 13:54] cmelchior commented on #4154
The schema starts at version 0, so if you add that class in v1, you are missing it from your migration code. You need to add the new class like this: https://github.com/realm/realm-java/blob/master/examples/migrationExample/src/main/java/io/realm/examples/realmmigrationexample/model/Migration.java#L93

[2017-02-08 14:14] poly-sb commented on #4157
Calling runOnUiThread inside the removeEntity Fail too.
Actually I try this and it work.

[code]
It should be the cause of the websocket callback which is created from a background service my two cents.

from [here](http://stackoverflow.com/questions/19366301/run-callback-on-main-thread)

[2017-02-08 14:18] #4157 closed

[2017-02-08 14:25] saeedrooyekhat commented on #4154
i used schema 1 from first launching in this app and have RealmUserInfo or another RealmObjects in that version  @of schema .

[2017-02-08 14:59] adamfaryna commented on #672
+1

[2017-02-08 15:38] kneth commented on #3651
By aligning compiler options (https://github.com/realm/realm-core/pull/2428), I have not been able to reproduce the crash.

[2017-02-08 16:58] Zhuinden commented on #3651
This has to be the strangest bug of the century.

[2017-02-08 17:46] PiotrWpl commented on #3651
@kneth is this "fix" a part of today's release Realm 2.3.1 for Android?

[2017-02-08 19:39] levibostian commented on #3975
I read [the docs](https://realm.io/docs/java/latest/api/io/realm/RealmObject.html#isLoaded--) for `isLoaded`. I think I know what you mean for using it:

[code]

Is this the use you were talking about @Zhuinden? It didn't make the code much more simple but it was another way of writing it.

[2017-02-08 19:45] Zhuinden commented on #3975
I'm a bit skeptical. If `findFirstAsync()` returns an invalid value (object not found in database), your subscriber will never complete, and hte Realm instance will never be closed.

[2017-02-08 19:50] bmeike commented on #4154
Hey @saeedrooyekhat,

There may be some confusion about what it means to "migrate" a database.  We intend "migration" to mean modifying an existing database to add additional data.  It may, under some circumstances, be possible to delete the existing database and recreate it, with the new extensions.  This is not migration and if you use this strategy, you do not need to specify a `.migration()` c

[2017-02-08 19:50] #4154 closed

[2017-02-08 20:04] bmeike commented on #3975
Hey @levibostian,
  I'd like to close this discussion.  It is getting pretty diffuse.  We are tracking the `BadVersionException` issue in private email.  If there is anything else, at all, that we can help you with, I think it might be better to open a new, more focused, ticket.  Please don't hesitate to do that!

[2017-02-08 20:04] #3975 closed

[2017-02-08 20:46] bmeike commented on #4134
@LPFinch Please forward your code to help@realm.io and re-open this ticket if there is anything further we can do for you.

[2017-02-08 20:46] #4134 closed

[2017-02-08 20:48] bmeike commented on #4136
@timur-st94 Is there anything else we can do for you?  I'd like to close this ticket, if not.

[2017-02-08 21:03] bmeike commented on #4149
Answered here and on GitHub.  Closing.

[2017-02-08 21:03] #4149 closed

[2017-02-09 07:02] gpulido opened #4159 "Duplicate items in RealmList with sync"
I'm already aware that the RealmList doesn't give support to avoid duplicate entries, and is up to the creating / modification logic of each case to avoid introducing duplicate elements on a RealmList.
In my application, the first time an user opens a Realm I use the initialData method to populate basic data.
I'm using primarykeys all over the objects.

The problem is when I'm starting to use the

[2017-02-09 07:34] hongjingzhou commented on #4148
@kneth could REMLM  just catch this exception inside or more friendly (just skip the invalid character but leave others) , otherwise REALM users need to add try-catch block every time update string date into REALM since the input string could comes from everywhere.

[2017-02-09 07:57] saeedrooyekhat opened #4160 "Detect Migration Need Or Not"
i want migrate realm db and add two fields. i used from this migration code

[code]
and there is no problem . my realm db migrated after install new app over older version. but if i uninstall older version app realm info will be cleared , and finally after install new version with new schema i get this error

[code]

in schema 2 i just add two fields and all of the other RealmObjects and fields wa

[2017-02-09 08:11] Zhuinden commented on #4160
You can check the schema version by opening the Realm as a DynamicRealm.

[2017-02-09 08:45] realm-ci opened #4161 "Fix merge from f6343b to master"

[2017-02-09 08:53] kneth commented on #4148
@hongjingzhou I can see the point in relaxing the requirements but skipping character is a bit like data loss (`str != getString(setString(str))`).

In general, strings on Android is a bit messy, see for example https://github.com/android-ndk/ndk/issues/283

[2017-02-09 09:06] hongjingzhou commented on #4148
@kneth Got your point and thanks for your kindly reply.

[2017-02-09 09:43] cmelchior commented on #4160
[code]

This will give you the current version of the Realm without forcing an upgrade.

[2017-02-09 11:13] sandeepkandra opened #4162 "Hi,Questions: I have an issue in realm. Please me out, Bug: I am using 'io.realm:realm-gradle-plugin:1.1.0' gradle, realm data is cleared in my app in the device google pixels (Android 7.0 Nougat), I am not deleting realm and clearing chache."
#### Goal

#### Expected Results

#### Actual Results

#### Steps & Code to Reproduce

#### Code Sample

[code]

#### Version of Realm and tooling
Realm version(s): ?

Realm sync feature enabled: yes/no

Android Studio version: ?

Which Android version and device: ?

[2017-02-09 11:25] sandeepkandra opened #4163 "Realm data deleted when app relaunches"
I have an issue in realm. I am using  gradle  version '1.1.0' in android , saved data didn't appear when app relaunched in the device google pixels (Android 7.0 Nougat) after  app killed using task manager, I am not deleting realm and clearing cache.

[2017-02-09 11:36] Zhuinden commented on #4163
Please put the issue inside the issue template, not into the question

also include code sample where you experience your problem

http://stackoverflow.com/questions/39250695/realm-database-is-always-empty-after-restart/39263327#39263327

[2017-02-09 11:53] Zhuinden commented on #4162
duplicate of https://github.com/realm/realm-java/issues/4163

[2017-02-09 12:30] kneth commented on #3651
@PiotrWpl Unfortunately Realm Core + Realm Sync were not released prior to Realm Java 2.3.1. It's likely to hit Realm Java soon (at least as a snapshot release).

[2017-02-09 12:32] kneth commented on #4152
I have seen a 10+ years unmaintained doclet at some point but didn't have time to get it to work.

[2017-02-09 13:45] cmelchior commented on #4159
Yes, the problem is that `RealmList` is just an ordered collection, but doesn't provide Set semantics. We are tracking `Set` as a feature here: #759

In our RealmTask app we use this workaround for deleting duplicates currently: https://github.com/realm/RealmTasks/blob/master/RealmTasks%20Android/app/src/main/java/io/realm/realmtasks/TaskListActivity.java#L81

[2017-02-09 13:58] gpulido commented on #4159
Thank you for the tip.
I hope that the set could be implemented soon as my basic data have a lot of list, and to traverse all the list checking for duplicates is cumbersome.
Just for be sure, this problem will appear anytime two clients add an element to a one shared list, is there any way to be notified when sync data is being received?
If I add a changelistener, I'm receiving all notifications,

[2017-02-09 14:10] Zhuinden commented on #4163
Realm clear shouldn't happen unless you either do:

1.) deleteIfMigrationNeeded() and then modify the schema

2.) use inMemory() realm and your process died at some point

3.) call Realm.deleteAll() somewhere in your code

4.) you manually delete the Realm file

-----

Please find which applies to you, this is most likely an error in your code, or just not being aware of what `deleteIfMigrationNee

[2017-02-09 14:31] sandeepkandra commented on #4163
OK will check, thank you

On Feb 9, 2017 7:40 PM, "Gabor Varadi" <notifications@github.com> wrote:

[2017-02-09 14:37] #4162 closed

[2017-02-09 17:57] bmeike commented on #4163
@sandeepkandra
  Would you please fill out the issue template.  It is pretty nearly impossible for us to make any guess about how to fix your issue, when all we have to go on it "it doesn't work!".  We created that template exactly to help you give us enough information so that we can help you.

[2017-02-09 18:22] levibostian commented on #3975
@Zhuinden, I do understand your point, however, (1) there is no other way to do it and (2) there should never be an instance that this situation would occur (I stress *should*, haha). If I am indeed creating a new object in realm and realm does not throw an exception, I can safety assume that this code will succeed, subscriber will complete, and realm instance will close.

[2017-02-09 18:26] bmeike commented on #4159
@gpulido:

Yep.  Working on it!

Yes, in your implementation, that is true.  The issue is more general than that, of course.  A single client could add the same initialization data, twice, thrice, or many times, creating duplicate records.  One suggestion is that you consider a design in which initialization data is obtained from the server, not generated on the client.  If it is not generated mul

[2017-02-09 18:26] #4159 closed

[2017-02-09 18:42] bmeike commented on #4136
@timur-st94 Closing this ticket.  Please feel absolutely free to re-open it, or to open a new ticket, if there is more that we can help you with!

[2017-02-09 18:42] #4136 closed

[2017-02-09 19:06] bmeike commented on #3972
@sabergeek @lkishor We have been unable to reproduce this bug.  We need your assistance!  @beeender has a Huawei device.  If one of you can send us an apk that will enable us to see the problem we'd be eternally grateful.

[2017-02-09 21:36] lappalj4 opened #4166 "Please add more examples of queries to documentation"
Hi, not sure where to post this as it is kind of a feature request/ question combined.

Anyways, I've been having difficulties building complex queries with Realm, as the documentation for query modifiers such as not() is not very extensive. Personally, I find examples to be the best way to understand how something works. This is the only part in your documentation that discusses the use of not():

[2017-02-09 21:41] MikeKasperlik opened #4167 "llegal Argument: Invalid type"
We got a strange crash for multiple of our users currently. This is 100% HUAWEI although we have way more users with other devices.

#### Expected Results

No crash

#### Actual Results

[code]

#### Steps & Code to Reproduce

RealmObject:
[code]

Query:
[code]

#### Version of Realm and tooling
Realm version(s): 2.3.0

Realm sync feature enabled: no

Android Studio version: 2.2.3

Which Android v

[2017-02-09 21:41] Zhuinden commented on #4166
You need to open and close the group with `beginGroup` and `endGroup`, and put the `not()` operator AFTER `endGroup()` to negate the whole subcondition

[2017-02-09 21:43] Zhuinden commented on #4167
Is this distinct inside a transaction?

[2017-02-09 21:44] MikeKasperlik commented on #4167
No

[2017-02-09 21:53] Zhuinden commented on #4167
Do you have any transaction inside this Sync adapter? If yes, consider moving queries into the transaction.

[2017-02-09 22:09] MikeKasperlik commented on #4167
We do have multiple transactions in this SyncAdapter. I will try if wrapping the query into a transaction helps. Is this documented anywhere?

[2017-02-09 23:37] Zhuinden commented on #4167
This is just a wild guess from my part, but a write transaction keeps the Realm at "the latest version" in which case I would assume you can't accidentally end up with an invalid index. However this could also be a core bug, only a true Realm person would know.

[2017-02-10 02:50] yshrsmz commented on #2459
Update: I myself got this error on debug build after leaving the app open for over a day. (The situation is same as previous one. not trying to update/install, should be no other process)

As well as usual `Realm file is currently open in another process...` error message, I found that the following message was there everytime I see `Realm fie is currently open in another process...` message.

[co

[2017-02-10 03:39] yshrsmz commented on #2459
Actually this is happening on a device currently attached to Android Studio(yes, I can put break point!).
So I think I can provide more info if you tell me what to do.

[2017-02-10 07:24] beeender commented on #2459
@yshrsmz hi!! sorry, i just saw your response! Is the debugger still attached?
Can you please do a `adb shell lsof > lsof_output.txt` and send the output file to me?

[2017-02-10 07:43] yshrsmz commented on #2459
@beeender just sent a mail to help@realm.io
Subject is "About realm-java #2459"

[2017-02-10 08:32] kneth commented on #4167
@MikeKasperlik How often does it fail on those devices? I mean, does it happen every time or only on rare cases?

[2017-02-10 08:35] MikeKasperlik commented on #4167
Only sometimes. At ~6% of all Sessions of the affected devices.

[2017-02-10 09:09] kneth commented on #4166
@lappalj4 The section on queries in our documentation is only a rough overview, and we should probably expand it.

@Zhuinden I hope you mean BEFORE.

[2017-02-10 09:15] kneth commented on #4166
@lappalj4 Our other products (Realm Cocoa and Realm JavaScript) have string based query language. See for example https://realm.io/docs/javascript/latest/#queries. It's a subset of Apple's NSPredicate. Do you think it would be easier to use such a query language instead for the fluent interface as we have now?

[2017-02-10 11:18] gpulido commented on #4159
@bmeike thank you for the answer.
I have a question regarding this use case.

You suggest  to use an initialization data from the server. However the server is just the Realm Mobile Platform, so I need a "first" client to generate this data to be synchronized. On local realms, I used to  review if there are any data and if not, just create it.

But now, when a client is first connected to the RMP

[2017-02-10 11:40] beeender commented on #4167
@MikeKasperlik I re-checked our test cases on Huawei Hornor 7 (PLK-AL10) device, no crash can be found. Can you please share your apk with use privately so we can test it? to help@realm.io . Also please let us know the possible reproduce steps. Thanks!

[2017-02-10 12:00] realm-ci opened #4169 "Fix merge from 1ad27e to master"

[2017-02-10 12:32] judemanutd opened #4170 "Android Studio Strict Mode Unable to Locate Error"
Could someone tell me if realm is causing the issue in my code here.

[https://stackoverflow.com/questions/42159421/android-studio-strict-mode-unable-to-locate-error](Android Studio Strict Mode Unable to Locate Error)

[2017-02-10 12:34] Zhuinden commented on #4170
No, your crash is SQLite Cursor related, but Realm does not use SQLite.

[2017-02-10 12:36] #4170 closed

[2017-02-10 12:36] judemanutd commented on #4170
@Zhuinden Thank you for your prompt reply.

[2017-02-10 13:25] biliboss commented on #3651
I'll send a bottle of whisky 🥃

[2017-02-10 13:26] Zhuinden commented on #3651
2.3.2-SNAPSHOT ought to have it.. soon?

[2017-02-10 13:37] kneth commented on #3651
I have merged the update to the `releases` and `master` branches so snapshots are being build currently.

[2017-02-10 13:58] kneth commented on #3651
The 2.4.0-SNAPSHOT is ready.

[2017-02-10 15:24] jonasbark commented on #3651
Integrated the snapshot as
`classpath "io.realm:realm-gradle-plugin:2.4.0-SNAPSHOT"`
Unfortunately the app still crashes on a Galaxy S3 mini:

[2017-02-10 18:33] bmeike opened #4171 "Improve query documentation to include examples of `not`, `beginGroup` and `endGroup`"
As is obvious from the discussion here:

https://github.com/realm/realm-java/issues/4166

.. figuring out how these three query predicates work is too hard

[2017-02-10 18:34] bmeike commented on #4166
@lappalj4 Do you have what you need?  Can you proceed now?  I have opened https://github.com/realm/realm-java/issues/4171 to track improving our doc.  I'm going to close this ticket but you should feel absolutely free to reopen it or to open a new ticket, if there is more that we can do for you

[2017-02-10 18:34] #4166 closed

[2017-02-10 22:09] bmeike commented on #4163
Hey @sandeepkandra !
  Do you have anything else for us?  If there is nothing else with which we can help you, we should close this ticket...

[2017-02-10 22:10] bmeike commented on #4160
Hey @saeedrooyekhat !
  Can we be of any more assistance?  If not, we should close this ticket.

[2017-02-10 22:12] bmeike commented on #4148
Awaiting investigation by @kneth during the week of Feb. 13.

[2017-02-10 22:34] bmeike commented on #4045
This issue is on hold, pending @beeender 's investigation.  No ETA yet.

[2017-02-11 04:29] sabergeek commented on #3972
@bmeike @kneth @beeender I just sent in a mail on help@realm.io with the details and a link to the APKs. Apologies for the delay! Do let me know if you need more info.

[2017-02-11 05:25] bubakazouba commented on #761
Wow 2 years

[2017-02-11 07:52] #4163 closed

[2017-02-11 09:07] Zhuinden commented on #761
it is a complicated problem, and using common interfaces is a fairly simple workaround

[2017-02-11 18:03] mrtysn commented on #1616
:thumbsup:

[2017-02-11 20:11] itxuye opened #4173 "Gson StackOverflow ,when use primarykey"
I got this problem.
`java.lang.StackOverflowError
                                                                               at com.google.gson.internal.$Gson$Types.resolve($Gson$Types.java:378)
                                                                               at com.google.gson.internal.$Gson$Types.resolve($Gson$Types.java:383)

[2017-02-11 20:12] itxuye commented on #4173
Here is my bean.
`public class InventoryBean extends RealmObject {

  /**
   * code : XL10010
   * location : JC001
   * time : 2016-12-21 23:13:34
   */
  @PrimaryKey
  private String code;
  private String location;
  private int type;
  private String time;

  public int getType() {
    return type;
  }

  public void setType(int type) {
    this.type = type;
  }

  public String getCode() {

[2017-02-11 20:18] Zhuinden commented on #4173
1.) you are most likely using an old version of Realm

2.)

    Gson gson = new GsonBuilder()
        .setExclusionStrategies(new ExclusionStrategy() {
            @Override
            public boolean shouldSkipField(FieldAttributes f) {
                return f.getDeclaringClass().equals(RealmObject.class);
            }

            @Override
            public boolean shouldSkipClass(Class<?> c

[2017-02-11 20:24] itxuye commented on #4173
@Zhuinden  I used realm 2.3.0version .And i also have used the gsonbuilder.I want gson.toJson(List<XXXX>) and have used all the doc but didn't work.

[2017-02-11 20:31] itxuye commented on #4173
@Zhuinden I should post list like this .
` @POST("api/v1/tools/inventory")
  Observable<Response<InvenoryResultBean>> doInventory(
      @Body List<InventoryBean> inventoryBeanList
 );`

[2017-02-11 20:38] AOrobator commented on #4148
@kneth The broken string comes from a broken ID3v2 tag. More info is available here: https://github.com/taglib/taglib/issues/801

[2017-02-11 20:39] itxuye commented on #4173
`Subscription subscribe = dbHelper.queryInventoryBean()
        .asObservable()
        .filter(RealmResults::isLoaded)
        .flatMap(
            new Func1<RealmResults<InventoryBean>, Observable<Response<InvenoryResultBean>>>() {
              @Override public Observable<Response<InvenoryResultBean>> call(
                  RealmResults<InventoryBean> inventoryBeen) {
                return z

[2017-02-11 20:42] Zhuinden commented on #4173
Please format your code a bit better because currently I can't really read it

Use 3 backticks like ` ` ` java

[code]

but with whitespaces and stuff

[2017-02-11 20:47] itxuye commented on #4173
@timanglade Sorry.

[2017-02-11 20:48] itxuye commented on #4173
[code]

[2017-02-11 21:02] itxuye commented on #4173
@Zhuinden Thank you .I have solved the problem.
I used
[code]

[2017-02-11 21:03] Zhuinden commented on #4173
You need to replace `return zzjxRetrofitClient.doInventory(inventoryBeen);` with `return zzjxRetrofitClient.doInventory(realm.copyFromRealm(inventoryBeen));

Oh you've just solved it, whoops

[2017-02-11 21:05] itxuye commented on #4173
@Zhuinden Thanks a lot. This is my first time to use realm .It's a great tool.

[2017-02-11 21:23] #4173 closed

[2017-02-12 06:51] wshunli opened #4174 "Invalid argument `EINVAL` when opening Realm on Xiaomi Mi5's external storage"
Configuring a Realm directory .

I have the permission

     uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"

Java:

        RealmConfiguration myConfig = new RealmConfiguration.Builder()
                .name("myrealm.realm")
                .directory(new File("/storage/emulated/0/Realm"))
                .build();

        Realm myRealm = Realm.getInstance(myConfig);

L

[2017-02-12 08:45] ZeroBrain opened #4175 "[suggestion] For RxJava2"
these day RxJava2 has released, still Realm support RxJava1

I tried to change it to RxJava2. but Realm has some issues for legacy code.
for it, I think Realm should change many codes of relation of RxJava.

so I suggest how to change it.
my suggestion is like Retrofit2's style.

Retrofit2 has `CallAdapterFactory`.
`CallAdapter` implements `return value` by users as third party developers.

If use

[2017-02-12 09:59] Zhuinden commented on #4175
Considering Retrofit has the luxury of generating a a dynamic proxy at runtime which actually uses the configuration provided as `AdapterFactory`, I don't see how the API would look like with the Realm instance that directly returns a `RealmResults`.

I do not see where `AdapterFactory` fits in.

[2017-02-12 10:00] Zhuinden commented on #4175
BTW, duplicate of https://github.com/realm/realm-java/issues/3497

[2017-02-12 10:08] saeedrooyekhat commented on #4160
@cmelchior thank you for your solution. it worked!

now i use from this code

[code]

when version is -1 i don't user migrate and otherwise use from migration.

[2017-02-12 11:00] ZeroBrain commented on #4175
alright, I will follow up #3497.

[2017-02-12 11:01] #4175 closed

[2017-02-12 14:30] #4160 closed

[2017-02-13 03:36] KimiChiu opened #4176 "Not a Realm file and Native exception"
Hi,
My crash report keeps receiving these exceptions from some users.
But it never happened on my test device or emulator.
What is the possible cause?

Here's how I write data to Realm:
[code]

Here's how I read data from Realm:
[code]
It looks like the user has to remove the app or clear all data to make realm works again.
Is this means the Realm database is crashed?

Firebase Crash Report:

Nati

[2017-02-13 03:38] beeender commented on #4176
Did you use encryption?

[2017-02-13 03:42] KimiChiu commented on #4176
No, I don't.
Forgot the realm configuration.
[code]

[2017-02-13 03:53] beeender commented on #4176
Might be the same problem with compactRealm. Checking ...

[2017-02-13 07:27] beeender commented on #4174
@wshunli Can you please confirm you can actually write any file to `/storage/emulated/0/Realm` on that device? I think you need to use `Context.getExternalFilesDir()` instead of a specific dir on external storage. On recent Android device, you may not have write permission on the emulated external storage.

See https://developer.android.com/reference/android/content/Context.html#getExternalFilesDi

[2017-02-13 07:37] beeender commented on #4117
@AamirAbro I have blackberry Z10. if you can share your apk, i can try to check what the problem is. You can put the apk file anywhere we can get, or send it privately to help@realm.io.

[2017-02-13 07:47] kneth commented on #3651
@jonasbark Thanks for the feedback. It looks like a different error, and `HEAP MEMORY CORRUPTION IN dlmalloc` sounds a bit alarming.

Is your device an I8190 or I8200?

[2017-02-13 07:49] jonasbark commented on #3651
@kneth I8200. The crash only happens with Realm 2, which is why I thought it could be a similar problem.
Should I open up a new ticket?

[2017-02-13 07:55] kneth commented on #3651
@jonasbark Yes please. I think we have an I8200 at the office so I can try to reproduce it.

[2017-02-13 08:01] wshunli commented on #4174
@beeender After my test ,i have write permission on the emulated external storage. I think that is not a matter of permission .Before that I have found the file that related to `Realm  `in the `/storage/emulated/0/Realm`. And `/storage/emulated/0/Realm`is from `android.os.Environment.getExternalStorageDirectory() + "/Realm"`.

[2017-02-13 08:38] kneth commented on #4148
@AOrobator Thanks for providing the context. It will definitely make it easier to reproduce/debug!

[2017-02-13 10:00] beeender commented on #4174
See https://developer.android.com/reference/android/os/Environment.html#getExternalStorageDirectory()

Does it work if you use:
[code]

[2017-02-13 10:01] beeender commented on #4176
https://github.com/realm/realm-core/pull/2426 may fix this.

[2017-02-13 10:16] beeender commented on #3972
INTERNAL INFORMATION: https://secure.helpscout.net/conversation/318133134/8775/?folderId=539748

Cannot reproduce on Huawei Honor 7 :(

[2017-02-13 10:22] wshunli commented on #4174
@beeender
It doesn't work.
Perhaps the problem is my cell phone , because  it is normal in the simulator .

[2017-02-13 11:55] beeender commented on #4174
It seems some system we use failed with:

[code]

@wshunli would you please try to run the attached apk file on your Xiaomi Mi5 device and get the log for us? (It should crash if you test crashes with `getExternalFilesDirs()`)

[realm-external-test.apk.zip](https://github.com/realm/realm-java/files/770919/realm-external-test.apk.zip)

[2017-02-13 12:05] Zhuinden commented on #4174
@wshunli did you obtain Runtime Permission to write to external storage?

[2017-02-13 12:09] wshunli commented on #4174
02-13 20:05:04.642 1076-2613/system_process I/ActivityManager: START u0 {act=android.intent.action.MAIN cat=[android.intent.category.LAUNCHER] flg=0x10200000 cmp=io.realm.realmtest/.MainActivity (has extras)} from uid 10030 on display 0
		02-13 20:05:04.674 1076-1219/system_process W/BroadcastQueue: Permission Denial: receiving Intent { act=com.android.launcher3.action.LAUNCH flg=0x10 (has extras)

[2017-02-13 12:15] wshunli commented on #4174
@Zhuinden
My application's `targetSdkVersion `is 21 .

	compileSdkVersion 25
	buildToolsVersion "25.0.2"

	minSdkVersion 15
	targetSdkVersion 21

[2017-02-13 13:05] Konsumierer commented on #3651
@kneth, just ordered an I8200N on ebay. Will report back as soon as it gets here.

[2017-02-13 13:11] kneth commented on #3651
And I remembered wrong: it's an I8190, we have at the office.

[2017-02-13 13:15] jonasbark opened #4177 "Samsung Galaxy S3 mini: Heap memory corruption"
Samsung Galaxy S3 mini (i8200N)

Trying to use Realm v2 we're getting the following crash:

[code]

A more complete crash log that happened on version 2.4.0-SNAPSHOT:
https://gist.github.com/jonasbark/26fbd60062ed9af981a3d0b19f91c62d

It does not happen with e.g. 0.90.1.

[2017-02-13 13:15] jonasbark commented on #3651
@kneth @Konsumierer created the issue:
https://github.com/realm/realm-java/issues/4177

[2017-02-13 13:27] kneth commented on #4177
@jonasbark Do you use encryption?

[2017-02-13 13:30] jonasbark commented on #4177
No, nothing like that.

This is the complete initiation part:
[code]

[2017-02-13 13:37] beeender commented on #4174
Parsed backtrace:
[code]

[2017-02-13 14:01] kneth commented on #4177
Parsing the log:

[code]

[2017-02-13 14:05] Zhuinden commented on #4177
This is from the old error:

    frame #0: 0x5e61ea68 librealm-jni.so`realm::ArrayString::set(unsigned int, realm::StringData) + 162
    frame #1: 0x5e640c1e librealm-jni.so`realm::Group::do_get_or_add_table(realm::StringData, bool (*)(realm::Spec const&), void (*)(realm::Table&), bool*) + 154

Something's really up with that poor `ArrayString`.

[2017-02-13 14:12] beeender commented on #4174
@wshunli What is your ROM version? Is it the stock ROM from Xiaomi? Or some 3rd party ROM? What is your phone model? The 32GB version or the 64GB version?

[2017-02-13 14:15] kneth commented on #4177
Yes, indeed it looks like it. And it is odd, since we still have the work-around in place.

[2017-02-13 14:16] lohnn opened #4178 "Realm crashes app on first run when using Realm version 2.2.2-2.3.1"
Hi.

We've got a problem when using Realm version 2.2.2 or (so far) all 2.3.x versions in Android.
We initialize Realm from a ContentProvider:

[code]

All is fine and dandy in debug builds, but as soon as we do a release build using Realm 2.2.2 or 2.3.x it crashes the first time we use the Realm database. After a restart however, everything seems to be working again.

#### Stacktrace
[code]

Remo

[2017-02-13 14:18] wshunli commented on #4174
@beeender
3rd party ROM : LineageOS
http://lineageos.org/

64GB version.

[2017-02-13 14:21] Zhuinden commented on #4178
You're going to hate my question, but can you try running `Realm.init(Context)` and the others before `super.onCreate()` in a `BaseActivity`?

[2017-02-13 15:39] lohnn commented on #4178
@Zhuinden That does fixe the crash.
However, we are using Realm in a library project, that we don't always have included in our apps. Hence the reason for us to initialize Realm in a ContentProvider.

[2017-02-13 17:08] Zhuinden commented on #4178
I guess underlying issue is that `contentProvider.getApplicationContext().getFilesDir()` returns `null` for default `directory()` parameter.

[2017-02-13 20:59] mikeyxkcd commented on #759
+1

[2017-02-14 07:01] beeender commented on #3034
Complain from SO http://stackoverflow.com/questions/42208219/android-build-time-is-too-long-due-to-more-tables-in-realm-database

[2017-02-14 07:44] beeender commented on #4178
@Zhuinden
I am a bit lost. When would the `contentProvider.getApplicationContext().getFilesDir()` return `null`?

@lohnn
What is the `context` passed to `initialize`?

[2017-02-14 07:53] lohnn commented on #4178
@beeender
[code]

[2017-02-14 07:55] lohnn commented on #4178
@beeender
ContentProvider.this.getApplicationContext() in onCreate of the ContentProvider.

[2017-02-14 08:42] beeender commented on #4178
@lohnn I added the `path` information to the `RealmFileException` in https://github.com/realm/realm-java/pull/4180 .

Is it possible for you to share the release apk file with me so i can replace the `so` file and repack the apk to get some more information to debug? Send it to help@realm.io if you can share it privately. Thanks a lot.

[2017-02-14 09:06] beeender commented on #4174
Tested with on Mi5 with MiUI 8.1, the issue cannot be reproduced.
It looks like a LineageOS ROM issue.

[2017-02-14 11:00] radzish opened #4182 "Permission denied in /home/cc/repo/realm/realm-java-release/realm/realm-library/src/main/cpp/io_realm_internal_SharedRealm.cpp"
Posting new issue as old one was closed, but is still actual.
Realm version used: 2.3.0
Device: HUAWEI MT7-L09
Trace:
`
Exception io.realm.exceptions.RealmError: Unrecoverable error. Permission denied in /home/cc/repo/realm/realm-java-release/realm/realm-library/src/main/cpp/io_realm_internal_SharedRealm.cpp line 92
io.realm.internal.SharedRealm.nativeGetSharedRealm (SharedRealm.java)
io.realm.int

[2017-02-14 11:19] beeender commented on #4182
@radzish
1. How does your `RealmConfiguration` look like?
2. Did you use the Realm file on the external storage?
3. From the log, is it the first time your app tries to open the Realm?

[2017-02-14 13:46] beeender commented on #3972
Some updates:

I try to reproduced this issue with devices in this issue on http://remote.testin.cn/machine/device/index , but no luck :(

https://code.google.com/p/android/issues/detail?id=8886 this Android issue seems to be related with this crash. But if that happens (`context.getFilesDir()` returns `null`), it should crash in `SharedRealm.initialize()` when `mkdir()` called first.

[2017-02-14 13:47] MiralDesai opened #4183 "Crash: Unable to open a realm at path '/data/data/com.app/files/Realm': Realm file decryption failed. (Realm file decryption failed) in /home/cc/repo/realm/realm-java-release/realm/realm-library/src/main/cpp/io_realm_internal_SharedRealm.cpp"
#### Goal

For the app not to crash when trying decrypt the realm database. I tested it myself with no issue, however this is happening to a few of our users. I'm unsure why. I specifically made it so that the key was recreatable to avoid issues that the Android Keystore has. However it's still causing issues. Could it be something to do with moving from an unencrypted realm to and encrypted realm

[2017-02-14 13:58] beeender commented on #3972
@SergiLlamasGuerrero can you please send your apk to us (help@realm.io) so i can try to reproduce it on HUAWEI GRA-L09 ?

[2017-02-14 14:14] Zhuinden commented on #4183
2.4.0-SNAPSHOT has a relevant bugfix that might help

[2017-02-14 14:19] SergiLlamasGuerrero commented on #3972
Thank you @beeender for your help.

Our app is this one: https://play.google.com/store/apps/details?id=com.geomobile.tiendeo&hl=es
And this is the information about this crash provided by Fabric: http://crashes.to/s/5797e3f66da

I hope this helps!

Sergi

[2017-02-14 14:27] MiralDesai commented on #4183
Ah ok. Will wait for 2.4.0 then

[2017-02-14 14:59] apouche commented on #776
I ran into this thread while trying to solve the same problem. Here was my approach to this in kotlin

[code]

basically I used a private string property taken as a string to construct a computed property with that enum correspondance. Not sure this is very "realm" friendly since I'm new to Android development but I thought this worked actually pretty well.

[2017-02-14 15:29] kleisauke commented on #2459
Today I received the same crash, I got this stack trace from Fabric:
[code]

Additional info:
Device: Nexus 6P (not mine)
Android version: 7.1.1
Realm version: 2.3.0
Use [`compactRealm(RealmConfiguration configuration)`](https://realm.io/docs/java/latest/api/io/realm/Realm.html#compactRealm-io.realm.RealmConfiguration-): Yes, after activity and Realm is closed.

[Fabric link](http://crashes.to/s/4

[2017-02-14 16:30] Zhuinden commented on #904
If [Realm supports Windows now as a platform](https://realm.io/news/realm-microsoft-xamarin-1-0-azure-windows-desktop/?utm_source=newslist&utm_campaign=xamarin-launch&utm_medium=email), does that mean it's possible to refactor the notification system so that Realm-Java will soon be able to run on JVM and unit tests?

[2017-02-14 17:55] bmeike commented on #4140
The patch that will allow this test pass is being tracked in https://github.com/realm/realm-core/pull/2445

[2017-02-14 18:00] tmeunier commented on #4140
Good to know, thanks!

[2017-02-14 20:17] MiralDesai commented on #4183
Just as a follow up, this is starting to affect a large number of my user base, do we have on estimate on when 2.4.0 will be released?

I guess I'm going to have to release an update to turn off encryption for the time being?

[2017-02-15 02:50] beeender commented on #4182
close and dup this one to #3972
@radzish if you have any more information, please comment in #3972.

[2017-02-15 02:50] #4182 closed

[2017-02-15 02:52] beeender commented on #3859
Same issue with #3972 . close and dup this.

@deco-ding see my comments in #3972 , we are still not able to reproduce it :( If you have any more information, please comment in #3972.

[2017-02-15 02:52] #3859 closed

[2017-02-15 03:59] beeender commented on #3972
@SergiLlamasGuerrero Still no luck to reproduce it on Huawei Honor 7 and Huawei P8 (which is almost the same device with GRA-L09) :(

[2017-02-15 04:24] dalinaum commented on #904
@Zhuinden There is another issue. We cannot use Transformer API for this issue, so we should find a work-around or implement something.

[2017-02-15 07:29] agrusha commented on #759
+1

[2017-02-15 08:07] Zhuinden commented on #759
You guys really *do* need `RealmSet` now.

[2017-02-15 08:12] kneth commented on #4183
How did you move from unencrypted to encrypted? Did you write the Realm to a new file?

[2017-02-15 08:22] MiralDesai commented on #4183
No. I only removed the configuration and added a new one. As shown above.

[2017-02-15 08:36] Konsumierer commented on #3651
Also bad news from my side: still crashes on an I8200N with 2.4.0-SNAPSHOT.
[code]

[2017-02-15 08:40] kneth commented on #4176
It is possible to test the fix by using the 2.4.0-SNAPSHOT.

[2017-02-15 08:42] kneth commented on #4183
Did you removed the unencrypted Realm file?

[2017-02-15 09:28] MiralDesai commented on #4183
Again, I didn't. Are these two things I should have done? Delete the existing realm and start fresh?

I bumped the schemaVersion and I've got deleteRealmIfMigrationNeeded() in there, but I guess that's not the same thing.

[2017-02-15 11:18] Muddz opened #4184 "HOW TO SOLVE: This method is only available in managed mode error?"
When I install my app for first time on my phone, the app crashes because of the Realm error: `This method is only available in managed mode`

This happends when I try to retrive a sorted list of `ListItem` in the class `Shoplist` which has a reference of `RealmList<ListItem>`

[code]

**STATS:**

Realm Gradle Plugin: 2.3.1
Gradle Plugin: 2.2.3
Compile version: 25
Android Studio version: 2.2.3
Tes

[2017-02-15 11:53] Zhuinden commented on #4184
`getItemList()` seems to return the RealmList from an unmanaged `ListItem`

solution: call `getItemList()` only on managed ListItems

[2017-02-15 12:01] Muddz commented on #4184
@Zhuinden I dont understand. Could you provide me with an example?

[2017-02-15 12:06] Zhuinden commented on #4184
unmanaged RealmList:

    ListItem listItem = new ListItem();
    listItem.setItemList(new RealmList<>());
    listItem.getItems("blah"); // crash

managed RealmList:

    ListItem listItem = realm.createObject(ListItem.class);
    // or
    ListItem listItem  = realm.where(ListItem.class).findFirst();
    listItem.getItems("blah"); // works

[2017-02-15 12:15] Muddz commented on #4184
@Zhuinden But I need it as this: `RealmList<ListItem> itemList;` not as a single ListItem object.

[2017-02-15 12:29] kneth commented on #3651
@Konsumierer Can you post the complete stack trace?

[2017-02-15 12:37] kneth commented on #4183
My best guess is that you try to open the old, unencrypted Realm file with an encryption key. That will fail as Realm will believe that you are opening with a wrong key. You can encrypt (or change key) by calling [`Realm.writeEncryptedCopyTo()`](https://realm.io/docs/java/2.3.1/api/io/realm/Realm.html#writeEncryptedCopyTo-java.io.File-byte:A-).

[2017-02-15 12:38] Zhuinden commented on #4184
You need to obtain the RealmList from a managed instance of `Shoplist`.

I meant `Shoplist` in most cases of my example, I'll edit accordingly.

[2017-02-15 13:13] Konsumierer commented on #3651
@kneth, sure:

[code]

[2017-02-15 14:06] kneth commented on #3651
@Konsumierer Thanks. I have resolved it to:

[code]

Looks like the same crash - which is really strange to me. I will try to locate a I8200 for testing.

[2017-02-15 14:20] Zhuinden commented on #3651
It's interesting because I've checked the source for `ArrayString` but there were no commits of any kind that could have altered this behavior at the release between core 1.5.1 and 2.0.0.

Only white spaces and comments... So this is probably some very intricate locking issue, maybe? I am not a Realm person, I have zero clue.

[2017-02-15 14:23] jonasbark commented on #3651
@Zhuinden the version we still have to use which works on the I8200 is: `io.realm:realm-gradle-plugin:0.90.1`. We didn't try to use 1.5.1 so far.

[2017-02-15 14:25] Zhuinden commented on #3651
@jonasbark Realm Core 1.5.1 was in Realm-Java 1.2.0.

[2017-02-15 14:40] Muddz commented on #4184
@Zhuinden This approach is not right!

I don't want to create a new realm object like that: `Shoplist shoplist= realm.createObject(Shoplist.class);`
Why would create a new object of Shoplist inside the Shoplist class itself?

A Shoplist object, contains a `RealmList` of `ListItems` I I want `ListItems` in different orders.

The user In the app can create a new shoplist with a user defined name, Le

[2017-02-15 14:43] Zhuinden commented on #4184
What is the value of `isManaged()` inside ` getItems()` when you get the crash?

Please debug and set a watcher for `this.isManaged()` inside `getItems()` before the crash

[2017-02-15 14:55] Muddz commented on #4184
On first time run after i installed the app the result is:

    Log.d("TAG", "itemList.isManaged():  " + itemList.isManaged()); **= FALSE**
    Log.d("TAG", "this.isManaged():  " + isManaged()); **= FALSE**

But for some strange reason the app starts normally when I start it again right after the crash

[2017-02-15 14:57] Muddz commented on #4184
I may have found the error! Give me 10 minutes

[2017-02-15 14:58] Zhuinden commented on #4184
`ShopList shopList = new ShopList()` creates an unmanaged instance on which Realm's query API doesn't work on the `RealmList`

[2017-02-15 15:04] Muddz commented on #4184
@Zhuinden

So this is wrong? I call  createShoplist(); from a class called RealmService()

    public Shoplist createShoplist(String title) {

        realm = Realm.getDefaultInstance();
        realm.beginTransaction();
        Shoplist shoplist = new Shoplist(new RealmList<ListItem>(), title);
        realm.copyToRealm(shoplist);
        realm.commitTransaction();

        return shoplist;

[2017-02-15 15:08] Zhuinden commented on #4184
1.) you open a new Realm instance that will never be closed, because you are not following https://realm.io/docs/java/latest/#controlling-the-lifecycle-of-realm-instances

2.) you return an unmanaged instance

-------

You would be returning managed instance like this:

[code]

[2017-02-15 15:11] Muddz commented on #4184
@Zhuinden Allright I will edit my realm codes now. But I actually close my Realm Instance when the MainActiviity's onDestroy is called.

[2017-02-15 15:12] Zhuinden commented on #4184
You should pass the Realm instance to the method, instead of creating new instance

[2017-02-15 15:14] SergiLlamasGuerrero commented on #3972
I don't know if it will help but now the 84% of devices that crashed with this error are HUAWAI, and the 72% of HUAWAI that crashed are ALE-L21, followed by hi6210sft16 (16%) and then HUAWEI GRA-L09 (6%).
![captura de pantalla 2017-02-15 a las 16 13 18](https://cloud.githubusercontent.com/assets/20481281/22980433/ba23bfa6-f399-11e6-8c0d-ade9e09a6a89.png)
However, this crash is not very common.

Ho

[2017-02-15 15:14] Muddz commented on #4184
@Zhuinden Yeah thanks! That is what I'm changing now everywhere that i use Realm instances

[2017-02-15 15:48] Muddz commented on #4184
I have sovled it now and changed my methods according to your suggestions. Thanks!

[2017-02-15 15:48] #4184 closed

[2017-02-15 15:59] marchy commented on #2921
This is a huge limitation. It seems you cannot use delegated properties with ANY Realm properties – making Realm effectively incompatible with Kotlin.

Not only do Realm annotations not work on (Annotation processor error: "This annotation is not applicable to target 'member property with delegate'"), but because Delegated properties are themselves final (the delegated property proxy object does n

[2017-02-15 16:07] marchy opened #4185 "Support Kotlin delegates for Realm objects"
Realm objects do not support Kotlin delegated properties, making it impossible to add custom setters (ie: observable) to Realm properties.

This seems to be due to the limitation that the annotation processor tries to prevent final fields from being mapped to Realm fields. Instead it should be made smart enough to recognize if the value is a delegated property and allow the delegate to assign the

[2017-02-15 18:17] gugakatsi opened #4186 "Realm createAllFromJson , Expected BEGIN_ARRAY but was BEGIN_OBJECT"
recently i started refactoring from sqlite to realm mobile database for android, right now i am trying to populate realm from json , which i have saved in assets, but getting error` Realm createAllFromJson , Expected BEGIN_ARRAY but was BEGIN_OBJECT`

this is my example json :

[code]

this is how i try to parse it  :

[code]
and this is realm object for it (i did't include here getters and setter

[2017-02-15 18:27] Zhuinden commented on #4186
You should parse the JSON using GSON (or LoganSquare, whichever you prefer) with this schema by jsonschema2pojo.org

Then when you have parsed them into GSON classes, then you should map them into the following Realm schema

[code]

Don't use `RealmMap extends RealmObject` that doesn't make any sense

[2017-02-15 18:32] gugakatsi commented on #4186
@Zhuinden thanks a lot , i will test it right now and than close the issue

[2017-02-15 18:38] cricket007 commented on #4186
@gugakatsi Please undelete your StackOverflow post. There was nothing wrong with it.

Your issue was not Realm related, it was a misunderstanding of the JSON conversion mechanics.

[2017-02-15 18:41] gugakatsi commented on #4186
@cricket007 i haven't deleted anything else , i just gave u right answer badge, i'll check it in minutes.

[2017-02-15 18:49] gugakatsi commented on #4186
@cricket007 check it again , sry for that , idk what happened but..

[2017-02-15 18:49] #4186 closed

[2017-02-15 20:23] marchy opened #4187 "BUG: Inserted sub-objects not being linked to parent object"
We have a simple scenario that we cannot seem to get working despite trying every approach we've seen in the docs/issue list.

We have two objects (Chat/Message), with chat having a list of messages:
NOTE: We use Kotlin
[code]

When we insert new Messages into the Chat the Message object is being inserted in the database correctly but the Chat object is not linked to it – despite the Message being

[2017-02-15 20:26] Zhuinden commented on #4187
[code]

[2017-02-15 20:35] marchy commented on #4187
@Zhuinden Tried that as well, no difference

[2017-02-15 20:48] Zhuinden commented on #4187
Well the only other thing I see is that `class Chat {` doesn't seem to implement `RealmModel`? But I write that up to the example being wrong.

Otherwise, what i posted should work

[2017-02-15 22:02] marchy commented on #4187
@Zhuinden sorry that's my copy/paste typo (simplifying our model here so I manually typed that out). But yeah I tried your approach and definitely doesn't work (thus the Realm bug).

The Message object gets inserted in the DB but no link is made on Chat (so therefore queries as 0 Messages). Not sure what else could be at play: could having all the properties on the classes set to "open" make a dif

[2017-02-15 22:08] chanakin commented on #761
Can someone help with this? http://stackoverflow.com/questions/42259735/composition-over-inheritance-for-realmobjects-with-gson-serialization

I'm totally stuck. This is incredibly frustrating and no one seems to have posted a thorough example of how to work around this issue, and if I can't figure out a workaround, then Realm isn't even an option. I'm astonished they haven't addressed inheritance

[2017-02-15 23:55] paisrikanth commented on #3632
It happens everytime I delete the Filedir

[2017-02-16 00:19] Zhuinden commented on #4187
That's worth a try; I don't know all the pitfalls of Kotlin unfortunately. I just know that what I posted should work in Java, assuming you listen to changes with RealmChangeListener.

[2017-02-16 00:19] paisrikanth commented on #3632
please reopen the issue

[2017-02-16 00:20] Zhuinden commented on #3632
I'm not sure you're supposed to delete the folders if you have open Realm instances, please verify that global instance count is 0 before you delete Realm's folders

[2017-02-16 00:25] Zhuinden commented on #761
You should map your JSON responses into a Realm schema. Don't just directly map GSON's classes into Realm, it's generally a bad idea to assume that your API calls and your database will 1-to-1 match each other directly.

[2017-02-16 00:34] paisrikanth commented on #3632
I close all the open realm session and reccursively delete the filesdir

[2017-02-16 05:06] beeender commented on #4187
@marchy
I tested with our kotlin example, and adding to `RealmList` works fine. See https://github.com/realm/realm-java/blob/master/examples/kotlinExample/src/main/kotlin/io/realm/examples/kotlin/KotlinExampleActivity.kt#L158

Please notice there is a bug in the example and will be fixed by #4188

My doubt is your `getChatWithID()` returns a unmanaged `RealmObject`, would you please share the code

[2017-02-16 05:14] beeender commented on #3972
@SergiLlamasGuerrero When the crash happen, is it the first time the app open a Realm instance?

[2017-02-16 06:21] Ryokooo opened #4189 "Cannot be cast to io.realm.UserRealmProxyInterface"
this is my model:
public class User extends RealmObject{
    @PrimaryKey
    private String id;
    private String name;
    ...
}
    when I save to Realm and it made an Exception that say ''model User cannot be cast to  io.realm.UserRealmProxyInterface "
    I do not know where is wrong?

[2017-02-16 07:31] SergiLlamasGuerrero commented on #3972
@beeender According to the data we have it seems that it is as you say

[2017-02-16 07:32] Zhuinden commented on #3632
Are you sure? Did you check `getGlobalInstanceCount()`?

[2017-02-16 07:33] Zhuinden commented on #4189
You need to show your Gradle plugin order and your classpath plugins

[2017-02-16 08:21] kneth commented on #4177
@jonasbark I close the issue as it is a duplicate of #3651.

[2017-02-16 08:21] #4177 closed

[2017-02-16 08:33] beeender commented on #3632
@paisrikanth can you make a minimal project to reproduce the issue for us? thanks.

[2017-02-16 10:38] kneth commented on #3651
Just now, I have tried to build from `master` (almost identical to 2.4.0-SNAPSHOT) and run our introExample on Samsung Galaxy Tab 3 (SM-T111) and Samsung Galaxy S 3 mini (I8200). I have no crashes.

@jonasbark @Konsumierer Can you share either an `apk` or source code so I can try myself? If you don't wish to share it in public, please send it to help@realm.io.

[2017-02-16 11:02] Ryokooo commented on #4189
when I add " apply plugin: 'android-apt' " in app/build.gradle  Realm can not work correctly until  remove it from my app .why?

[2017-02-16 11:17] cmelchior opened #4190 "Support IdelingResource (Espresso)"
When UI testing using Espresso, it can automatically detect when all async work has completed. This way it knows when the system is "stable" so it can query the UI state. This is done using a concept known as `IdelingResource`: https://developer.android.com/reference/android/support/test/espresso/IdlingResource.html

To ease Espresso UI testing with Realm we should expose our internal thread pools

[2017-02-16 11:34] Zhuinden commented on #4189
You need to apply `android-apt` before you apply `realm-android`

[2017-02-16 11:35] Zhuinden commented on #4190
https://github.com/AzimoLabs/ConditionWatcher this is much more reliable than Espresso imo

[2017-02-16 11:42] kneth commented on #4189
@Ryokooo Please take a look at https://realm.io/docs/java/latest/#installation

[2017-02-16 11:53] cmelchior commented on #4185
Hi @marchy

I was looking a bit at this. A few observations:

**First:**
[code]
Is not prevented by Realm. Android Studio tells me "[WRONG_ANNOTATION_TARGET] This annotation is not applicable to Member property with Delegate". I don't fully understand yet why since our annotation has the `ElementType.FIELD` target specifier. Probably some limitation by Kotlin?

**Second:**
Given this sample class:

[2017-02-16 12:30] cmelchior commented on #4185
Digging a little further. Detecting when something is a delegate is not straight forward it seems: https://kotlinlang.org/api/latest/jvm/stdlib/kotlin.properties/-read-write-property/

It looks like we cannot just check if a class implements the `ReadWriteProperty` since that is optional. That leaves us with a few ways of solving it:

1) Just detect the naming pattern "<fieldName>$delegate" . This

[2017-02-16 12:40] beeender commented on #4190
After #3834, only the async transaction will be using executors, and from the executor perspective, it will have no difference compared with before.

[2017-02-16 12:43] cmelchior commented on #4190
So for us to support this I would assume we need to expose information from the ObjectStore worker thread somehow?

[2017-02-16 14:19] Ryokooo commented on #4189
@kneth I know, Thanks!

[2017-02-16 14:24] Zhuinden commented on #4189
Have you tried https://github.com/realm/realm-java/issues/3783#issuecomment-260578984 according to https://github.com/realm/realm-java/issues/3827 ?

[2017-02-16 16:05] ShkurtiA commented on #2392
I have found a way to reproduce this error:

`java.lang.IllegalStateException: This Realm instance has already been closed, making it unusable.
                                                                                         at io.realm.BaseRealm.checkIfValid(BaseRealm.java:378)
                                                                                         at io.realm.DebugLogRea

[2017-02-16 16:11] Zhuinden commented on #2392
closing in `onPause()` is bad, typically you should do it in `onDestroyView()`

[2017-02-16 16:16] ShkurtiA commented on #2392
But problem is that it is not guarantied in all android devices(maybe fragment lifecycle is guaranteed for google devices but not for all other devices in market) that fragment onDestroyView will be called or,  even its onDestroy. But in those cases I don't know if realm instance is still open or not

[2017-02-16 16:28] Zhuinden commented on #2392
@ShkurtiA `onDestroyView()` isn't called only if the entire process is killed, in which case whether Realm is open or not doesn't really matter

[2017-02-16 16:55] cmelchior commented on #4185
Some empirical testing shows that it isn't possible to annotate a delegated field, period. I tried allowing allow `ElementType` options for the annotations and it still wasn't possible to add it. This means that this problem needs to be solved by one or some of the above options.

[2017-02-16 17:14] aaronhe42 commented on #4117
Finally figured out. It was because the user is trying to launch your app using Parallel Space and didn't install the Parallel Space 64 bit support app. And Android doesn't seem to mix 32 bit and 64 bit native library well. The solution is to ignore the 64 bit .so file. See: https://corbt.com/posts/2015/09/18/mixing-32-and-64bit-dependencies-in-android.html.

[2017-02-17 02:38] paisrikanth commented on #3632
I updated the version to 2.3.1

I have a new crash now

`UncaughtException: io.realm.exceptions.RealmFileException: No such file or directory () in /home/cc/repo/realm/realm-java-release/realm/realm-library/src/main/cpp/io_realm_internal_SharedRealm.cpp line 92 Kind: ACCESS_ERROR.
                                                                         at io.realm.internal.SharedRealm.nativeGetSha

[2017-02-17 03:30] beeender commented on #3632
if you want to delete the Realm file, you'd better to use `Realm.deleteRealm()` instead, that will check if all your Realm instances are closed first. Deleting the file directly will be dangerous,

Why do you need to delete the `files` dir? By default, realm file will be created in the `files` directory, which exists by default for every Android device after app installed. I don't really think you

[2017-02-17 03:38] paisrikanth commented on #3632
Yes.. What we are doing in the app is to delete all the files in the fliesdir when the user is logged out from the application. and create new Realm instance when he logs in back to the application.

When I updated the Realm version i dont have the crash while deleting the files, however I have a new exception which I posted above in the comments.. To fix this everytime I have to clear the data of

[2017-02-17 03:56] beeender commented on #4190
yeah, but i am not quite sure if it is doable. The "worker thread" in the Object Store is actually a daemon thread which lives always. And it is waiting on `epoll` events when it is in idle.

[2017-02-17 04:00] beeender commented on #4117
@aaronhe42 Thanks a millions for your information!! We will add this to our doc page.

[2017-02-17 06:14] Ryokooo commented on #4189
yes,it worked!thanks @kneth @Zhuinden

[2017-02-17 06:47] #4189 closed

[2017-02-17 07:47] Zhuinden commented on #3632
@paisrikanth consider naming the Realm file according to logged in user?

[2017-02-17 13:48] beeender opened #4193 "DOC for 2.4.0 release"
- [ ] Link for example of loops for `RealmResults` in change log.
- [ ] Blog post.
- [ ] Fine grained notifications in the realm.io java doc

[2017-02-17 14:09] Konsumierer commented on #3651
Sorry, I am not allowed to do so.

[2017-02-17 14:50] beeender opened #4194 "Use FieldDescriptor instead of `getColumnIndexForSort` in OrderedRealmCollectionImp"
remove `getColumnIndexForSort` and use `FieldDescriptor`. Also need to check the exception message.

[2017-02-17 16:35] astigsen opened #4195 "find method to look up object by primary key"
Right now to look up a single object by primary key, you have to make a full query and then do a `findFirst()`.

It would be nice if you could do a direct lookup with a method like:

[code]

(the Swift, C# and Javascript bindings all have methods like this)

[2017-02-18 01:06] KimiChiu commented on #4176
Thanks!
I'll wait for the release version.

[2017-02-18 19:40] NeverwinterMoon opened #4196 "addChangeListener is always triggered on update, even when no result found for query"
I have the following query:

[code]

`Trip` is updated constantly and, at first, it doesn't have any notifications (empty RealmList is default value), so the `blaListener` is triggered. Inside the listener callback notifications are fetched from BE, saved to Realm and linked to `Trip`. All fine, except that the listener continues calling the `blaListener` continously even though `isEmpty(Trip::not

[2017-02-19 15:48] xiang23 opened #4197 "com.sun.tools.javac.code.Symbol$CompletionFailure: class file for rx.Observable not found"
Maybe because of i used rxjava2 instead of rxjava1  in my project ?
Are there any solutions ?

Realm version(s): 2.2.2
Android Studio version: 2.2.3

[2017-02-19 15:49] Zhuinden commented on #4197
Create a package called `rx` and create an empty class in it called `Observable`

[2017-02-19 15:56] xiang23 commented on #4197
@Zhuinden It works! Thanks for you!

[2017-02-19 15:56] #4197 closed

[2017-02-19 20:17] Bekakk opened #4198 "How to add elements in RealmList"
Hi
This is a main RealmObject class

    public class VinScannerHistoryModel extends RealmObject {
    @Required
    private String vinNumber;
    @Required
    private String userName;
    @Required
    private String status;
    private RealmList<ImagesObject> imagesObjects;
    public String getVinNumber() {
        return vinNumber;
    }

    public void setVinNumber(String vinNumber) {

[2017-02-19 20:40] #4198 closed

[2017-02-20 02:01] AndroidJohnsonWang opened #4199 "java.lang.IllegalArgumentException: Configurations cannot be different if used to open the same file. The most likely cause is that equals() and hashCode() are not overridden in the migration class"
Test phone:SUNSUNG S7 EDGE
OS: android 6.0
Realm :2.3.1
I want to create a different database for different users in my application.
Here's my code.
![qq 20170220100030](https://cloud.githubusercontent.com/assets/15881869/23109349/7332a874-f753-11e6-9a84-0c5051d2581f.png)

[2017-02-20 03:54] zaki50 commented on #4199
Hi @AndroidJohnsonWang As the message said, you must override `MyMigration#equals()` and `DefaultMigration#equals()` correctly.

Those method must return true if the two migration instance is for the same realm file.

One simple implementation is just checking the class.
[code]

[2017-02-20 05:00] jagan999 commented on #3309
I'm not able to pass in a 64 byte key to Realm Encryption since even AES does not accept any key size less than 128. Any suggestions? This is preventing me from using Realm since I need only an encrypted version of Realm for my app

[2017-02-20 05:39] AndroidJohnsonWang commented on #4199
@zaki50 Thank you for solving my problem.Success!

[2017-02-20 06:24] beeender commented on #4196
The current behavior of `findFirstAsync()` is it will try to run the query again until it can find a object match the query condition. But maybe this will be changed in the #4101 . What do you think? I feel the query should only be run once, if it cannot find a object match the query condition, then `isLoaded()` should return `true` and `isValid()` should returns `false`.
@realm/java

[2017-02-20 06:25] #4199 closed

[2017-02-20 07:25] NeverwinterMoon commented on #4196
My understanding of how this would work was this:

* If queried object does not exist at all (initial state with not data at all), changeListener is called and object.isValid = false (not a single Trip::class.java in my case)

* If object does exist but query returns true, changeListener is called (isEmpty(Trip::notifications.name) is true in my case) and isValid = true

* If object does exist but

[2017-02-20 07:42] cmelchior commented on #3309
@jagan999 We use AES-256 which takes a 256 _bit_ key, not _bytes_ ... Since a byte is 8 bit, we thus take a 512 (64x8) bit key. The first 256 bits used used by AES, the last 256 bits by the HMAC.