[2017-07-17 02:39] beeender commented on #4974
queries are allowed inside the transaction, but async query are not ... From `v3.0.0`, all the queries's **LISTENERS** will be triggered by async query in a background thread.

So, just don't call `xxx.AddChangeListener` inside a transaction.

[2017-07-17 02:50] beeender commented on #4970
Decoded call stack.
[code]

It seems something wrong when starting pthread in the native code.

Is that the whole information you get on the play store console?

[2017-07-17 05:26] SarthakM9 commented on #4598
@Zhuinden Ah! Got it! Thanks!

[2017-07-17 07:23] Zhuinden commented on #4974
The better question is, **why** is the UI thread in write-mode (inside a transaction) when you're creating an adapter.

[2017-07-17 07:25] DanteAndroid commented on #4974
@Zhuinden Because realm transaction is fast, which is written in official doc.

[2017-07-17 07:57] Zhuinden commented on #4974
@DanteAndroid not what I meant. Your code does not include where you begin the transaction.

Although now that I've checked the code, the only thing I see is that the `DataBase` class starts transactions, and there is also one more background thread transaction with `base.realm.executeTransactionAsync()`...

I don't see where change listener is added to a RealmResults inside a transaction. That is

[2017-07-17 08:02] DanteAndroid commented on #4974
@Zhuinden Well I don't quite understand. `diaries` is just the RealmResults, which are able to add a change listener. And query is not asked to be done inside a transaction block, isn't it?
[code]

[2017-07-17 08:11] vizZ commented on #4905
@beeender FYI, I've released an update which removed the dependency on `Realm` from the `Widget` (I cannot think of any other relevant change with this release; the widget would make the `Application` open `Realm` from "outside" of registered `ActivityLifecycleCallbacks`). The effect is a drop from `~200` affected users to `~15`. This may be just a coincidence, but there were several updates in th

[2017-07-17 08:14] vizZ commented on #4905
@beeender about the `column_name`, the column is not used/removed after the migration is over and the declaration was a dead-simple `Long variable`.

[2017-07-17 08:15] cmelchior commented on #1615
The most common cases could probably be solved by adding the following methods

[code]

[2017-07-17 08:25] cmelchior commented on #4701
Type-safe queries are a nice idea, but right now it would require a dependency to `kotlin-reflect` which afaik pulls in ~10K extra methods.

[2017-07-17 08:25] beeender commented on #4905
weird, the widget code should running in the same app process unless you specify a different process in the manifest ....

[2017-07-17 08:29] beeender opened #4975 "logout and `currentUser()`"
Below test case will fail with:
[code]

[code]

[2017-07-17 08:29] Zhuinden commented on #4974
@danteAndroid it is specifically asked for it not to be in a transaction, that's what the exception says.

[2017-07-17 08:30] DanteAndroid commented on #4974
@Zhuinden that's really odd. coz I didn't do that

[2017-07-17 08:35] beeender commented on #3741
related issue #4962 #4975

[2017-07-17 08:38] beeender commented on #4974
`at com.dante.diary.main.MainDiaryFragment.initData(SourceFile:335)`

From the backtrace, this line needs to be moved out of the transaction.

[2017-07-17 08:39] heinrichreimer commented on #4701
Maybe it would be worth it to pull out Kotlin support in a separate dependency. Then developers could decide on their own if they need type safety.

[2017-07-17 08:42] DanteAndroid commented on #4974
thats just:
[code]
It's not inside the transaction block

[2017-07-17 08:44] beeender commented on #4974
Isn't it called in `at com.dante.diary.main.MainDiaryFragment.initData(SourceFile:335)`??
Is the transaction started there?

[2017-07-17 08:46] Zhuinden commented on #4974
@beeender it's not. I've just checked. 😞

[2017-07-17 08:57] DanteAndroid commented on #4974
@Zhuinden onNext should be happening in io thread

[2017-07-17 08:58] beeender commented on #4974
@DanteAndroid since you are using:

[code]
To change the realm, so if anything in between throws an exception, the transaction will not be closed and may cause this issue.

so:
1. Find where does the exception throws. If you can reproduce the issue, this can be easily found by setting a exception breakpoint when any exception throws.
2. Use `Realm.executeTransaction()` throws. This API ensures the

[2017-07-17 09:01] DanteAndroid commented on #4974
@beeender what if I think I'm not using begin & commitTransaction in that class(MainDiaryFragment)?

[2017-07-17 09:04] beeender commented on #4974
But you are using it in the `DataBase.java`, right? I checked out your project and did a quick check.

if you have for example `DataBase.clearAll()` in the previous UI loop, and an exception has been caught silently, then you have the Realm instance is still in transaction in the current UI loop. Wouldn't that be possible?

[2017-07-17 09:11] DanteAndroid commented on #4974
Does that mean using `realm.executeTransaction` is safer?

[2017-07-17 09:13] beeender commented on #4974
yes, it will prevent you from having a unclosed transaction.

There is actually no magic in the `executeTransaction()`:
[code]

[2017-07-17 09:15] DanteAndroid commented on #4974
So I wonder why don't you recommend using executeTransaction in official doc?

[2017-07-17 09:19] Zhuinden commented on #4974
@DanteAndroid they do, I remember opening the issue about it like a year ago. https://realm.io/docs/java/latest/#transaction-blocks

[2017-07-17 09:20] cmelchior commented on #4974
We mention it here: https://realm.io/docs/java/latest/#writes, but it could perhaps be clearer.

[2017-07-17 09:22] Zhuinden commented on #3048
With Realm 3.0 and results integration that `commitTransaction()` calls change listeners, the proposal can change a bit:

The success callback could be called after all other threads have been updated successfully. This would be a blocking operation.

[2017-07-17 09:24] Zhuinden commented on #4974
@cmelchior I think the website here https://realm.io/products/realm-mobile-database/ should be changed to show `executeTransaction()` after AS 3.0 comes out to stable and lambda support will be provided by build tools.

[2017-07-17 09:25] DanteAndroid commented on #4974
You guys helped me a lot. Thx again for your time.

[2017-07-17 09:28] cmelchior commented on #4974
@Zhuinden Yes, that is a good idea.

[2017-07-17 09:33] vizZ commented on #4905
@beeender It may be just a false lead. Anyway, out of ideas here. Just wanted You to know about the "widget fix".

[2017-07-17 10:39] Prashanth-Nelli commented on #4970
yes that is only information I am seeing in the playstore crashes section.

[2017-07-17 11:20] beeender commented on #4970
With limited information we cannot do too much right now ... Please let us know if you get more information on this issue. Sorry.

[2017-07-17 11:49] mandrachek opened #4976 "Realm 3.4.0 SIGNAL 11"
We recently upgraded our app from Realm 3.1.4 to Realm 3.4.0.
Everything appeared to be fine in QC and Staging tests, but when we released to production we saw our errors go through the roof. Unfortunately we still can't reproduce the issue in QC or Staging, and we don't have support for native crashes enabled in crashlytics.  From the play console, we have:

This appears to be happening in our ar

[2017-07-17 11:52] cmelchior commented on #4976
Hi @mandrachek Are you showing all the information from the Play Store console because the error messages seems to have been cut off?

[2017-07-17 11:53] mandrachek commented on #4776
It looks like I'm having the same/similar issue. I can't reproduce it in qc or staging, but it's killing us in production.

[2017-07-17 11:54] beeender commented on #4976
Also, do you use encryption?

[2017-07-17 11:56] dvdmunckhof commented on #761
Thereafter, the error message should be more clear:

I did implement RealmModel, however I extended another class too. I assumed polymorphism would be supported and the error message doesn't state otherwise.

[2017-07-17 12:01] beeender commented on #4976
Parsed backtrace:

[code]

[2017-07-17 12:03] mandrachek commented on #4976
Yes, we use encryption. And yes, those are the complete logs from the play store (app name changed).  Probably not as good as crashlytics, but it's what we've got.

I've sent an email to help@realm.io with a link to the app in the play store and screenshots from the play console.

[2017-07-17 12:05] beeender commented on #4976
@mandrachek The links you send to help@realm.io are two images ... and they are quite long ... can you send the REALM images in the mail instead ? :) thanks!

[2017-07-17 12:08] mandrachek commented on #4976
What's a REALM image?  I can't reproduce this issue myself.
I sent a link to the play store and two png screenshots of the crash on the play store (so you can see that what I posted is indeed what the play store has provided in terms of the crash log).

[2017-07-17 12:10] beeender commented on #4976
Sorry, i mean REALM images. This is what we got:
![image](https://user-images.githubusercontent.com/449296/28267277-f1a478f8-6b2b-11e7-8ae4-b41278f61bbf.png)

[2017-07-17 12:13] beeender commented on #4976
@mandrachek never mind, i am stupid. We got the images.

[2017-07-17 12:14] beeender commented on #4976
INTERNAL NOTE: More information can be found https://secure.helpscout.net/conversation/398604756/10646/?folderId=366141

[2017-07-17 12:22] mandrachek commented on #4976
Is it possible to downgrade back to 3.1.4? Or will the local databases be hosed?

[2017-07-17 12:49] Zhuinden commented on #4976
You can also try updating to Realm 3.5.0, there were some bugs fixed, primarily related to queries that are `isEmpty()`, `isNotEmpty()`, `isNull()` and `isNotNull()`.

[2017-07-17 12:51] cmelchior commented on #4976
The error in question though is in our notification system. It doesn't look related to the bug fixes for those methods.

[2017-07-17 12:52] cmelchior commented on #4976
@mandrachek I believe it is yes, but we are verifying it with our core people. In general, it is safe to downgrade versions that did not involve file format change, and by looking at https://github.com/realm/realm-core/blob/master/CHANGELOG.md there doesn't appear to be any.

I'll return with a more definitive answer.

[2017-07-17 12:58] projectdmc16 opened #4977 "java.lang.IllegalStateException: Illegal State: Object is no longer valid to operate on. Was it deleted by another thread?"
I have a list of contacts displayed in a recyclerView ,with each contact having a checkbox to get selected .
Whenever i try to delete any contact from the list i get this error.
I referred to all the solutions shared for this previously but none of them helped my problem to get resolved.

 realm.executeTransaction(new Realm.Transaction() {
            @Override
            public void execute(Real

[2017-07-17 13:09] mandrachek commented on #4976
@cmelchior thanks - I tested the downgrade locally and didn't see any issues, so pushing a build with realm rolled back shortly (just waiting for jenkins to finish).

@Zhuinden - given that we can't seem to reproduce this issue in QC or Staging, even on devices that are having the issue in production (ugh), I'd rather roll back than try and push ahead.

[2017-07-17 13:15] Zhuinden commented on #4977
Not enough code. We do not know the adapter code that crashes and how it is initialized.

[2017-07-17 13:45] tamtom commented on #3972
@beeender I tested it and its working, I went to first realm call happen in the app and catch the exception on catch I call `clearApplicationUserData()`  this is the best workaround for now and the crashes went down to 0 on fabric crash reports. 😄

[2017-07-17 15:18] Prashanth-Nelli commented on #4970
Ok, Thank you guys for the help.

[2017-07-17 20:12] mandrachek commented on #4976
Rolled realm back to 3.1.4, and it appears to have fixed the issue.

[2017-07-18 01:49] Wlazly opened #4978 "can not see table in stetho"
[code]

i have make all configuration, but still not see table in stetho in chrome browser

[2017-07-18 02:39] beeender commented on #4976
@mandrachek Do you ever user `Realm.compact()` in your code?

[2017-07-18 04:37] beeender opened #4979 "Logout without closing Realm will cause config comparison failed the next time login"
See the internal conversation about this issue:
https://realmio.slack.com/archives/C58CUKEUW/p1500319890881501

The problem is, after user logout/login, the token will be different. Since there was a Realm instance still opened with the previous token, the `getInstance()` will fail because of the comparison of `SyncConfiguration` failed.

At least two things needs to be done to fix this:
- [ ] Fro

[2017-07-18 06:56] dalinaum commented on #4978
Hello @Wlazly

I think you should modify your `app/build.gradle` instead of `build.gradle` and `compile`s should be in `dependencies` block. Please the following link: https://github.com/uPhyca/stetho-realm#download

[2017-07-18 07:00] dalinaum commented on #4977
Hello @projectdmc16

Please give us more detail information such as Realm version, Adapter version, full stack trace and etc. With limited information, it is difficult to investigate this problem.

[2017-07-18 08:23] bmunkholm opened #4980 "Update ErrorCode enum with new errorcodes"
A user has received "IllegalArgumentException: Unknown error code: 112" because
there are more error codes than the ones defined in https://github.com/realm/realm-java/blob/master/realm/realm-library/src/objectServer/java/io/realm/ErrorCode.java

110-116 are not defined here, but are defined in https://github.com/realm/realm-sync/blob/master/src/realm/sync/client.hpp:

enum class Client::Error {

[2017-07-18 09:35] Wlazly commented on #4978
dependencies {
classpath 'com.android.tools.build:gradle:2.3.2'
classpath "io.realm:realm-gradle-plugin:3.3.2"

    // NOTE: Do not place your application dependencies here; they belong
    // in the individual module build.gradle files
}

above I modify it in build.gradle

follow I modify it in app/build.gradle.
compile 'com.facebook.stetho:stetho:1.5.0'
compile 'com.uphyca:stetho_realm:2.0

repo

[2017-07-18 09:58] SarthakM9 opened #4982 "Query giving wrong result in Realm v3.5.0"
**Bugs**: Query working in Realm v3.4.0 but fetching wrong result in v3.5.0

#### Goal
[code]
#### Expected Results

#### Actual Results

#### Steps & Code to Reproduce

#### Version of Realm and tooling
Realm version(s): ? v3.5.0

Realm sync feature enabled: No

Android Studio version: 2.3.2

Which Android version and device: Moto G2 v6.0

**UPDATE:**
using v3.5.0, If I don't call addConstraint()

[2017-07-18 10:31] Zhuinden commented on #4982
@SarthakM9 can you create a sample project that reproduces this?

[2017-07-18 10:49] SarthakM9 commented on #4982
@Zhuinden ok will try to! :)

[2017-07-18 11:52] Wlazly opened #4983 "why auto-refresh only live in Loop thread or IntentService."
If  in internal  it deliver message by Handler？

[2017-07-18 11:56] cmelchior commented on #4983
We use the Looper/Handler to coordinate events created Realm like change listeners. This gives us a single point in time where we can safely update the Realm data and trigger notifications.
Without an event queue like the Looper, there would be no good place to trigger these. Nothing really prevents us from using another queue abstraction, but so far no use cases for this have existed on Android.

[2017-07-18 11:56] Zhuinden commented on #4983
No, it doesn't work in IntentService, because IntentService does not loop.

[2017-07-18 12:00] GitHubMurt commented on #1676
_classpath "io.realm:realm-gradle-plugin:3.5.0"_

private val listener = RealmChangeListener<T> { t ->
        if (t != null && t.isValid)
            realm.executeTransaction {
                value = realm.copyFromRealm(t)
            }

    }

Listener isn't called after saveCarDetails
[code]

[2017-07-18 12:01] cmelchior commented on #1676
@GitHubMurt Please create a new issue with all details.

[2017-07-18 12:06] Zhuinden commented on #1676
@GitHubMurt you did not include `asLiveData`

[2017-07-18 12:08] mandrachek commented on #4976
@beeender During realm initialization, we call compactRealm()
[code]

[2017-07-18 12:09] beeender commented on #4976
@mandrachek thanks! BTW, i created a core issue for this. You may want to follow that as well. https://github.com/realm/realm-core/issues/2746

[2017-07-18 12:09] GitHubMurt opened #4984 "ChangeListener is not being called on RealmObject"
classpath "io.realm:realm-gradle-plugin:3.5.0"

I'm converting objects froming from realm to LiveData (lastly introduced) using extension method

`fun<T: RealmObject> T.asLiveData(realm: Realm) = LiveDataRealmObject(this, realm)`

Belo is how I convert RealmObject from Realm to set them to LiveData
**LiveDataRealmObject::class**
[code]
I retrieve results like this.
[code]
And save new one, either

[2017-07-18 12:10] Zhuinden commented on #4976
@mandrachek is this in `Application.onCreate()`?

Can you guarantee that the app has only 1 process?

[2017-07-18 12:11] beeender commented on #4976
@Zhuinden I think the app has only 1 process using Realm. Since he is using encryption which is not supported for multi-processes.

[2017-07-18 12:13] Zhuinden commented on #4976
Ah yes, you are right.

[2017-07-18 12:14] GitHubMurt commented on #1676
I've created new issue as cmelchior suggested
https://github.com/realm/realm-java/issues/4984

[2017-07-18 12:18] zaki50 commented on #4982
I guess `A` and `B` or `C` is equal to  (`A` and `B`) or `C`.

Does adding `beginGroup()` and `endGroup` around `addConstraint()` solve this?

E.g.
[code]

[2017-07-18 12:20] mandrachek commented on #4976
Yes, the application only has one process.  Plenty of threads, but only one process. p[p[No, this code is not directly in onCreate.  It is called in a synchronized method on a helper class that is only called under two circumstances.

1) If the application has an Android system account, then it's called in Application.onCreate().
2) If there is no user account, we delay calling it until immediatel

[2017-07-18 12:26] Zhuinden commented on #4984
This is expected behavior, see documentation:

You can also see https://github.com/realm/realm-java/issues/4360#issuecomment-288123036 and https://github.com/realm/realm-java/issues/4352#issuecomment-287959676

If you need to observe whether a RealmObject exists, then you'll need to obtain `RealmResults<T>` with `findAllAsync()`

[2017-07-18 12:31] GitHubMurt commented on #4984
That means copyOrUpdate remove object if it want to updateIt?

[2017-07-18 12:32] Zhuinden commented on #4984
No, but it means that if the object didn't exist, then `findFirstAsync()` won't return it for you with a change listener **after** it was added.

[2017-07-18 12:42] GitHubMurt commented on #4984
ok I understand

[2017-07-18 12:49] SarthakM9 commented on #4982
@zaki50 Yes! It's working! :D
but couldn't understand your explanation, can you please elaborate?

[2017-07-18 12:58] dalinaum commented on #4984
Hello. @GitHubMurt

As @Zhuinden said, this is expected behavior.

I am closing this issue. If you have another idea, feedback, we can discuss it in another issue. Thanks.

[2017-07-18 12:58] #4984 closed

[2017-07-18 14:13] mauza commented on #2880
Why is this feature taking so long? Is there a reason not to support it?

[2017-07-18 14:17] cmelchior commented on #2880
Mostly because it doesn't have a high priority, compared to other features on our list.

[2017-07-18 16:30] trr-amsiq commented on #2492
Running 3.5.0

[code]

[2017-07-18 17:08] Zhuinden commented on #2492
@trr-amsiq do you use encryption?

[2017-07-18 17:30] trr-amsiq commented on #2492
no I don't

[2017-07-18 18:09] Zhuinden commented on #2492
@trr-amsiq do you have multiple processes in your app?

[2017-07-18 18:22] trr-amsiq commented on #2492
@Zhuinden Yes most read/write are performed within asynctasks

[2017-07-18 19:25] MiralDesai commented on #4844
Been a while since I was off sick. I have updated our app to have a full migration, yet I'm still getting the dreaded `RealmMigrationNeededException`. This time I was able to track how the user upgraded, and the state of the code.

The exception is as follows (It's the same one from my previous post about the user object:
`Caused by io.realm.exceptions.RealmMigrationNeededException: Field count is

[2017-07-18 19:59] Zhuinden commented on #2492
@tr-amsiq that's threads, not processes, so I'll go with "probably not"

[2017-07-19 02:33] beeender commented on #2492
@trr-amsiq since you are not using encryption, the root cause will be different. can you please open a new issue for that? Also, can you reproduce the issue?

[2017-07-19 03:30] Wlazly opened #4986 "Does Realm insert speed lower than SQlite"
Does Realm insert speed lower than SQlite?

[2017-07-19 05:54] dalinaum commented on #4982
@SarthakM9 It's good to hear it's working. I'm closing this issue. :)

[2017-07-19 05:54] #4982 closed

[2017-07-19 06:04] dalinaum commented on #4982
@SarthakM9 Sorry. I don't read your comment entirely.

There are three groups, A, B, and C.

A)

[code]

B)

[code]

C)

[code]

If you use `A and B or C`, it is processed as `(A and B) or C`, so you should group `B or C` as `A.beginGroup().B.or().C.endGroup()`.

[2017-07-19 06:11] dalinaum commented on #4986
Hello @Wlazly [Realm is usually faster than SQLite](https://github.com/realm/realm-java-benchmarks#results).

I'm closing this issue. Please feel free to make another issue if you have other issues.

[2017-07-19 06:11] #4986 closed

[2017-07-19 06:12] trr-amsiq commented on #2492
Sure

[2017-07-19 06:14] tristangrichard opened #4987 "Failure when computing UTF-16 size error_code = 1"
Running:

* Realm 3.5.0
* Android 5.0.2

No Encryption
All communication with Realm is performed with AsyncTasks.

[code]

[2017-07-19 06:20] SarthakM9 commented on #4982
@dalinaum yes got it! thanks! :)

[2017-07-19 07:53] Zhuinden commented on #4986
Technically, inserts should be on a background thread, and they should be done in as small number of transactions as possible.

[2017-07-19 08:05] dalinaum commented on #4978
I think `app/build.gradle` should be modified as follows.

[code]

[2017-07-19 08:07] #4892 closed

[2017-07-19 08:08] cmelchior commented on #4892
Fixed. Closing

[2017-07-19 08:08] #4941 closed

[2017-07-19 08:08] cmelchior commented on #4941
Fixed. Closing

[2017-07-19 08:09] cmelchior commented on #4987
Hi @trr-amsiq Is it something you can reproduce? Or what kind of phones are you seeing this on?

[2017-07-19 08:09] cmelchior commented on #4983
@Wlazly I assume the above answered your question. If not, feel free to re-open.

[2017-07-19 08:09] #4983 closed

[2017-07-19 08:12] trr-amsiq commented on #4987
No not yet.
Here some more data [http://crashes.to/s/44e3c052321](http://crashes.to/s/44e3c052321)

[2017-07-19 08:49] #4980 closed

[2017-07-19 09:13] Wlazly commented on #4978
Yes, i do as you write.  but still can not see table in stetho.

[2017-07-19 09:39] cmelchior commented on #4987
Hi @trr-amsiq

Thanks. It seems to affect 2 users repeatedly, which suggests that their data is indeed faulty somehow and isn't caused by a bug when reading the data. This was e.g. the case for similar errors we saw using encryption where we had a race condition that caused wrong data to be read from disk.

If the underlying data is indeed corrupted, it begs the question on how that happened. It c

[2017-07-19 10:05] balrampandey19 opened #4988 "Object is not part of the schema for this Realm"
[code]

#### Version of Realm and tooling
Realm version(s): 3.3.2

Realm sync feature enabled: yes

Android Studio version: 2.3

Which Android version and device: 6.0

[2017-07-19 10:12] Zhuinden commented on #4988
Did you Apply migration for your newly added class?

[2017-07-19 10:15] zahid--ali commented on #3233
Is this addition has been added or any new solution?

[2017-07-19 10:35] pollux- opened #4990 "Realm Query for List"
I have a product Model Like this

[code]
Model is populated from below JSON.

[code]

What I need is, filter all products which have content="chicken". So I ended up in writing a query like this.

`realm.where(Product.class).equalTo("meta.key","content").equalTo("meta.value","chicken").findAll().
`
But I ended up in result set with both the products. How can I do something like this say, I need on

[2017-07-19 10:36] Zhuinden commented on #4990
realm.where(Product.class).equalTo("meta.key","content").findAll().where().equalTo("meta.value","chicken").findAll()

[2017-07-19 10:39] pollux- commented on #4990
@Zhuinden  thanks , Awesome, will try this

[2017-07-19 10:53] balrampandey19 commented on #4988
@Zhuinden  it seems like some device issue because this is working on HTC, Samsung and Nexus 5x devices but not working on xiaomi Note 3 device.
I have also Uninstall the app and re install. but this error always comes on xiaomi device.

[2017-07-19 11:07] cmelchior commented on #4988
@balrampandey19 Is this from tests locally? Because that error message should never only happen one type of devices. Normally it is a sign that something is wrong in the build process like the annotation processor not being triggered.

Alternative it is a problem with migrations as @Zhuinden points out, which should also the be same across all devices.

[2017-07-19 11:08] cmelchior commented on #4990
@pollux- You can also read this relevant section in the docs: https://realm.io/docs/java/latest/#link-queries

[2017-07-19 11:09] trr-amsiq commented on #4987
Hi @cmelchior
I will get back to you if I am able to reproduce it myself.
Cheers

[2017-07-19 11:26] pollux- commented on #4990
Awesome, working as expected 👍

[code]

[2017-07-19 11:26] #4990 closed

[2017-07-19 11:28] zaki50 commented on #4701
use `reified` when defining extension functions that take `Class` parameter.

[code]

[2017-07-19 11:31] saeedrooyekhat opened #4993 "Realm Migration Schema NullPointerException"
in migration class i got this error, actually i see this error from fabric for 10 user and 50 crash
[code]

This error occurred from time to time that i used from following code (the error line)
[code]
more complete code is below

[code]
also I had RealmAvatar from version one of realm schema!

a user say to me that this error occurred for him when it has a little memory in the phone and after tha

[2017-07-19 12:57] Zhuinden commented on #4993
`RealmObjectSchema realmAvatar = schema.get(RealmAvatar.class.getSimpleName());`

Is PROGUARD enabled?

[2017-07-19 13:01] idok595 opened #4994 "opening realm db with same SyncConfiguration but diffrent error handler throw IllegalArgumentException"
when i am tring to re-open realm database that allready have been closed using "Realm.getInstanceAsync" with same data but diffrent ErrorHandler, i am getting this exception "Configurations cannot be different if used to open the same file", why it make no sense to force the user to keep the same ErrorHandler reffrenece and share it in diffrent places that want to open synced realm database, the

[2017-07-19 17:09] ssunkar opened #4995 "Android studio Gradle build very slow"
#### Goal

Want android studio to buid gradle faster

#### Expected Results> ?
It should take less than 20 secs (same as other projects without realm)

#### Actual Results
It takes 5 to 10 minutes with realm installed in it

I tried enabling Offline Work in Gradle settings

#### Version of Realm and tooling
Realm version(s): ?
1.2.0

Realm sync feature enabled: yes/no

Android Studio version: ? 2.

[2017-07-19 17:09] Zhuinden commented on #4994
If your error handler implements hashCode/equals then it wouldn't matter.

[2017-07-19 17:13] Zhuinden commented on #4995
It only takes me that long if Chrome takes up too much of my memory (8 GB RAM)

[2017-07-19 17:25] ssunkar commented on #4995
I tried closing all the applications, still it takes 5 minutes. It happens on first time building an app.
Is this common to everyone?

[2017-07-19 18:36] Zhuinden commented on #4995
Only if the project is like 65000+ lines of code, for me anywa

[2017-07-19 18:53] ssunkar commented on #4995
ohk thanks

[2017-07-19 18:53] #4995 closed

[2017-07-19 19:53] cchuang6 opened #4996 "Query LinkingObject depends on Null or not. Shows error."
#### Goal

Query LinkingObject by the size of a list.

#### Expected Results

I have two models, one is Group and another one is Contact. In the group, I have a RealmList containing contact. In the contact, I have a LinkingObject pointing back to Group. I want to query all contacts without groups.

#### Actual Results

I tried to query the contacts which has null groups. However, it shows error,
"

[2017-07-19 20:44] Zhuinden commented on #4996
This is most likely fixed in 3.5.0 see #4864

[2017-07-19 20:54] nhachicha opened #4997 "[Sync] ClientReset, using the backup Realm file is not possible"
Following the concerns from this post https://forums.realm.io/t/how-can-i-test-my-apps-error-handling/393/7
it seems we don't expose a way to reuse the backup Realm file (after a ClientReset). The current API returns the full path name, making it impossible to build a new `SyncConfiguration` that targets the saved file, so the user can copy data from it, making the saved Realm nearly unusable.

[2017-07-19 21:44] Zhuinden commented on #4997
That's interesting, the change log says that this is relevant to #4080

[2017-07-19 22:42] cotfas commented on #761
Any news ?

[2017-07-20 03:20] KevinYaoooooo commented on #761
Time flies, it's been 2 years, still no news?

[2017-07-20 04:31] trr-amsiq opened #4998 "Unrecoverable error. mmap() failed: Out of memory size"
Hi,

After some research it looks like I may not be closing all the realm I am opening.
Going through the code I see that I am correctly closing the realms in finally.
Any idea what the problem could be?

Realm 3.5.0
[Crashlytics](http://crashes.to/s/049da9ff820)

[code]

[2017-07-20 05:41] dalinaum commented on #4998
Hello @trr-amsiq Is something you can reproduce?

[2017-07-20 05:41] zaki50 commented on #4662
https://issuetracker.google.com/issues/62152896

[2017-07-20 05:42] dalinaum commented on #4996
Hello @cchuang6 Can you upgrade your Realm Java to 3.5.0?

[2017-07-20 05:43] zaki50 commented on #4978
Are you using non-default database name?
If so, could you try `'com.uphyca:stetho_realm:2.1.0'` released yesterday that contains a fix for the issue.

[2017-07-20 05:58] trr-amsiq commented on #4998
@dalinaum I am trying as we speak!

[2017-07-20 06:04] zaki50 commented on #4701
@cmelchior

I was thinking so, but it seems to be working without  kotlin-reflect dependency.
I tested it with https://github.com/zaki50/GoogleRepositoryChecker/

[2017-07-20 06:14] cchuang6 commented on #4996
It works. Thanks

On Jul 19, 2017 22:42, "LYK" <notifications@github.com> wrote:

[2017-07-20 06:43] Zhuinden commented on #4998
You should check with `getGlobalInstanceCount()` if you truly do close the Realms everywhere, or if there is something somewhere on the AsyncTask's thread pool that remains unclosed; or if there is an IntentService for example that never closes it, and so on.

[2017-07-20 06:47] Zhuinden commented on #4978
I can't believe I didn't find that bug in stetho-realm while I was reading through its code... I guess I was looking elsewhere. :disappointed:

[2017-07-20 06:52] Zhuinden commented on #761
Well a bunch of other things were added and are on the table

[2017-07-20 07:30] trr-amsiq commented on #4998
Hi @Zhuinden I unable to reproduce the issue. I have been stress testing the application my loading multiple objects, lists at once and `getGlobalInstanceCount()` returns `1` 90% of the time and does not exceed `2`.

[2017-07-20 07:44] cmelchior commented on #4994
@idok595 Why do you need a different error handler the 2nd time? The reasoning behind the current logic is that we see the `SyncConfiguration/RealmConfiguration` as the identifier for the Realm. This is also why it is immutable.

But like @Zhuinden says, a good workaround is implementing equals/hashcode in way that make your two error handlers equal.

[2017-07-20 07:46] dalinaum commented on #4996
Good to hear it works. I'm closing this issue.

[2017-07-20 07:46] #4996 closed

[2017-07-20 09:25] beeender commented on #4964
This happens quite often to me:) move to a higher priority.

[2017-07-20 12:55] Zhuinden commented on #4733
from https://www.reddit.com/r/androiddev/comments/6nsc9l/weekly_questions_thread_july_17_2017/dkeeat5/

[2017-07-20 13:09] alexander-fischer commented on #3719
@zaki50 for me, this doesn't work.

[2017-07-20 13:40] Zhuinden commented on #3719
@alexander-fischer what have you tried?

Realm version, Gradle configuration (plugin apply and their order), etc.

[2017-07-20 14:11] RobinCaroff commented on #4530
Hey guys! Any update on this? Do you have a timeline for this feature ? Thanks!

[2017-07-20 16:40] idok595 opened #5001 "executeTransactionAsync not throwing any response (synced read only database)"
after upgrade my realm version to 3.5.0 i notice that someting wrong i realized that all of my async transaction dosent work with read only database, i am using async transaction for fetching data async (the logic is not flat so it better for my to use another thread with synced querys) not to make any change, they are simply dosent work and the function not throwing any response/exception even if

[2017-07-20 16:43] idok595 commented on #4994
ok thank,the issuse can be closed.

[2017-07-20 19:41] ssunkar opened #5002 "realm migration"
#### Goal

successfully installing new apk with changes in Realm object

#### Expected Results
should install app without crash and load all the data from server into realm

#### Actual Results
07-20 12:36:02.571 20760-20760/com.tcrsoftware.android W/System.err: java.lang.IllegalArgumentException: Trying to set non-nullable field 'Name' to null.
07-20 12:36:02.571 20760-20760/com.tcrsoftware.andro

[2017-07-20 21:14] ssunkar commented on #5002
Edit:

I removed @Required for field "Name". It works fine.

Can you please explain
1) when to use required and

2) when to use RealmObjectSchema.setnullable("field", true) and
RealmObject.setNullable("field", false)

[2017-07-20 21:31] Zhuinden commented on #5002
`@Required` means its value **cannot be null**

[2017-07-21 02:16] beeender commented on #4733
I can still argue that the problem is in libskia side even it can be reproduced by running Realm query 50 times, since libskia and Realm share the same heap in the same process, and the bad pointer was used by libskia. I am not quite sure how to define the statement ` that pointer only sometimes was inside Realm's memory`. Was the memory alloced by Realm the last time? Then wouldn't it mean libski

[2017-07-21 07:16] #4994 closed

[2017-07-21 08:28] dalinaum commented on #5002
Hello @ssunkar Good to hear that it works fine.

There are two links that seem useful.
 * https://realm.io/docs/java/latest/#required-fields-and-null-values
 * https://realm.io/docs/java/3.5.0/api/io/realm/RealmObjectSchema.html#setNullable-java.lang.String-boolean-

I'm closing this issue.

[2017-07-21 08:28] #5002 closed

[2017-07-21 08:32] dalinaum commented on #5001
Hello @idok595 I think you can use Asynchronous queries:
https://realm.io/docs/java/latest/#asynchronous-queries

[2017-07-21 08:35] dalinaum commented on #4998
@trr-amsiq I added `Reproduction Required` here. If you can reproduce this problem, please update this issue or share your code.

[2017-07-21 09:35] swaruprs opened #5004 "Realm executeTransactionAsync calling new Realm.Transaction.OnError() always"
Can someone explain what am I missing out!
It calls Realm.Transaction.OnError() instead Realm.Transaction.OnSuccess()

Why?

public class ChatZoomActivity extends AppCompatActivity {

    private void saveDataToRealm(final ItemChatMessages newMessage) {
        Realm mRealm = null;
        try {
            mRealm = Realm.getDefaultInstance();
            RealmAsyncTask atSaveChatMessage = mRealm.

[2017-07-21 09:37] cmelchior commented on #5004
What is the exception message?

[2017-07-21 10:18] swaruprs commented on #5004
E/Realm error: Realm error io.realm.exceptions.RealmException: 'RealmChatMessages' has a primary key, use 'createObject(Class<E>, Object)' instead

After adding annotation @PrimaryKey to chatMessageId, forgot to update realm.createObject

@PrimaryKey
private String chatMessageId;

Solved by:
RealmChatMessages chatMessage = realm.createObject(RealmChatMessages.class,newMessage.chatMessageId);

Clos

[2017-07-21 10:18] #5004 closed

[2017-07-21 10:29] Zhuinden commented on #4998
In that case, a possibility is that you have a for loop where you insert each item in a new transaction, instead of adding multiple items in one transaction. Or you just have too many Realms on too many threads at the same time and don't compact it on launch or on exit.

[2017-07-21 14:01] trr-amsiq commented on #4998
@Zhuinden I have no loops wrapping `begintransaction()`.
Just added Compact on after Realm.init(). I will report back with any updates

[2017-07-21 14:43] dalinaum commented on #4998
@trr-amsiq I think you can compactOnLaunch if you want to add Compact after Realm.init.
https://realm.io/docs/java/3.5.0/api/io/realm/RealmConfiguration.Builder.html#compactOnLaunch--

[2017-07-21 14:54] dalinaum commented on #4530
@RobinCaroff Sorry. There is no timeframe yet. Unicode libraries on our supported platform are slightly different, so it needs some discussions and time to support it by core.
https://github.com/realm/realm-core/issues/1082

[2017-07-21 15:08] IaroslavTernovyi opened #5005 "NoClassDefFoundError: Failed resolution of: Lio/realm/annotations/RealmModule"
Hello guys,

I having some problem with activating Instant Run. In my project I have a single RealmModule annotated with @realmmodule. Build goes throw fine, however during run time, I get this following error only on Android Lollipop:

[code]

[2017-07-21 15:12] Zhuinden commented on #5005
What happens if you disable instant run? What happens if you clean+rebuild after enabling instant run?

[2017-07-21 15:27] IaroslavTernovyi commented on #5005
@Zhuinden
With instant run disabled it's work fine. Nothing it's crashes with the same error

[2017-07-21 15:53] dalinaum commented on #4844
Hello @MiralDesai

Does your migration start with `if (oldVersion == 5) {`? If it starts with `oldVersion == 5` and user's version is 4, it will not migrate to new version.

[2017-07-22 05:27] saeedrooyekhat commented on #4993
Yes PROGUARD Is Enable

[2017-07-22 10:34] saeedrooyekhat commented on #4993
What code should be used in the PROGUARD ?

[2017-07-22 11:30] Zhuinden commented on #4993
@saeedrooyekhat  `-keepnames public class * extends io.realm.RealmObject`

[2017-07-22 12:43] cotfas commented on #761
I`m really interested in this and it would be awesome to have it.

[2017-07-22 17:26] cmelchior opened #5008 "retrieveUserInfo/retrieveUserInfoAsync"
User lookup was implemented in https://github.com/realm/realm-java/issues/4828 and https://github.com/realm/realm-java/pull/4882

Unfortunately, some miscommunication happened and 4 bindings actually managed to implement it in 4 different ways :man_facepalming:

Long story short. We need to deprecate the current `retrieveUser` implementation and implement `retrieveUserInfo()` and `retrieveUserInfo

[2017-07-23 05:03] cuihujun commented on #2264
@joseffilzmaier, hello, is it possible to share how you did the workaround?

[2017-07-23 07:33] idok595 commented on #5001
this is will not help in case when it is require to join between many tables, how can i make sure that between the async queries othing will change? the only way is transaction but it is impossible to start transaction in syncred readOnlye database in the new version...

[2017-07-23 08:35] Zhuinden commented on #2264
@cuihujun `OrderedRealmCollectionChangeSet` was added in Realm 3.0.0 and is reliable since 3.1.0.

Objects also can be observed for field changes using `RealmObjectChangeListener`.

[2017-07-23 10:13] cyph3rcod3r opened #5009 "Async query cannot be created on current thread. Realm cannot be automatically updated on an IntentService thread"
I want to update my default realm object from the intent service.

[2017-07-23 10:19] Zhuinden commented on #5009
IntentService looper doesn't loop, so Realm cannot update it.

[2017-07-23 10:20] cyph3rcod3r commented on #5009
I got the issue. But I want to do it from that service itself. How can i make it work?

[2017-07-23 10:20] Zhuinden commented on #5009
I have edited my answer above.

[2017-07-23 10:35] cyph3rcod3r commented on #5009
Realm.getDefaultInstance().refresh();
        mItem = RealmHelper.getInstance().getTodo(intent.getStringExtra(TodoNotificationService.TODOUUID));
        if (mItem != null) {
            mItem.setState(Constants.NOTE_STATE_ARCHIVED);
            dataChanged();
            RealmHelper.getInstance().saveOrUpdateTodo(mItem);
        }

[2017-07-23 10:36] cyph3rcod3r commented on #5009
`Realm.getDefaultInstance().refresh();
        pojo = RealmHelper.getInstance().getPojo(id);
        if (pojo != null) {
            RealmHelper.getInstance().saveOrUpdatePojo(pojo);
        }`

you mean this?

[2017-07-23 10:46] cyph3rcod3r commented on #5009
Ohh Got it, I was trying to query it asynchronously in the intent service. Thanks!

[2017-07-23 10:47] #5009 closed

[2017-07-23 11:33] Zhuinden commented on #5009
Every `Realm.getDefaultInstance()` call needs to be matched with a `realm.close()` call.

[2017-07-23 15:29] trr-amsiq commented on #4998
@Zhuinden
It seems to have helped! Thank you so much for the hint.
@dalinaum
I will update the code to use the config builder!

Thank you very much both of you.

[2017-07-23 16:42] AGutan opened #5010 "Running /realm tests ERROR"
Tried to run tests.

cd realm
./gradlew connectedBaseDebugAndroidTest

[2017-07-23 18:40] AGutan commented on #5010
solved #4126

[2017-07-23 18:40] #5010 closed

[2017-07-24 03:07] KimiChiu opened #5011 ""Bad Realm File Header" error after compacting that threw "No space left on device""
#### Goal

#### Expected Results

#### Actual Results

#### Steps & Code to Reproduce

I have a user experienced a "No space left on device" error at first when `compactRealm` was called.
Then the user can never open my app due to the `io.realm.exceptions.RealmFileException: Bad Realm file header (#1)` error.

#### Code Sample

[code]

[code]

#### Version of Realm and tooling
Realm version(s): 3.

[2017-07-24 05:48] realm-ci opened #5012 "Fix merge from e1d802 to master"

[2017-07-24 06:31] saeedrooyekhat commented on #4993
already i used from following code
[code]

my proguard for realm is
[code]

but i hava this error ):

[2017-07-24 06:35] beeender commented on #4993
@saeedrooyekhat Can you share the whole migration block?

[2017-07-24 06:54] saeedrooyekhat commented on #4993
[code]

[2017-07-24 07:46] beeender commented on #4993
The migration seems all right ... I don't have too many ideas now :(

[2017-07-24 07:50] realm-ci opened #5013 "Fix merge from 6d114e to master-4.0"

[2017-07-24 08:04] Zhuinden commented on #4993
Which line is

     net.iGap.realm.RealmMigration.migrate (RealmMigration.java:136)

?

[2017-07-24 08:17] saeedrooyekhat commented on #4993
error line

[code]

[2017-07-24 09:30] realm-ci opened #5014 "Fix merge from 407e6a to master-4.0"

[2017-07-24 10:26] stipundzya commented on #3920
Had the same problem. It was solved by 3 steps: 1. Clean the project 2. Clear app data/cache 3.Uninstall/install app

[2017-07-24 10:35] sluedecke commented on #2339
I would be happy to see realm usable in a java desktop application.  It would enable a project of mine to migrate both app and desktop client from couchbase to realm (both app and desktop client share significant business logic which is currently located in a shared java library).

Also it would make realm potentially available in java application servers.

[2017-07-24 12:08] Maxxan opened #5015 "inMemory not working for SyncConfiguration"
#### Goal

I want to create an in memory database when the unit test goes out of scope, it removes the database. I do not want to call "deleteAll" for the database, since I want to keep the online data.

#### Expected Results

Should work with in memory database.

#### Actual Results

It fails to open default instance with the message "Durability setting (as passed to the SharedGroup constructor)

[2017-07-24 12:14] beeender commented on #5015
It is because of you have a Realm opened before and that Realm has the same path to this one but different "Durability setting".
You could set different `directory` of the `SyncConfiguration` for different test cases. Aslo you can consider to use JUNI4 `TemporaryFolder` to use a new temp folder for every test.

[2017-07-24 12:31] Maxxan commented on #5015
In the code I tried with
[code]
and in a test I tried with
[code]
but I get the same error.

[2017-07-24 14:52] WhatDo commented on #3503
One solution that worked for me could be to use
[code]

[2017-07-24 15:37] Zhuinden commented on #3503
Does it? I'd think it starts sorting by `otherId` instead of `timeStamp`

[2017-07-24 17:36] preyesm commented on #3753
I am using executeTransaction everywhere in my code of access to realm transactions, but yet for a recycler view data, two execute transaction are crashing my app with the same error. Any idea why would it be happening. Currently using realm-gradle plugin 3.4

[2017-07-24 21:54] Zhuinden commented on #3753
@preyesm well you can't start a transaction while you're already in a transaction. You should check in your code why you can end up with a transaction inside a transaction.

[2017-07-24 23:15] bmeike commented on #4987
Adding Help and Waiting for User tags to assist tracking

[2017-07-24 23:16] bmeike commented on #4987
Hey @trr-amsiq,
  Any progress/new info to share on this?

[2017-07-24 23:23] bmeike commented on #4976
Adding T:Help to assist tracking.

[2017-07-24 23:31] bmeike opened #5018 "Update documentation to use `executeTransaction`"
The documentation at https://realm.io/products/realm-mobile-database/ should be changed to use `executeTransaction()` after AS 3.0 is STABLE and the build tools provide lambda support.

See: #4974

[2017-07-24 23:32] bmeike commented on #4974
Thanks for the input, @DanteAndroid.  We've opened #5018 to update the docs as soon as Android Studio 3.0 is stable.

[2017-07-24 23:32] #4974 closed

[2017-07-24 23:44] bmeike commented on #4758
Hey @eygraber,
  Haven't heard from you in a while.  I'm going to close this issue.  By all means, if this problem recurs or anything else comes up, feel free to open a new one.
Cheers,
  -blake

[2017-07-24 23:44] #4758 closed

[2017-07-24 23:46] bmeike commented on #4800
Hey @jmonani,
  Where are we on this?  Is it still a problem?  Have you had any luck in reproducing it?

-blake

[2017-07-24 23:51] bmeike commented on #4844
Hey @MiralDesai ,
  Did that fix it?  Are you good to go?

-blake

[2017-07-24 23:53] bmeike commented on #4860
Hey @eduxavier,
  Where are we with this issue?  Has your problem been resolved?

-blake

[2017-07-24 23:55] bmeike commented on #4894
Hi @jjhesk ,
  Haven't heard from you in quite a while.  I'm going to close this issue.  If this problem recurs or anything else comes up, please feel free to open a new one.  Better yet, ask your question on [StackOverflow](https://stackoverflow.com/)
-blake

[2017-07-24 23:55] #4894 closed

[2017-07-24 23:58] bmeike commented on #4907
Hey @TKolbusz,
  It looks like this issue was resolved with the newer version or Realm. I'm going to close it.  If it or any other problem recurs please feel to open a new one.  Better yet, ask on [StackOverflow](https://stackoverflow.com/)
-blake

[2017-07-24 23:58] #4907 closed

[2017-07-24 23:59] bmeike commented on #4878
Hey buddy, what's up with this?  Got anything new?  Should we close it?

[2017-07-25 00:01] bmeike commented on #4947
Hey @deco-ding
  Is there more that we can do on this issue?  I'd like to close it, if not.
-blake

[2017-07-25 00:03] bmeike commented on #4945
Hey @koukoucai
  It looks like you are back up an running.  I'm going to close it.  If it or any other problem recurs please feel to open a new one.  Better yet, ask on [StackOverflow](https://stackoverflow.com/)
-blake

[2017-07-25 00:03] #4945 closed

[2017-07-25 00:05] bmeike commented on #4965
Hey @srinivas3120
  It looks to me as if we've answered your question.  I'm going to close this issue.  Please feel absolutely free to open a new one if you have more questions.  Better yet, ask on [StackOverflow](https://stackoverflow.com/)
-blake

[2017-07-25 00:06] #4965 closed

[2017-07-25 00:07] bmeike commented on #4973
Hey @Villason ,
  It looks like you've got an answer: I'm going to close this issue.  If you have any more questions/problems feel absolutely free to open a new one.  Better yet, ask on [StackOverflow](https://stackoverflow.com/)
-blake

[2017-07-25 00:07] #4973 closed

[2017-07-25 00:11] bmeike commented on #4905
Hey @vizZ !
How are we doing on this issue?  Is there still a problem?  Have you, by any chance, figured out why there are two processes?  You haven't changed the package name, in your manifest?
-blake

[2017-07-25 04:51] preyesm commented on #3753
@Zhuinden There is no instance where I start another transaction within a transaction, I am initiating two separate transactions and both are execute transaction and I end up with *The Realm is already in a write transaction in /Users/cm/Realm/realm-java/realm/realm-library/src/main/cpp/io_realm_internal_SharedRealm.cpp line 263* error.

[2017-07-25 07:15] Zhuinden commented on #3753
If you can provide a sample project that reproduces this (or send the APK to help at realm.io) then more can be done.

[2017-07-25 07:21] Zhuinden commented on #4878
I haven't worked on isolating the problem further, but I still think there is a chance of some strange race condition with multiple looper threads and the synchronous query api.

However, the asynchronous query api handles it right.

[2017-07-25 07:21] #4878 closed

[2017-07-25 07:59] beeender commented on #5015
can you share your whole test file? to help@realm.io if you want to share it privately.
Also, even for testing, `Realm.close()` should be called properly.

[2017-07-25 08:46] WhatDo commented on #3503
The following test passes
[code]

[2017-07-25 08:53] MiralDesai commented on #4844
I started my migration from version 1 of the schema, all the way to 5. I think my main issue is that at some point I updated an object without bumping the schema version and just let `deleteRealmIfMigrationNeeded()` work away.

I am happy to close this because we have come up with another solution (deprecating old versions) that will prevent this in the future. Luckily we're at a point where not m

[2017-07-25 09:13] #4975 closed

[2017-07-25 09:42] sipersso commented on #4997
@nhachicha thank you for noticing my forum post. Right now, I have just made an additional copy of the Realm using Realm.writeToFile() before executing the reset, but I am still struggling to get the data over and I haven't found any examples on how to execute a client reset properly.

If there is anything I can do to help, let me know.

[2017-07-25 09:44] Maxxan commented on #5015
Sure! Here is a project. Look in the main activity.
[RealmTest.zip](https://github.com/realm/realm-java/files/1172711/RealmTest.zip)

[2017-07-25 09:57] beeender commented on #5015
@Maxxan i got your project and I can run `ExampleInstrumentedTest` successfully. What is the problem? How can I reproduce it?

[2017-07-25 10:09] Maxxan commented on #5015
The test does nothing, it's in the main activity I added it. "Look in the main activity"

[2017-07-25 10:38] Zhuinden commented on #4997
It's a bit odd though as I would think https://realm.io/docs/java/latest/api/io/realm/ClientResetRequiredError.html should provide the necessary data.

[code]

[2017-07-25 10:42] Zhuinden commented on #4844
@MiralDesai luckily when https://github.com/realm/realm-java/pull/4887 is merged, that will happen

[2017-07-25 10:48] sipersso commented on #4997
@Zhuinden agreed! And I think a little more clarification on how to actually handle the ClientResets in a proper way would be great.

[2017-07-25 11:02] MiralDesai commented on #4844
That's great to see. Will close this and and look out for that.

[2017-07-25 11:02] #4844 closed

[2017-07-25 12:38] beeender commented on #5015
@Maxxan thanks a lot!! I can reproduce the issue with your project and it is a bug in our side!!

Test case to reproduce the issue:

[code]

@simonask It seems sync client ignore the durability setting in config. Instead it create the Realm with `Durability::Full` always. Is it expected?

[2017-07-25 19:58] austinzheng commented on #5008
Sorry! :( We'll do better next time.

[2017-07-25 20:24] Zhuinden commented on #3506
@cmelchior jokes aside, considering I don't see `realm-sync` repository I'm kinda curious if there's any chance this could happen before Realm 5.0?

Although as the saying goes, "patience breeds armeabi" - but maybe I should just figure out the difference between the different types of armeabi (armeabi-v7a, arm64-v8a, and if any of them are synonymous with normal armeabi as of late)

[2017-07-26 09:32] beeender commented on #4957
Thanks a lot to find this case!
It is actually caused by the `Site` objects are different java objects for `entityResponse` and `entityResponse.mAttributeObjects.site`. That caused Realm created it twice.

#5023 will fix this.

![image](https://user-images.githubusercontent.com/449296/28614349-1b69ad04-7228-11e7-95f3-02fa2cccf4b1.png)

[2017-07-26 11:10] sashatinkoff commented on #2179
have you tried to use json string?

String json = "[{\"name\":\"name\",\"ts\":0}]";
realm.createOrUpdateAllFromJson(SampleAccount.class, json);

It seems like it works as expected

[2017-07-26 14:26] Zhuinden commented on #4324
...and to https://github.com/realm/realm-java/pull/4887 , I guess.

I wonder if that's the last step.

[2017-07-26 14:28] bmeike opened #5024 "Support Mutable Realm Integers in the Dynamic API"
MutableRealmIntegers are not supported in Dynamic Realm.  They should be.

See #4266

[2017-07-26 14:28] bmeike commented on #4266
Filed #5024 for Dynamic Realm support

[2017-07-26 14:31] bmeike opened #5025 "Support MutableRealmIntegers in RealmLists"
As part of primitive type support, for RealmLists, we should support lists of MutableRealmIntegers.

See #4266

[2017-07-26 14:32] bmeike commented on #4266
Filed #5025 for RealmList support

[2017-07-26 14:32] bmeike commented on #4266
Closing.  #5024 and #5025 track remaining work

[2017-07-26 14:32] #4266 closed

[2017-07-26 14:54] pollux- opened #5027 "Realm deleteAllFromRealm is not working."
When I tried to delete then query again, I could see the results. Not able to figure out why?

This is my Model class

[code]

[code]

If I call **clearAllRecent()** method, it will delete all the Recent objects and Log will look like this.

**07-26 01:23:44.378 22798 22839 D Recent  :  All Recent cleared !!!!
07-26 01:23:44.378 22798 22839 D Recent  :  All Recent cleared !!!!0**

But when I query

[2017-07-26 15:07] Zhuinden commented on #5027
mDbManager.executeTransactionAsync(new Realm.Transaction() {
                @Override
                public void execute(Realm realm) {
                    RealmResults<Recent> all = realm.where(Recent.class).findAll();
                    // ...
                    realm.close(); // <-- WRONG

[2017-07-26 15:08] Zhuinden commented on #5027
Also

[code]

This will be eaten by GC, and the change listener will no longer be called, see relevant documentation section [**here**](https://realm.io/docs/java/latest/api/io/realm/RealmResults.html#addChangeListener-io.realm.RealmChangeListener-).

[2017-07-26 15:23] nhachicha opened #5028 "[Sync] Change stop policy to SyncSessionStopPolicy::"
Current policy for the session is `SyncSessionStopPolicy::Immediately` we should change it to `SyncSessionStopPolicy:: AfterChangesUploaded` to align with other binding and to prevent use cases where the Realm might be deleted before the last changes get synchronised. This can happen when using `logout`which will mark the `SyncUser` and associated Realms to be deleted on the next app launch.
https

[2017-07-26 15:38] pollux- commented on #5027
Thanks a lot, that's solved my issue 👍

When I can clearly close the realm instance.  should I do that on, executeTransactionAsync `onSucess` `onError` callback ?

If I query immediately after delete it shows me count of zero? why is that?

[code]

[2017-07-26 21:15] bmeike commented on #4977
@projectdmc16, we haven't heard from you in a week.  I'm going to close this issue.  By all means, if you are still having issues please open a new issue or, better yet, ask your question on StackOverflow.  We'll get to it post haste.

[2017-07-26 21:15] #4977 closed

[2017-07-26 21:18] brayanL commented on #3545
The Realm documentation for **Encryption** is not very clear: [https://realm.io/docs/java/latest/](url). The code to the example in GitHub is incorrect. They should change it.

[2017-07-26 21:21] bmeike commented on #4988
@balrampandey19 We haven't heard from you in quite a while.  I hope that's good news; that we've addressed your problem.
I'm going to close this issue.  By all means, if you are still having any kind of problems, feel free to open a new issue.  Better yet, open a StackOverflow question.  We'll get right on it

[2017-07-26 21:21] #4988 closed

[2017-07-26 21:24] bmeike commented on #4978
Hey @Wlazly
Did those suggestions fix your issue?  Since we haven't heard from you in a while, I'm going to assume so.
If you have any further problems, feel free to open a new issue.  Better yet, open a StackOverflow question.  We'll get right on it.

-blake

[2017-07-26 21:24] #4978 closed

[2017-07-26 22:15] Jawnnypoo commented on #2711
Thanks for all the feedback, I have created a ready to go RealmListAdapter for Moshi in this library:
https://github.com/Commit451/Regalia

You can see the source here if you want to pull in the class manually:
https://github.com/Commit451/Regalia/tree/master/regalia-moshi/src/main/java/com/commit451/regalia/moshi

[2017-07-26 22:53] cchuang6 opened #5029 "Cancel Async query"
#### Goal
I have a problem to cancel an async query. My async query takes a little bit of time and I want to cancel it before I go into another Fragment. Otherwise, the database will be locked down until the original query has been finished. I tried to use removeChangeListener but it still lock down my other query.

#### Expected Results

Use removeChangeListener to release the database resources.

[2017-07-27 02:14] jjhesk commented on #4894
yes, the issue was resolved and there were some versioning issues in the packages.

[2017-07-27 02:48] beeender commented on #3545
@brayanL can you please let us know which part about the encryption is not very clear and incorrect?

[2017-07-27 05:39] pollux- commented on #5027
Once again thanks !!!

[2017-07-27 05:39] #5027 closed

[2017-07-27 05:49] Zhuinden commented on #3545
@beeender i think he means there is no best practice on where to store the encryption key

[2017-07-27 05:58] brayanL commented on #3545
@beeender The code presented in the documentation only shows a simple example of how to generate an encryption key, but does not show how to store correctly and use it later.

[2017-07-27 08:15] preyesm commented on #4379
Hey @beeender could you confirm if I can do this in a single executeTransaction:
 ApplicationDataHandler.getRealm().executeTransaction(new Realm.Transaction() {
                    @Override
                    public void execute(Realm realm) {
                        realm.insertOrUpdate(agentProfile);
                        if (agentProfileCache.getRequirement() != null)

[2017-07-27 08:22] beeender commented on #4379
@preyesm please create a new issue with relevant code and the full backtrace.

[2017-07-27 10:06] beeender commented on #5028
So if user logged out with Realm instances opened, the session won't be stopped until all Realm instances are closed and all data uploaded to the server?

[2017-07-27 10:13] nhachicha commented on #5028
If you logout associated sessions will become inactive or not depending on the chosen stop policy

_from sync_session.cpp_
[code]

in the case of `AfterChangesUploaded` the session will upload the changes before it becomes inactive, if the `SyncUser` is used again all the sessions put on the inactive pool will resume syncing again.

[2017-07-27 13:27] beeender commented on #3545
@Zhuinden @brayanL we have a PR about storing key https://github.com/realm/realm-java/pull/4181 , but never get enough time to finish it...

[2017-07-27 15:02] kalpeshp0310 opened #5032 "Native crash while creating instance of Realm, when compactOnLaunch used in RealmConfigurationBuilder."
**Bugs**: App crashes with native exception `JNI DETECTED ERROR IN APPLICATION: can't call boolean com.kalpesh.data.factory.RealmConfigurationFactory$2.shouldCompact(long, long) on instance of io.realm.DefaultCompactOnLaunchCallback'`

#### Goal

#### Expected Results

#### Actual Results

[code]
#### Steps & Code to Reproduce

#### Code Sample

[code]

#### Version of Realm and tooling
Realm vers

[2017-07-27 15:20] Zhuinden commented on #5032
Please show whole file com.kalpesh.data.factory.RealmConfigurationFactory

[2017-07-27 15:23] beeender commented on #5032
@kalpeshp0310 Hey! we actually saw this! See #4694 . I thought it might be a Android bug.

Do you have `android:debuggable="true"` in your manifest?

[2017-07-27 15:33] bmeike commented on #3034
Another request: https://stackoverflow.com/questions/45318711/dont-try-to-rebuild-realm-model-every-time-run-android-build/45335850#45335850

[2017-07-27 16:23] realm-ci opened #5034 "Fix merge from 7fbccc to master-4.0"

[2017-07-27 20:56] felixsoares commented on #2837
i had the same problem and i solve creating a PrefsApplication, like that

        public class PrefsApplication extends Application {
             @Override
             public void onCreate() {
                   super.onCreate();

                  MultiDex.install(this);

                 Realm.init(this);
           }
        }

in AndroidManifest.xml

        <application android:name=".code

[2017-07-27 22:31] bmeike commented on #4987
@trr-amsiq,
We have been unable to reproduce this.  I'm going to close the issue.  By all means, if you encounter it again, please open a new issue and we will jump on it.

Cheers!
  -blake

[2017-07-27 22:34] bmeike commented on #4998
@trr-amsiq
It looks like you have, at least, a workaround.  I am going to close this issue.  If you can reproduce the problem, please open a new issue right away.
Thanks!
  -blake

[2017-07-27 22:34] #4998 closed

[2017-07-27 22:37] bmeike commented on #4947
@deco-ding,
Haven't heard from you in a while.  I hope that is good news!
I am going to close this ticket.  Please, though, if you can reproduce this problem open a new one right away.

Thank you!
  -blake

[2017-07-27 22:37] #4947 closed

[2017-07-27 23:04] bmeike commented on #4976
Hey @mandrachek ,
  Do you have any objection to closing this issue and tracking the bug in https://github.com/realm/realm-core/issues/2746 ?  It seems to have more/better information.
Thanks,
  -blake

[2017-07-28 02:21] beeender commented on #4976
@bmeike I think it is better to keep this open in the java side as well. Since most java users won't go to core repo to find the opening bugs. Keeping it open make it easier for other users who may have the same issue to know that this is not fixed.

[2017-07-28 04:42] beeender opened #5036 "Avoid to call compactOnLaunch if there are Realm instances opened."
This has been fixed in Object Store by https://github.com/realm/realm-object-store/pull/496

However, it doesn't fix the java side problem since we are using dynamic schema mode of the `SharedRealm`.

Revisit this issue after the OS schema integration work finished.

[2017-07-28 06:10] zaki50 commented on #5032
@beeender The issue number does not seem to be correct.

[2017-07-28 07:40] kalpeshp0310 commented on #5032
@beeender Thanks, `android:debuggable="true"` was the issue.
After setting `debuggable false`, app worked fine. however there is huge delay in Realm instance creation with `compactOnLaunch` in `RealmConfiguration`.

I tried benchmarking above with mentioned code/config. below is the result of my test.

##### With `compactOnLaunch`

highest: 2401 milliseconds
lowest: 569

##### Without `compactOnLa

[2017-07-28 07:43] beeender commented on #5032
@kalpeshp0310 compacting is a time consuming operation, you can consider to use `getInstanceAsync()` to offload the compacting to a background thread.
Also, we are working on some optimization of `getInstance()`, see #5036

I am working on the crash right now, will report progress to the #4964 .

[2017-07-28 09:54] nhachicha commented on #4962
Here's the suggested implementation (tweaked a little bit from Cocoa, to take into account our RealmCache impl)

- `logout` will not require instances to be closed, it will be possible to reactivate the `SyncUser` by logging in again (either from the same thread or from a different thread). Re-activating the `SyncUser` will resume syncing.

- This use case will not happen, since a different `SyncU

[2017-07-28 10:46] pollux- opened #5038 "If you have inner class that implements RealmModel interface and your outer class extends RealmObject, I'm getting class not found exception during build process."
See the exception below.

If I change the type of both inner and outer class to the same <RealmObject or RealmModel>, build error is gone !!!

[2017-07-28 11:34] Zhuinden commented on #5038
You added `implements RealmModel` but you most likely didn't add `@RealmClass`

[2017-07-28 11:35] Zhuinden commented on #5038
Also make sure it is `public static class`

[2017-07-28 11:56] pollux- commented on #5038
I'm facing another issue now..

[code]

`Error:(31, 8) error: Valid model classes must either extend RealmObject or implement RealmModel.`

is this is because of Parcelable?

[2017-07-28 11:58] Zhuinden commented on #5038
You cannot do that.

[2017-07-28 12:02] pollux- commented on #5038
gotcha !!!

[2017-07-28 12:02] #5038 closed

[2017-07-28 14:08] kalpeshp0310 commented on #5032
@beeender thanks for the Info.

[2017-07-28 16:20] nojvek commented on #2880
I think realm should atleast have a documentation page on how one can implement import/export on their own.

This is a much needed feature for any database.

[2017-07-28 16:22] Zhuinden commented on #2880
Worst case scenario it is possible using the DynamicRealm API

[2017-07-28 16:49] bmeike commented on #5029
Hi there @cchuang6 !
  Can you give us more information on this issue?  We are, in particular, confused by the term "locked down".  The Realm DB supports multiple concurrent modifications...
-blake

[2017-07-28 17:41] Zhuinden commented on #5029
Well modifications no, there can be only one write transaction across processes, but there should be no read lock during query execution either.

How much data do you have in terms of row count, 100000?

[2017-07-28 20:07] bmeike opened #5040 "Realm.executeTransactionAsync loses some Exceptions"
This code: ```
        final Future<?> pendingTransaction = asyncTaskExecutor.submitTransaction(new Runnable() {
            @Override
            public void run() {
                // ...

                Throwable exception = null;

                final Realm bgRealm = Realm.getInstance(realmConfiguration);
                bgRealm.beginTransaction();
                try {
                    /

[2017-07-28 20:12] bmeike commented on #5001
You are right.  I have filed https://github.com/realm/realm-java/issues/5040 to track the bug.

[2017-07-28 20:12] #5001 closed

[2017-07-28 20:16] bmeike commented on #4993
@saeedrooyekhat
The problem, almost certainly, is that `realmAvatar` is `null`.  That is, that `schema.get(RealmAvatar.class.getSimpleName());` is returning `null`.

[2017-07-28 21:11] bmeike commented on #4667
Closing this was clearly a mistake.

[2017-07-28 21:13] bmeike commented on #4667
This may be related to https://github.com/realm/realm-java/issues/5011

[2017-07-28 21:18] bmeike commented on #5011
@KimiChiu
Investigating.  Will keep you posted.
-blake

[2017-07-28 21:25] bmeike opened #5041 "Support InstantRun"
Android Studio's InstantRun feature can lead to application abort on `ClassNotFoundException`.

For example:

[code]

[2017-07-28 21:27] bmeike commented on #5041
Closing https://github.com/realm/realm-java/issues/5005 into this issue.

[2017-07-28 21:33] bmeike commented on #5005
@IaroslavTernovyi
InstantRun is doing deep magic with class loaders.  It is not clear to me, immediately, what's going wrong.  I've opened #5041 to track the issue.

[2017-07-28 21:33] #5005 closed

[2017-07-28 21:38] bmeike commented on #4800
@jmonani
We haven't heard from you in a while, and we have had no luck reproducing the problem.  I'm going to close this issue.
Please, by all means, if you encounter the problem again or get more information about it, open a new issue.  We'd be more than happy to work it with you.
-blake

[2017-07-28 21:38] #4800 closed

[2017-07-28 21:44] bmeike commented on #4860
Hi @eduxavier
  We haven't heard from you for a while, so I'm going to assume that you've found a solution for this problem, so I'm going to close this issue.  If that is not the case, by all means, feel free to open a new issue.
-blake

[2017-07-28 21:44] #4860 closed

[2017-07-28 22:41] bmeike commented on #4905
I suspect that this has nothing to do with multiple processes.  The cause of failure is here:  ```
if (info->shared_info_version != g_shared_info_version) {
	std::stringstream ss;
	ss << "Shared info version doesn't match, " << info->shared_info_version << " " << g_shared_info_version
	   << ".";
	throw IncompatibleLockFile(ss.str());
}
[code]

[2017-07-28 22:45] bmeike commented on #5032
There is a workaround.  Bug is being tracked in #4964.  Closing.

[2017-07-28 22:45] #5032 closed

[2017-07-29 01:02] bmeike commented on #5029
Totally my mistake.  There can only be one write transaction across *threads*, of course.

[2017-07-29 05:16] jmonani commented on #4800
Hello,

I am working on redesign of app with new feature and will update once we
have it ready.

Thanks much for following up.

Jignesh

On Jul 28, 2017 2:38 PM, "G. Blake Meike" <notifications@github.com> wrote:

[2017-07-29 07:48] raghul-s opened #5042 "Why there is no (.JAR) or (.AAR) file available for latest realm."
If my system firewall blocks external 3rd party dependencies like realm, retrofit etc.  I am forced to use (.jar) or (.aar) file.

I am unable to use realm now becuase there is no official. AAR or. JAR file available.

Version 0.85 jar is available but it is largely outdated. How can I overcome these issues.

#### Goal

#### Expected Results

#### Actual Results

#### Steps & Code to Reproduce

##

[2017-07-29 08:03] Zhuinden commented on #5042
Well the trick is that Realm is distributed as a Gradle plugin that adds the dependencies and registers the Realm Transformer task.

Maybe if you have all components compiled locally then you can make Gradle execute it?

[2017-07-29 08:05] Zhuinden commented on #5029
@bmeike they are not 100% free because they need to become `isLoaded()` which takes time, but it still shouldn't block anything either.

[2017-07-29 08:12] raghul-s commented on #5042
Yes only locally compiled files will work with studio.

[2017-07-29 08:42] subaru44k commented on #904
+1

[2017-07-29 18:28] maxi182 commented on #3430
Hey guys, i am having this issue as well, libepos2.so can not be found and I am using realm in the project. The poblem i have, if i do that exclude.. realm is not going to be able to initialize..

[2017-07-29 19:24] Sottti commented on #4117
@kneth I've been a couple of days fighting with this issue.
I'm getting `Fatal Exception: java.lang.UnsatisfiedLinkError
dlopen failed: "/data/data/com.lbe.parallel.intl/parallel_intl/0/com.(package).(package)/app_lib/librealm-jni.so.3.5.0" is 64-bit instead of 32-bit`.

The first thing I did was check my APK to see which *.so files were there and I found just librealm-jni.so files in every folder

[2017-07-30 02:49] maxi182 opened #5046 "Epson android jni library having conflict with Realm"
#### Goal
I am building an Android app, using Realm v3.3.1, my app must include an Epson library(
[ePOS_SDK_Android_v2.5.2.zip](https://download.epson-biz.com/modules/pos/index.php?page=single_soft&cid=5491&scat=61&pcat=52)) which has a JNI lib included to allow the device print via bluetooth

#### Expected Results

I expect to have no conflicts with the epson library that aparently does not suppo

[2017-07-30 13:44] Chris59160 commented on #3430
Hi maxi182, do you have any other library included the same way ? My issue was due to having to include other C libraries.

[2017-07-31 02:56] beeender commented on #4117
@Sottti Can you tell if the S7 user is running with a customized ROM? Looks something wrong with the ROM... So it happens even when you removed the 64bit so? Sounds impossible :(

[2017-07-31 04:07] preyesm opened #5048 "Exception and crash while inserting and deleting using Realm"
Realm Version 3.4.0
Android Studio 2.2
Goal: to update the object in cache
Actual result: crash below
Expected result: to update successfully and call the addChangeListener

Code:
[code]

BackTrace:
Fatal Exception: java.lang.IllegalStateException: Changing Realm data can only be done from inside a transaction.
       at io.realm.BaseRealm.checkIfValidAndInTransaction(SourceFile:400)
       at io.

[2017-07-31 04:52] csi111 opened #5049 "Exception and crash when Realm.Init()"
**Bugs**

I've got this crash from Sony G3116 device.

How can I solve this problem?

on the Application.class
[code]

Exception java.lang.UnsatisfiedLinkError: dlopen failed: "/data/data/io.agit/app_lib/librealm-jni.so.3.5.0" is 32-bit instead of 64-bit
java.lang.Runtime.load0 (Runtime.java:897)
java.lang.System.load (System.java:1505)
com.f.a.e.b (SystemLibraryLoader.java:29)
com.f.a.d.c (ReLink

[2017-07-31 05:20] beeender commented on #5049
do you have other native libraries than Realm?

[2017-07-31 08:08] ishaan1995 opened #5050 "[Crash] / [Bug] librealm-jni.so"
#### Goal

#### Actual Results

#### Steps & Code to Reproduce

#### Code Sample

#### Version of Realm and tooling
Realm version(s): 2.3.1

Realm sync feature enabled: no

Android Studio version: 2.3.3

Which Android version and device: Several samsung, micromax, sony devices having android version between 4.1.1 to 4.4

Crash Log : (in CrashLytics log, do not know the actual error or cause)
[code

[2017-07-31 08:09] beeender commented on #5050
can you put the completed crash log here?

[2017-07-31 08:09] saeedrooyekhat opened #5051 "Bad Realm file header (#1),ACCESS_ERROR"
my first realm init the following is done

[code]
but i get following error in some of devices.
also proguard is enable.

[code]

how can i fix it?

-----------------------------------------------------------------------------------------------------------

Realm version(s): 3.3.1

Realm sync feature enabled: no

Android Studio version: 2.2.1

Which Android version and device: 4,5,6. Huawei,Samsun

[2017-07-31 08:14] ishaan1995 commented on #5050
@beeender This is all we got from crashlytics.Do not know how to even reproduce this and find root cause

[2017-07-31 08:17] ishaan1995 commented on #5050
Also found  this -> "SIGSEGV SEGV_MAPERR 0x7fffffffffffffff"

[2017-07-31 08:18] beeender commented on #5050
"SIGSEGV SEGV_MAPERR 0x7fffffffffffffff" this doesn't look like the same issue as what you reported first. Can you share the crashlytics link with us?

[2017-07-31 08:20] ishaan1995 commented on #5050
http://crashes.to/s/5cd1a66150b

[2017-07-31 08:23] beeender commented on #5050
It feels like the stack is corrupted for some reason. Do you use any other native lib than Realm?

[2017-07-31 08:25] ishaan1995 commented on #5050
No, we don't, the only native lib we have is realm, also we use apk spilts and this appears to be happening on armv7 devices only.

[2017-07-31 09:04] saeedrooyekhat commented on #4993
Yes realmAvatar is null, but why? RealmAvatar object surely there in my code!

[2017-07-31 09:13] simonask commented on #5015
No, that seems to definitely be a bug. :-)

I'm surprised by it though — we use in-memory Realms in our internal tests. Perhaps the Object Store isn't forwarding the option correctly?

[2017-07-31 09:14] Zhuinden commented on #4993
Maybe it is not part of the schema and should be added in the migration previously if does not exist?

[2017-07-31 12:38] nhachicha commented on #5051
Hi @saeedrooyekhat are you calling this from `Application#onCreate`? is this used in multi process context?

@beeender could it be related to https://github.com/realm/realm-core/issues/2258 ?

[2017-07-31 13:01] nhachicha commented on #5048
Hi @preyesm Are you sure the exception is thrown inside `updateClientInfo` ?  is this the corresponding line in
[code]
 the `insertOrUpdate` inside `updateClientInfo` is wrapped inside a transaction already

[2017-07-31 13:42] lazarvgd opened #5052 "How to store List<Long> with relam? - Question"
Hi, how can I store to Realm list of Long's?

For example i have class Person:

Person extends RealmObject{
private List<Long> accountId;
}

Thanks

[2017-07-31 13:43] nhachicha commented on #5046
I think Epson `.so` is an `armeabi` which force the system to look for `armeabi` ABI which is not supported anymore in Realm.

I'm not sure how you're loading the Epson SDK, try to load the Realm SDK first and see if you get the same error stack.

[2017-07-31 13:49] Zhuinden commented on #5052
As `String`.

[2017-07-31 17:08] maxi182 commented on #5046
Thanks for your response @nhachicha.
Acually, after writing this post, I found that i have to downgrade to Realm 1.2.0 as its the last one supporting armeabi, something related about what you are saying, and yes, seems that the conflict is no longer happening..
The thing is i am having a new issue now as i had to downgrade form 3.3.1 to 1.2.0.
I am getting the INVALID FORMAT OF REALM FILE, when i

[2017-07-31 17:14] Zhuinden commented on #5046
The Realm file format upgrade in 2.0.0 and 3.1.0 are not backwards compatible. You'd need to catch this exception and delete the existing database.

[2017-07-31 17:33] nhachicha commented on #4970
Please reopen if you have more information to share.

[2017-07-31 17:33] #4970 closed

[2017-07-31 17:34] maxi182 commented on #5046
Hi @Zhuinden, I have already deleted the app and reinstalled from scratch, and still happening, what do you mean with catch that exception? Is i add a Try catch to `Realm.getDefaultInstance()` which returns my Realm object, it will be null..

[2017-07-31 17:59] nhachicha commented on #5042
Hi @raghul-s why don't you build Realm [locally](https://github.com/realm/realm-java#building-realm)?

you can then publish to your local maven repo, using `./gradlew installRealmJava`.

An alternative way is to copy the Realm dependencies from a machine which is not behind a Firewall
just copy everything under `~/.m2/repository/io/realm/` to your machine behind  the firewall
(note you need to ena

[2017-07-31 18:08] nhachicha commented on #5046
@maxi182 Are you shipping a Realm with the APK that might be created with the new format?
How are you deleting the app using `adb uninstall`?

[2017-07-31 18:27] maxi182 commented on #5046
Hi @nhachicha , I actually tryed deleting the app with ADB idea (that plugin) and manually as well from the device

[2017-07-31 18:34] nhachicha commented on #5046
@maxi182 is it possible to [share](help@realm.io) the latest APK to try to reproduce?

[2017-07-31 19:57] maxi182 commented on #5046
Hey Nabil, sure, i just sent it to help@realm.io
Thanks!

[2017-07-31 22:59] bmeike commented on #4322
I don't think this really involves the ObjectStore Integration.  The problem can occur that a @LinkingObject declaration depends on something that is not part of the current compilation unit.  In the general case this will break at runtime.  We *can* though, catch things like those tested by the LinkingObjectsManagedTests (I believe those tests would pass, if updated).  We also can (and should) ca

[2017-07-31 23:01] bmeike commented on #4322
@zaki50 : have a look at those tests if you want to see how it can happen.

[2017-07-31 23:33] nhachicha commented on #5046
@maxi182 I run the app on `armv7` Android 6.0 emulator and it didn't crash
<img width="696" alt="screen shot 2017-08-01 at 00 29 18" src="https://user-images.githubusercontent.com/1793238/28802928-f4c223ca-7650-11e7-805a-0059ca9f6dfe.png">

[2017-08-01 00:00] bmeike commented on #4323
It can, probably, be closed.  This was a place-holder for a checkmark in the original Issue. Will verify ASAP.

[2017-08-01 00:36] vkreal opened #5054 "Duplicate zip entry [classes.jar:io/realm/BaseRealm$1.class]"
Hi, anyone know how we can fix this error below with having duplicate realm? This only occur during our build process.

`(Can't read [/Users/vorunk/.android/build-cache/f0950fea0b476b5e617c9329b00630442fff9eaa/output/jars/classes.jar(;;;;;;**.class)] (Duplicate zip entry [classes.jar:io/realm/BaseRealm$1.class]))`

#### Version of Realm and tooling
Realm version(s): 3.0.0
Realm sync feature enable

[2017-08-01 01:06] csi111 commented on #5049
Just 1 library added in my project, but the lib is just for voice chat.

[2017-08-01 01:43] beeender commented on #4322
@bmeike the checking has been done in https://github.com/realm/realm-java/pull/4960 . It will throw the first time when user open the Realm instance. And i think it is good enough since user cannot open a Realm instance if the backlink is wrong. Also please notice, the proxy file will be changed a lot after the Object Store schema integration. So i you really want to do compile time checking, woul

[2017-08-01 01:46] beeender commented on #4322
Also please notice that since we have `RealmProxyMediator`, user can dynamically change the set of Realm Object to be used. I don't think there is an easy way to do the checking during the compile time. Again, i think #4960 is enough.

[2017-08-01 01:58] beeender commented on #5049
@csi111 Can you please share your apk file somewhere?

[2017-08-01 04:16] preyesm commented on #5048
Hey @nhachicha yeah. That is where my confusion is. All my transactions are inside the exceute transaction block. but after upgrading the realm from 2.3.1 to 3.4 I have got this issue. To avoid crashes I have surrounded all my transaction with a try catch.

[2017-08-01 04:28] NikhilRPatil commented on #3472
Error:(44, 44) error: Builder(Context) is not public in Builder; cannot be accessed from outside package

 private void addAction() {
        String what = mInputWhat.getText().toString();
        long now = System.currentTimeMillis();
        RealmConfiguration configuration = new **RealmConfiguration.Builder**(getActivity()).build();
        Realm.setDefaultConfiguration(configuration);

[2017-08-01 04:32] NikhilRPatil opened #5055 "Error:(44, 44) error: Builder(Context) is not public in Builder; cannot be accessed from outside package"
#### Goal

#### Expected Results

#### Actual Results

#### Steps & Code to Reproduce

 private void addAction() {
        String what = mInputWhat.getText().toString();
        long now = System.currentTimeMillis();
        RealmConfiguration configuration = new RealmConfiguration.Builder(getActivity()).build();
        Realm.setDefaultConfiguration(configuration);
        Realm realm = Realm.get

[2017-08-01 04:58] NikhilRPatil commented on #4010
he hi .... ciucurashu
   i have same problem which you explained above ....  I am unable to put  Realm.init() in my code so plz help me to slove it . In below i send u my git hub project link plz check and give me solutio

https://github.com/NikhilRPatil/Bucket_Drops/blob/master/app/src/main/java/com/example/nikhil007/bucketdrop/DialogAdd.java

[2017-08-01 05:14] raghul-s commented on #5042
hi @nhachicha Your solution is a possible one but an issue is behind this. Locally building the project behind firewall or using the entire code base will increase my (.apk) size and codeBase size. My doubt is why (@realm-admin)  Realm developers dropped creating .aar file  for latest builds. Being a popular alternate to sqlite. Due to this issue I am dropping the use of REALM and moving to SQLITE

[2017-08-01 06:34] Zhuinden commented on #5055
Ya, since Realm 2.0.0 you have to use `Realm.init()` with an application context, and that is re-used across other configuration builders so you don't need to pass context to the builder anymore.

[2017-08-01 06:35] Zhuinden commented on #4010
see https://github.com/realm/realm-java/issues/3472

[2017-08-01 06:37] Zhuinden commented on #5042
@raghul-s Realm provides a Gradle plugin so that developers don't need to worry about what dependencies to add, and how to register the Realm-Transformer gradle task (for running the bytecode transformer that replaces field access with proxy method calls).

[2017-08-01 07:07] ciucurashu commented on #4010
Well after you followed the steps from above you should go inside your
DialogAdd class inside the addAction() method and delete those two lines:

RealmConfiguration configuration.... And
Realm.setDefault....

Only keep the Realm realm = Realm.getDefaultInstance()

This is what i remember doing. Unfortunately i've lost my code due to some
hardware problem:)).

Pe 1 aug. 2017 09:35, "Gabor Varadi" <

[2017-08-01 08:11] #4957 closed

[2017-08-01 09:47] deco-ding commented on #4947
@bmeike It works, thx!

[2017-08-01 10:45] maxi182 commented on #5046
Yep, I had to restart the device after unistall the app, for some reason the realm file was cached or somethig.
Thanks for your great support!

[2017-08-01 11:31] saeedrooyekhat commented on #4993
@Zhuinden RealmAvatar was exist from first release of my app,
you can see complete migration class https://github.com/realm/realm-java/issues/4993#issuecomment-317334934

[2017-08-01 11:44] #5046 closed

[2017-08-01 12:59] nhachicha commented on #5054
Hi @vkreal can you share your gradle configuration, may be you're there's a transitive dependency that's using Realm, that you need to exclude.

You can also run `./gradlew dependencies` to see your dependencies

[2017-08-01 13:15] zaki50 commented on #5055
About initializing Realm, please see https://realm.io/docs/java/latest/#initializing-realm

[2017-08-01 13:38] patelnishantk opened #5056 "App crashes randomly after updating Realm from 3.0.0 to 3.5.0"
Realm version: 3.0.0
Device: Android SDK Simulator x86 with Android v7.1.1
Encryption: Un-encrypted
Android studio V 2.3.2
Realm sync feature enabled: no

The app uses SyncAdapter. Whenever some local changes are made in realm, SyncAdapter would sync the changes with server using an API. All the local changes made due to some user interaction are made on main thread using executeTransaction() whil

[2017-08-01 13:41] Zhuinden commented on #5056
That is interesting because both of them happen in `libskia` but it was only visible after a Realm update.

Reminds me of https://github.com/realm/realm-java/issues/4733 ...

[2017-08-01 13:47] patelnishantk commented on #5056
We had our doubts that the issue could be related to image rendering but what we wonder is why does it happen upon upgrading realm or otherwise works fine with 3.0.0

[2017-08-01 13:52] Zhuinden commented on #5056
You will most likely need to send an APK to reproduce this to help[at]realm.io with 3.5.0 to have them check it out.

How often does this occur?

[2017-08-01 15:30] nhachicha commented on #5048
@preyesm  can you [share](help@realm.io) the APK to try to reproduce?

[2017-08-01 15:48] nhachicha commented on #5056
Realm Core was updated a couple of times between 3.0.0 and 3.5.0. It would be helpful if you can share your APK so we can try to reproduce it.

[2017-08-01 17:16] bmeike commented on #4322
Let me have a look.  I will, absolutely, not interrupt your OS work.  If I make changes, I'll do them after you commit.
... and I agree that it is not easy.  But that's not a great excuse...

[2017-08-01 17:50] vkreal commented on #5054
@nhachicha first of all thanks for helping! So I ran `./gradlew dependencies` and noticed 6 references to `io.realm` screen below. You think it's causing the duplicate issue?

<img width="879" alt="screen shot 2017-08-01 at 10 45 38 am" src="https://user-images.githubusercontent.com/230700/28838929-c5b0d38c-76a6-11e7-80a5-4df20435eff7.png">

[2017-08-01 18:42] Zhuinden commented on #5054
That `store-sdk-android` is bringing in Realm 3.0.0 as well.

[2017-08-01 18:51] nhachicha commented on #5054
What is `platform-sdk-android:approvals-sdk`? try to exclude the transitive dependency to Realm from this dependency

[code]

here I assume the scope of your dependency`platform-sdk-android:approvals` is `compile` please change to other scope if not

[2017-08-01 19:11] vkreal commented on #5054
@nhachicha Thanks! I will take a look and get back.

[2017-08-02 01:27] csi111 commented on #5049
You can search 'agit' in GooglePlayStore and download it.
[https://play.google.com/store/apps/details?id=io.agit](https://play.google.com/store/apps/details?id=io.agit)

[2017-08-02 04:07] preyesm commented on #5048
@nhachicha  Sure. Should I mail to realm.io? I'll retain the code to its old state where it used to crash and also mail the steps to reproduce.

[2017-08-02 04:14] #4964 closed

[2017-08-02 05:02] beeender commented on #5049
Unfortunately I don't have a rooted phone right now, so I cannot get the apk file from play store :( Could you please send the apk file to help@realm.io? thanks.

[2017-08-02 07:21] beeender commented on #5050
The current information is too limited to identify the issue :( We will keep this issue opened for a bit longer to see if any other users meet the similar issue. If you have more information about this, please let us know.

[2017-08-02 08:23] lbx2015 commented on #2073
If we had not using the RealmResults directly in adapter, we need to mannualy update the adapter's data set after changed. This fix my issue.

[2017-08-02 08:35] preyesm commented on #5048
@nhachicha  There is another issue.
"final List<String> idsToDelete = new ArrayList<>();
        for (PropertyInfo propertyInfo : propertyInfoArrayList)
            idsToDelete.add(propertyInfo.getBasicId());
        ApplicationDataHandler.getRealm().executeTransaction(new Realm.Transaction() {
            @Override
            public void execute(Realm realm) {
                realm.where(Propert

[2017-08-02 10:16] nhachicha commented on #5048
Hi @preyesm please send to help@realm.io

[2017-08-02 10:36] preyesm commented on #5048
@nhachicha I have mailed a copy to your id. I shall fwd that to help also. Thanks

[2017-08-02 11:12] nhachicha commented on #5042
Hi @raghul-s we listed the reasons why we switched to the plugin in this blog post back at the time https://blog.realm.io/android-installation-change/

[2017-08-02 11:12] #5042 closed

[2017-08-02 11:56] nhachicha commented on #5048
I couldn't reproduce the crash following your steps. I've sent you an email with the video
However, you do seem to have a `java.lang.ArithmeticException: divide by zero` exception when clicking on the messages.
​
For the error two, this happens when you try to commit a transaction without being in an active one (Example, this happens when you accidentally cancel the current write transaction after

[2017-08-02 12:21] nhachicha commented on #4993
@saeedrooyekhat can you call `schema.getAll()` (in the migration block 11) then iterate through all `RealmObjectSchema` to display their names (using `getClassName`) this will show if `realmAvatar` is part of the current schema or not.

If this bug happens sporadically, you can also throw an exception if this class is not available using `checkHasTable`

[2017-08-02 12:32] beeender commented on #5036
This will be fixed together with OS schema work.

[2017-08-02 12:38] nhachicha commented on #5048
as discussed in Helpscout here's an example https://github.com/realm/realm-java/blob/32bb8d71b5096e192cbc1b037811997a5840a26b/realm/realm-library/src/androidTest/java/io/realm/RealmAsyncQueryTests.java#L223-L248 of what could trigger the `Can't commit a non-existing write transaction` exception.

If you can isolate and reproduce the first exception we'll have a look again.

[2017-08-02 12:39] preyesm commented on #5048
@nhachicha Sure, thanks. I'll try and let you know

[2017-08-02 13:38] nhachicha commented on #5048
if you cancel the transaction within an `executeTransaction` block then this will obviously throw.

You should not check if you're inside a transaction then cancel it, as this will cause the automatic `commit` done by the `executeTransaction` to throw.

It would help if you can post a code/pseudo code of the steps

[2017-08-02 13:45] mhmtk commented on #3406
Anyone found a solution for this? Is using the Parceler library the way to go?

[2017-08-02 17:33] realm-ci opened #5059 "Fix merge from fbb711 to master"

[2017-08-02 22:03] vkreal commented on #5054
@nhachicha awesome it works. Thank you!

[2017-08-03 02:55] realm-ci opened #5061 "Fix merge from f2144d to master-4.0"

[2017-08-03 04:14] preyesm commented on #5048
@nhachicha This is my code:
 try {
            if (ApplicationDataHandler.getRealm().isInTransaction())
                ApplicationDataHandler.getRealm().cancelTransaction();
            ApplicationDataHandler.getRealm().executeTransaction(new Realm.Transaction() {
                @Override
                public void execute(Realm realm) {
                    if (realm.where(ThreadCache.class).co

[2017-08-03 07:20] Zhuinden commented on #5048
If you end up in a transaction while you are already in a transaction, then you should debug your application flow as that sounds rather unpredictable.

[2017-08-03 07:57] preyesm commented on #5048
- We have chat support in our application and when a user is viewing a chat there could be multiple entities as the user scrolls through the recyler view.
- In that case we update all the respective entities in our local cache. For which we call execute transaction for every type of entity(individual execute transaction block with same realm instance).
- I was under the assumption that every execu

[2017-08-03 08:18] FatimaSiddique opened #5062 "RealmMigrationNeededException Realm on disk need to migrate from v1 to v3"
Hi,

**Bugs**
I am getting following exception while user is upgrading from 1 to 3 db schema

#### Actual Results
[code]

Realm configuration is as follows:
#### Code Sample
[code]

I have specified DB migrations in code in which i have mentioned DB changes.
Its not mentioning which DB model is causing the issue so I am unable to identify the cause. Can you please help in resolving this issue

###

[2017-08-03 08:24] AlexTip opened #5063 "Bad Realm file header (#3)"
Hi there! We've got growing Realm exception (kinda about 17k crashes from about 800 users for the last 30 days) with the next stack trace:
[code]

Device stats (fairly no pattern): https://prnt.sc/g3ryyh
The only thing to mention is that crashing scenario is happening from new thread invoked from the service.

[2017-08-03 08:26] beeender commented on #5063
1. What is your Realm version? Does the crash happen to a specific Realm version?
2. Do you use encryption?
3. Do you open Realm from multiple processes?

[2017-08-03 08:29] AlexTip commented on #5063
1. Realm version - 3.5.0
2. No
3. No

[2017-08-03 08:30] beeender commented on #5063
Does it happen when you update the Realm from the older version to `3.5.0`? If yes, what is the old version?

[2017-08-03 08:40] AlexTip commented on #5063
As far as I can see this crash was persistent for all the time in minor volumes about 10 crashes a day, but when we updated 3.1.4 to 3.4.0 and further the number of crashes started to grow incredibly.

[2017-08-03 08:41] beeender commented on #5063
Do you use `Realm.compactRealm()`?

[2017-08-03 08:43] AlexTip commented on #5063
No, the configuration is trivial enough
[code]
No additional features are used

[2017-08-03 08:47] beeender commented on #5063
Should be the same issue with https://github.com/realm/realm-core/issues/2258 let's discuss there.

[2017-08-03 08:49] Zhuinden commented on #5063
Technically "bad Realm file header" means corruption, but you currently don't seem to be doing anything that ought to cause corruption.

I guess the next question is:

- how many threads try to start transaction concurrently (shouldn't cause a problem but hey), for example are Realm writes on a dedicated Realm-write-thread, or in AsyncTask/other threadpools

- do you have two or more processes in

[2017-08-03 08:58] Zhuinden commented on #5062
Why not specify the migration on the configuration builder?

[2017-08-03 09:06] Zhuinden commented on #5048
`executeTransaction()` runs synchronously on the thread where you call the method.

Although I do admit, there were more "not in a write transaction" and "already in a write transaction" issues than what makes sense.

[2017-08-03 09:32] NitroG42 opened #5064 "Transient Annotation on LinkingObjects returns null"
I just discovered what I think is an issue, here is a default model:

[code]
I'm using transient on the field worlds because I don't want it to be serialized by gson (nor deserialized).
Unfortunatelly, by doing so the linkingObjects doesn't work anymore (it returns null).

Do you think is a fixable bug or do you know a workaround ?

[2017-08-03 09:37] preyesm commented on #5048
But as you could see in the code sample above that I have shared, if the executeTransaction were running synchronously, then why is this issue *Changing Realm data can only be done from inside a transaction* cropping up?

[2017-08-03 09:42] NitroG42 commented on #5064
I spoke too soon, I don't needed the transient annotations, just tried to serialize without using copyFromRealm...
Forget it !

[2017-08-03 09:42] #5064 closed

[2017-08-03 09:55] FatimaSiddique commented on #5062
Is there any difference in both ways?

[2017-08-03 10:27] #5054 closed

[2017-08-03 10:39] nhachicha commented on #5062
@FatimaSiddique it's just a good pattern to have the migration block alongside the configuration. Otherwise, you need to know which part of your code is going to open the Realm first then make sure to manually trigger the migration. That might be your case here, some part of your app may be trying to open the Realm before you get to this code path where you migrate manually.

Can you add the migra

[2017-08-03 11:02] preyesm commented on #5048
@nhachicha even after fixing the exception that you had pointed out, I am getting the error 2 - in this code block
 public static void deletePropertiesFromDb(final List<PropertyInfo> propertyInfoArrayList) {
        final List<String> idsToDelete = new ArrayList<>();
        for (PropertyInfo propertyInfo : propertyInfoArrayList)
            idsToDelete.add(propertyInfo.getBasicId());
        Appl

[2017-08-03 11:47] nhachicha commented on #5048
There's nothing wrong with the `deletePropertiesFromDb` method AFAICT, the exception could be thrown because of another code path in the app (in which context you call `deletePropertiesFromDb`)

As I explained earlier, the exception reflects an illegal state where somehow you end up trying to `commit` a not previously open transaction. It would be helpful to identify the path leading to this state

[2017-08-03 13:08] preyesm commented on #5048
@nhachicha Ok, I ll check the app flow once again and revert back If i find the issue. Thanks

[2017-08-03 14:07] eikaramba commented on #5056
hey there, eike here from fileee. i will prepare an apk and a video for you and sent it to you via mail. The problem happens quite often and is easily reproducible. i will show you in the video how.

[2017-08-03 18:00] nhachicha commented on #5056
@beeender could you please take a look? APK's here https://secure.helpscout.net/conversation/408147789 seems related to the `libskia` issues reported  in #4733 #4621

[2017-08-03 20:23] VenomVendor opened #5066 "Detach Realm from RealmQuery"
## Problem statement.
As described in https://stackoverflow.com/q/44035272/1008278
Create a **RealmQuery** in Thread A & pass it across to be executed conditionally in different Thread.
This triggers `IllegalStateException(BaseRealm.INCORRECT_THREAD_MESSAGE);`.
[Solution provided cannot be used, as listeners can be added only if Looper is available](https://stackoverflow.com/a/44043733/1008278) &

[2017-08-03 23:09] Zhuinden commented on #5066
That's not really true though, [query methods call down to native](https://github.com/realm/realm-java/blob/master/realm/realm-library/src/main/java/io/realm/internal/TableQuery.java#L626-L710) and things get tricky

[2017-08-04 01:05] nhachicha opened #5068 "RunInLooperThread with Sync test crash"
Using `@RunInLooperThread` rule (via `BaseIntegrationTest` for example) will cause the sync client thread to crash

[code]

Also confirmed from _strace_:
[code]

This could be reproduced with the following test

[code]

This happens because the `TemporaryFolder#after` is triggered even before the test is complete (before calling `looperThread.testComplete`) causing it to delete the entire director

[2017-08-04 02:31] KimiChiu commented on #5011
It can be reproduced every time through these steps.

1. Inserts 50MB data into realm database
2. Fills the internal storage.
3. Open the app again
4. Crashed
5. Can never open the app because of the `Bad Realm file header (#1)` error.

[2017-08-04 02:40] beeender commented on #5056
I am checking

[2017-08-04 04:34] beeender commented on #5056
@eikaramba I am playing with your apk, some qeustions:

1. After uploading a garbage , it shows "In Process" all the time. I have been waiting for 10+ minutes. Anything I can do to continue the following steps?
2. Does it happen to x86 emulator only?

[2017-08-04 04:57] engr-erum commented on #1845
I am getting same issue .can someone pls repond me  java.lang.IllegalArgumentException: A RealmObject with no @PrimaryKey cannot be updated:

[2017-08-04 05:04] engr-erum commented on #1845
I am getting same issue .can someone pls repond me  java.lang.IllegalArgumentException: A RealmObject with no @PrimaryKey cannot be updated:
http://jsoneditoronline.org/?id=cc5a403d1bbd933c250069a9221fcc02

[2017-08-04 06:02] Zhuinden commented on #1845
@engr-erum if you do not have a `@PrimaryKey` then you should have `createAllFromJson` https://realm.io/docs/java/latest/api/io/realm/Realm.html#createAllFromJson-java.lang.Class-java.io.InputStream-

[2017-08-04 06:05] engr-erum commented on #1845
@Zhuinden  so it will delete old data from table and create everytime or it will append rows everytime ?

[2017-08-04 06:08] Zhuinden commented on #1845
@engr-erum actually I think it will just append rows everytime.

[2017-08-04 06:12] engr-erum commented on #1845
@Zhuinden  can u pls help me how to avoid  appending rows everytime.As i already added primary key in model class but its not working.Here is gist https://gist.github.com/engr-erum/a91cad1302de33fae19813a5e2814012

[2017-08-04 06:38] Zhuinden commented on #1845
@engr-erum if you need to customize the persistence by that you want to ignore fields in the JSON, then you probably should just use GSON to parcel to real classes and then map out what you need to Realm.

[2017-08-04 08:00] lauraoran commented on #759
+1

[2017-08-04 08:26] beeender commented on #1788
After two years, there are still no mips64 device in the market. Close this issue.

[2017-08-04 08:26] #1788 closed

[2017-08-04 08:51] beeender commented on #2976
@cmelchior I think we can close this.

[2017-08-04 09:26] beeender commented on #4648
@bmeike do we have any reproduce steps for this? After checking the original issue, it looks very much something wrong in the user's code with controlling Realm life-cycles.

[2017-08-04 09:35] Zhuinden commented on #4648
I think it was all caused by just that RealmResults and its Change listener is not invalidated / removed when activity.onDestroy is called so if a change happens after activity dies, the RealmResults is not guaranteed to be dead and can still try to update adapter even though it is a dead view hierarchy

[2017-08-04 09:36] Zhuinden commented on #4648
Also Realm should be closed only after `super.onDestroy` because of some accessibility magic

[2017-08-04 09:45] Zhuinden commented on #4648
@beeender so it is as if even though local instance is closed, then RealmResults is invalid even if global instance is open.

[2017-08-04 11:27] nhachicha commented on #5066
Although it looks like a POJO, the `RealmQuery` uses underneath C++ `Table`,`TableView` and accessors which are thread confined.

[2017-08-04 12:11] eikaramba commented on #5056
hey @beeender, oh that is strange.
1) You can swipe-to-refresh in order to trigger a sync. normally a push notification should do that automatically.
2) i know it happens on x86 and x86_64. Both emulator and real devices. Is that your question?

[2017-08-04 14:00] muthuraj57 commented on #5041
Is there any workaround? App is crashing on instant run due to this.

[2017-08-05 03:34] VenomVendor commented on #5066
Is it possible to move the operations performed while creating query, to execute before query execution. Detaching realm from query would be greatly helpful.

[2017-08-05 08:53] curiousily commented on #4662
A bit of progress on this one - it is marked as fixed:

https://issuetracker.google.com/issues/62152896

[2017-08-05 23:35] juliowebdeveloper opened #5069 "Realm instances never close onDestroy"
#### Goal

Close current Realm instance of the current activity when this activity gets destroyed.

#### Expected Results

I followed Realm documentation on how to manage instances lifecycles but still no success.

#### Actual Results

#### Steps & Code to Reproduce

#### Code Sample

[code]

#### Version of Realm and tooling
Realm version(s):  3.3.2

Realm sync feature enabled:  no

Android Studi

[2017-08-06 00:23] Zhuinden commented on #5069
is FirstActivity.onDestroy() ever called?

[2017-08-06 01:47] juliowebdeveloper commented on #5069
Yeah I always Log it and onDestroy() is called everytime

[2017-08-07 02:24] beeender commented on #5056
@eikaramba

So it doesn't happen to ARM devices?

[2017-08-07 05:39] aschrijver opened #5071 "Slight documentation error in chapter Threading?"
#### Goal

#### Confusing text

See: https://realm.io/docs/java/latest/#threading

Confusion: So if you update it in the UI, it is updated in the UI???

#### Expected

#### Version of Realm and tooling
Realm version(s): latest

[2017-08-07 07:17] Zhuinden commented on #5071
I'd just say `to Realm` but you seem to be right.

[2017-08-07 07:30] aschrijver commented on #5071
I'll PR `to Realm` then, if that's okay.

[2017-08-07 08:41] beeender commented on #5056
@eikaramba I can reproduce it on arm device. Checking now.

[2017-08-07 10:49] cmelchior commented on #5071
Hi @aschrijver Thanks for noticing that. You're right. It looks like a mistake.

[2017-08-07 11:02] cmelchior commented on #5066
Hi @VenomVendor
Queries sometimes depend on other queries (what we call "constraining views"). This is the reason that Realm Queries not automatically can be transferred across threads as completely separate objects.

E.g. consider

[code]

In that case you could not transfer `childQuery` because it depends on other state as well.
Note, that we do want to make it possible to transfer queries acros

[2017-08-07 11:02] #5066 closed

[2017-08-07 11:14] #5071 closed

[2017-08-07 11:14] cmelchior commented on #5071
Fix has been merged and should be public shortly

[2017-08-07 11:15] aschrijver commented on #5071
Thanks a lot @cmelchior !

[2017-08-07 11:19] zaki50 commented on #5069
Isn't `FirstActivityClass#onCreate()' called before `SplashActivity#onDestroy()`?

[2017-08-07 11:47] Zhuinden commented on #5069
S: onPause()
    F: onCreate()
    F: onStart()
    F: onResume()
    S: onSaveInstanceState()
    S: onStop()
    S: onDestroy()

[2017-08-07 11:54] trr-amsiq commented on #4987
@bmeike
Sorry for the late response. I've been in vacation.
Yes it is still occurring

[2017-08-07 13:45] nhachicha opened #5073 "[Sync] avoid creating duplicate SyncSession when opening a Realm"
During initialisation when opening a Realm the first time `doCreateRealmOrGetFromCache` will call `SharedRealm.getInstance(configuration)` then later `Realm.createInstance(this)` which will cause another implicit call to `SharedRealm.getInstance(configuration)`.

Currently, a `SyncSession` is created via the ObjectStore when creating a `SharedRealm`. This doesn't affect the syncing logic but creat

[2017-08-07 14:53] cmelchior commented on #5008
@nhachicha Has any progress been made on this?

[2017-08-07 14:55] cmelchior commented on #4323
@bmeike Any update on this?

[2017-08-07 16:35] idok595 commented on #5052
store it in json array of integer format as a string the you can parse it from String and to string using GSON library

[2017-08-07 19:40] lordofprograms opened #5074 "Can not delete single row from Realm with RxJava"
Error:

Delete func:

[code]

And using delete func:

[code]

[2017-08-07 19:57] Zhuinden commented on #5074
You will never call `unsubscribe()` with that setup.

[2017-08-07 23:09] bmeike opened #5075 "Extend the Notifications section of the documentation"
The documentation here:
https://deploy-preview-3643--realm.netlify.com/docs/java/latest/#notifications

.. could be improved.  The distinctions between the two kinds of notification: one with a list of changes and the other with an updated object could be clarified.  The current doc separates the description of the latter into two sections, divided by a description of the former.  ... and it never

[2017-08-08 01:03] user849651 opened #5077 "IllegalArgumentException: class c.h$b declares multiple JSON fields named a"
I'm using Retrofit and Realm for my Android app.

My app has a user login feature that lets the user log in to their account.

However, when I run my app (release build) and try to log into my account, it crashes and gives me this error:

[code]

I believe this has something to do with ProGuard, but I'm not certain.

I have far too many POJO classes to post them all here, but here are a few:

**Po

[2017-08-08 04:54] zaki50 commented on #5074
As @Zhuinden said, you need to unsubscribe.

[2017-08-08 04:58] zaki50 commented on #5077
I don't think that the error is related to Realm, but related to gson + ProGuard.

[2017-08-08 05:26] cmelchior opened #5078 "Support lexicographically sorting of Strings"
We had a handful of questions now around our support for lexicographically sorting of strings. More commonly people want to do something like `realm.where(Person.class).greaterThan("name", "abc").findAll()`.

One example: https://stackoverflow.com/questions/44581878/realm-string-greaterthan

Supporting this will be trivial if/when Realm Core adds support for it: https://github.com/realm/realm-core

[2017-08-08 10:30] beeender commented on #5056
What has been tried from Realm side so far:
1. Downgrade realm-core version by version until `v2.7.0` by replacing the `so` file in the apk. The crash still can be reproduced by the original apk file. I would like to try some earlier core version, but there are some java-NI dependency issues which is hard to solve.
2. I doubt there might be a write-after-free issue in realm side. By disable all th

[2017-08-08 10:47] eikaramba commented on #5056
Hey @beeender,

Thank you very much for your effort. Im building an apk with realm 3.0.0 for you and send it via mail. For the other points we will need to create a ticket and try to do this "dummy testing". It might take a few days, but we will try it out

[2017-08-08 10:47] nhachicha commented on #5008
the initial implementation is here https://github.com/realm/realm-java/tree/nh/user_profile need to be refactored

[2017-08-08 12:09] lordofprograms commented on #5074
I have the same error with this code:

`class HistoryAdapter(val activity: Activity): RecyclerView.Adapter<HistoryAdapter.HistoryItemViewHolder>() {

    private var historyList: ArrayList<Task> = ArrayList()
    val subs = CompositeSubscription()

    fun setList(list: ArrayList<Task>){
        this.historyList = list
    }

    override fun onCreateViewHolder(parent: ViewGroup, viewType: Int): H

[2017-08-08 12:19] Zhuinden commented on #5074
***You're not unsubscribing the Delete method, so your transaction will never end.***

[2017-08-08 14:15] #4783 closed

[2017-08-08 15:58] mhd-adeeb-masoud commented on #4301
I know this may look very hacky but this is how I managed to do it:
[code]

[2017-08-08 16:06] Zhuinden commented on #4301
I don't see why you would map them to a `RealmList` if it's not actually a managed link between managed objects.

[2017-08-08 16:11] mhd-adeeb-masoud commented on #4301
You're absolutely right. I just did it that way because all of my adapters inherit from RealmAdapter, I know ArrayList is lighter... otherwise it wouldn't have made any sense.

[2017-08-08 18:29] #5077 closed

[2017-08-08 21:54] bmeike commented on #4322
I'm going to put this on hold until after @beeender's stuff gets checked in.

[2017-08-08 22:34] bmeike commented on #4323
@zaki50 added a complete suite of DynamicRealm tests.  They are good to go.

[2017-08-09 01:11] csi111 commented on #5049
Today I sent to email with my APK file. Please check your email.

[2017-08-09 02:45] beeender commented on #5049
@csi111 You are using other native libs than Realm.

[code]

Realm doesn't supply an `armeabi` so file for now, but you have `pl_droidsonroids` so files for that. This may cause the issue you reported.

To fix that, you can exclude the `armeabi` for all native libs you are using -- and it will be safe since there should be no device only support `armeabi` in the market.

Also, `mips` can be exclud

[2017-08-09 02:45] #5049 closed

[2017-08-09 03:36] eygraber commented on #2288
Are there any plans to implement this, or is the official solution to use `createOrUpdateAllFromJson`?

[2017-08-09 06:29] Zhuinden commented on #2288
The official solution is only set the fields on the managed object what you want persisted, instead of just overwriting the currently existing one.

[2017-08-09 06:35] eygraber commented on #2288
@Zhuinden does that mean I'm not going to be able to use `insertOrUpdate`? That would be a pretty big performance hit.

Use case is I get a model from the network, and I automatically store it in realm. Now I would have to check to see if it's already in realm, and if it is, only update the fields I want. Otherwise, create a new object. Is that correct?

[2017-08-09 08:25] Zhuinden commented on #2288
[code]

You can't really tell the difference for if a field should be set to null, or if it is "not set". So Realm defaults to that if your object has `null` set as value, then it will be set as `null`.

[2017-08-09 12:04] zaki50 commented on #5074
You need to unsubscribe the observable in click listener in order to commit the transaction.

[2017-08-09 12:54] nateridderman commented on #3034
Incremental builds would be huge. When I change a line of Java code in a class unrelated to Realm, then Realm shouldn't have to transform everything again. Based on profiling my Gradle build, this would save me at least 20 seconds out of a 60 second build for the transformClassesWithRealmTransformer task, and it seems like Realm is also contributing towards the compileJavaWithJavac task.

[2017-08-09 15:15] Zhuinden opened #5085 ""Register a callback" in Asynchronous Queries section of Documentation would get GC'd"
https://realm.io/docs/java/latest/#asynchronous-queries

[code]

it should be field variable.

[2017-08-09 15:17] Zhuinden opened #5086 ""customers" in "Realm Threading Example" section of Documentation would get GC'd"
https://realm.io/docs/java/latest/#realm-threading-example

[code]

it should be a field variable.

[2017-08-09 16:55] preyesm commented on #5048
@nhachicha you can close this issue. Based on your suggestions, I have added more checks that could cause exceptions due to which the can't commit to non-write transaction can occur. Once the release is out, if I face any other issue I'll request a re-open of the issue.

Thanks

[2017-08-09 17:03] nhachicha commented on #5048
👍

[2017-08-09 17:03] #5048 closed

[2017-08-09 18:35] zaki50 commented on #5086
`customers` should be owned by adapter.
So, I don't think `customers` should be a field.

[2017-08-09 18:44] zaki50 commented on #5085
Thanks.
I've created a PR to fix the code in documentation repository.
I'll close this when the PR will be merged.

[2017-08-09 19:08] Zhuinden commented on #5086
True! In that case, I think for the sake of example, there shouldn't even be an `adapter.notifyDataSetChanged()` call because that should be handled by `RealmBaseAdapter`/`RealmRecyclerViewAdapter`, just calling some unshown method called `updateUi()` would work better I think.

Either way, local variable + change listener for async query is not GC-friendly.

[2017-08-09 19:27] curiousily commented on #4662
Still doesn't work with Beta 1, at least for me.

[2017-08-09 19:49] realm-ci opened #5087 "Fix merge from 5ce56d to master"

[2017-08-09 21:08] bmeike commented on #5085
Will want to do this after Watt's massive re-write...

[2017-08-10 02:10] csi111 commented on #5049
Thank you for your answer.
However, I have curious if I remove 'armeabi lib libpl_droidsonroids_gif.so'
in my gradle, doesn't it happen crash any more?

Because I added ndk filter "armeabi", "armeabi-v7a", "x86" in my gradle
option.

Do I also remove filter "armeabi" ? or Doesn't it matter to remove?

defaultConfig {
...
    ndk {
        abiFilters "armeabi", "armeabi-v7a", "x86"
    }

2017-08-0

[2017-08-10 03:10] beeender commented on #5049
You have to remove `armeabi` from `abiFilters` since Realm doesn't supply `armeabi` so for now. See the section related with `so` files in this article for more details https://academy.realm.io/posts/kenneth-geisshirt-tales-developing-sdks-at-scale/

[2017-08-10 08:04] zaki50 commented on #5085
I've merged the PR into master.
https://realm.io/docs/java/latest/#asynchronous-queries will be updated shortly.

[2017-08-10 08:04] #5085 closed

[2017-08-10 08:23] realm-ci opened #5088 "Fix merge from 19e452 to master-4.0"

[2017-08-10 11:32] beeender commented on #5056
Some updates, I replaced the realm so file with realm-java 3.0.0 + realm-core 2.8.4 (which is used in realm-java 3.5) in the 3.0.0 apk file @eikaramba sent. No crash has been seen.
Except realm-core, we do have some other native code (JNI + object store). Those are relatively difficult to do bisect testing. I will try to test those later.

[2017-08-10 13:22] bitsydarel commented on #4662
still not working for me too...

[2017-08-10 14:04] Zhuinden commented on #4935
Just ran into this same problem in https://stackoverflow.com/questions/45613100/realm-migration-needed-exception-after-adding-new-realmobject-class

[2017-08-10 14:23] lordplagus02 commented on #2288
I don't think `createOrUpdateAllFromJson` is an acceptable solution, I feel this completely breaks any implementation of retrofit + converters (for example) in your network layer, as is my case. I can't use retrofit 2.0 and moshi to deserialize  json objects into model classes i can work with, if I am forced to use `createOrUpdateAllFromJson`. Otherwise we have to hard code so many things.

[2017-08-10 16:56] bmeike opened #5091 "Verify Notifications for @LinkingObjects"
The remains of issue #4323
- [ ] How live are `RealmResults` and how should `ChangeListeners` be triggered ?
- [ ] Consider how `CheckedRow` should handle BackLinks.

[2017-08-10 16:57] bmeike commented on #4323
Opened a new ticket to track the last two, highly ephemeral items in this ticket

[2017-08-10 18:59] jdevnano opened #5093 "Cannot complete RealmMigration when upgrading 0.89.1 -> 3.5.0, RealmObjectSchema.addIndex() throws exception"
**Bugs**: Updating Realm from 0.89.1 -> 3.5.0 causes crash when executing a migration, always fails at RealmObjectSchema.addIndex()

#### Actual Results

[code]
From the stack trace, we've now inserted try-catches to deal with this temporarily. We would like to have a better solution for this, though.

#### Steps & Code to Reproduce

We are rewriting our app and have added a bunch of new models th

[2017-08-11 02:21] csi111 commented on #5049
Thank you for your kind.

Have a good day~

[2017-08-11 04:33] beeender commented on #5028
Issue reported by user https://stackoverflow.com/questions/45587481/realm-android-when-call-method-realm-close?noredirect=1#comment78192431_45587481

[2017-08-11 05:32] cmelchior commented on #5028
But syncing will stop immediately no matter what when you logout right? This SyncSessionPolicy just controls what happens when you close the `Realm`

[2017-08-11 06:43] beeender commented on #5028
Currently even without logging out, syncing will be stopped if all Realm instances are closed. Right?

[2017-08-11 06:46] cmelchior commented on #5028
Yes. Login/loggedout only determine if you _can_ have an active session, but it is the Realm life cycle that determines if the session exists at all.

[2017-08-11 06:49] beeender commented on #5028
Yeah, that is actually the problem... since we always teach user to manage the Realm life cycle carefully, but in this case, if user did that, the syncing will actually stop.

[2017-08-11 07:04] cmelchior commented on #5028
I don't think it is a problem. IMO it makes the mental model a lot simpler e.g. if the session outlives the Realm lifecycle, you will never know when you can delete the file for example.

But I agree that in default use case you would probably want to keep the session alive.

In any case we need to add more controls to `SyncSession` anyway, which will allow for more advanced use cases, like

[code

[2017-08-11 07:06] cmelchior opened #5094 "Update objectServerExample to use MutableRealmInteger"
With `MutableRealmInteger` merged, we should use that instead of the homebrew solution in `objectServerExample`. It would simplify it quite a lot, but also gives us a possibility to show how it can be used.

[2017-08-11 08:25] zaki50 commented on #5093
Hi @jdevnano

At Realm 0.91.0, `addPrimaryKey()` automatically add search index in it and no need to add index explicitly.

Could you try to remove `addIndex()` after `addPrimaryKey()`?

https://github.com/realm/realm-java/blob/master/CHANGELOG.md#0910-2016-05-20

[2017-08-11 10:44] zaheerahmad commented on #440
Hi,

Any idea when would this be implemented? Just an idea?

[2017-08-11 10:46] zaheerahmad commented on #3395
Hi,

Any idea when would this be implemented? Just an idea?

[2017-08-11 11:08] lmdic opened #5095 "Android: Realm update only local db, BUT not sync remote realm."
My Realm version (for Android):

`classpath "io.realm:realm-gradle-plugin:3.5.0"`

I want to save data to local Realm AND upload (sync) data to remote Realm (on Realm Object Server).
I use the next code:

[code]

This success update only local Realm db. But not upload (not sync) data to Realm Object Server.

[2017-08-11 11:10] Zhuinden commented on #440
@zaheerahmad what is your use-case

[2017-08-11 11:14] cmelchior commented on #3395
Hi @zaheerahmad
Unfortunately not as we have other priorities on the roadmap right now.

The easiest solution for this would probably be to create a `RealmDataBindObject` class or similar in https://github.com/realm/realm-android-adapters and then extend the annotation processor so it accepts that class as a valid Realm class (basically just modify the inheritance check for the class).

But we do

[2017-08-11 11:18] beeender commented on #2459
I am trying to make a workaround for this issue based on our assumption:

It is caused by the old apk process is not terminated correctly when updating the apk file then start the new apk process. And this is the only possible cause we can possibly imagine.

So the idea of the workaround is quite simple:

1. When starting the app, check if is the first time the new version gets started based on th

[2017-08-11 11:20] beeender commented on #4905
@vizZ I made some updates to the original issue, see https://github.com/realm/realm-java/issues/2459#issuecomment-321786764

I am closing this issue now. Let's discuss in #2459 if it is still needed (:P I hope it is not needed anymore).

[2017-08-11 11:20] #4905 closed

[2017-08-11 11:26] zaki50 opened #5096 "Class name in error message from query condition methods is wrong"
Following test case will fail with `org.junit.ComparisonFailure: expected:<...eld 'age' in table '[Cat]' is of invalid type...> but was:<...eld 'age' in table '[Owner]' is of invalid type...>`

[code]

The point is that the test case uses link query.

[2017-08-11 11:41] nhachicha opened #5097 "[Sync] Provide migration to new OS Realm path"
The ObjectStore changed the location where it stores the local sync file https://github.com/realm/realm-object-store/pull/497

if we want to align with this behaviour, we need to refactor from the current implementation which uses the user identity only `/data/data/io.realm.test/files/realm-object-server/user-identity/user-identity`

Until this is fixed the deleting the Realm after the `SyncUser`

[2017-08-11 12:25] cmelchior commented on #4643
Nullability annotations were added in https://github.com/realm/realm-java/pull/5044. Closing

[2017-08-11 12:25] #4643 closed

[2017-08-11 13:15] zaheerahmad commented on #440
@Zhuinden
I have a response coming up from server, in which we have class as Task, and there are different types of tasks.

For now, I have implemented this way:

@Index
    @PrimaryKey
    @SerializedName("TaskID")
    private String taskId;

    @SerializedName("TaskType")
    private int taskType;

    @Index
    @SerializedName("Name")
    private String name;

    @SerializedName("Description

[2017-08-11 14:05] ppamorim commented on #3478
This bug still on `3.4.2`. Any idea?

[2017-08-11 14:20] Zhuinden commented on #3478
@ppamorim https://github.com/realm/realm-java/issues/3478#issuecomment-248736582

[2017-08-11 15:22] NitroG42 commented on #4662
in the 2nd version after alpha9 =>
As it went from alpha9 to beta1, we could expect the fix in Beta 2 and not Beta 1, that's why it still doesn't work.
As you can see in the issue, the fix won't be out in Beta 2 but in Beta 3.

[2017-08-11 20:17] nico-dangerous commented on #461
Hi,
Any progress here ?

[2017-08-11 20:20] cmelchior commented on #461
Not really, sorry. The solution right now would be to store it as a String and do the conversion in get/set methods.

[2017-08-11 20:30] nico-dangerous commented on #461
Thanks,
I will try that.

[2017-08-11 20:50] alphaDroid89 opened #5099 "@SerializedName not working"
Hi,

I have tried to insert a data from .json file (the size great than 15MB) which is located in mobile storage.  The file has minimum 20K records. To insert the values in realm database i used `realm.createAllFromJson(MyTestModel.class, stream);`.

The sample Json looks like
`[{
	"No": "CB3425",
	"Name": "Alpha",
	"IndividualID": "HUI2945",
	"FirstName": "Alpha",
	"LastName": "Beta"
}]`

I creat

[2017-08-11 23:08] bmeike commented on #5091
Assuming ```
open class Person(
        @PrimaryKey var id: Long = -1,
        var name: String = "",
        @LinkingObjects("owner")
        val cats: RealmResults<Cat>? = null
) : RealmObject()
[code]

[2017-08-12 04:23] jdevnano commented on #5093
Thanks for clarifying - that worked!

[2017-08-12 07:01] prashant31191 commented on #537
RealmResults<DLocationModel> arrDLocationModel = realm.where(DLocationModel.class)
                    .contains("Country", strTextCountry, Case.INSENSITIVE)
                    //.contains("Country", strTextCountry,false)
                    //.containsIgnoreCase("Country", strTextCountry)
                    .findAll();

[2017-08-12 07:01] #5093 closed

[2017-08-12 07:09] zaki50 commented on #5099
Hi @alphaDroid89

Currently we don't support `@serializedname` annotation.

You need to convert the JSON string before passing it to `createAllFromJson()` or create `MyTestModel` instance by using GSON and then pass it to `insert()` or `copyToRealm()`.

[2017-08-12 07:13] zaki50 commented on #5095
Hi @lmdic

How did you configure your default `RealmConfiguration` (actually it should be `SyncConfiguration` though)?

[2017-08-12 07:44] zaki50 commented on #5086
I've created a PR to update the code.

[2017-08-12 10:28] zaki50 opened #5100 "Try new dex compiler (D8)"
https://android-developers.googleblog.com/2017/08/next-generation-dex-compiler-now-in.html?m=1

[2017-08-12 10:53] lmdic commented on #5095
Here how I config Realm (using SyncConfiguration). See method **setRealmDefaultConfiguration()**.
User: _BuildConfig.USER_NAME_ has credentils for read and write.

[code]

[2017-08-12 11:35] Zhuinden commented on #461
This is one of those things that type adapters would handle quite nicely.

[2017-08-12 11:38] Zhuinden commented on #5099
Using a prefilled Realm file with `assetFile()` could be a better option.

[2017-08-12 16:16] zaki50 commented on #5100
dex compiler is only used in application project.
Closing this PR.

[2017-08-13 00:53] henjue opened #5101 "Realm file size infinite increase, delete invalid"
Realm delete all the data, realm file or size or the original size, and add data, the file will continue to increase. File infinitely increased, eventually leading to oom. What is the reason. How to deal with it. urgent. The
![1](https://user-images.githubusercontent.com/1314740/29245170-401871f0-8004-11e7-8409-997943468893.png)
![2](https://user-images.githubusercontent.com/1314740/29245169-3fe8f

[2017-08-13 01:38] henjue commented on #5101
sorry
fix that in java code
[code]

[2017-08-13 01:38] #5101 closed

[2017-08-13 08:41] zaki50 commented on #5095
Are you sure that the callback of `loginAsync` was called before `MainActivity#onCreate()`?

[2017-08-13 11:55] cmelchior commented on #2232
Another example of how useful this could be: https://stackoverflow.com/questions/45529557/realm-querying-with-two-conditions-at-the-same-time/45659934#45659934

[2017-08-13 12:25] lmdic commented on #5095
You was right. The `MainActivity#onCreate()` is called **BEFORE** finish callback of `loginAsync`.
So I fix a problem. And now it's work fine.
Thank you.
Here code:

[code]

[2017-08-13 14:40] zaki50 commented on #5095
I'm happy to hear that.
Closing the issue.

[2017-08-13 14:40] #5095 closed

[2017-08-13 18:09] zaki50 commented on #5099
@alphaDroid89 As @Zhuinden said, using https://realm.io/docs/java/3.5.0/api/io/realm/RealmConfiguration.Builder.html#assetFile-java.lang.String- is much easier and faster.

[2017-08-13 18:10] zaki50 commented on #5099
I'm closing this issue. If you have further questions, feel free to reopen this.

[2017-08-13 18:10] #5099 closed

[2017-08-13 18:19] alphaDroid89 commented on #5099
@zaki50 Thanks for the quick reply. As i mentioned my file is too big, by this approach i need to copy my file from sdcard to assest folder than parse.

I changed my with all small case, its saved me as of now. Can you please add these serialization like feature with out two level of process (In my case).

Thank you so much @zaki50 @Zhuinden :)

[2017-08-13 19:53] cmelchior commented on #5100
Perhaps we should just enable it for your example projects?

[2017-08-13 23:34] zaki50 commented on #5100
@cmelchior I think so. I already enable it on agp-3.0 PR https://github.com/realm/realm-java/pull/4899/commits/5ffa933163dddc61ea78c9c2482cdface5482b72

[2017-08-14 08:47] kneth commented on #461
I think we need at decimal type in Realm Core. @rrrlasse How is it to implement?

[2017-08-14 09:12] aschrijver opened #5103 "Combining React Native and NodeJS in single fat client Android app using Realm DB"
I am investigating [viable options for running NodeJS on Android](https://stackoverflow.com/a/45649995/8295283) and then [combining React Native and NodeJS in single fat client Android app using Realm DB](https://stackoverflow.com/q/45530635/8295283). The node side of the application is involved in complex [decentralized P2P networking](https://stackoverflow.com/a/45323665/8295283) (the rationale

[2017-08-14 12:08] cmelchior commented on #5103
It isn't a combination that we officially support, nor have we heard of anyone else doing, so I'm afraid you will have to try for yourself.

One thing that concerns me a little is that if you run both Realm Java and Realm JS they will both try to load some of the same native code. This might or might not work. If you run them in different processes, then loading the native code shouldn't be an iss

[2017-08-14 12:19] aschrijver commented on #5103
Thanks @cmelchior good points!

I expect this node-on-android use case to become more common as mobile devices get more powerful. I know of a number of people planning implementations.

The sharing of native code is something to avoid. An alternative in this design would be to have only a single realm package, either realm-js in RN _or_ node, _or_ a single realm-java bridging to both node and RN (

[2017-08-14 14:52] semenoh opened #5104 "Support Java 8 time API's"
#### Goal

#### Expected Results

#### Actual Results

#### Steps & Code to Reproduce

#### Code Sample

This code will not run as it is but I've got an idea

[code]

#### Version of Realm and tooling
Realm version(s): 3.1.4

Android Studio version: 3.0 alpha9

[2017-08-14 14:58] lmdic opened #5105 "Android, Realm, Gradle: Error:Annotation processor: RealmProcessor not found"
Android Studio 2.3.3, Java 8, kotlin_version = '1.1.3'

Project's bulid.gradle:

[code]

App's build.gradle:

[code]

And project bulid and run success.
So now I want to add Realm. I add in build.gradle

`apply plugin: 'realm-android'`

And as result I get error.

[code]

P.S. I use annotations only in java files. Kotlin files not use annotations.

[2017-08-14 15:03] cmelchior commented on #5105
Hi @lmdic
I see you already created a post on Stack Overflow here: https://stackoverflow.com/questions/45675247/android-realm-gradle-errorannotation-processor-realmprocessor-not-found

We actively monitor the `realm` tag, so no reason to also create an issue here. We will respond on Stack Overflow.

Closing as a duplicate.

[2017-08-14 15:03] #5105 closed

[2017-08-14 15:11] Zhuinden commented on #5105
Also once he adds `kotlin-kapt` then AndroidAnnotations become the culprit....

[2017-08-14 20:10] cmelchior commented on #5091
Right now it is by design that listeners on `Person` are not triggered when a `Cat` references it. I'm dubious if these semantics make sense myself, but it would require substantial changes to support it.

It seems weird to me that the general changelistener for `cats` is triggered while the fine-grained isn't.  Someone with more knowledge about the internals would be needed to answer why this is

[2017-08-14 20:44] cmelchior commented on #5104
This is by design. Timestamps are stored in Realm in GMT (calling `date.getTime()`). If you want to store the time zone for presentation purposes, it needs to be stored in a separate field and you can then convert the Date in a custom getter, but you will need to use `Calendar` as `Date` does not enable you to set time zones.

We have talked about adding support for more timezone aware datatypes,

[2017-08-15 00:43] #5086 closed

[2017-08-15 07:06] cmelchior commented on #1598
I have been thinking about this for the last couple of days after a support question. I would like to propose an API I think is a good alternative:

[code]

[2017-08-15 08:17] cmelchior commented on #5011
Hi @KimiChiu
Sorry for the late response. I have created an issue with our Core team as this behavior doesn't sound right: https://github.com/realm/realm-core/issues/2796

Just to be clear. You are 100% sure that the `No space left` error was thrown while compacting the Realm?

[2017-08-15 08:23] cmelchior commented on #5052
Hi @lazarvgd I assume the above answered your question. If not, feel free to reopen.

[2017-08-15 08:23] #5052 closed

[2017-08-15 10:19] ErfanThinker opened #5107 "Realm doesn't recognize fields of JsonObject"
#### Goal

#### Expected Results

#### Actual Results

                                                                             Process: ir.parsatech.isiranvrrecorder, PID: 6944
                                                                             java.lang.RuntimeException: Unable to start activity ComponentInfo{ir.parsatech.isiranvrrecorder/ir.parsatech.isiranvrrecorder.activities.Mai

[2017-08-15 10:26] Zhuinden commented on #5107
[code]

[2017-08-15 10:36] cmelchior commented on #5107
[code]

Works for me. Remeber that the top-level JSON object _is_ the type you define in the class parameter to `createObjectFromJson`

[2017-08-15 10:46] ErfanThinker commented on #5107
@Zhuinden @cmelchior yes both of you were right, it got fixed as soon as I changed it as @cmelchior  said, the solution of @Zhuinden  should be right too but idk why I get `could not map Json` when I try it. Thanks anyway :3

[2017-08-15 10:47] #5107 closed

[2017-08-15 11:18] ErfanThinker opened #5108 "Adding Support for XML"
Hey there,
I crossed a problem and I guess a new feature should be added to realm. consider this XML:
[code]
 in which all nodes except Content can exist or be 1 of them or more than one of them. mapping this to Json and createObjectFromJson() won't work since it produces JsonObject or JsonArray base on number of sub-nodes. if there was a method like createObjectFromXML() which would handle this p

[2017-08-15 11:27] sipersso commented on #4997
@nhachicha any info on why this is blocked? Is there any more info on how to handle ClientResets properly?

[2017-08-15 11:43] cmelchior commented on #5108
That sounds like a problem with your `XML` -> `JSON` parser? If the parser creates `object` when there is only 1 item, but `array` if multiple exists. Ideally, any parser should follow the XSD if such a one exists for your XML?

We have talked about adding XML support to Realm, but the use case comes up so infrequently that I don't think we can give it a high priority any time soon.

[2017-08-15 11:47] cmelchior commented on #5108
However, It is a use case we are considering and it is included in our general thoughts for an import/export API: https://github.com/realm/realm-java/pull/3758

I'll fold this issue into that, but you can follow #3758 for updates

[2017-08-15 11:47] #5108 closed

[2017-08-15 12:19] zaki50 commented on #1598
@cmelchior What the `Aggregate.count("children.children")` mean in your API? The sum of the count of children's children?

If so, we don't allow to write a query like `Person objects where the smallest count of its children's children is 3`, right?

E.g. `realm.where(Person.class).equalTo(min(count("children.children")), 3).findAll();` is not allowed.

That looks great.

We don't allow to write a

[2017-08-15 12:31] cmelchior commented on #1598
I don't think I have "children.children" anywhere?
The smallest count of the list doesn't really make sense, since a count is just a count, but perhaps you are thinking of something else?

[2017-08-15 12:48] zaki50 commented on #1598
Ah, you didn't write `Aggregate.count("children.children")`, but do we allow for users to write `Aggregate.count("children.children")`?

I'm supposing to have Person defined like:
[code]

[2017-08-15 12:55] cmelchior commented on #1598
`children.children` would be a list-of-lists or your grand-children in this case. I don't think Core has support for that, but I would need to check.

From a grammar point of view, it looks like something we should support, but if not, I would just document it as a current limitation and it can be added later.

[2017-08-15 14:33] juliowebdeveloper commented on #5069
Sorry for the delay.  I should have used more activities as an example.
When I log in, App goes through SplashActivity which opens a Realm instance and it's instance count is 1
If I go to Activity 2 On Create it's instance count is 2.
If I go to another activity from it,  Activity 3, it's instance count is 3
So the instance created on SplashActivity remaings even after that activity is completely

[2017-08-15 21:00] bmeike commented on #5091
Great.  Will inquire.  Thanks.

[2017-08-15 21:05] bmeike commented on #5069
There are a couple of things to clear up here.

[2017-08-16 03:56] realm-ci opened #5110 "Fix merge from d409e3 to master"

[2017-08-16 04:52] zaki50 commented on #5096
fixed by #5098

[2017-08-16 04:52] #5096 closed

[2017-08-16 09:01] cmelchior commented on #4667
It appear that there might be an issue here, so I'm folding this issue into #5011

[2017-08-16 09:01] #4667 closed

[2017-08-16 09:02] cmelchior commented on #4993
Closing due to inactivity. @saeedrooyekhat feel free to reopen if you still have this issue.

[2017-08-16 09:07] cmelchior commented on #5029
Closing due to inactivity. @cchuang6  feel free to reopen if you have more information about this issue.

[2017-08-16 09:07] #5029 closed

[2017-08-16 09:08] cmelchior commented on #5050
Closing due to inactivity

[2017-08-16 09:08] #5050 closed

[2017-08-16 09:08] cmelchior commented on #5051
This seems related to #5011 . I'm folding it into that one.

[2017-08-16 09:08] #5051 closed

[2017-08-16 09:12] cmelchior commented on #5051
Hi @saeedrooyekhat Can I kindly ask you to post a list of affected devices and android versions in #5011 It would be really helpful when investigating this.

[2017-08-16 09:13] cmelchior commented on #4667
@marcus-martins Can I kindly ask you to post a list of affected devices and android versions in #5011 This information would be really helpful when debugging this.

[2017-08-16 09:16] cmelchior commented on #5055
The above should answer your question. That method is package protected by design. Closing.

[2017-08-16 09:16] #5055 closed

[2017-08-16 09:17] cmelchior commented on #5062
Closing this due to inactivity. @FatimaSiddique feel free to reopen if you have further information.

[2017-08-16 09:17] #5062 closed

[2017-08-16 09:34] cmelchior commented on #5091
Talking to .NET, it sounds like a bug that fine-grained collection notifications are not triggered for backlink RealmResults.

[2017-08-16 09:36] cmelchior commented on #5063
@AlexTip Are you compacting your Realm at any point. We are seeing other reports that if it fails it appears to corrupt the original file: #5011

[2017-08-16 09:48] cmelchior commented on #5069
You can also try to enable "Don't keep Activities" in the Developer settings. This should definitely kill the activity as soon as it is moved in the background.

[2017-08-16 10:37] Zhuinden commented on #5069
@bmeike

I don't think this is true.

----------

Anyways, I'd need to see the example project that reproduces this in order to find what's wrong with it, the provided sample is insufficient.

[2017-08-16 12:56] methelas opened #5111 "Large transaction on HandlerThread blocks transactions on UiThread but not itself?"
#### Goal

#### Description

When I'm logging user in my application I do it like this:

[code]

After that, an ongoin HandlerThread receives a series of messages telling it to synchronize this user data. Synchronizations are performed in exact order in which they were received(I can see it in logs).
When user is logged, around 10 messages are sent to synchronize different parts of his data.
Every

[2017-08-16 13:02] ericmaxwell2003 opened #5112 "Realm change listener on RealmResults not always firing"
Came across an issue with a user running `Client 3.5.0`, `ROS 1.8.2`.

1.  They run a query for which they expect no results initially.
[code]

2.  They attach a change listener to those results because they expect there will be a record that matches soon
[code]

3.  In a separate realm they write an object, which triggers a Global Notifier process, which in turns writes a `SomeRealm1Model` object

[2017-08-16 13:16] Zhuinden commented on #5112
I think this might be related to https://github.com/realm/realm-java/issues/4878 which I closed saying "if I turn it asynchronous then it works", but I'm not sure that's correct that way.

I could not reproduce it reliably and gave up on it, but I'm sure it is there.

[2017-08-16 14:09] ericmaxwell2003 commented on #5112
Interesting.. Thanks @Zhuinden.  I will see if switching to async works around the issue for now.

[2017-08-16 14:13] Zhuinden commented on #2299
The javadocs still talk about `Realm.getDefaultInstanceAsync` in `Realm.Callback`.

https://github.com/realm/realm-java/blob/master/realm/realm-library/src/main/java/io/realm/BaseRealm.java#L792

[2017-08-16 14:29] Zhuinden commented on #5111
Code is relevant for this.

[2017-08-16 14:59] methelas commented on #5111
The messages are sent like this.
SYNCHRO is an enum, it just determines which case from switch() statement in synchronize() method will run.
[code]

This is the handler which handles the messages. Its a handler created with Looper received from getLooper() in HandlerThread.
[code]

And below you can see an example of actual synchronization method.
Every single one of them is the same, the only thi

[2017-08-16 15:02] ericmaxwell2003 commented on #5112
Sadly, I too cannot reproduce locally.  It works like a charm.  I will follow up with the user today and see if async seems to improve or if there is something else going on.

[2017-08-16 15:12] methelas commented on #5111
What I already tried:
1. Openening new realm instance for every synchronizator before transaction, and closing right after it
2. Dividing 5th synchro data to smaller parts, and adding it in several smaller transactions
3. subscribing/observing on Schedulers.immediate() just to be sure
4. posting it as runnable, not message
5. putting refresh everywhere(including the realm instance for login call)

[2017-08-16 15:27] mgohin opened #5114 "Commiting transaction slow"
Hi there,

I'm using Android Realm 3.3.1. I load a csv with 800k lines into Realm.
To do so I parse the csv, map each line into a Java bean (with a `Pools.SynchronizedPool`) and inserting every 1000 records into a transaction block.

Here is the block (`timeCounter.getStep()` is giving me elapsed time since the `TimeCounter.get()`)

[code]
Here is the result after a while (around 100k inserted) :

[2017-08-16 17:02] marcus-martins commented on #4667
@cmelchior I apologize for the delay in answering. At the time the problem occurred because there was more than one open realm instance. I no longer had the problem after reviewing the entire I/O flow of the application.

[2017-08-16 17:46] Zhuinden commented on #5112
My theory was that if you create a RealmResults with `findAll()` somewhere between `commitTransaction()` (bg thread) and notification delivery, then that `RealmResults` won't be called even if it has changed.

But I couldn't prove it - when I was logging and debugging everything, the bug just didn't come up.

[2017-08-16 17:50] cmelchior commented on #5112
Interesting. We would probably need a way to reproduce this to get any idea where to start, but it does sound like there is a problem somewhere.

@ericmaxwell2003 It sounds like in your case they expect the initial result to be empty and then it would fill with data. Was that the same case with your @Zhuinden ?

[2017-08-16 17:55] jennymolske opened #5115 "Missing RealmLink for object"
Hello guys,

I've got a problem with Realm saving my entities to the database. My classes look like the following

[code]

[code]

[code]

The response I receive from our api looks like the following:

[code]
In my ActivityMain I load the json from the api and parse it to a Site-Object. Afterwards I would like to add it to my Realm db.

[code]
Now I expect my db to have one site and an Attribute o

[2017-08-16 18:11] Zhuinden commented on #5112
@cmelchior technically I had my `findAll()` in essentially `onCreateView()` bound to a `RealmRecyclerViewAdapter`, and I made a change in another fragment, then navigated back to the previous fragment. The previous fragment still showed outdated data, which was rather odd.

I had additional complexity because my RealmResults was on a background looper thread. This is partly why I kinda gave up on

[2017-08-16 18:13] 3llomi commented on #3723
if we can access these methods in **POJO** Class we can exclude it using the `@Exclude` annotation from **Firebase SDK**
however i can only **override** the **isManaged** method and it has excluded.
can we access the `isValid` and `isLoaded` methods in `POJO `Class?

[2017-08-16 18:25] cmelchior commented on #3723
That `isManaged` is not final is a bug that we should fix, `isValid` and `isLoaded` is `final` as intented. But if you `extends RealmObject` there is no way to mark these methods as excluded. Instead you should use our `RealmModel` interface as described in https://realm.io/docs/java/latest/#realmmodel-interface

[2017-08-16 20:15] cmelchior commented on #5114
From a quick glance, it looks about as efficient as it can get, but I would try to insert more than 1000 items pr. transaction.

Apart from that, it is hard to know if the times are reasonable or not. It will depend heavily on the hardware. What device are you testing on? As you noticed, If there is a primary key it will slow down over time as we need to check if each item is already present.

[2017-08-16 21:20] mgohin commented on #5114
Thanks.

I'm aware about that `@Index` or `@PrimaryKey` will slow any request, it's ok.
I'll try to insert more than 1000, but I don't have any clue about the amount I can insert in one transaction to be efficient.
I'm working on very recent devices, even on my phone (One+ 3T).

[2017-08-16 22:52] lordplagus02 commented on #967
+1

[2017-08-17 07:34] mgohin commented on #5114
Any chance to deactivate indexes for a `RealmObject` and then reactivate it ? I guess not, I did not found anything about that.

[2017-08-17 08:01] cmelchior commented on #5114
@mgohin You can do it through a migration, but if you want to do it in the same app version, then you need to use `DynamicRealmObject` which is a lot slower than our normal typed access, so any savings would probably be lost.

[2017-08-17 08:03] mgohin commented on #5114
Ok. So I'll not :D
Any clue about the insert time getting bigger with time event without indexes?

[2017-08-17 08:09] cmelchior commented on #5114
Regarding batch size. The reason people normally batch is because they would otherwise OOM in Java. I don't know much your 800K objects are in terms of Java memory, but I suspect that 1K is a really conservative number. Realm will convert that java memory to native memory usage during a transaction, but since most devices have _a lot_ more native memory than Java, you can normally have everything

[2017-08-17 08:25] mgohin commented on #5114
I'll not do a single transaction, it's about 30min of import now, I wish to do some retrieve, that's why I batch inserts. I'll try with 10k.
Android apps are memory limited, so I can't load 800k with peace of mind :D

You can speculate on my beans. I use Lombok, and I use `Pools.SynchronizedPool` to keep memory as low as possible.

[code]

[2017-08-17 08:35] beeender commented on #5091
I don't think it is supported by Object Store?

[2017-08-17 08:35] cmelchior commented on #5114
30 minutes? 😱
I just talked to our Core team and they say that insertion isn't constant and it would probably be more like `O(log(n))`, but 3 seconds to insert 5000 items sounds doesn't sound right.

What kind of hardware are you testing this on?

[2017-08-17 08:38] mgohin commented on #5114
Honeywell CT50 2Go RAM
Android 6.0.1

[2017-08-17 08:54] cmelchior commented on #5114
From your description inserting the data is more or less constant time, but committing the data is what increases. Realm will do some extra work during commit (re-allocate, expand filesize, etc.), but how slow that is will be dictated by the underlying filesystem.

So without more profiling of the native code, it is hard for me to say, but I'm not entirely clear how this could take 30 minutes? Som

[2017-08-17 09:19] mgohin commented on #5114
Ok so removing Pools free a lot of time, recycling objects was very time consuming, I'll leave GC doing it's work.
I got the timing you calculate now (my timings were not considering object recycle).

It's way better now 👍

The only piece of code you would need is that one I guess (I had to obfuscate it a bit).
To be able to use insert to do fast insertions, I keep track of MEntity and linked Arti

[2017-08-17 09:33] beeender commented on #5115
This has a similar cause to #4957 , but it is kind of expected behaviour.

See the below image. When calling `coptyToRealmOrUpdate()`, in the object graph, there are actually two `Site` objects with the same PK. But as you can see, one of it has 0 coupon, but the other has 1. Since they both have the same PK, it is undefined which `mCoupons` will be kept as the last results -- they will be both wr

[2017-08-17 09:40] cmelchior commented on #5114
It is a bit hard for me to follow the logic in that code as the caches don't seem to be used for creating the `ArticleEntity`? In any case, any speed up there shouldn't have any effect on how fast/slow Realm is, just on how much time is spent on the doing the full import.

[2017-08-17 09:42] mgohin commented on #5114
Ok.

I removed the logic of caches, now I use `copyToRealmOrUpdate` to insert all entities every time.
Full import is now around 10mins (with Articles and MEntities).

Thanks for your support. Realm really changed our life for our Android App 👏

[2017-08-17 09:45] cmelchior commented on #5114
🙇
You probably want to use `insertOrUpdate` over `copyToRealmOrUpdate` though, especially if you don't plan to use the returned objects from `copyToRealmOrUpdate`

[2017-08-17 09:50] mgohin commented on #5114
Ho right 👍

[2017-08-17 10:10] finnschiermer commented on #5114
@mgohin:
1) What is the average size of each object?
2) Are you by any chance holding on to an earlier version of the data while doing all these commits?

[2017-08-17 10:42] KimiChiu commented on #5011
I'm pretty sure that the error was thrown while compacting the realm.
But I can't reproduce the `No space left` error again with Realm 3.5.0.
Now it only throws the `Bad Realm file header` while the space is not enough.
Not throwing the `No space left` error.
And I still need to clear App data to make it works again.
Here are the error logs with realm 3.5.0.

[code]

[2017-08-17 10:43] mgohin commented on #5114
1. Don't know. But it contains just a bit of infos
2. No, I add all data into a list that I save then clear the list.

[2017-08-17 10:46] Zhuinden commented on #5114
Is the list a LinkedList or ArrayList?

[2017-08-17 10:47] mgohin commented on #5114
ArrayList

[2017-08-17 10:56] finnschiermer commented on #5114
Re 2) let me elaborate: we've seen some cases where thread A holds on to a specific version of the database (technically, it's in the same read transaction), while thread B does some work. If thread B does multiple commits, while A does not advance, all those commits (or versions) are kept by realm, because thread A may need to get to them later.

[2017-08-17 10:58] mgohin commented on #5114
I do all the work in an AsyncTask and nothing happen on the UI Thread :/

[2017-08-17 10:59] Zhuinden commented on #5114
One AsyncTask or multiple AsyncTasks?

[2017-08-17 11:00] mgohin commented on #5114
Just one, I tried and failed with MultiThreading :D

[2017-08-17 11:03] finnschiermer commented on #5114
@cmelchior Does the java binding expose the core method SharedGroup::get_number_of_versions() ?
If it did, it would be useful to print it on every commit to see if we're accumulating versions without cleaning up - and if so, we can start looking for a reason. If not, we'll need to look elsewhere.

[2017-08-17 11:11] idok595 opened #5116 "Realm throw native exception when trying to iterate RealmResult"
Realm version in use:3.5.0
Device: LGE Nexus 5X (bullhead), 2048MB RAM, Android 7.1

[code]

[2017-08-17 11:12] cmelchior commented on #5114
@finnschiermer Not right now, but sounds like something we would want to as it could a nice debug tool for e.g. Realms getting too large.

[2017-08-17 11:13] mgohin commented on #5114
If you have any beta build I can try to help if needed

[2017-08-17 11:14] cmelchior commented on #5114
@mgohin If you only have the Realm opened on the UI thread and in one AsyncTask, then that shouldn't be the issue for you.

[2017-08-17 11:15] mgohin commented on #5114
ok ;)

[2017-08-17 11:17] cmelchior commented on #5114
But you can easily verify it today by calling `Realm.getGlobalInstanceCount(config)`. This will report the number of threads with an open Realm.

[2017-08-17 12:16] mgohin commented on #5114
After transaction commit I have 2 instances (one on the UI Thread and one on the AsyncTask I guess), so everything looks ok

[2017-08-17 13:43] ericmaxwell2003 commented on #5112
In my case, I couldn't reproduce locally (with the same setup) after many attempts yesterday.

So, I talked with the developer more and it turns out there was another spot in his codebase that sometimes removed allChangelisteners() on that class member `realmResultsFromRealm1`.  He didn't realize that there were any other references to it during our initial conversations.

@cmelchior - I'll close

[2017-08-17 13:43] #5112 closed

[2017-08-17 14:20] mgohin commented on #5114
New test : no `@PrimaryKey` on articles, using `insertOrUpdate` and insert time is pretty stable, around 6500ms for 15k articles transaction

[2017-08-17 14:35] Zhuinden commented on #5112
@ericmaxwell2003 I had closed my issue, you should keep this issue open.

[2017-08-17 14:43] thenewmr commented on #761
Backlog label removed.  Does that mean it's being worked on?  Please say yes :)

[2017-08-17 14:51] cmelchior commented on #761
We have begun some preliminary work yes (don't hold your breath though, we want to finish #575 first), but it is mostly because we switched to Zenhub to do issue management which has its own way of tracking it instead of GitHub labels.

[2017-08-17 14:55] Zhuinden commented on #5116
Do you by chance have any code snippet around this particular crash? Also what thread it is on, etc.

[2017-08-18 02:13] beeender commented on #5116
What is the full backtrace? It seems not the thread with realm was crashed, but the thread with Realm was waiting while the other thread was crashed.

[2017-08-18 04:34] beeender commented on #4785
This creates lots of troubles with Realm instance cache management. By disallowing it, the RealmCache implementation can be much simpler and give us an option to totally manage the Realm instance through Object Store.

I have revisited this change, it doesn't have too much value without breaking the semantics of `getinstance()`/`close()`
[code]

I will leave it as it is until we decide a better se

[2017-08-18 06:34] MikeKasperlik commented on #3629
As we still see this in our app we searched for a cause. We found that this crash peeks (extrem) when we do a new release. This has to do something with the customer installs the update over a recent version of the app. Maybe this helps.

[2017-08-18 06:59] beeender commented on #3629
@MikeKasperlik What is the backtrace for your crash? The issue you met sounds more like #2459

[2017-08-18 07:06] MikeKasperlik commented on #3629
This is the stacktrace:

[code]

[2017-08-18 07:10] beeender commented on #3629
@MikeKasperlik Your issue seems to be different. It should be caused by some Realm instances are not closed on the background thread. See https://realm.io/docs/java/latest/#large-realm-file-size

[2017-08-18 07:13] MikeKasperlik commented on #3629
I fear this is not the case. We do always close all realm instances immediately after finishing our db operations (checked this multiple times). We also monitor the open instances count with `Realm.getGlobalInstanceCount()` - This is always zero. We do use `compactRealmOnLaunch`. Maybe this is related?

[2017-08-18 07:41] mgohin commented on #5114
Just tried why json, not as fast as my current code

[2017-08-18 07:45] semenoh commented on #5104
`Date` does not contain any data about timeZone but it contains data about timeOffset (Although there is no way to set it except parse it from string, at least I did not found)

The reason of storing timeZone/timeOffset is not only presentation purpose but sorting and filtering to. We are getting wrong results of queries filtered by time due to appearance of records that has different date because

[2017-08-18 07:58] cmelchior commented on #5104
Yes, I could imagine. But `date` and `time` are two different concepts. Which is also the reason that Java 8 has `LocalDate` and `LocalDateTime`. `Date` is a really awful class to describe `LocalDate` semantics.

If you want to query for specific dates, I would recommend storing the date (`dd-mm-yyyy`) representation in a specific field instead as trying to calculate the correct `Date` values as d

[2017-08-18 08:08] dalinaum commented on #2299
Thanks @Zhuinden I made a PR: #5119

[2017-08-18 08:40] #5114 closed

[2017-08-18 10:08] SarthakM9 commented on #2097
Hello Realm Team,

I have a similar question:

Suppose I declare a method containing some database operation.
What's the better approach: declaring an asynchronous transaction in the method or declaring a synchronous transaction.
I personally feel that the latter provides more flexibility, since now I have the option to run it in the same thread as well as another thread!
what do you guys suggest?

[2017-08-18 10:54] Zhuinden commented on #2097
Generally I make a "realm repository" which does not manage transactions at all, just the writes. The writes are managed by whatever thread is trying to write that way, although I prefer to do these things with synchronous transaction on background thread.

[2017-08-18 11:10] SarthakM9 commented on #2097
@Zhuinden thanks for your time! :)
I also follow a similar pattern and strategy. :)

[2017-08-18 12:11] ameersabith commented on #2570
`Caused by: io.realm.exceptions.RealmMigrationNeededException: The 'ModelItems' class is missing from the schema for this Realm.`
I have this problem while running.

[2017-08-18 12:45] gukzilla commented on #5056
I have the same problem. Is there any news to solve it?
I have a fatal signal 11 or 7, always by accident. In libskia.so native library.
Realm 3.5.0
I save RealmList from the server to the Realm. ChangeListener is updated and update ListView Adapter

`
I/DEBUG: *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** ***
I/DEBUG: Build fingerprint: 'Sony/D5103/D5103:4.4.4/18.1.A.2.25/5vd_bw:use

[2017-08-18 13:28] nhachicha commented on #5097
also related to https://github.com/realm/realm-object-store/issues/515 to be clarified

[2017-08-18 22:55] rhonyabdullah commented on #2097
Just as reminder [Closing Realm Instance](https://realm.io/docs/java/latest/#closing-realm-instances) @SarthakM9

[2017-08-19 13:56] abs51295 opened #5123 "Changeset for Object returns all fields"
#### Goal

#### Expected Results

#### Actual Results

#### Steps & Code to Reproduce

#### Code Sample

[code]

#### Version of Realm and tooling
Realm version(s): ?

Realm sync feature enabled: yes/no

Android Studio version: ?

Which Android version and device: ?

[2017-08-19 14:19] cmelchior commented on #5123
Right now it is working as intended as we parse the transaction log and we just check if you write to a field, not what value was written. We do realise that this behaviour is normally not what you want when it comes to updating UI elements, but it might be the desired behaviour when it comes to conflict resolution across multiple devices.

We have an issue tracking reporting the old and new value

[2017-08-19 14:25] abs51295 commented on #5123
Thank you @cmelchior. I spent hours figuring out why this was happening. Thought probably something is wrong with my code. Maybe you can add this in the documentation though? Or did I miss that out?

[2017-08-19 17:50] nhachicha commented on #4997
The implementation should happen at the [Object Store](https://github.com/realm/realm-object-store) level. The currently exported file has a history that needs a `SyncConfiguration` in order to be opened. We're experimenting a workaround at the ObjectStore level in order to allow the user to open the Realm without specifying SyncConfig.
stay tuned!

[2017-08-19 18:06] nhachicha commented on #5097
potentially blocked by https://github.com/realm/realm-object-store/issues/515

[2017-08-19 18:12] #5008 closed

[2017-08-20 03:38] realm-ci opened #5124 "Fix merge from 64e0c9 to master"

[2017-08-20 07:29] zaki50 commented on #5074
I'm closing this because of no response.

Feel free to reopen it when you have further questions.

[2017-08-20 07:29] #5074 closed

[2017-08-20 11:01] spookyUnknownUser commented on #3503
Thank you so much @WhatDo that worked perfectly for me. Any updates on when we can do this natively?

[2017-08-20 20:34] cmelchior commented on #5111
Note, that transactions are blocking across all threads, including the one running the synchronization. This means that transactions on the UI thread is a _very_ bad idea if you use the Realm Object Server.

Secondly, if you are doing transactions on the UI thread, you are also running the code for triggering notifications on the UI thread. Some certain types of model classes (with circular refere

[2017-08-20 20:35] cmelchior commented on #5069
What @Zhuinden said. We would need a full working example project to be able to debug this further.

[2017-08-21 08:59] realm-ci opened #5130 "Fix merge from be6cc6 to master"

[2017-08-21 10:31] #3741 closed

[2017-08-21 10:34] cmelchior commented on #4962
Fixed by https://github.com/realm/realm-java/pull/5020

[2017-08-21 10:34] #4962 closed

[2017-08-21 10:35] cmelchior commented on #5028
Fixed by https://github.com/realm/realm-java/pull/5020

[2017-08-21 10:35] #5028 closed

[2017-08-21 10:35] realm-ci opened #5131 "Fix merge from 47027d to master"

[2017-08-21 11:21] ppamorim commented on #3478
@Zhuinden This is not working for me.

[2017-08-21 11:22] ppamorim commented on #3478
The error returns this:

[code]

[2017-08-21 14:05] jennymolske commented on #5115
Hmm okay, but our iOS app also uses Realm and the problem doesn't occur there. Does the both libraries work differently?

[2017-08-21 14:47] realm-ci opened #5132 "Fix merge from c02607 to master-4.0"

[2017-08-21 19:32] bmeike commented on #762
@cireficc You realize, of course, that this will simply put that loop in *our* code, instead of yours ;-P

[2017-08-21 21:23] Zhuinden commented on #762
@bmeike if you can move that loop off the Java heap, that'd be great for larger data sets though :stuck_out_tongue_winking_eye:

[2017-08-21 21:24] cmelchior commented on #762
Yes, that is the primary reason to move this into c++. It becomes zero-allocation on the Java side.

[2017-08-22 02:28] realm-ci opened #5134 "Fix merge from f782c5 to master-4.0"

[2017-08-22 03:12] beeender commented on #5115
Not sure how do you parse json to objects graph in iOS, but I think if you parse the `Site` with same uuid to two different `Site` objects with different `mCoupons`, you will meet the similar problem on iOS sooner or later. this is kind of undefined behavior since it is difficult for Realm to figure out what do you want, do you want the `mCoupons` with one element to be saved? or do you want to cl

[2017-08-22 03:12] #5115 closed

[2017-08-22 06:32] realm-ci opened #5136 "Fix merge from 64d724 to master-4.0"

[2017-08-22 06:43] jennymolske commented on #5115
Hm yeah okay. I will rethink our api structure then...I want the mCoupons object to be saved :-D

[2017-08-22 14:04] MGaetan89 opened #5138 "signal 11 (SIGSEGV), code 1 (SEGV_MAPERR) in nativeClear"
On my application, I am seeing the following natice crash.
I was not able to reproduce it, and it was only reported on one device and Android version (see below).
I don't think it is a critical issue, considering the number of report, but maybe you can do something about it in a future release or guide me in the right direction.

The stacktrace I have in the Play Console is:
[code]

#### Version o

[2017-08-22 14:14] beeender commented on #5138
Is it the full backtrace you got? Does it have any information about failing address for SEGV_MAPERR?

[2017-08-22 14:20] MGaetan89 commented on #5138
I just checked again, but no, there is nothing more...

[2017-08-22 18:38] NinoDLC commented on #2288
Any update on this ?

It's been almost a year I'm waiting for this improvement.

I always optimise my API calls for a quick and fast browsing in apps, but because of this limitation, the API has to fetch full data for every items called, otherwise the user would lose its "cache" every time he gets back on the main activity (which is querying the "lightweight" api).

[2017-08-22 20:13] bitsydarel commented on #4237
I'm having the same issue, do i need any extra configuration if i'm using realm in different library but accessing them in another library ?

I'm using clean-architecture in my project my data-layer use realm. the presentation layout configure realm, i do it in the onCreate of my application but it's still crash

                                                                         Caused by: i

[2017-08-22 20:26] bitsydarel commented on #4237
If think its because the realm file from the data-layer is created without encryption and i'm setting the encryption in my presentation layer. and realm try to access the unencrypted realm file .

[2017-08-22 23:04] cmelchior commented on #2288
We are not going to implement an ignore list of fields. Our JSON methods already support partial updates, so you can use those if you want. Also, there are a number of other features on our roadmap that would be better suited for this without inflating our API surface and complicate our existing `copyToRealm` methods considerably.

1) Inheritance ( #761 ) -> `FullClass extends PartialClass`
2) Sup

[2017-08-23 02:17] beeender commented on #5138
[code]

Parsed backtrace

[2017-08-23 02:36] beeender commented on #5138
It is quite difficult to tell what is going wrong here with current information. Put it to the backlog to see if others meet the same issue and get more information.

[2017-08-23 03:53] beeender commented on #4237
@bitsydarel yeah, that is expected. You need to use different `RealmConfiguration` with different `name` if you want to use two Realms at the same time.

[2017-08-23 04:30] beeender commented on #4976
https://github.com/realm/realm-core/issues/2746 is closed.

[2017-08-23 04:30] #4976 closed

[2017-08-23 05:38] bitsydarel opened #5140 "The Realm is already in a write transaction"
Hi, I'm getting a illegalException (The Realm is already in a write transaction). the strange things is that I don't have pending write transaction. all my transactions are step by step and i am closing realm after each step.

User Login (Remote Api) -> Get User  (Local) -> Create a List  (Local) -> Check if list already in realm  -> List not in realm -> try to add -> Crash

When I check the Realm

[2017-08-23 05:43] bitsydarel commented on #5140
I'm using io.realm:realm-gradle-plugin:3.5.0

[2017-08-23 07:38] beeender commented on #5140
`executeTransaction()` will refresh the local Realm to the latest version which will trigger relevant listeners if necessary. You can see

[code]

There are two `executeTransaction()` in the backtrace.

To solve it, you can either move the `executeTransaction()` out of the callbacks, or use `executeTransactionAsync()` instead.

[2017-08-23 08:03] bitsydarel commented on #5140
I just switched to using executeTransactionAsync, now i'm getting "callback cannot be delivered on current Thread . Realm cannot be automatically updated on a thread without a looper"

Realm.getDefaultInstance().use {}, kotlin use function should close the realm instance after the transaction terminated. so why the count does not decrease since the transaction is done ?

I don't use Realm Object i

[2017-08-23 08:10] bitsydarel commented on #5140
private fun ShoppingList.isInDatabase() : Single<Boolean> {

        return Single.create { emitter -> Realm.getDefaultInstance().use {
            realm -> realm.executeTransaction {

            db -> val list = db.where(LocalShoppingList::class.java)
                .equalTo(ConstantHolder.NAME, name)
                .findFirst()

            emitter.onSuccess(list != null)

        } } }
    }

[2017-08-23 08:12] beeender commented on #5140
try to trigger the `emitter` out of the transaction block to avoid recursive calls.

[2017-08-23 08:37] bitsydarel commented on #5140
private fun ShoppingList.isInDatabase() : Single<Boolean> {

        return Single.create { emitter -> var isInDB = false

            Realm.getDefaultInstance().use {
            realm -> realm.executeTransaction { db -> isInDB = db.where(LocalShoppingList::class.java)
                    .equalTo(ConstantHolder.NAME, name)
                    .findFirst() != null
            }
                em

[2017-08-23 08:41] #5140 closed

[2017-08-23 10:12] Zhuinden commented on #2288
If it is a partial object, then you're the only one who knows which fields are meant to exist and which are not.

[2017-08-23 11:30] adwaitv opened #5142 "Permission Denied on trying to open a realm in INTERNAL STORAGE"
#### Goal

#### Expected Results

[code]

#### Actual Results

[code]

#### Steps & Code to Reproduce

#### Version of Realm and tooling
Realm version(s): 2.3.1

Realm sync feature enabled: no

Android Studio version: 2.3.3

Which Android version and device: Lenovo A7010a48 running Android 6.0

[2017-08-23 12:22] NinoDLC commented on #2288
@Zhuinden Not really, if the collection is null, it means it hasn't been set by retrofit (and thus, it shouldn't change anything in Realm). If the collection is empty is means it has been set by retrofit and then it should erase that in Realm.

Am I missing something that makes it so hard to implement ?

[2017-08-23 12:42] cmelchior opened #5143 "Client Reset triggered manually causes errors when Realm is re-opened"
If a ClientReset error is triggered, the Session Error handler is correctly triggered with the `ClientResetRequiredError`. However, if the user then decides to manually trigger the cleanup and re-open the Realm, it appears not to work and Object Store crashes with a exception saying the path doesn't exist:

[code]

The expected use case is that in an event of Client Reset should be possible to:
1)

[2017-08-23 12:52] cmelchior commented on #5142
Hi @adwaitv We have seen a number of bugs with vendors. Most likely it is a bug on that particular device. See e.g https://github.com/realm/realm-java/issues/3972 for a possible work-around.

Without further information and a way to reproduce it, I doubt there is much we can do about it, unfortunately 😢

I'll keep this open a little longer as @beeender might remember seeing this error elsewhere or

[2017-08-23 14:14] Zhuinden commented on #2288
@NinoDLC collection sure, other fields (string, date, etc.) definitely not. Even then whether `null == empty collection` is up for interpretation.

[2017-08-23 14:32] arifnadeem7 opened #5144 "Realm crashes when I try to call close() after executeTransaction()"
I am calling this code after I get response from server.

        Observable.fromCallable(new Callable<Boolean>() {
            @Override
            public Boolean call() throws Exception {
                Realm realm = mDbManager.getDBInstance();
                ChefLogger.e(TAG, "Realm Instance: " + realm.toString());
                realm.executeTransaction(new Realm.Transaction() {

[2017-08-23 14:35] ravirammysore commented on #3073
Hi zaki,

I am sorting a realm list using java.util.Collections.sort(List,Comparator).

I got illegalstateexception, then i enclosed the sort operation inside a realm transaction and it worked.

Is this the correct approach to sort a real list?

Also will there be any performance issues if i sort the realm list after every item is added?

[2017-08-23 14:36] ravirammysore commented on #3073
typo - Is this the correct approach to sort a realm list?

[2017-08-23 15:00] Zhuinden commented on #5144
Don't close the Realm inside an active transaction.

Also we don't know what `mDbManager.getDBInstance();` ***is***.

[2017-08-23 15:37] arifnadeem7 commented on #5144
Ok getDBInstance was this

    public Realm getDBInstance() {
        return Realm.getDefaultInstance();
    }

In your example of try with resources is realm.close() not needed?

[2017-08-23 15:45] arifnadeem7 commented on #5144
Ok I just looked at BaseRealm and it implements Closeable, so thanks for this neat solution!

[2017-08-23 15:45] #5144 closed

[2017-08-24 03:10] beeender commented on #5142
Dup to #3972 without reproducing it, it is hard to tell why .... could be same reason with https://github.com/realm/realm-java/issues/3972#issuecomment-313675948

[2017-08-24 03:10] #5142 closed

[2017-08-24 03:11] beeender commented on #3972
Key info from #5142

Steps & Code to Reproduce

Never reproduced this manually. Received this stacktrace in our crash reporting tool. Appears to be happening only on Lenovo A7010a48 running Android 6.0. This crash happens when Realm.getDefaultInstance() is called from the onCreate() of my MainActivity, which means the app crashed on launch. init() happens in the Application class. The app is a sin

[2017-08-24 07:28] realm-ci opened #5146 "Fix merge from 7509a7 to master-4.0"

[2017-08-24 07:30] beeender commented on #4324
#4887 merged

[2017-08-24 07:30] #4324 closed

[2017-08-24 07:33] beeender commented on #3426
#4887 fixed this.

[2017-08-24 07:33] #3426 closed

[2017-08-24 07:37] beeender commented on #4672
@cmelchior I think #4887 fixed this? (It removes the related tests' FIXME)

[2017-08-24 09:23] realm-ci opened #5147 "Fix merge from e7f8b1 to master"

[2017-08-24 10:07] Maxxan opened #5148 "Illegal Argument: Failure when converting to UTF-8; error_code = 7"
#### Actual Results

Some users fails to save text that they've written. Realm throws an error.

Stack trace
`java.lang.IllegalArgumentException: Illegal Argument: Failure when converting to UTF-8; error_code = 7;  0x0050 0x0069 0x0063 0x006b 0x0065 0x0064 0x0020 0x0075 0x0070 0x0020 0x0053 0x0061 0x006d 0x0061 0x006e 0x0074 0x0068 0x0061 0x0020 0x0066 0x006f 0x0072 0x0020 0x0074 0x0068 0x0065 0x0

[2017-08-24 10:20] AnthonyNahas commented on #2456
after i removed the Realm dependency in your module build.gradle --> it worked !

[2017-08-24 10:29] realm-ci opened #5149 "Fix merge from 890270 to master-4.0"

[2017-08-24 10:39] Zhuinden commented on #5148
Is your Realm encrypted? Do you have multiple processes? How many threads do you do writes on (shouldn't be a problem)?

[2017-08-24 10:42] cmelchior commented on #5148
In this case the error happens when inserting data into Realm, so most likely something outside made a wrong string. For example Java's string methods operate on chars instead of code points, so if you use `substring()` or `reverse()` you can risk it throwing errors like this if the string contained emojis.

[2017-08-24 10:46] Maxxan commented on #5148
Realm not encrypted, not multi processes, I've got a second thread where I read the old data and convert it to new realm database, and it's somewhere there this occurs for some, very few, users. So basically it reads the whole string, no substring or reverse.

[2017-08-24 10:51] cmelchior commented on #5148
Note that we have also seen this problem with custom keyboards

[2017-08-24 10:52] cmelchior commented on #5148
But if you say that all you do is reading data out from an old Realm and putting them into another. It  would be very surprising behavior. We have pretty strict safeguards around strings, so if something was wrong with the String when it left Realm we should have caught it there.

[2017-08-24 10:56] Maxxan commented on #5148
No, not an old realm, from an old file. I'm converting it to start using Realm.
I got hold of the string, and it does include some strange characters. Maybe I can just strip those..
Looks like` Picked up her �� (She gave me gas money �)��) ` So something strange there. Maybe a custom keyboard.

[2017-08-24 11:03] cmelchior commented on #5148
Perhaps, it can depend on a lot of things. Java is less strict about Strings not being correct UTF8, so it is entirely possible to create code in Java that throw Strings around that are not valid UTF8.

We have to be really strict about it because the String might be read on multiple platforms that have different rules.

Stripping those chars might not be straight forward, but as a minimum, you pr

[2017-08-24 11:12] Maxxan commented on #5148
I was thinking that I catch the error and use a regex to strip all non good characters and copy that to realm.

[2017-08-24 11:21] Maxxan commented on #5148
What is the best strategy for the future. Say that they use a keyboard that inserts wrong characters. Should I try to strip the characters from the string each time they save if an error occurs?

[2017-08-24 11:36] cmelchior commented on #5148
That really depends on your use case and how important it is to preserve the String, so that is up to you.

Let's say a user inserts two emojis and only one is faulty. Finding the faulty one and removing them is very non-trivial and requires a lot of processing, especially if you allow none-English languages as well.

I see at least 3 ways of handling it.

1) Show an error to the user and say that

[2017-08-24 11:41] gukzilla commented on #5056
I/DEBUG: *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** ***
I/DEBUG: Build fingerprint: 'Sony/D5103/D5103:4.4.4/18.1.A.2.25/5vd_bw:user/release-keys'
I/DEBUG: Revision: '0'
I/DEBUG: pid: 672, tid: 672, name: package  >>> package <<<
I/DEBUG: signal 11 (SIGSEGV), code 1 (SEGV_MAPERR), fault addr 00000000
I/DEBUG:     r0 62653228  r1 bed82a4c  r2 00000000  r3 00000000
I/DEBUG:     r4 be

[2017-08-24 11:43] Maxxan commented on #5148
Ok, thanks for your answer!

[2017-08-24 11:43] #5148 closed

[2017-08-24 12:42] echirchir opened #5153 "RealmResults returns partial Results"
I am having a very strange behavior while querying data from my Realm table.

Example

I have an object called OrderItem defined like this:

[code]
The issue is quite unpredictable; because sometimes:

[code]
returns incomplete results - especially by 1 row;

This has been driving me nuts because I cannot exactly find out how it returns such partial results; doesn't matter how many rows I have in

[2017-08-24 12:45] cmelchior commented on #5153
Hi @echirchir I'm not sure what you mean by "incomplete results"? What is the expected output and how exactly does the output you see differ?

[2017-08-24 12:46] echirchir commented on #5153
I want to get the whole data set that match that query criteria; so if items are 5 I should get 5 and not 4 or less;

I hope this clarifies my issue;

Thank you

[2017-08-24 12:47] cmelchior commented on #5153
How do you now that there are 5 items in the database? Without some more code and/or an example project that reproduces this it is hard to give any guidance or speculate what could be wrong.

[2017-08-24 12:49] cmelchior commented on #5153
Also, the query in the issue doesn't match the `OrderItem` class. `order_id` is not present. If you meant `id`, then it is a primary key, so that query should ever only ever return one element at most.

[2017-08-24 12:50] echirchir commented on #5153
I use **stetho** in my development environment which allows me to inspect my database tables in android; so I can clearly see exact row size but when I query (I should mention that I query inside a service), it returns less sometimes and some other times, returns complete data set.

[2017-08-24 12:52] Zhuinden commented on #5153
You kinda need to specify what thread you are on, whether you are closing  Realm instances properly, etc

[2017-08-24 12:54] cmelchior commented on #5153
Most likely you are running the query on a thread that isn't fully updated yet. Realm is a MVCC database, so each thread has its own view of the dataset. I would recommend this article https://academy.realm.io/posts/threading-deep-dive/

You can either try to register a `Changelistener` on the query result, which should provide the correct result eventually or call `realm.refresh()` just before ex

[2017-08-24 12:54] echirchir commented on #5153
Let me rephrase this:

I have a background service that queries items from a table for example:

`OrderItem` - contains line items for a given order, and each line item table has a column `order_id` which I later use to link which line items belong to which order as expected in queries.

I certainly close my realm once the service finishes its task.

[2017-08-24 12:57] cmelchior commented on #5153
You have a race condition in that case. If you open the Realm in the background service _before_ the data is written, it will get a snapshot of the old data. If you really need to query on the latest data you need to call `realm.refresh()` as a background service is not a Looper thread, so it will not update automatically like e.g. the UI thread.

[2017-08-24 12:59] echirchir commented on #5153
@cmelchior Let me give `realm.refresh()` a try then I will report back asap! Thanks for your help guys;

[2017-08-24 14:17] Zeroe31890 opened #5155 "Attempting to persist new model to realm with relation not linking the existing model."
I am attempting to persist a new model to realm. The model is `Account`. It is associated with a `BudgetGroup`.  I link the `BudgetGroup` with the `Account` with `@LinkingObjects("budgetGroup")`. When trying to save it although I see that the unmanaged `Account` has the `BudgetGroup`, the managed returned `Account` does not. So it seems the `LinkingObject` is not working as expected. I included an

[2017-08-24 15:08] NitroG42 commented on #3719
Hello, the problem is still occuring if we use Kotlin KAPT 3 (apply plugin 'kotlin-kapt')
Reverting to kapt 1 (remove apply plugin kapt and add kapt {generateStubs = true}) seems to fix the issue but it's annoying.
I'll try to make a sample and maybe open another issue.

[2017-08-24 16:39] realm-ci opened #5156 "Fix merge from b59c82 to master"

[2017-08-24 16:53] Maxxan commented on #4237
I also get this error from a lot of users. Just switched to use Realm (3.5.0)

`io.realm.exceptions.RealmFileException: Unable to open a realm at path '/data/data/com.myapp/files/mydb.realm': Not a Realm file. (Not a Realm file) (/data/data/com.myapp/files/mydb.realm) in /home/cc/repo/realm/release/realm/realm-library/src/main/cpp/io_realm_internal_SharedRealm.cpp line 252 Kind: ACCESS_ERROR.`

I'

[2017-08-24 17:23] realm-ci opened #5157 "Fix merge from cea047 to master-4.0"

[2017-08-24 19:01] Zhuinden commented on #4237
Do you ever delete the Realm file?

[2017-08-24 19:07] Zhuinden commented on #3719
Do you apply Kotlin kapt before Realm android?

[2017-08-24 19:36] NitroG42 commented on #3719
Yes, I did it + clean project

[2017-08-24 19:40] cireficc commented on #762
@bmeike Exactly, then my code will be just a tad bit cleaner ;P

[2017-08-24 19:59] Zhuinden commented on #762
Technically the real thing here is that updating would take O(N) memory which is bad, SQLite can do this with UPDATE without any allocation. So this will help remove a possible bottleneck in Realm if you ask me

[2017-08-24 20:15] Maxxan commented on #4237
No, never. Could it be a problem if they reinstall the app? I do a backup of the mydb.realm file and restores it, using a BackupAgent.

[2017-08-24 20:23] Zhuinden commented on #4237
That can cause trouble if the Realm you back up is open when it is backed up, backing up a Realm file created by `writeCopyTo` is safer.

[2017-08-24 20:47] Maxxan commented on #4237
Ok, so in the BackupAgent, I write a copy, and the make a backup of that
and when android is restoring, I rename it to the real file?

2017-08-24 22:24 GMT+02:00 Gabor Varadi <notifications@github.com>:

[2017-08-24 20:48] Zhuinden commented on #4237
Yep, but generally it's best if on restoration, the Realm is not open.

[2017-08-24 20:53] Maxxan commented on #4237
Android restores when it installs the app, before it's even opened the first time, so I guess that shouldn't be any problem.

[2017-08-25 00:04] curiousily commented on #4662
I can run an Espresso Test in AS Beta 3 😃

[2017-08-25 02:57] beeender commented on #5056
@gukzilla does you problem also happen to realm-java `3.5.0` only? Have you tried to use an other version?

[2017-08-25 03:21] beeender commented on #3635
`IntegrationTestSuite` solved this.

[2017-08-25 03:21] #3635 closed

[2017-08-25 03:26] beeender commented on #2818
#4887 fixed this.

[2017-08-25 03:26] #2818 closed

[2017-08-25 03:36] beeender commented on #2688
`RealmResults` and `RealmList` has the unified behaviour now.
This has been documented here https://realm.io/docs/java/latest/#iterations--snapshots

I think we can close this issue. @cmelchior

[2017-08-25 03:40] beeender commented on #4023
This should be fixed by https://github.com/realm/realm-core/pull/2465 which has been released in realm-java `v2.3.2`.

[2017-08-25 03:40] #4023 closed

[2017-08-25 03:44] beeender commented on #3590
#4402 is merged and has been released in `v3.1.1`

[2017-08-25 03:44] #3590 closed

[2017-08-25 03:53] beeender commented on #5116
close due to no response

[2017-08-25 03:53] #5116 closed

[2017-08-25 04:01] beeender commented on #5155
1. Are those the full definition of your model classes?
2. what does `persistedAccount.getBudgetGroup()` return? null or a different `BudgetGroup`?

[2017-08-25 04:03] beeender commented on #5111
I am closing this issue now. Please let us know if you still need help on this.

[2017-08-25 04:03] #5111 closed

[2017-08-25 04:22] Zeroe31890 commented on #5155
@beeender

1. It was not the full definition. I updated with the full number of fields.
2. `persistedAccount.getBudgetGroup()` returns null because it never persisted. But `final BudgetGroup budgetGroup` is most certainly not null.

[2017-08-25 04:44] beeender commented on #5155
will below work?

[code]

Is it possible to share your project with us? or a simple project can reproduce the issue?

[2017-08-25 05:49] beeender commented on #1542
Close since it doesn't seem to be useful + will add lots of methods.

[2017-08-25 05:49] #1542 closed

[2017-08-25 06:15] Zhuinden commented on #2688
This definitely works since iterator operate on snapshot

[2017-08-25 06:17] cmelchior commented on #2688
Yes, we can close this.

[2017-08-25 06:17] #2688 closed

[2017-08-25 07:11] gukzilla commented on #5056
@beeender Yes, i tried other versions. Versions above 3.1.4.
I have still the same problem.
I call a synchronous list-save operation "executeTransaction"
It saves in the main thread.
If you do not save anything, everything works fine.

[2017-08-25 07:25] cmelchior commented on #1542
The completionist in me cries a little, but the pragmatic me says 👍

[2017-08-25 07:27] beeender commented on #5056
@gukzilla Does it crash with realm-java `3.0.0`?

[2017-08-25 07:29] methelas commented on #5111
@cmelchior helped me to pinpoint the exact issue. I had some circular references in my models and after removal of those everything started to work as intented
Thanks!!

[2017-08-25 07:33] gukzilla commented on #5056
@beeender I can not verify it. The library does not contain a RealmObjectChangeListener

[2017-08-25 07:40] beeender commented on #5056
@gukzilla Can you reproduce the issue? A project with source code may help to locate the cause. You can send it help@realm.io if you want to share it privately.

I still think there is a much bigger chance that the bug existing in libskia than Realm, `executeTransaction()` just triggered the redraw leading to the skia crash.

Anyway, a project with source code may help to debug.

[2017-08-25 08:00] gukzilla commented on #5056
@beeender
Unfortunately I can only provide a debug.apk. Since I signed the NDA contract.
And also the class in which the error occurs.

Will this suit you?

[2017-08-25 08:04] beeender commented on #5056
@gukzilla not really ... We got a debug apk before and the skia issue can be reproduced. But without source code it would take us unpredictable time to debug the issue which might not be caused by Realm ...

Would it be possible for you to make a sample project to reproduce it?

BTW, some more questions:
1. Does it happen to all devices/emulators?
2. Any specific Android versions have this issue?

[2017-08-25 09:16] gukzilla commented on #5056
@beeender
1. This happens on all devices
2. I was able to reproduce the bug on all versions, beginning with 4.4.4 and up to 6.0.1

**There is no error on version 7.0 nougat**

Later I will try to provide a simple project for reproducing the error

[2017-08-25 10:19] chinhub2001 opened #5160 "Realm closed after Android killed app process"
Hi,
I have a problem using Realm in my Android app. When the OS killed the app process (you can force this disabling background process in developer options), for example when switching to camera app, and returning, my app crashes.

I get the following error when I access to any Realm data:

java.lang.IllegalStateException: This Realm instance has already been closed, making it unusable.

¿Is ther

[2017-08-25 12:27] realm-ci opened #5162 "Fix merge from 39bb67 to master-4.0"

[2017-08-25 16:08] Zhuinden commented on #5160
What is `.getDtStartSession();`?

[2017-08-25 22:23] adellhk commented on #3766
Hi, I'm having a similar issue. In the onSuccess of my `SyncUser.loginAsync` callback I set my default realm configuration and then access my default realm configuration and I keep getting an Illegal Argument Exception warning me about multiple configurations being used to open the same file. I don't think I have any open Realm instances or configurations applied at this point and I don't have any

[2017-08-26 07:56] Zhuinden commented on #3766
The user ID looks super different, and it also has 1 open session, so there might be an unclosed Realm somewhere.

[2017-08-26 14:44] pavel-ismailov commented on #3497
Any updates on that problem?
Rx2 + Realm still not works from the bos for Realm plugin 3.5.0

[2017-08-26 14:54] cmelchior commented on #3497
@pavel-ismailov RxJava support is being merged into this feature branch currently https://github.com/realm/realm-java/pull/4991

We are done with moving the API's to RxJava2 + add support for changeset observables as well. It will be released with Realm Java 4.0 which currently is scheduled for release in a months time.

[2017-08-26 19:06] cmelchior commented on #4277
Fixed by #5089

[2017-08-26 19:06] #4277 closed

[2017-08-27 01:58] adellhk commented on #3766
I found a nested realm reference, which I got rid of and updated my Realm to 3.5.0 which fixed some of my problems. I can still recreate this crash now even with identical UserIds and 0 sessions for both the cached config and new one, but it only happens on logout and then re-login via facebook (so logout must not be clearing my configuration), which is edgy enough to leave alone for now.

[code]

[2017-08-27 03:18] pavel-ismailov commented on #3497
@cmelchior

Great

[2017-08-27 20:38] wilburt commented on #1906
Any workaround?

[2017-08-27 22:20] Zhuinden commented on #1906
Invert your query.

[2017-08-28 06:40] chinhub2001 commented on #5160
Hi,
getDtStartSession() is the field in the "LocalSessionModel" that I want to get. That getter throws the exception I mentioned before.

I've read the lifecycle section, but I'm using a layer architecture so I open/close Realm in the data layer.
This code works 99% of time. The problem happens when the OS kills the app process. ¿Any Ideas/suggestion?

Thanks!

[2017-08-28 06:44] Zhuinden commented on #5160
I think the only reason why it tends to work is because somewhere you have an unclosed Realm instance, and otherwise wouldn't work right either way.

[2017-08-28 08:32] DKKovalev opened #5163 "Can't cancel a non-existing write transaction"
Hello, i'm having an issue. I needed to add migration to my project and after that i caught some crashes with the following stacktrace:

[code]

This is my DbHelper init method:

[code]

And migration class:

[code]

#### Version of Realm and tooling
Realm version(s): 3.2.1

Realm sync feature enabled: no

Android Studio version: 2.3.3

Which Android version and device: Various devices and version

[2017-08-28 09:24] rczhang13028 commented on #3757
@Zhuinden excuse me, I don't know why the issue closed. How do you deal whit this issue ?  I have same problem in realm version 3.3.1

[2017-08-28 10:38] Zhuinden commented on #5163
Migration seems to throw an exception and the migration's transaction should get cancelled, but I do not see why.

[2017-08-28 10:42] Zhuinden commented on #3757
@rczhang13028 I haven't seen this in a while, but I didn't really do anything with it... I figured it was obsolete because the version specified is quite old.

[2017-08-28 13:05] DKKovalev commented on #5163
The thing is, i cannot reproduce this crash at all and it doesn't appear every time on every phone

[2017-08-28 14:02] gukzilla commented on #5056
@beeender
Hi, I downgrade the Realm version to 3.0.0, and issue gone.
Unfortunately, I can not yet provide the source code.
I hope this helps a bit in the investigation.

[2017-08-28 15:27] dalinaum commented on #5163
Hello @DKKovalev.  I think there are 2 problems here.

1. There are some situations which cannot begin a write transaction internally.
2. BaseRealm.migrateRealm cancels a write transaction even if it is not in a transaction.

I don't know whether the former is a bug or not yet. The latter conceals why Realm cannot begin a write transaction. I will make a patch for that first.

[2017-08-28 16:12] dalinaum commented on #5163
Can you test Realm Java 3.6.0 snapshot? https://github.com/realm/realm-java#using-snapshots
Since our next major version has a new implementation, it maybe fix your problem.

[2017-08-28 18:21] phansen-nd opened #5165 "Crash when syncing Realm"
#### Goal

Trying to sync a Realm. The Realm is created by the Java client and one object is written to it with details about the user, right after Realm auth. This also only happens for some users. But it happens every time for those users. The users have all the same data from a client perspective.

When calling `Realm.getInstance(myConfig)`...

#### Expected Results

...it will open the Realm a

[2017-08-28 19:04] Zhuinden commented on #5165
There is a chance you'll need to provide a debug APK or a longer native stack trace for Realm to figure this out.

[2017-08-28 20:03] phansen-nd commented on #5165
Here is a cleaned-up version of the logs that excludes the other Realms:
[code]

[2017-08-28 20:46] cmelchior commented on #5165
Hey @phansen-nd
Just to clarify. You are saying that the exact same data is causing crashes on some devices, but not others? Do you know if you have any progress notifications registered?